html {
    /* default */

    --btn-def-h: 40;
    --btn-def-s: 8%;
    --btn-def-l: 20%;
    --btn-def-a: 1;

    /* selected */

    --btn-sel-h: 40;
    --btn-sel-s: 60%;
    --btn-sel-l: 26%;
    --btn-sel-a: 1;

    /* apply */

    --btn-apply-h: 222;
    --btn-apply-s: 44%;
    --btn-apply-l: 37%;
    --btn-apply-a: 1;

    /* cancel */

    --btn-cancel-h: 0;
    --btn-cancel-s: 38%;
    --btn-cancel-l: 33%;
    --btn-cancel-a: 1;

    /* disabled */

    --btn-dis-h: 40;
    --btn-dis-s: 8%;
    --btn-dis-l: 20%;
    --btn-dis-a: 1;
}