.button {
    /* default */

    --button-default-color: hsla(0, 0%, 80%, 1);
    --button-default-background-color: hsla(var(--btn-def-h), var(--btn-def-s), var(--btn-def-l), var(--btn-def-a));
    --button-default-border-color: hsla(var(--btn-def-h), var(--btn-def-s), calc(var(--btn-def-l) + 2%), var(--btn-def-a));
    
    --button-default-focus-color: hsla(0, 0%, 80%, 1);
    --button-default-focus-background-color: hsla(var(--btn-def-h), var(--btn-def-s), calc(var(--btn-def-l) + 3%), var(--btn-def-a));
    --button-default-focus-border-color: hsla(var(--btn-def-h), var(--btn-def-s), calc(var(--btn-def-l) + 5%), var(--btn-def-a));
    
    --button-default-hover-color: hsla(0, 0%, 100%, 1);
    --button-default-hover-background-color: hsla(var(--btn-def-h), var(--btn-def-s), calc(var(--btn-def-l) + 5%), var(--btn-def-a));
    --button-default-hover-border-color: hsla(var(--btn-def-h), var(--btn-def-s), calc(var(--btn-def-l) + 7%), var(--btn-def-a));
    
    --button-default-active-color: hsla(0, 0%, 100%, 1);
    --button-default-active-background-color: hsla(var(--btn-def-h), var(--btn-def-s), calc(var(--btn-def-l) + 3%), var(--btn-def-a));
    --button-default-active-border-color: hsla(var(--btn-def-h), var(--btn-def-s), calc(var(--btn-def-l) + 5%), var(--btn-def-a));

    /* selected */

    --button-selected-color: hsla(0, 0%, 100%, 1);
    --button-selected-background-color: hsla(var(--btn-sel-h), var(--btn-sel-s), var(--btn-sel-l), var(--btn-sel-a));
    --button-selected-border-color: hsla(var(--btn-sel-h), var(--btn-sel-s), calc(var(--btn-sel-l) + 2%), var(--btn-sel-a));
    
    --button-selected-focus-color: hsla(0, 0%, 100%, 1);
    --button-selected-focus-background-color: hsla(var(--btn-sel-h), var(--btn-sel-s), calc(var(--btn-sel-l) - 2%), var(--btn-sel-a));
    --button-selected-focus-border-color: hsla(var(--btn-sel-h), var(--btn-sel-s), var(--btn-sel-l), var(--btn-sel-a));
    
    --button-selected-hover-color: hsla(0, 0%, 100%, 1);
    --button-selected-hover-background-color: hsla(var(--btn-sel-h), var(--btn-sel-s), calc(var(--btn-sel-l) + 3%), var(--btn-sel-a));
    --button-selected-hover-border-color: hsla(var(--btn-sel-h), var(--btn-sel-s), calc(var(--btn-sel-l) + 5%), var(--btn-sel-a));
    
    --button-selected-active-color: hsla(0, 0%, 100%, 1);
    --button-selected-active-background-color: hsla(var(--btn-sel-h), var(--btn-sel-s), calc(var(--btn-sel-l) + 0%), var(--btn-sel-a));
    --button-selected-active-border-color: hsla(var(--btn-sel-h), var(--btn-sel-s), calc(var(--btn-sel-l) - 2%), var(--btn-sel-a));
    
    /* apply */

    --button-apply-color: hsla(0, 0%, 100%, 1);
    --button-apply-background-color: hsla(var(--btn-apply-h), var(--btn-apply-s), var(--btn-apply-l), var(--btn-apply-a));
    --button-apply-border-color: hsla(var(--btn-apply-h), var(--btn-apply-s), calc(var(--btn-apply-l) + 2%), var(--btn-apply-a));
    
    --button-apply-focus-color: hsla(0, 0%, 100%, 1);
    --button-apply-focus-background-color: hsla(var(--btn-apply-h), var(--btn-apply-s), calc(var(--btn-apply-l) - 2%), var(--btn-apply-a));
    --button-apply-focus-border-color: hsla(var(--btn-apply-h), var(--btn-apply-s), var(--btn-apply-l), var(--btn-apply-a));
    
    --button-apply-hover-color: hsla(0, 0%, 100%, 1);
    --button-apply-hover-background-color: hsla(var(--btn-apply-h), var(--btn-apply-s), calc(var(--btn-apply-l) + 3%), var(--btn-apply-a));
    --button-apply-hover-border-color: hsla(var(--btn-apply-h), var(--btn-apply-s), calc(var(--btn-apply-l) + 5%), var(--btn-apply-a));
    
    --button-apply-active-color: hsla(0, 0%, 100%, 1);
    --button-apply-active-background-color: hsla(var(--btn-apply-h), var(--btn-apply-s), calc(var(--btn-apply-l) + 0%), var(--btn-apply-a));
    --button-apply-active-border-color: hsla(var(--btn-apply-h), var(--btn-apply-s), calc(var(--btn-apply-l) - 2%), var(--btn-apply-a));

    /* cancel */

    --button-cancel-color: hsla(0, 0%, 100%, 1);
    --button-cancel-background-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), var(--btn-cancel-l), var(--btn-cancel-a));
    --button-cancel-border-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), calc(var(--btn-cancel-l) + 2%), var(--btn-cancel-a));
    
    --button-cancel-focus-color: hsla(0, 0%, 100%, 1);
    --button-cancel-focus-background-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), calc(var(--btn-cancel-l) - 2%), var(--btn-cancel-a));
    --button-cancel-focus-border-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), var(--btn-cancel-l), var(--btn-cancel-a));
    
    --button-cancel-hover-color: hsla(0, 0%, 100%, 1);
    --button-cancel-hover-background-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), calc(var(--btn-cancel-l) + 3%), var(--btn-cancel-a));
    --button-cancel-hover-border-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), calc(var(--btn-cancel-l) + 5%), var(--btn-cancel-a));
    
    --button-cancel-active-color: hsla(0, 0%, 100%, 1);
    --button-cancel-active-background-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), calc(var(--btn-cancel-l) + 0%), var(--btn-cancel-a));
    --button-cancel-active-border-color: hsla(var(--btn-cancel-h), var(--btn-cancel-s), calc(var(--btn-cancel-l) - 2%), var(--btn-cancel-a));

    /* disabled */

    --button-disabled-color: hsla(0, 0%, 35%, 1);
    --button-disabled-background-color: hsla(var(--btn-dis-h), var(--btn-dis-s), var(--btn-dis-l), var(--btn-dis-a));
    --button-disabled-border-color: hsla(var(--btn-dis-h), var(--btn-dis-s), calc(var(--btn-dis-l) + 2%), var(--btn-dis-a));
}
