html {
    /* default */

    --look-default-h: 40;
    --look-default-s: 8%;
    --look-default-l: 20%;
    --look-default-a: 1;

    /* highlight */

    --look-highlight-h: 40;
    --look-highlight-s: 60%;
    --look-highlight-l: 26%;
    --look-highlight-a: 1;

    /* selected */

    --look-selected-h: 40;
    --look-selected-s: 60%;
    --look-selected-l: 20%;
    --look-selected-a: 1;

    /* transparent */

    --look-transparent-h: 40;
    --look-transparent-s: 8%;
    --look-transparent-l: 20%;
    --look-transparent-a: .5;

    /* cancel */

    --look-cancel-h: 0;
    --look-cancel-s: 45%;
    --look-cancel-l: 33%;
    --look-cancel-a: 1;

    /* add */

    --look-add-h: 105;
    --look-add-s: 50%;
    --look-add-l: 25%;
    --look-add-a: 1;

    /* apply */

    --look-apply-h: 222;
    --look-apply-s: 44%;
    --look-apply-l: 37%;
    --look-apply-a: 1;

    /* default */

    --look-default-background-color: hsla(var(--look-default-h), var(--look-default-s), var(--look-default-l), var(--look-default-a));
    --look-default-focus-background-color: hsla(var(--look-default-h), var(--look-default-s), calc(var(--look-default-l) + 3%), var(--look-default-a));
    --look-default-hover-background-color: hsla(var(--look-default-h), var(--look-default-s), calc(var(--look-default-l) + 5%), var(--look-default-a));
    --look-default-active-background-color: hsla(var(--look-default-h), var(--look-default-s), calc(var(--look-default-l) + 3%), var(--look-default-a));

    /* highlight */

    --look-highlight-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), var(--look-highlight-l), var(--look-highlight-a));
    --look-highlight-focus-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), calc(var(--look-highlight-l) - 2%), var(--look-highlight-a));
    --look-highlight-hover-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), calc(var(--look-highlight-l) + 3%), var(--look-highlight-a));
    --look-highlight-active-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), calc(var(--look-highlight-l) + 0%), var(--look-highlight-a));
}
