.number {
    display: flex;
    justify-content: flex-end;
}

.count {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: gray;
    font-size: small;
    margin-right: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr repeat(7, 2fr);
    grid-template-rows: auto;
    column-gap: 1rem;
    width: 100%;
    align-items: center;
}

.grid.header {
    grid-template-areas:
        'info     info info       ib  ib  sb  sb  st  st  st '
        'username name updateTime ibq ibu sbq sbu sts stq stu';
    color: var(--look-default-color);
    user-select: none;
    border-bottom: 1px solid gray;
    margin-top: 1rem;
}

.grid.header > * {
    margin: 0 0 .5rem 0;
}

.grid > * {
    white-space: nowrap;
    overflow: hidden;
}

.grid > .info {
    grid-area: info;
    align-self: flex-start;
}

.grid > .name {
    grid-area: name;
    align-self: end;
}

.grid > .updateTime {
    grid-area: updateTime;
    align-self: end;
}

.grid > .budgetUpdateRequest {
    grid-area: budgetUpdateRequest;
}

.grid > .instanceBudget {
    grid-area: ib;
    border-bottom: 1px solid gray;
    justify-content: center;
}

.grid > .storageBudget {
    grid-area: sb;
    border-bottom: 1px solid gray;
    justify-content: center;
}

.grid > .storage {
    grid-area: st;
    border-bottom: 1px solid gray;
    justify-content: center;
}

.grid > .instanceBudgetMax {
    grid-area: ibq;
    justify-self: right;
}

.grid > .instanceBudgetUsed {
    grid-area: ibu;
    justify-self: right;
}

.grid > .storageBudgetMax {
    grid-area: sbq;
    justify-self: right;
}

.grid > .storageBudgetUsed {
    grid-area: sbu;
    justify-self: right;
}

.grid > .storageStatus {
    grid-area: sts;
    /* align-self: end; */
}

.grid > .storageSpaceMax {
    grid-area: stq;
    justify-self: right;
}

.grid > .storageSpaceUsed {
    grid-area: stu;
    justify-self: right;
}

.grid.user {
    padding: .25rem 0;
}

.username {
    display: flex;
    gap: .5rem;
    color: #808080;
}

.admin {
    color: white;
}

.sorted {
    color: var(--success-color);
}

.users {
    background-color: var(--look-transparent-background-color);
    color: var(--look-transparent-color);
}

.users > * {
    min-width: 60rem;
}

.user:nth-child(even) {
    background-color: hsla(0, 0%, 100%, .03);
}

.users > .clickable:hover {
    cursor: pointer;
    background-color: var(--look-highlight-background-color);
    color: var(--look-highlight-color);
}

.bottomBar {
    justify-content: center;
}

.highlight {
    font-weight: 500;
    color: yellow;
    background-color: transparent;
}

.tooltip {
    font-weight: bold;
}
