.panel {
    min-height: 15rem;
    max-height: 25rem;
    max-width: 50rem;
}

.report {
    padding: 0 1rem;
}

.report table {
    margin: auto;
    width: 100%;
}

.report .section {
    font-size: 1rem;
    text-transform: uppercase;
}

.report th {
    text-align: right;
    font-weight: normal;
    font-size: .8rem;
    text-transform: uppercase
}

.report td {
    text-align: right;
    font-weight: bolder;
    font-size: 1rem;
}

.report .data {
    width: 6rem;
}
