
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(28, 28, 28, 0.99);
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    padding: 0 .6rem;
    z-index: 10;
}

.footer button, .footer div, .footer a {
    color: #a0a0a0;
}

.footer button {
    border: none;
    cursor: pointer;
    padding-right: 0;
}

.footer a:hover, .footer button:hover, footer button:hover svg {
    color: #c8c8c8;
}

.user {
    text-transform: lowercase;
}

.sepal {
    font-family: var(--header-font-family);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.copyright {
    font-weight: lighter;
    font-size: .9rem;
}