
.footer {
    --button-default-color: #a0a0a0;
    --highlight-color: #c8c8c8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(28, 28, 28, 0.99);
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    padding: 0 .6rem;
    z-index: 10;
}

.footer button, .footer div, .footer a {
    color: var(--button-default-color);
}

.footer button {
    border: none;
    cursor: pointer;
    padding-right: 0;
}

.footer a:hover, .footer button:hover, footer button:hover svg {
    color: var(--highlight-color);
}

.user {
    margin-left: 1rem;
    text-transform: lowercase;
}

.user svg {
    font-size: .8rem;
}

.title {
    font-family: var(--header-font-family);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.copyright {
    font-weight: lighter;
    font-size: .9rem;
}