<div class="row">
    <div class="col-sm-12">
        <form class="form-theme form-mosaic-retrieve">

            <div class="row form-theme p-t-3">
                <div class="col-sm-2 offset-sm-2 text-align-right">
                    <label class="form-label">Name</label>
                </div>
                <div class="col-sm-4 form-group text-align-center">
                    <input type="text" class="form-control width100" name="name" placeholder="Enter a name"
                        data-type="string" data-error-message="Name is not valid">
                </div>
            </div>

            <div class="row p-t-1">
                <div class="col-sm-2 offset-sm-2 text-align-right">
                    <label class="form-label">Bands</label>
                </div>
                <div class="col-sm-8 form-group p-t-0-5 text-align-left">
                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="B1">B1</button>
                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="B2">B2</button>
                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="B3">B3</button>
                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="B4">B4</button>
                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="B5">B5</button>
                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="B7">B7</button>
                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="B10">B10</button>
                </div>
            </div>

            <div class="row p-b-2 p-t-3">
                <div class="col-sm-12 text-align-center form-notify form-error"></div>
                <div class="col-sm-4 offset-sm-4 text-align-center">
                    <button type="submit" class="btn btn-base btn-submit round p-y-1">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
