<div class="row">
    <div class="col-sm-12 form-theme form-mosaic-preview p-t-1">

        <div class="row row-landsat">
            <div class="col-sm-2 col-name text-align-right">
                LANDSAT <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>

            <div class="col-sm-8 offset-sm-2">
                <div class="row">
                    <div class="col-sm-6 form-group text-align-center">
                        <input type="text" class="form-control width100" name="bands-landsat" placeholder="Select a band" >
                    </div>
                </div>
                <div class="row p-t-0-5">
                    <div class="col-sm-6 text-align-center">
                        <button class="btn btn-base btn-submit-landsat round p-y-0-5 p-x-2">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Preview
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-sentinel2">
            <div class="col-sm-2 col-name text-align-right">
                SENTINEL-2 <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>

            <div class="col-sm-8 offset-sm-2">
                <div class="row">
                    <div class="col-sm-6 form-group text-align-center">
                        <input type="text" class="form-control width100" name="bands-sentinel2" placeholder="Select a band" >
                    </div>
                </div>
                <div class="row p-t-0-5">
                    <div class="col-sm-6 text-align-center">
                        <button class="btn btn-base btn-submit-sentinel2 round p-y-0-5 p-x-2">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Preview
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-y-1">
            <div class="col-sm-12 text-align-center form-notify form-error"></div>
        </div>

    </div>
</div>