<div class="row">
    <div class="col-sm-12">

        <div class="row form-theme p-t-3">
            <div class="col-sm-6 col-sm-offset-3 form-group text-align-center">
                <input type="text" class="form-control width100" name="bands" placeholder="Select a band" >
            </div>
        </div>

        <div class="row p-b-2 p-t-3">
            <div class="col-sm-12 text-align-center form-notify form-error"></div>
            <div class="col-sm-4 col-sm-offset-4 text-align-center">
                <button class="btn btn-base btn-submit round p-y-1"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                    Submit
                </button>
            </div>
        </div>

    </div>
</div>