.container {
    padding: 0;
    pointer-events: none;
}

.tabBar {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    background-color: #1c1c1c;
    padding: 1rem;
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-bottom: 2px solid hsla(0, 0%, 100%, .05);
    pointer-events: all;
}

.newTab {
    color: #afaeae;
    font-weight: 100;
    font-size: 2.2rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.newTab:hover {
    background-color: #323232;
}

.newTab:active {
    background-color: #3c3c3c;
}

.tab {
    display: flex;
    flex-basis: 7rem;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 20rem;
    position: relative;
    background: #1c1c1c;
    border-bottom: 3px solid hsla(0, 0%, 100%, .5);
    height: 2.5rem;
    white-space: nowrap;
    margin-right: .5rem;
    line-height: 2.5rem;
    overflow: hidden;
    cursor: pointer;
}

.tab.selected {
    background-color: #323232;
    border-bottom: 3px solid #b8a280;
}

.tab:hover {
    background-color: #323232;
}

/* Prevent overflowing title from covering close button */
.tab:after {
    content: '';
    width: 1.7rem;
    height: 100%;
    position: absolute;
    right: 0;
    background: inherit;
    z-index: 1;
}

.close {
    position: absolute;
    right: 0;
    color: #afaeae;
    border: 0;
    border-radius: 50%;
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 0;
    margin-right: .2rem;
    z-index: 2;
    cursor: pointer;
}

.close:hover {
    background: #990003;
}

.title {
    flex: 1;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #e8e8e8;
    padding-left: 1rem;
}

span.title.placeholder {
    font-style: italic;
    color: #6c757d;
}

/*Fade-out overflow */
.title:before {
    content: '';
    width: 2rem;
    height: 100%;
    position: absolute;
    right: 1.7rem;
    top: 0;
    background: linear-gradient(to right, transparent, #1C1C1C 100%);
}

.tab:hover .title:before {
    background: linear-gradient(to right, transparent, #323232 100%);
}

.tab.selected .title:before {
    background: linear-gradient(to right, transparent, #323232 100%);
}

.tab.selected input.title  {
    border: none !important;
    margin-right: 2rem;
    letter-spacing: 0.75px;
    height: 2.5rem;
    line-height: 2.5rem;
}

.tabContents {
    height: 100%;
}

.tabContent {
    display: none;
}

.tabContent.selected {
    position: relative;
    display: flex;
    height: 100%;
}
