<div class="row p-t-3">
    <div class="col-sm-12 text-align-center">
        You are about to download <span class="scenes-number">0</span> individual scenes. <br/>
        This might use a considerable amount of your available storage. <br/>
    </div>
</div>
<div class="row p-t-2">
    <div class="col-sm-12 text-align-center">
        Do you want to continue?
    </div>
</div>
<div class="row p-y-2">
    <div class="col-sm-6 text-align-right">
        <button class="btn btn-base round btn-no p-y-1 p-x-2">No</button>
    </div>
    <div class="col-sm-6 text-align-left">
        <button class="btn btn-base round btn-yes p-y-1 p-x-2">Yes</button>
    </div>
</div>