<div class="row p-t-3">
    <div class="col-sm-12 text-align-center">
        <!--You are about to download <span class="scenes-number">0</span> individual scenes. <br/>-->
        <!--This might use a considerable amount of your available storage. <br/>-->
        Downloading individual scenes might use a considerable amount of your available storage.
    </div>
</div>
<div class="row p-t-2">
    <div class="col-sm-6 offset-sm-3 text-align-center">
        <button class="btn btn-base round icon width100 btn-retrieve-landsat-scenes">
            <i class="fa fa-cloud-download" aria-hidden="true"></i> Retrieve <span class="landsat-scenes-number">0</span> LANDSAT scenes
        </button>
    </div>
</div>
<div class="row p-t-2">
    <div class="col-sm-6 offset-sm-3 text-align-center">
        <button class="btn btn-base round icon width100 btn-retrieve-sentinel2-scenes">
            <i class="fa fa-cloud-download" aria-hidden="true"></i> Retrieve <span class="sentinel2-scenes-number">0</span> SENTINEL2 scenes
        </button>
    </div>
</div>
<div class="row p-y-3">
    <div class="col-sm-4 offset-sm-4 text-align-center">
        <button class="btn btn-base round btn-cancel p-y-1 p-x-2">Cancel</button>
    </div>
    <!--<div class="col-sm-6 text-align-left">-->
        <!--<button class="btn btn-base round btn-yes p-y-1 p-x-2">Yes</button>-->
    <!--</div>-->
</div>