@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Cabin Condensed"), local("CabinCondensed"), url(../font/B0txb0blf2N29WdYPJjMShZ1gqmQBTb4Nwa_fF0DajA.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../font/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(../font/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format("woff");
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**=================================================
 Base reset for elements
===================================================**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, main, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

/**
 * 1. Sets a default 100% font size
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 * user zoom.
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

del, s {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

a {
  text-decoration: none;
  	                      /**
     * Addresses 'outline' inconsistency between Chrome and other browsers.
     */
  /**
* Improves readability when focused and also mouse hovered in all browsers.
* Plus, it looks silly with an outline
*/
}

a:focus {
  outline: 0;
}

a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid transparent;
  border-top: 1px solid transparent;
}

/* ==========================================================================
 * HTML5 display definitions
 * ========================================================================== */
/**
 * HTML5 display-role reset for older browsers
 * Corrects 'block' display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, figure img, object, main {
  display: block;
}

/**
 * Corrects 'inline-block' display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block;
}

/**
 * Prevents modern browsers from displaying 'audio' without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Addresses styling for 'hidden' attribute not present in IE 8/9 and Safari 4.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */
/**
 * Defines some default font sizes and margins
 * 1. enhances readability of text
 */
h1, h2, h3 h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  /*text-rendering: optimizelegibility;*/
}

/**
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title], abbr[data-original-title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/**
 * Addresses style set to 'bolder' in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 3%;
}

/**
 * Remove quotes
 */
blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

blockquote cite {
  font-style: italic;
}

address {
  font-style: italic;
}

/**
 * Addresses styling not present in Safari 5 and Chrome.
 */
em, dfn {
  font-style: italic;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Define default margins for p and pre elements
 */
p, pre {
  margin: 1em 0;
}

/**
 * Corrects font family set oddly in Safari 4/5 and Chrome.
 */
code, kbd, pre, samp, var {
  font-size: 0.85em;
}

/**
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  /*word-break: break-all;
  word-wrap: break-word;*/
  white-space: pre;
  white-space: pre-wrap;
}

small {
  font-size: 75%;
}

/**
 * Prevents 'sub' and 'sup' affecting 'line-height' in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* ==========================================================================
 * Lists
 * ========================================================================== */
/**
 * Remove list styles (bullets/numbering)
 */
ul, ol {
  list-style: none;
  margin: 0;
}

ul.list {
  list-style: outside disc;
}

ul.list, ol.list {
  margin-left: 22px;
}

ul.list ul, ol.list ol,
ul.list ol, ol.list ul {
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.list li, ol.list li {
  margin: 0;
  line-height: 24px;
}

ul.disc {
  list-style-type: disc;
}

ul.circle {
  list-style-type: circle;
}

ul.square {
  list-style-type: square;
}

ol.decimal {
  list-style-type: decimal;
}

ol.roman {
  list-style-type: lower-roman;
}

ol.upper-alpha {
  list-style-type: upper-alpha;
}

ol.lower-alpha {
  list-style-type: lower-alpha;
}

dl {
  margin: 4px 0 0.75em;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-bottom: 10px;
}

dl dd:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
 * Embedded content
 * ========================================================================== */
/**
 * 1. Ensures that images are sensibly sized and do not overflow the page width
 * 2. Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 * 2. Nicer image resizing in IE 8
 */
img {
  max-width: 100%;
  width: auto\9;
  /* ie8 */
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/**
 * Removes border when inside an 'a' element in IE 8/9.
 */
a img {
  border: 0;
}

/**
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
 * GOOGLE MAP
 * ========================================================================== */
/**
 * Removes max-width on Google map images,
 * otherwise it breaks the functionality
 */
#googlemap img, .gmap img, .gm-style .gmnoprint img, #map_canvas embed, #map_canvas img, #map_canvas object, .MicrosoftMap img object, embed {
  max-width: none;
}

.MicrosoftMap {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.MicrosoftMap:before, .MicrosoftMap:after, .MicrosoftMap *, .MicrosoftMap *:before, .MicrosoftMap *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Fixes reCaptcha style issue
 */
#recaptcha_area {
  margin-bottom: 0.75em;
  line-height: normal;
}

#recaptcha_area input {
  display: inline-block;
}

#recaptcha_area a {
  font-weight: normal !important;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * Corrects text not wrapping in Firefox 3.
 */
legend {
  white-space: normal;
}

/**
 * 1. Corrects font size not being inherited in all browsers.
 */
button, input, select, textarea, .button {
  font-size: 100%;
  /* 1 */
  text-align: left;
  vertical-align: middle;
}

button, input {
  	/*
    * Addresses Firefox 3+ setting 'line-height' on 'input' using '!important' in
    * the UA stylesheet.
    */
  line-height: 1em;
                /**
* Re-set default cursor for disabled elements.
*/
  /**
* Removes inner padding and border in Firefox 3+.
*/
}

button[disabled], input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native 'audio'
 * and 'video' controls.
 * 2. Corrects inability to style clickable 'input' types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 * 'input' and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  text-align: center;
}

label, select, input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: none;
  /* 2 */
  	                                /**
     * Removes inner padding and search cancel button in Safari 5 and Chrome
     * on OS X.
     */
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 * 3. Allow only vertical resizing of textareas.
 * 4. Ensure that height cannot be too small for text to be visible
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
  height: auto;
  min-height: 2.5em;
}

/* ==========================================================================
 * Tables
 * ========================================================================== */
table {
  margin-bottom: 0.75em;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table caption {
  text-align: center;
}

table th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

table td {
  text-align: left;
  vertical-align: top;
}

/* ==========================================================================
 * Progress/Meters
 * ========================================================================== */
progress, meter {
  width: 100%;
  font-size: 12px;
}

.neverhyphen {
  -ms-word-break: normal;
  word-break: normal;
  hyphens: none;
}

/**
 * Sets the viewport
 * This will eventually replace the need
 * for a viewport declaration meta tag in
 * the head of the page
 */
@-moz-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* ==========================================================================
 * Device specific display of content
 * This allows us to show/hide certain elements depending on the device
 * ========================================================================== */
.visible-small {
  display: none !important;
}

.visible-medium {
  display: none !important;
}

.hidden-large {
  display: none !important;
}

.visible-large {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-large {
    display: inherit !important;
  }

  .visible-large {
    display: none !important;
  }

  .visible-medium {
    display: inherit !important;
  }

  .hidden-medium {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-large {
    display: inherit !important;
  }

  .visible-large {
    display: none !important;
  }

  .visible-small {
    display: inherit !important;
  }

  .hidden-small {
    display: none !important;
  }
}
/* CSS Document */
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  select {
    background: #fff !important;
  }

  .navbar {
    display: none;
  }

  .table td,
  .table th {
    background-color: #fff !important;
  }

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }

  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/* ======================================================
 * CLEARFIX
 * ------------------------------------------------------ */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

.clearboth {
  clear: both;
  display: block;
}

/* ======================================================
 * DIV TYPES
 * ------------------------------------------------------ */
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.block {
  display: block;
}

.as-table {
  display: table;
  /*table-layout:fixed;*/
  width: 100%;
}

.as-cell {
  display: table-cell;
  vertical-align: top;
}

.as-row {
  display: table-row;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed, .stick {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

/* ======================================================
 * LAYOUTS
 * ------------------------------------------------------ */
.fluid {
  width: 100%;
  max-width: 100% !important;
}

/* ======================================================
 * ALIGNMENTS
 * ------------------------------------------------------ */
/*Floating*/
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

/*Vertical Alignment*/
.v-top {
  vertical-align: top;
}

.v-bottom {
  vertical-align: bottom;
}

.v-middle {
  vertical-align: middle;
}

/*Padding*/
.padd5 {
  padding: 5px;
}

.padd10 {
  padding: 10px;
}

.padd15 {
  padding: 15px;
}

.padd20 {
  padding: 20px;
}

.padd-no {
  padding: 0;
}

/*margin*/
.marg5 {
  margin: 5px;
}

.marg10 {
  margin: 10px;
}

.marg15 {
  margin: 15px;
}

.marg20 {
  margin: 20px;
}

.marg-no {
  margin: 0 !important;
}

/*upper case lower case*/
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-normalcase {
  text-transform: none;
}

/* ======================================================
 * IMAGE ANIMATIONS
 * ------------------------------------------------------ */
/*IMAGE HOVER ANIMATIONS*/
.anim-zoomin {
  position: relative;
}
.anim-zoomin:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  z-index: 1;
  border: 0 solid rgba(255, 255, 255, 0.6);
}
.anim-zoomin:hover:before, .anim-zoomin:active:before, .anim-zoomin:focus:before {
  border: 10px solid rgba(255, 255, 255, 0.6);
}
.anim-zoomin:hover > img, .anim-zoomin:active > img, .anim-zoomin:focus > img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/*LIST HOVER ANIMATION*/
.anim-scale {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}
.anim-scale:hover, .anim-scale:active, .anim-scale:focus {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  /*ROTATE IS FOR FIREFOX BUG FIX*/
}

/* ======================================================
 * BUTTON ANIMATIONS
 * ------------------------------------------------------ */
/*button style1 */
.anim-btn1,
.anim-btn2,
.anim-btn3 {
  position: relative;
  z-index: 0;
  background: #0386ca;
}
.anim-btn1:after,
.anim-btn2:after,
.anim-btn3:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #222222;
  top: 0;
  left: 0;
  z-index: -1;
}
.anim-btn1:hover:after, .anim-btn1:active:after, .anim-btn1:focus:after, .anim-btn1.active:after,
.anim-btn2:hover:after,
.anim-btn2:active:after,
.anim-btn2:focus:after,
.anim-btn2.active:after,
.anim-btn3:hover:after,
.anim-btn3:active:after,
.anim-btn3:focus:after,
.anim-btn3.active:after {
  height: 100%;
  width: 100%;
}

/*button style1 */
.anim-btn1:after {
  height: 0;
}
.anim-btn1:hover, .anim-btn1:active, .anim-btn1:focus, .anim-btn1.active {
  background: none;
}
.anim-btn1:hover:after, .anim-btn1:active:after, .anim-btn1:focus:after, .anim-btn1.active:after {
  height: 100%;
}

/*button style2 */
.anim-btn2:after {
  width: 0;
}
.anim-btn2:hover, .anim-btn2:active, .anim-btn2:focus, .anim-btn2.active {
  background: none;
}
.anim-btn2:hover:after, .anim-btn2:active:after, .anim-btn2:focus:after, .anim-btn2.active:after {
  width: 100%;
}

/* ======================================================
 * WIDTH CALCULATOR
 * ------------------------------------------------------ */
/* float: left;
 * width: 82.938%; (700px(div width) / 844px(container) = 0.82938)*/
/* ======================================================
 * COMMON WIDTH
 * ------------------------------------------------------ */
.w-auto {
  width: auto;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* ======================================================
 * DECORATIONS
 * ------------------------------------------------------ */
/*Text*/
.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

/*COLORS*/
/*Branding*/
.text-branding {
  color: #0386ca;
}

.text-branding-light {
  color: #109fae;
}

.text-branding-lighter {
  color: #b3d5e6;
}

.text-branding-lightest {
  color: #d6effc;
}

.text-branding-dark {
  color: #005760;
}

.text-branding-darker {
  color: #004249;
}

/*Contrast*/
.text-contrast {
  color: #4399af;
}

.text-contrast-light {
  color: #d9ebef;
}

.text-contrast-lighter {
  color: #eaf5f7;
}

.text-contrast-lightest {
  color: #f9feff;
}

.text-contrast-dark {
  color: #29798e;
}

.text-contrast-darker {
  color: #165e71;
}

/*other*/
.text-orange {
  color: #e36300;
}

.text-boston {
  color: #4399af;
}

/*black*/
.text-black {
  color: #222222;
}

.text-black-light {
  color: #252525;
}

.text-black-lighter {
  color: #4f4f4f;
}

.text-black-lightest {
  color: #201d1e;
}

.text-black-dark {
  color: #232323;
}

.text-black-darker {
  color: #1d1d1d;
}

/*grey*/
.text-grey {
  color: #e6e6e6;
}

.text-grey-light {
  color: #d9d9d9;
}

.text-grey-lighter {
  color: #e9e9e9;
}

.text-grey-lightest {
  color: #f9f9f9;
}

.text-grey-dark {
  color: #dadada;
}

.text-grey-darker {
  color: #585858;
}

/*BACKGROUND*/
/*Branding*/
.bg-branding {
  background-color: #0386ca;
}

.bg-branding-light {
  background-color: #109fae;
}

.bg-branding-lighter {
  background-color: #b3d5e6;
}

.bg-branding-lightest {
  background-color: #d6effc;
}

.bg-branding-dark {
  background-color: #005760;
}

.bg-branding-darker {
  background-color: #004249;
}

/*Contrast*/
.bg-contrast {
  background-color: #4399af;
}

.bg-contrast-light {
  background-color: #d9ebef;
}

.bg-contrast-lighter {
  background-color: #eaf5f7;
}

.bg-contrast-lightest {
  background-color: #f9feff;
}

.bg-contrast-dark {
  background-color: #29798e;
}

.bg-contrast-darker {
  background-color: #165e71;
}

/*other*/
.bg-orange {
  background-color: #e36300;
}

.bg-boston {
  background-color: #4399af;
}

/*black*/
.bg-black {
  background-color: #222222;
}

.bg-black-light {
  background-color: #252525;
}

.bg-black-lighter {
  background-color: #4f4f4f;
}

.bg-black-lightest {
  background-color: #201d1e;
}

.bg-black-dark {
  background-color: #232323;
}

.bg-black-darker {
  background-color: #1d1d1d;
}

/*grey*/
.bg-grey {
  background-color: #e6e6e6;
}

.bg-grey-light {
  background-color: #d9d9d9;
}

.bg-grey-lighter {
  background-color: #e9e9e9;
}

.bg-grey-lightest {
  background-color: #f9f9f9;
}

.bg-grey-dark {
  background-color: #dadada;
}

.bg-grey-darker {
  background-color: #585858;
}

/*Box-shadow*/
.shadow1 {
  -webkit-box-shadow: 0 8px 10px -11px black;
  -moz-box-shadow: 0 8px 10px -11px black;
  box-shadow: 0 8px 10px -11px black;
}

/*Corner Radius*/
.radius10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

.radius5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

.radius3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

.radius0 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

.round {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}

/*Count*/
.count {
  content: '10';
  display: block;
  max-width: 60px;
  padding: 2px 8px;
  line-height: normal;
  font-size: 10px;
  font-size: 0.66667rem;
  font-weight: 300;
  background: #0386ca;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

/*overlay-detail*/
.stick {
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

/*
* Hide only visually, but have it available for screen readers: h5bp.com/v
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: #aa985d;
  z-index: 100;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  clip: auto;
  color: #FFFFFF;
  height: auto;
  margin: 0;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 100000000;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */
button, input, select, textarea, .button {
  font-family: "Open Sans", sans-serif;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select {
  display: block;
  padding: 4px 6px;
  width: 100%;
  line-height: 100%;
  background: #fff;
  border: solid 1px #d9d9d9;
}
input[type=text]:focus, input[type=text]:hover,
input[type=email]:focus,
input[type=email]:hover,
input[type=password]:focus,
input[type=password]:hover,
input[type=date]:focus,
input[type=date]:hover,
input[type=datetime]:focus,
input[type=datetime]:hover,
input[type=number]:focus,
input[type=number]:hover,
input[type=search]:focus,
input[type=search]:hover,
input[type=tel]:focus,
input[type=tel]:hover,
input[type=time]:focus,
input[type=time]:hover,
input[type=url]:focus,
input[type=url]:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  border-color: #0386ca;
}
input[type=text][disabled],
input[type=email][disabled],
input[type=password][disabled],
input[type=date][disabled],
input[type=datetime][disabled],
input[type=number][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=time][disabled],
input[type=url][disabled],
textarea[disabled],
select[disabled] {
  color: #888;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background-color: #ddd;
  cursor: auto;
}
input[type=text][readonly],
input[type=email][readonly],
input[type=password][readonly],
input[type=date][readonly],
input[type=datetime][readonly],
input[type=number][readonly],
input[type=search][readonly],
input[type=tel][readonly],
input[type=time][readonly],
input[type=url][readonly],
textarea[readonly],
select[readonly] {
  color: #707070;
}

select {
  display: block;
  padding: 4px 0px;
}

/* ======================================================
 * Buttons
 * ------------------------------------------------------ */
.button,
button {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 6px;
  line-height: 24px;
  color: white !important;
  min-width: 88px;
  text-align: center;
  font-size: 14px !important;
  background: #0386ca;
  font-family: "Cabin Condensed", sans-serif !important;
  text-decoration: none !important;
}
.button:hover,
button:hover {
  color: #fff !important;
  background: #222222;
  text-decoration: none;
}
.button:active, .button:focus,
button:active,
button:focus {
  background: #232323;
  color: #fff;
}
.button.second,
button.second {
  color: #222222;
  background: #005760;
  text-decoration: none;
}
.button.second:hover,
button.second:hover {
  color: #fff;
  background: #222222;
  text-decoration: none;
}
.button.second:active, .button.second:focus,
button.second:active,
button.second:focus {
  background: #232323;
  color: #fff;
}
.button.small,
button.small {
  padding: 9px 24px;
  min-width: 88px;
}
.button.large,
button.large {
  padding: 10px 15px;
  font-size: 18px;
  font-size: 1.2rem;
}

html .white-blue {
  color: #1d6b81 !important;
  background: #fff;
  margin-top: 20px;
}

/*------Close Button-----------*/
button.close {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  padding: 0;
}

.close {
  color: #000000;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  opacity: 0.4;
  text-shadow: 0 1px 0 #FFFFFF;
}

/* ======================================================
 * MOBILE STYLE BUTTONS
 * ------------------------------------------------------ */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 * CUSTOMIZE 							   
 * xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.navBtn {
  z-index: 100;
  line-height: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  padding: 8px;
  box-sizing: content-box;
  background: none;
}
.navBtn:before {
  content: "";
  display: block;
  box-sizing: content-box;
  border-top: 2px solid #e0d9ee;
  border-bottom: 2px solid #e0d9ee;
  height: 3px;
  width: 15px;
}
.navBtn:after {
  content: "";
  display: block;
  box-sizing: content-box;
  height: 3px;
  border-bottom: 2px solid #e0d9ee;
  width: 15px;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1179px) {
  .button,
  button {
    font-size: 18px;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  html .white-blue {
    margin-top: 10px;
  }
}
.icon, .icon-small {
  background-image: url(../images/sprite.png);
  /*ie8 fallback*/
  background-image: url(../images/svg/sprite.svg), none;
  /*Modern browser SVG support*/
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle !important;
}

/* ======================================================
 * ICON SMALL - RETINA
 * ------------------------------------------------------ */
/* ======================================================
 * RETINA TO NORMAL CONVERSION
 * ------------------------------------------------------ */
/* NORMAL ICON GUTTER*/
/* NORMAL SIZE*/
/*gutter-width*/
/*gutter-height*/
/* ---------------------------------------------------------
 * SMALL ICONS	
 * ------------------------------------------------------ */
.icon-small {
  width: 20px;
  height: 20px;
  background-size: 800px;
  /*TEXT-------------*/
  /*BUTTON-------------*/
}
.icon-small.icon-text {
  background-position: 0px 0px;
  /*hover*/
  /*disabled*/
}
.icon-small.icon-text:hover, .icon-small.icon-text:active, .icon-small.icon-text:focus {
  background-position: 0px -23px;
}
.icon-small.icon-text.disabled {
  background-position: 0px -46px;
}
.icon-small.icon-button {
  background-position: -23px 0px;
  /*hover*/
  /*disabled*/
}
.icon-small.icon-button:hover, .icon-small.icon-button:active, .icon-small.icon-button:focus {
  background-position: -23px -23px;
}
.icon-small.icon-button.disabled {
  background-position: -23px -46px;
}

/* Retina-specific stuff here */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-small {
    background-image: url(../images/sprite@2x.png);
    background-size: 800px 69px;
  }
}
@media only screen and (max-width: 959px) {
  /* ---------------------------------------------------------
   * SMALL ICONS	
   * ------------------------------------------------------ */
  .icon-small {
    width: 10px;
    height: 10px;
    background-size: 400px;
    /*TEXT-------------*/
    /*BUTTON-------------*/
  }
  .icon-small.icon-text {
    background-position: 0px 0px;
    /*hover*/
    /*disabled*/
  }
  .icon-small.icon-text:hover, .icon-small.icon-text:active, .icon-small.icon-text:focus {
    background-position: 0px -11.5px;
  }
  .icon-small.icon-text.disabled {
    background-position: 0px -23px;
  }
  .icon-small.icon-button {
    background-position: -11.5px 0px;
    /*hover*/
    /*disabled*/
  }
  .icon-small.icon-button:hover, .icon-small.icon-button:active, .icon-small.icon-button:focus {
    background-position: -11.5px -11.5px;
  }
  .icon-small.icon-button.disabled {
    background-position: -11.5px -23px;
  }
}
.icon-large {
  background-image: url(../images/spriteLarge.png);
  /*ie8 fallback*/
  background-image: url(../images/svg/spriteLarge.svg), none;
  /*Modern browser SVG support*/
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* ======================================================
 * ICON Large - RETINA
 * ------------------------------------------------------ */
/* ======================================================
 * RETINA TO NORMAL CONVERSION
 * ------------------------------------------------------ */
/* NORMAL ICON GUTTER*/
/* NORMAL SIZE*/
/*gutter-width*/
/*gutter-height*/
/* ---------------------------------------------------------
 * LARGE ICONS	
 * ------------------------------------------------------ */
.icon-large {
  width: 80px;
  height: 80px;
  background-size: 800px;
  /*TEXT-------------*/
  /*BUTTON-------------*/
}
.icon-large.icon-text {
  background-position: 0px 0px;
  /*hover*/
  /*disabled*/
}
.icon-large.icon-text:hover, .icon-large.icon-text:active, .icon-large.icon-text:focus {
  background-position: 0px -90px;
}
.icon-large.icon-text.disabled {
  background-position: 0px -180px;
}
.icon-large.icon-button {
  background-position: -90px 0px;
  /*hover*/
  /*disabled*/
}
.icon-large.icon-button:hover, .icon-large.icon-button:active, .icon-large.icon-button:focus {
  background-position: -90px -90px;
}
.icon-large.icon-button.disabled {
  background-position: -90px -180px;
}

/* Retina-specific stuff here */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-large {
    background-image: url(../images/spriteLarge@2x.png);
    background-size: 800px 440px;
  }
}
@media only screen and (max-width: 959px) {
  /* ---------------------------------------------------------
   * LARGE ICONS	
   * ------------------------------------------------------ */
  .icon-large {
    width: 40px;
    height: 40px;
    background-size: 400px;
    /*TEXT-------------*/
    /*BUTTON-------------*/
  }
  .icon-large.icon-text {
    background-position: 0px 0px;
    /*hover*/
    /*disabled*/
  }
  .icon-large.icon-text:hover, .icon-large.icon-text:active, .icon-large.icon-text:focus {
    background-position: 0px -45px;
  }
  .icon-large.icon-text.disabled {
    background-position: 0px -90px;
  }
  .icon-large.icon-button {
    background-position: -45px 0px;
    /*hover*/
    /*disabled*/
  }
  .icon-large.icon-button:hover, .icon-large.icon-button:active, .icon-large.icon-button:focus {
    background-position: -45px -45px;
  }
  .icon-large.icon-button.disabled {
    background-position: -45px -90px;
  }
}
/* ======================================================
 * LINKS
 * ------------------------------------------------------ */
a {
  text-decoration: none;
  color: #005760;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  /*(hover, active & focus)*/
  font-size: 14px;
  font-size: 0.93333rem;
  font-weight: 400;
}
a:hover, a:active, a:focus, a.active {
  color: #c8bc7f;
}
a:hover, a:active, a:focus {
  color: #0386ca;
}
a.link.large {
  font-size: 26px;
  font-size: 1.73333rem;
  display: inline-block;
  text-transform: inherit;
  padding: 12px 0 0;
  cursor: pointer;
  font-family: "Cabin Condensed", sans-serif;
}
a.link.large:hover, a.link.large:active, a.link.large:focus {
  color: #222222 !important;
}
a.link.large:after {
  display: block;
  font-size: 17px;
  font-family: "icomoon";
  margin-left: 8px;
  float: right;
  width: auto;
  content: "\e603";
}
a.link.small {
  font-size: 20px;
  font-size: 1.33333rem;
  display: block;
  text-transform: none;
  padding: 12px 0;
  cursor: pointer;
  font-family: "Cabin Condensed", sans-serif;
}
a.link.small:hover, a.link.small:active, a.link.small:focus {
  color: #222222 !important;
}
a.link.small:after {
  display: block;
  font-family: "icomoon";
  margin-left: 8px;
  float: right;
  width: auto;
  content: "\e603";
}

/* ======================================================
 * LINK ICON
 * ------------------------------------------------------ */
/*open link in new window*/
a.link-icon[target="_blank"] {
  display: inline-block;
  line-height: 18px;
  /* check your icon height */
  background: url("../images/external-link.gif") no-repeat scroll left center !important;
  padding-left: 20px;
}

/* external links*/
a.link-icon[href^="http://"] {
  padding-left: 20px;
  background: url("../images/link.png") no-repeat scroll left center;
}

/* emails*/
a.link-icon[href^="mailto:"] {
  padding-left: 20px;
  background: url("../images/mail.png") no-repeat scroll left center;
}

/* pdfs*/
a.link-icon[href$=".pdf"] {
  padding-left: 20px;
  background: url("../images/pdf.png") no-repeat scroll left center;
}

/* zip*/
a.link-icon[href$=".zip"]:after {
  content: url(../images/zip.png);
}

.link,
h1.link,
.h1.link {
  cursor: default;
  color: #0386ca;
  text-decoration: none;
  /*(hover, active & focus)*/
}
.link:hover, .link:active, .link:focus, .link.active,
h1.link:hover,
h1.link:active,
h1.link:focus,
h1.link.active,
.h1.link:hover,
.h1.link:active,
.h1.link:focus,
.h1.link.active {
  color: #c8bc7f;
}

/* ======================================================
 * HEADING
 * ------------------------------------------------------ */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Cabin Condensed", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
  line-height: 100%;
}

h1, .h1 {
  margin: 0.67rem 0;
  font-size: 45px;
  font-size: 3rem;
  color: #0386ca;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

h2, .h2 {
  font-size: 35px;
  font-size: 2.33333rem;
  margin: 0.83rem 0;
  color: #0386ca;
  line-height: 35px;
}

h3, .h3 {
  font-size: 24px;
  font-size: 1.6rem;
  margin: 1rem 0;
  line-height: 24px;
  color: #0386ca;
  padding-top: 10px;
}

h4, .h4 {
  font-size: 29px;
  font-size: 1.93333rem;
  margin: 1.33rem 0;
  line-height: 32px;
}

h5, .h5 {
  font-size: 16px;
  font-size: 1.06667rem;
  margin: 1.67rem 0;
}

h6, .h6 {
  font-size: 13px;
  font-size: 0.86667rem;
  margin: 2.33rem 0;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0 0 10px;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 5px;
}

h1 > span,
.h1 > span,
h2 > span,
.h2 > span,
h3 > span,
.h3 > span,
h4 > span,
.h4 > span,
h5 > span,
.h5 > span,
h6 > span,
.h6 > span {
  color: #222222;
  filter: alpha(opactiy=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
  h1, .h1 {
    font-size: 50px;
    line-height: 46px !important;
  }

  h2, .h2 {
    font-size: 25px;
    font-size: 1.66667rem;
  }

  h3, .h3 {
    font-size: 24px;
    font-size: 1.6rem;
  }

  h4, .h4 {
    font-size: 26px;
    font-size: 1.73333rem;
  }
}
/*Text colors*/
.text-primary {
  color: #333333;
}
.text-primary:hover, .text-primary:active, .text-primary:focus, .text-primary.active {
  color: #333333;
}

.text-success {
  color: #55b473;
}
.text-success:hover, .text-success:active, .text-success:focus, .text-success.active {
  color: #55b473;
}

.text-warning {
  color: #f5b66e;
}
.text-warning:hover, .text-warning:active, .text-warning:focus, .text-warning.active {
  color: #f5b66e;
}

.text-error {
  color: #c13b48;
}
.text-error:hover, .text-error:active, .text-error:focus, .text-error.active {
  color: #c13b48;
}

.text-info {
  color: #31708f;
}
.text-info:hover, .text-info:active, .text-info:focus, .text-info.active {
  color: #31708f;
}

.text-muted {
  color: #31708f;
}
.text-muted:hover, .text-muted:active, .text-muted:focus, .text-muted.active {
  color: #31708f;
}

/* ======================================================
 * ALERT BLOCK
 * ------------------------------------------------------ */
.alert-block {
  padding-bottom: 14px;
  padding-top: 14px;
}

.alert {
  background-color: #eaaf51;
  border: 1px solid #e1a547;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.alert a {
  color: #fff;
  text-decoration: underline;
}

.alert.stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.alert h4 {
  margin: 0;
}

.alert-danger, .alert-error {
  background-color: #c13b48;
  border-color: #d23939;
}

.alert-success {
  background-color: #55b473;
  border-color: #55ad26;
}

.alert-info {
  background-color: #31708f;
  border-color: #3f95bc;
}

/*FIXED ALERT*/
.alert-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
}

.warning-msg {
  background: #fde073;
  border-bottom: 1px solid #d6b742;
  color: #796311;
}

.alert-icon {
  display: inline-block;
  vertical-align: middle;
}

.alert-close,
.alert-icon {
  position: absolute;
  top: 10px;
}

.alert-close {
  right: 10px;
}

.alert-icon {
  left: 10px;
}

.alert-content {
  display: block;
  padding: 0 40px;
  line-height: 26px;
}

/* ======================================================
 * PARAGRAPH
 * ------------------------------------------------------ */
p, .p {
  line-height: 19px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
p + p, .p + p {
  margin-top: 22px !important;
}

small, .smalltext {
  font-size: 12px;
  font-size: 0.8rem;
  line-height: 16px;
  filter: alpha(opactiy=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.mediumtext {
  font-size: 13px;
  font-size: 0.86667rem;
  line-height: 16px;
}

.lead {
  font-size: 15px;
  font-size: 1rem;
  font-weight: 700;
}

time,
.time {
  font-family: "Cabin Condensed", sans-serif;
}

cite:before {
  content: " ' ";
  display: inline-block;
  margin: 0 2px;
}
cite:after {
  content: " ' ";
  display: inline-block;
  margin: 0 6px 0 0;
}

code {
  background-color: #f9f9f9;
  color: #252525;
  display: inline-block;
  font-size: 11px;
  margin: 0 5px auto 0;
  padding: 0 8px;
  /*white-space: nowrap;*/
  min-width: 60px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 4px -4px black;
  -moz-box-shadow: 1px 1px 4px -4px black;
  box-shadow: 1px 1px 4px -4px black;
  vertical-align: middle;
}

/*TEXT ALIGNMENT*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  * {
    /*-ms-word-break: break-all;
    word-break: break-all;*/
    /* Non standard for webkit */
    	/*word-break: break-word;
     	@include vendor-prefix(hyphens, auto)*/
  }

  p, .p {
    font-size: 12px;
    font-size: 0.8rem;
  }

  small, .smalltext {
    font-size: 11px;
    font-size: 0.73333rem;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*ANCHOR TAG TOOLTIP*/
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -o-transition: all ease-out 200ms;
  -ms-transition: all ease-out 200ms;
  -moz-transition: all ease-out 200ms;
  -webkit-transition: all ease-out 200ms;
  transition: all ease-out 200ms;
  -moz-transform: scale(0);
  transform: scale(0);
  transform: scale(0);
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 120%;
  right: 0;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: auto;
  background-color: #f9f9f9;
  border: 1px solid #d3d3d3;
  color: #505050;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1;
  -webkit-box-shadow: 0 2px 2px -2px #000000;
  -moz-box-shadow: 0 2px 2px -2px #000000;
  box-shadow: 0 2px 2px -2px #000000;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  right: 10px;
  margin-left: 5px;
  width: 0;
  border-top: 5px solid #a3a3a3;
  border-top: 5px solid #a3a3a3;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -moz-transform: scale(1);
  transform: scale(1);
  transform: scale(1);
}

/*ANCHOR TAG TOOLTIP ENDS*/
/* CSS Document */
/*(Responsive youtube video width -http://avexdesigns.com/responsive-youtube-embed/)*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*DEFAULT*/
/*================================================
GRID
=================================================*/
/*grid calculator*/
/*eg: @include grid-width(6);*/
/*Grid gutter*/
.grid {
  margin-left: -20px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid > * {
  float: left;
  padding-left: 20px;
}

/*one columns*/
.grid-1 > li {
  width: 100%;
}
.grid-1:first-child {
  margin-top: 0;
}

/*two columns*/
.grid-2 > li {
  width: 50%;
}
.grid-2 > li:nth-child(2n+1) {
  clear: left;
}

/*three columns*/
.grid-3 > li {
  width: 33.33333%;
}
.grid-3 > li:nth-child(3n+1) {
  clear: left;
}

/*four columns*/
.grid-4 > li {
  width: 25%;
}
.grid-4 > li:nth-child(4n+1) {
  clear: left;
}

/*five columns*/
.grid-5 > li {
  width: 20%;
}
.grid-5 > li:nth-child(5n+1) {
  clear: left;
}

/*six columns*/
.grid-6 > li {
  width: 16.66667%;
}
.grid-6 > li:nth-child(6n+1) {
  clear: left;
}

/*seven columns*/
.grid-7 > li {
  width: 14.28571%;
}
.grid-7 > li:nth-child(7n+1) {
  clear: left;
}

/*eight columns*/
.grid-8 > li {
  width: 12.5%;
}
.grid-8 > li:nth-child(8n+1) {
  clear: left;
}

/*nine columns*/
.grid-9 > li {
  width: 11.11111%;
}
.grid-9 > li:nth-child(9n+1) {
  clear: left;
}

/*ten columns*/
.grid-10 > li {
  width: 10%;
}
.grid-10 > li:nth-child(10n+1) {
  clear: left;
}

/*eleven columns*/
.grid-11 > li {
  width: 9.09091%;
}
.grid-11 > li:nth-child(11n+1) {
  clear: left;
}

/*twelve columns*/
.grid-12 > li {
  width: 8.33333%;
}
.grid-12 > li:nth-child(12n+1) {
  clear: left;
}

/* ---------------------------------------------------------
 * Tablet Portrait size to standard 960 (devices and browsers)
 * ------------------------------------------------------ */
@media only screen and (min-width: 769px) and (max-width: 1180px) {
  .grid {
    margin-left: -15px;
  }
  .grid > * {
    padding-left: 15px;
  }
}
/* ---------------------------------------------------------
 * MOBILE ONLY WIDTH
 * ------------------------------------------------------ */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .grid {
    margin-left: -15px;
  }
  .grid > * {
    padding-left: 15px;
  }

  .twidth-1 > li {
    width: 100%;
  }
  .twidth-1 > li:nth-child(1n+1) {
    clear: left;
  }

  .twidth-2 > li {
    width: 50%;
  }
  .twidth-2 > li:nth-child(2n+1) {
    clear: left;
  }

  .twidth-3 > li {
    width: 33.33333%;
  }
  .twidth-3 > li:nth-child(3n+1) {
    clear: left;
  }
}
/*================================================
MOBILE ONLY WIDTH
=================================================*/
@media only screen and (max-width: 480px) {
  .mwidth-1 > li {
    width: 100%;
  }
  .mwidth-1 > li:nth-child(1n+1) {
    clear: left;
  }

  .mwidth-2 > li {
    width: 50%;
  }
  .mwidth-2 > li:nth-child(2n+1) {
    clear: left;
  }

  .mwidth-3 > li {
    width: 33.33333%;
  }
  .mwidth-3 > li:nth-child(3n+1) {
    clear: left;
  }
}
/*================================================
WIDTH CALCULATOR
=================================================*/
/*float: left;
width: 82.938%; (700px(div width) / 844px(container) = 0.82938)*/
/*Width*/
.w-auto {
  width: auto;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* ======================================================
 * SELF CLEAR DIVS
 * ------------------------------------------------------ */
.box1:before, .box1:after, .gallery:before, .gallery:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.box1:after, .gallery:after {
  clear: both;
}

/* ======================================================
 * BOX STYLES
 * ------------------------------------------------------ */
/*box*/
.box {
  width: 100%;
}

/*box1*/
.box1 {
  padding: 10px;
  background: #ededed;
  width: 100%;
}

/*box2*/
.box2 {
  padding: 90px;
  background: white;
  margin: 60px;
  border: 1px solid #e9e9e9;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 1px 9px -6px #999999;
}
.box2:before, .box2:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.box2:after {
  clear: both;
}
.box2:first-child {
  margin-top: 0;
}

/*box3*/
.box3 {
  padding: 90px;
  background: white;
  border-top: 1px solid #e6e6e6;
  border-bottom: 8px solid #e9e9e9;
}
.box3:before, .box3:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.box3:after {
  clear: both;
}

/* ======================================================
 * SHOWCASE
 * ------------------------------------------------------ */
.showcase {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px dashed #dadada;
  text-align: center;
  width: 125px;
}
.showcase:hover {
  transform: scale(1.1);
}

/* ======================================================
 * IMAGE GRID
 * ------------------------------------------------------ */
.image-grid {
  text-align: center;
  position: relative;
  width: 100%;
  cursor: pointer;
  font-size: 10px;
}
.image-grid:hover > .ig-hover {
  display: block;
}

.ig-content {
  background-color: #F9F9F9;
  border: 1px solid #FFFFFF;
}
.ig-content.round + .ig-hover {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

.ig-hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: none;
}
.ig-hover > ul {
  display: table;
  width: 100%;
  height: 100%;
}
.ig-hover > ul > li {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: #fff;
}

/* ======================================================
 * GALLERY
 * ------------------------------------------------------ */
.gallery {
  border-left: 1px dashed #dadada;
  border-top: 1px dashed #dadada;
  clear: both;
}
.gallery > li {
  padding: 15px;
  background-color: white;
  border-bottom: 1px dashed #dadada;
  border-right: 1px dashed #dadada;
  text-align: center;
  float: left;
  height: 140px;
  overflow: hidden;
}

/*@import "grid/_gridEqual";*/
.sprite {
  background: url(../images/sprite.png) no-repeat left top;
}

.login-wrap {
  background-color: #3c4d5e;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
}
.login-wrap .login-div {
  width: 480px;
  height: auto;
  min-height: 275px;
  margin-left: -240px;
  margin-top: -137px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 30px 40px;
}
.login-wrap .login-form li {
  display: table;
  width: 100%;
  margin-bottom: 5px;
}
.login-wrap .login-form li:last-child {
  margin-bottom: 5px;
}
.login-wrap .login-form .icon-user, .login-wrap .login-form .icon-pass {
  width: 40px;
  background-color: #01172d;
  display: table-cell;
}
.login-wrap .login-form .icon-user {
  background-position: -105px -5px;
}
.login-wrap .login-form .icon-pass {
  background-position: -154px -6px;
}
.login-wrap .login-form input[type=text], .login-wrap .login-form input[type=email], .login-wrap .login-form input[type=password] {
  display: table-cell;
  height: 40px;
  margin: 0;
  border-radius: 0px !important;
}
.login-wrap .login-form input[type=checkbox] {
  margin: 0;
}
.login-wrap .login-form .login-btn {
  display: table-cell;
  background-color: #0386ca;
  width: 40px;
  background-position: -206px -6px;
  position: relative;
  cursor: pointer;
}
.login-wrap .login-form .login-btn input[type="submit"], .login-wrap .login-form .login-btn a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: none;
  width: 100%;
  height: 38px;
  cursor: pointer;
}
.login-wrap .login-form .msg-box {
  margin-bottom: 0px;
}
.login-wrap .login-form .remember {
  margin-left: 10px;
}
.login-wrap .login-form .forgot a {
  color: white;
}

.change-pass-wrap {
  width: 480px;
  position: relative;
  left: 50%;
  margin-left: -240px;
  margin-top: 25px;
}
.change-pass-wrap .forgot-pass-form {
  margin-top: 20px;
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  padding: 0px 5px;
  margin-bottom: 3px;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-size: 12px;
  visibility: hidden;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
}

@media (max-width: 520px) {
  .change-pass-wrap {
    width: 100%;
    left: 0;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .login-wrap .login-div {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 20px;
    min-height: inherit;
    background-position: right top;
  }
}
