<div id="nav-menu" class="section">

    <div id="sepal-logo">
        <h2 class="section__title">
            <!--Get <span class="color">in</span> touch-->
            SEPAL
        </h2>
        <div class="sep"></div>
    </div>

    <div class="section-table">
        <div class="section-cell">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div>
                        <a class="btn bg-search icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="10"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0">
                            <!--<i class="fa fa-map" aria-hidden="true"></i>-->
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            Search
                        </a>
                        <a class="btn bg-browse icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="600"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                            Browse
                        </a>
                        <a class="btn bg-process icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="1200"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0">
                            <i class="fa fa-space-shuttle" aria-hidden="true"></i>
                            Process
                        </a>
                        <a class="btn bg-terminal icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="1800"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0">
                            <i class="fa fa-terminal" aria-hidden="true"></i>
                            Terminal
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>