<div id="nav-menu" class="section">

    <div id="sepal-logo">
        <h2 class="section__title">
            SEPAL
        </h2>
        <!--<div class="sep"></div>-->
    </div>

    <div class="section-table">
        <div class="section-cell">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div>
                        <a class="btn bg-search search icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="600"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0"
                           data-section-target="search">
                            <!--<i class="fa fa-map" aria-hidden="true"></i>-->
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            Search
                        </a>
                        <a class="btn bg-browse browse icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="1200"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0"
                           data-section-target="browse">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                            Browse
                        </a>
                        <a class="btn bg-process process icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="1800"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0"
                           data-section-target="process">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            Process
                        </a>
                        <a class="btn bg-terminal terminal icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="2400"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0"
                           data-section-target="terminal">
                            <i class="fa fa-terminal" aria-hidden="true"></i>
                            Terminal
                        </a>

                        <a class="btn bg-user user icon circle animation-item"
                           data-animation-in="fadeInDown"
                           data-animation-in-delay="3000"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0"
                           data-section-target="user">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-base tasks icon circle animation-item"
                           data-animation-in="fadeInLeft"
                           data-animation-in-delay="1800"
                           data-animation-out="flipOutX"
                           data-animation-out-delay="0"
                           data-section-target="tasks">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>