.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.dirty {
    opacity: 1;
}

.buttons button {
    color: hsl(0, 0%, 50%);
    background-color: hsl(224, 0%, 27%);
    border: 0;
    border-radius: 0.25rem;
    font-size: .9rem;
    transition: all 100ms ease-in-out;
}

.buttons button span {
    margin-left: .2rem;
}

.dirty button:not(:disabled) {
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 87%, 57%);
    cursor: pointer;
}
