.buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.dirty {
    opacity: 1;
}

.buttons button {
    color: #ccc;
    border: 0;
    border-radius: .3rem;
    font-size: .9rem;
    transition: all 100ms ease-in-out;
    margin-left: 0.5rem;
    padding: .1rem 1rem;
    cursor: pointer;
}

.buttons button:hover. .buttons button:active {
    color: #fff;
}

.buttons button span {
    margin-left: .2rem;
}

button.apply {
    --bg-hue: 222;
    --bg-sat: 44%;
    background-color: hsl(var(--bg-hue), var(--bg-sat), 37%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 39%);
}

button.apply:focus {
    background-color: hsl(var(--bg-hue), var(--bg-sat), 34%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 36%);
}

button.apply:hover {
    background-color: hsl(var(--bg-hue), var(--bg-sat), 32%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 34%);
}

button.apply:active {
    background-color: hsl(var(--bg-hue), var(--bg-sat), 31%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 33%);
}

button.revert {
    --bg-hue: 0;
    --bg-sat: 38%;
    background-color: hsl(var(--bg-hue), var(--bg-sat), 33%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 35%);
}

button.revert:focus {
    background-color: hsl(var(--bg-hue), var(--bg-sat), 30%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 32%);
}

button.revert:hover {
    background-color: hsl(var(--bg-hue), var(--bg-sat), 28%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 30%);
}

button.revert:active {
    background-color: hsl(var(--bg-hue), var(--bg-sat), 27%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 29%);
}

.buttons button:disabled {
    color: #6b6b6b;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*border: 1px solid rgba(255, 255, 255, 0.15);*/
    background-color: var(--button-default-background-color);
    border: var(--button-default-border);
    cursor: default;
}