
.footer {
    margin: 1rem calc(0rem - var(--padding-right-left)) 0;
    padding: var(--padding-top-bottom) var(--padding-right-left) 0;
    border-top: var(--wireframe);
}

.footer > * {
    margin: 0.5rem 0;
}
