
.footer {
    margin: 1rem calc(0rem - var(--padding-right-left)) 0;
    padding: var(--padding-top-bottom) var(--padding-right-left) 0;
    border-top: 1px solid rgba(100%, 100%, 100%, .1);
}

.footer > * {
    margin: 0.5rem 0;
}
