.panel {
    position: absolute;
    background-color: hsla(36, 8%, 15%, .95);
    border-radius: .5rem;
    pointer-events: all;
    padding: .5rem .8rem;
    right: 4rem;
    z-index: 4;
    min-width: 20rem;
    --scaling-factor: .8 !important;
}

.top {
    top: 5.5rem;
}

.bottom {
    bottom: .5rem;
}