.panel {
    --padding: .5rem .8rem;
    position: absolute;
    background-color: hsla(36, 8%, 15%, .95);
    border-radius: .5rem;
    pointer-events: all;
    right: 4rem;
    z-index: 4;
<<<<<<< HEAD
    min-width: 14rem;
    --scaling-factor: .8;
    overflow: scroll;
=======
    min-width: 20rem;
    --scaling-factor: .8 !important;
    overflow: hidden;
>>>>>>> c05da4853587e6333766c3c6df0fbb0ebc43d022
    flex-shrink: 0;
}

.top {
    top: .5rem;
}

.bottom {
    bottom: .5rem;
}