.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: opacity 200ms ease-in-out;
}

.buttons button {
    color: #ccc;
    border: 0;
    border-radius: var(--button-border-radius);
    font-size: .9rem;
    transition: all 100ms ease-in-out;
    padding: .1rem 1rem;
    cursor: pointer;
}

.buttons button i {
    margin: 0 0.1rem;
}

.buttons button:not(:last-child) {
    margin-right: 0.5rem;
}

.buttons button:hover. .buttons button:active {
    color: #fff;
}

.buttons button span {
    margin: 0 .2rem;
}

button.apply {
    --bg-hue: 222;
    --bg-sat: 44%;
    color: var(--button-default-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 37%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 39%);
}

button.apply:focus {
    color: var(--button-default-focus-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 35%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 38%);
}

button.apply:hover {
    color: var(--button-default-hover-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 33%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 35%);
}

button.apply:active {
    color: var(--button-default-active-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 31%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 33%);
}

button.cancel {
    --bg-hue: 0;
    --bg-sat: 38%;
    color: var(--button-default-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 33%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 35%);
}

.buttons.show button.cancel {
    opacity: 1;
}

button.cancel:focus {
    color: var(--button-default-focus-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 31%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 33%);
}

button.cancel:hover {
    color: var(--button-default-hover-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 29%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 31%);
}

button.cancel:active {
    color: var(--button-default-active-color);
    background-color: hsl(var(--bg-hue), var(--bg-sat), 27%);
    border: 1px solid hsl(var(--bg-hue), var(--bg-sat), 29%);
}

button.default {
    color: var(--button-default-color);
    background-color: var(--button-default-background-color);
    border: var(--button-default-border);
}

button.default:focus {
    color: var(--button-default-focus-color);
    background-color: var(--button-default-focus-background-color);
    border: var(--button-default-focus-border);
}

button.default:hover {
    color: var(--button-default-hover-color);
    background-color: var(--button-default-hover-background-color);
    border: var(--button-default-hover-border);
}

button.default:active {
    color: var(--button-default-active-color);
    background-color: var(--button-default-active-background-color);
    border: var(--button-default-active-border);
}

.buttons button:disabled {
    color: #6b6b6b;
    background-color: var(--button-default-background-color);
    border: var(--button-default-border);
    cursor: default;
}

@media (max-width: 576px) {
    .buttons i {
        display: none;
    }
}