.toolbar {
    --button-size: 2.5rem;
    --icon-size: 1.1rem;
    --button-default-color: rgba(255, 255, 255, .6);
    --button-default-background-color: hsla(37, 27%, 39%, .4);
    --button-default-hover-color: rgba(255, 255, 255, .8);
    --button-default-hover-background-color: hsla(37, 27%, 39%, .2);
    --button-selected-color: rgba(255, 255, 255, 1);
    /* --selected-background-color: hsla(37, 27%, 39%, .1); */
    --button-selected-background-color: hsla(36, 8%, 15%, .95);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: var(--button-size);
}

.toolbar.actionButtons {
    display: flex;
    flex-direction: column;
}

.toolbar.configurationButtons {
    display: flex;
    flex-direction: column;
}

.toolbar button {
    position: relative;
    width: var(--button-size);
    height: var(--button-size);
    border: none;
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: 0;
    color: var(--button-default-color);
    background-color: var(--button-default-background-color);
}

.toolbar button svg {
    font-size: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: middle;
}

.toolbar button:hover:not(:disabled) {
    color: var(--button-default-hover-color);
    background-color: var(--button-default-hover-background-color);
    cursor: pointer;
}

.toolbar .selected {
    color: var(--button-selected-color);
    background-color: var(--button-selected-background-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* border: 2px solid red; */
    border-left: none;
}

.toolbar .selected:hover:not(:disabled) {
    color: var(--button-selected-color);
    background-color: var(--button-selected-background-color);
}

.toolbar .selected::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(-1 * var(--selected-panel-border-width));
    bottom: calc(-1 * var(--selected-panel-border-width));
    left: calc(-1rem - var(--selected-panel-border-width));
    right: calc(-1 * var(--selected-panel-border-width));
    background-color: var(--button-selected-background-color);
    border-radius: 0;
    border: var(--selected-panel-border-width) solid var(--selected-panel-border-color);
    border-left: none;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
