.map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    /*font-family: 'Yanone Kaffeesatz', sans-serif !important;*/
    font-weight: 200 !important;
    position: absolute !important;

    a  {
        img{
            opacity: .2;

        }
    }

}
