<!doctype html>
<html>
<head>
    <title>GEE test</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css" rel="stylesheet"
          type="text/css">
</head>
<body>
<div id="map" style="width: 100%; height: 480px;"></div>
<table width="100%">
    <tr>
        <td valign="top" width="50%">
            <form id="form">
                <p>
                    <label for="countries">Country</label><br/>
                    <select id="countries">
                        <option value="">[Please select]</option>
                        {% for country in countryNames %}
                        <option>{{ country }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <label for="from-date">From date</label><br/>
                    <input type="text" id="from-date">
                </p>

                <p>
                    <label for="to-date">To date</label><br/>
                    <input type="text" id="to-date">
                </p>

                <p>
                    <label for="target-day-of-year">Target day of year</label><br/>
                    <input type="number" id="target-day-of-year">
                </p>

                <p>
                    <label for="from-day-of-year">From day of year</label><br/>
                    <input type="number" id="from-day-of-year" value="1">
                </p>

                <p>
                    <label for="to-day-of-year">To day of year</label><br/>
                    <input type="number" id="to-day-of-year" value="365">
                </p>

                <p id="sensors">
                    <label>Sensors</label><br/>
                    <input type="checkbox" id="LANDSAT_8" checked>
                    <label for="LANDSAT_8">Landsat 8 OLI/TIRS</label><br/>

                    <input type="checkbox" id="LANDSAT_ETM_SLC_OFF">
                    <label for="LANDSAT_ETM_SLC_OFF">Landsat 7 ETM+ (SLC-off)</label><br/>

                    <input type="checkbox" id="LANDSAT_ETM">
                    <label for="LANDSAT_ETM">Landsat 7 ETM+ (SLC-on)</label><br/>

                    <input type="checkbox" id="LANDSAT_TM">
                    <label for="LANDSAT_TM">Landsat 4-5 TM</label><br/>

                    <input type="checkbox" id="LANDSAT_MSS">
                    <label for="LANDSAT_MSS">Landsat 1-5 MSS</label><br/>
                </p>

                <p>
                    <label for="years">Years</label><br/>
                    <input type="number" id="years" value="1"> year(s)
                </p>

                <p>
                    <label for="bands">Bands</label><br/>
                    <select id="bands">
                        <option value="B3, B2, B1">Natural (3, 2, 1)</option>
                        <option value="B4, B3, B2">Infrared (4, 3, 2)</option>
                        <option value="B7, B4, B3">False color (7, 4, 3)</option>
                        <option value="B7, B5, B3">False color (7, 5, 3)</option>
                        <option value="B7, B4, B2">False color (7, 4, 2)</option>
                    </select>
                </p>
                <input type="submit" value="Preview">
            </form>
            <br/>
            <div id="scenes-in-mosaic"></div>

        </td>
        <td valign="top">
            <form id="sceneIdForm">
                <p>
                    <label for="sceneIds">Scene ids</label><br/>
                    <textarea id="sceneIds" rows="20" cols="30"></textarea>
                </p>
                <input type="submit" value="Preview">
            </form>
        </td>
    </tr>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/static/script.js"></script>
</body>
</html>
