.navbarContainer {
    position: relative;
}

.navbar {
    position: absolute;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0.25rem 0 0;
    transition: all 150ms ease-in-out 200ms;
}

.navbar.floating {
    transform: translateX(-2.5rem);
    /* background-color: rgba(0, 0, 0, .2); */
}

.navbar.floating:hover {
    transform: none;
    background-color: rgba(0, 0, 0, .6);
}

.navbar > * {
    margin-bottom: 1.5rem;
}

.navbar button {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: .25rem;
    color: rgba(255, 255, 255, 0.8);
    /* --opacity: .7; */
    --opacity: .8;
    --border-opacity: 0;
}

.navbar button i {
    font-size: 1.7rem;
    vertical-align: middle;
    text-align: right;
    transition: opacity 150ms ease-in-out 200ms;
}

.navbar button:hover {
    color: white;
    cursor: pointer;
    --opacity: .5;
    /* --opacity: .9; */
}

.navbar button.active {
    --border-width: 3px;
    --border-opacity: 1;
    border-right: var(--border-width) solid transparent;
}

/* compensate icon position when border is active */
.navbar button.active i {
    margin-left: var(--border-width);
}

.navbar .lockSwitch {
    margin-left: .3rem;
    margin-bottom: 8rem;
    transition: all 150ms ease-in-out 200ms;
}

/* hide lock when bar is hidden */
.navbar.floating:not(:hover) .lockSwitch {
    opacity: 0;
}

/* hide button icons when bar is hidded */
.navbar.floating:not(:hover) button i {
    opacity: 0;
}

.navbar button.process {
    background-color: hsla(37, 27%, 39%, var(--opacity));
    border-color: hsla(37, 27%, 59%, var(--border-opacity));
}

.navbar button.browse {
    background-color: hsla(127, 6%, 30%, var(--opacity));
    border-color: hsla(127, 6%, 50%, var(--border-opacity));
}

.navbar button.terminal {
    background-color: hsla(221, 19%, 26%, var(--opacity));
    border-color: hsla(221, 19%, 46%, var(--border-opacity));
}

.navbar button.app-launch-pad {
    background-color: hsla(310, 10%, 23%, var(--opacity));
    border-color: hsla(310, 10%, 43%, var(--border-opacity));
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

.navbar .app button {
    background-color: hsla(0, 0%, 25%, var(--opacity));
    /* border-color: hsla(0, 0%, 45%, var(--border-opacity)); */
    border-color: rgb(170, 43, 43,  var(--border-opacity));
    animation: blink 150ms linear 2;
}

.app {
    position: relative;
}

.app .stop {
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem;
    border-radius: 50%;
    color: #303030;
    background-color: #a0a0a0;
    border: 1px solid #a8a8a8;
    z-index: 100;
    transition: opacity 200ms 200ms;
}

.app .stop i {
    margin-left: .05rem;
}

.app:hover .stop {
    opacity: 1;
}

.app .stop:hover {
    background-color: #d0d0d0;
    border: 1px solid #d8d8d8;
}
