.navbarContainer {
    position: relative;
}

.navbar {
    position: absolute;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    background: #28292B;
    transform: translate3d(-3.5rem, 0, 0);
    transition: all 150ms ease-in-out 200ms;
}

.locked,
.navbar:hover {
    transform: none;
    background: none;
    background: #28292B;
    /*background-color: rgba(0, 0, 0, .5);*/
}

.navbar > * {
    margin-bottom: 1.5rem;
}

.navbar button {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: .25rem;
    color: rgba(255, 255, 255, 0.8);
}

.navbar button:hover {
    border-color: white;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.navbar button i {
    font-size: 1.7rem;
    vertical-align: middle;
    text-align: right;
}

.lockSwitch {
    margin-left: .3rem;
    margin-bottom: 8rem;
    transition: all 150ms ease-in-out 200ms;
}

.unlocked:not(:hover) .lockSwitch {
    opacity: 0;
}

/* individual buttons styling */

.navbar .lock {
    background-color: rgba(49, 49, 49, 0.8);
    border-color: rgba(49, 49, 49, 0.8);
}

.navbar button.process {
    background-color: hsla(37, 27%, 39%, .8);
    border-color: hsla(37, 27%, 39%, .8);
}

.navbar button.process:hover {
    background-color: hsla(37, 27%, 39%, .3);
}

.navbar button.browse {
    background-color: hsla(127, 6%, 30%, .8);
    border-color: hsla(127, 6%, 31%, .8);
}

.navbar button.browse:hover {
    background-color: hsla(127, 6%, 30%, .3);
}

.navbar button.terminal {
    background-color: hsla(221, 19%, 26%, .8);
    border-color: hsla(221, 19%, 27%, .8);
}

.navbar button.terminal:hover {
    background-color: hsla(221, 19%, 26%, .3);
}

.navbar button.app-launch-pad {
    background-color: hsla(310, 10%, 23%, .8);
    border-color: hsla(310, 10%, 24%, .8);
}

.navbar button.app-launch-pad:hover {
    background-color: hsla(310, 10%, 23%, .3);
}

@keyframes blink {
    100% {
        opacity: 0.2;
    }
}

.app button {
    background-color: hsla(221, 19%, 26%, .8);
    border-color: hsla(221, 19%, 27%, .8);
    /*animation: blink 250ms ease-in-out alternate 10;*/
}

.app {
    position: relative;
}

.app .stop {
    position: absolute;
    right: -.8rem;
    top: -.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    opacity: 0;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1.3rem;
    border: 1px solid #52607A;
    border-radius: 50%;
    color: red;
    background-color: #384052;
    z-index: 100;
    transition: opacity .2s;
}

.app:hover .stop {
    opacity: 1;
}
