.panel {
    height: 100%;
    max-width: 71rem;
    z-index: 5;
}

.loading {
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    border-bottom: 1px solid var(--wireframe-color);
}

.scenesContainer {
    display: flex;
    flex-direction: column;
}

.scenes {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-top: 1rem;
}

.noScenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    max-width: 35rem;
    margin: auto;
    color: #ccc;
    padding: 1rem;
}

.availableScenes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.selectedScenes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 6rem;
    max-width: 18rem;
    margin-left: 2rem;
}

.grid {
    --thumbnail-size: 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--thumbnail-size));
    grid-template-rows: repeat(auto-fill, minmax(max-content, 0));;
    gap: 1rem;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    .selectedScenes {
        margin-left: .5rem;
    }
}

@media only screen and (min-width: 500px) {
    .selectedScenes .grid {
        --thumbnail-size: 6rem;
        display: flex;
        gap: 0; /* Firefox uses gap in flexboxes too... */
        flex-direction: column;
        justify-content: left;
    }
}
