.toolbar {
    --button-panel-margin: .5rem;
    --icon-size: 1.1rem;
    position: absolute;
    pointer-events: all;
    z-index: 2; /* same as panels */
}

.toolbar.horizontal {
    display: flex;
    flex-direction: row;
}

.toolbar.horizontal * + * {
    margin-left: var(--toolbar-button-spacing);
}

.toolbar.vertical {
    display: flex;
    flex-direction: column;
    z-index: 3; /* above panels, to delete button-panel border */
}

.toolbar.vertical * + * {
    margin-top: var(--toolbar-button-spacing);
}

.toolbar.horizontal.top-right {
    top: var(--toolbar-edge-margin);
    right: var(--toolbar-edge-margin);
}

.toolbar.vertical.top-right {
    top: 6rem;
    right: var(--toolbar-edge-margin);
}

.toolbar.horizontal.bottom-right {
    bottom: var(--toolbar-edge-margin);
    right: var(--toolbar-edge-margin);
}

.toolbar.vertical.bottom-right {
    bottom: 6rem;
    right: var(--toolbar-edge-margin);
}
