services:
  sepal:
    extends:
      file: ../docker-compose.logger.override.yml
      service: logger
    volumes:
      - "${SEPAL_PROJECT_DIR}/common/src:/usr/local/src/sepal/common/src"
      - "${SEPAL_PROJECT_DIR}/common/build:/usr/local/src/sepal/common/build"
      - "${SEPAL_PROJECT_DIR}/modules/sepal-server/src:/usr/local/src/sepal/modules/sepal-server/src"
      - "${SEPAL_PROJECT_DIR}/modules/sepal-server/build:/usr/local/src/sepal/modules/sepal-server/build"
    environment:
      SEPAL_HOST_PROJECT_DIR: "${SEPAL_PROJECT_DIR}"
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  socat:
    build:
      context: .
      dockerfile: Dockerfile.socat
    container_name: docker-api
    command: TCP4-LISTEN:2375,fork,reuseaddr UNIX-CONNECT:/var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "${SEPAL_IP}:2375:2375"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2375"]
      start_period: 60s
      start_interval: 1s
      interval: 20s
      timeout: 5s
      retries: 3
    networks:
      - sepal
