#
Flask>=0.12.2
Flask-Cors==3.0.3
Flask-PyMongo==0.5.1
gunicorn==19.7.1
futures==3.1.1
requests==2.20.0

pyasn1>=0.4.1
pyasn1-modules>=0.2.1
rsa==3.4.2

#
git+git://github.com/openforis/earthengine-api.git@v0.1.171.1#egg=earthengine-api&subdirectory=python
git+git://github.com/openforis/gee-gateway.git@00a27b6a1c16f20d7bc5535678d46973f159d8c6#egg=gee-gateway
