.simple {
    max-width: 20rem;
}

.advanced {
    max-width: 100rem;
}

.advancedLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'targetDate'
        'years'
        'season';
    grid-row-gap: 1rem;
}

@media (min-width: 576px) {
    .advancedLayout {
        grid-template-columns: 3rem 1fr 3rem;
        /* grid-template-areas:
            'yearsBefore targetDate yearsAfter'
            'season      season     season    '; */
        grid-template-areas:
            'targetDate  targetDate targetDate'
            'yearsBefore season     yearsAfter';
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
    }
}

.simpleLayout {
    min-height: 13rem;
}

.targetDate {
    grid-area: targetDate;
    justify-self: center;
}

.years {
    grid-area: years;
}

.yearsBefore {
    grid-area: yearsBefore;
    align-self: end;
}

.yearsAfter {
    grid-area: yearsAfter;
    align-self: end;
}

.yearsInput {
    display: flex;
    flex-direction: row;
}

.yearsInput > * + * {
    margin-left: 2rem;
}

.yearsInput input {
    width: 3rem;
    display: inline-block;
    text-align: center;
}

.yearsInput input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.season {
    grid-area: season;
}

.seasonInput {
    grid-area: seasonDatePickers;
}

@media (min-width: 768px) {
    .seasonInput {
        grid-area: seasonTimeline;
        /* padding-right: 5rem; */
        /* padding-left: 5rem; */
    }
}
