.container {
    /* section transitions */
    --transition-time: 150ms;
    --transition-delay: 75ms;

    /* footer dimensions */
    --footer-height: 1.8rem;
    --footer-handle-height: 1rem;

    /* menu dimensions */
    --menu-margin-top: 10rem;
    --menu-margin-bottom: 5rem;
    --menu-width: 2.6rem;
    --menu-handle-width: .7rem;

    position: relative;
    height: 100%;
    pointer-events: none;
}

/* fixed menu */
.container:not(.floatingMenu) {
    --menu-position: 0;
    --menu-container-width: var(--menu-width);
}

/* floating menu */
.container.floatingMenu {
    --menu-position: calc(var(--menu-handle-width) - var(--menu-width));
    --menu-container-width: var(--menu-handle-width);
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: all;
}

.menu {
    position: absolute;
    top: 0;
    left: var(--menu-position);
    height: 100%;
    width: var(--menu-width);
    padding-top: var(--menu-margin-top);
    padding-bottom: var(--menu-margin-bottom);
    z-index: 2;
    transition: all var(--transition-time) ease-in-out var(--transition-delay);
    pointer-events: all;
}

/*
    Note: left column has zero width and grid column gap is variable, as
    grid-column-gap property can be animated, while grid area width cannot.
*/

.main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-row-gap: 0;
    grid-column-gap: var(--menu-container-width);
    grid-template-areas:
        'topBar    topBar'
        'menu      body'
        'bottomBar bottomBar'
        'footer    footer';
    transition: all var(--transition-time) ease-in-out var(--transition-delay);
}

.menuContainer {
    grid-area: menu;
    width: 0;
    /* width: var(--menu-container-width); */
}

.topBar {
    grid-area: topBar;
    height: fit-content;
}

.bottomBar {
    grid-area: bottomBar;
    height: fit-content;
}

.container:not(.floatingMenu) .menu,
.menu:hover {
    left: 0;
}

.footer {
    grid-area: footer;
    height: var(--footer-height);
    transition: all var(--transition-time) ease-in-out var(--transition-delay);
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body {
    grid-area: body;
    pointer-events: none;
}

.container:not(.floatingMenu) .body {
    left: var(--menu-width);
}

@keyframes footer {
    from {
        opacity: 0;
        transform: translateY(150%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
