<div class="row row-slider p-y-1">
    <div class="col-2 offset-1 text-align-right ">
        <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
    </div>
    <div class="col-6">
        <div class="width100 m-t-1 text-align-center target-day-slider"></div>
    </div>
</div>

<div class="row row-slider p-y-1">
    <div class="col-2 offset-1 text-align-right ">
        <i class="fa fa-cloud" aria-hidden="true"></i>
    </div>
    <div class="col-6">
        <div class="width100 m-t-1 text-align-center shadow-tolerance-slider"></div>
    </div>
</div>

<div class="row row-button-options p-y-1">
    <div class="col-6 offset-3 text-align-center">
        <button class="btn btn-base round p-x-1 p-y-0-5 m-r-1" value="maskSnow">Mask snow</button>
        <button class="btn btn-base round p-x-1 p-y-0-5 m-r-1" value="brdfCorrect">brdf correction</button>
        <button class="btn btn-base round p-x-1 p-y-0-5 m-r-1" value="median">Median</button>
    </div>
</div>