<div class="row row-slider p-y-1">
    <div class="col-4 text-align-right ">
        <label class="form-label p-t-0-25">Target day weight</label>
    </div>
    <div class="col-4">
        <div class="width100 m-t-1 text-align-center target-day-weight-slider"></div>
    </div>
</div>

<div class="row row-slider p-y-1">
    <div class="col-4 text-align-right ">
        <label class="form-label p-t-0-25">Shadow tolerance</label>
    </div>
    <div class="col-4">
        <div class="width100 m-t-1 text-align-center shadow-tolerance-slider"></div>
    </div>
</div>

<div class="row row-slider p-y-1">
    <div class="col-4 text-align-right ">
        <label class="form-label p-t-0-25">Haze tolerance</label>
    </div>
    <div class="col-4">
        <div class="width100 m-t-1 text-align-center haze-tolerance-slider"></div>
    </div>
</div>

<div class="row row-button-options p-y-1">
    <div class="col-6 offset-3 text-align-center">
        <button class="btn btn-base btn-mosaic-option round p-x-1 p-y-0-5 m-r-1" value="maskClouds">Mask clouds</button>
        <button class="btn btn-base btn-mosaic-option round p-x-1 p-y-0-5 m-r-1" value="maskSnow">Mask snow</button>
        <button class="btn btn-base btn-mosaic-option round p-x-1 p-y-0-5 m-r-1" value="brdfCorrect">BRDF correction</button>
        <button class="btn btn-base btn-mosaic-option round p-x-1 p-y-0-5 m-r-1" value="median">Median</button>
    </div>
</div>