.tabContent {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.selected {
    opacity: 1;
    z-index: 1;
}

.enabled {
    display: block;
}

.disabled {
    display: none;
}
