.wrapper {
    --scaling-factor: .9 !important;
    position: absolute;
    right: 3.5rem;
    bottom: 0;
    left: 0;
}

.container {
    pointer-events: all;
    margin: auto;
    width: fit-content;
}

.panSharpen {
    display: flex;
    align-items: center;
    font-size: calc(1rem * var(--scaling-factor));
    margin-left: 1rem;
}

.selector {
    width: 17rem;
    height: 3rem;
}

.container :global .comboBox__value-container {
    padding: 8px !important;
}

.container :global .comboBox__control {
    background-color: rgba(19, 19, 20, 0.91) !important;
    border: var(--wireframe) !important;
    border-top: none !important;
    border-radius: 0 0 var(--container-border-radius) var(--container-border-radius) !important;
    height: 3rem !important;
}

.container :global .comboBox__single-value {
    width: 100%;
}

.menu :global .comboBox__menu {
    border: var(--wireframe) !important;
    border-radius: var(--container-border-radius) var(--container-border-radius) 0 0 !important;
}

.selection {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0.5rem;
    border-radius: var(--container-border-radius);
}

.selection > * {
    padding: 0.5rem 0;
}

.selectedBands {
    cursor: pointer;
    display: flex;
    justify-content: center;
    /*margin-top: 1rem;*/
}

.selectedBands > * {
    padding: 0 .5rem;
    border-radius: .25rem;
    color: var(--button-default-color);
}

.selectedBands > *:not(:last-child) {
    margin-right: .5rem;
}

.selectedBands:hover > * {
    color: var(--button-default-hover-color);
}

.red {
    background-color: hsla(0, 50%, 20%, 0.8);
    border: 1px solid hsla(0, 50%, 21%, 0.8)
}

.selectedBands:hover > .red {
    background-color: hsla(0, 50%, 25%, 0.8);
}

.green {
    background-color: hsla(120, 50%, 15%, 0.8);
    border: 1px solid hsla(120, 50%, 16%, 0.8)
}

.selectedBands:hover > .green {
    background-color: hsla(120, 50%, 20%, 0.8);
}

.blue {
    background-color: hsla(240, 50%, 35%, 0.8);
    border: 1px solid hsla(240, 50%, 36%, 0.8)
}

.selectedBands:hover > .blue {
    background-color: hsla(240, 50%, 43%, 0.8);
}

.single {
    background-color: hsla(0, 0%, 50%, 0.8);
}