.container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    padding-top: 5rem;
}

.status {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.6);
    width: max-content;
    margin: auto;
    font-size: .9rem;
    font-family: var(--header-font-family);
    text-transform: uppercase;
    padding: .3rem 1rem;
    border-radius: .5rem;
}

.status i {
    margin-right: 0.5rem;
}

.status * {
    display: inline-block;
}

.initializing {

}
.failed {
    margin-left: 0.5rem;
    color: #e81351;
}