.mosaic {
    --selected-panel-border-width: 1px;
    --selected-panel-border-color: rgba(100%, 100%, 100%, .1);
}

.mapToolbar {
    position: absolute;
    top: 1rem;
    right: 6rem;
}

.mosaicToolbar {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    right: .5rem;
}
