.toolbar {
    --button-size: 2.6rem;
    --icon-size: 1.2rem;
    --default-color: rgba(255, 255, 255, .6);
    --default-background-color: hsla(37, 27%, 39%, .4);
    --hover-color: rgba(255, 255, 255, .8);
    --hover-background-color: hsla(37, 27%, 39%, .2);
    --selected-color: rgba(255, 255, 255, 1);
    --selected-background-color: hsla(37, 27%, 39%, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: var(--button-size);
}

.toolbar.action {
    display: flex;
    flex-direction: column;
}

.toolbar.configuration {
    display: flex;
    flex-direction: column;
}

.toolbar button {
    position: relative;
    width: var(--button-size);
    height: var(--button-size);
    border: none;
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: 0;
    color: var(--default-color);
    background-color: var(--default-background-color);
    cursor: pointer;
}

.toolbar button svg {
    font-size: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: middle;
}

.toolbar button:hover {
    color: var(--hover-color);
    background-color: var(--hover-background-color);
}

.toolbar .selected {
    color: var(--selected-color);
    background-color: var(--selected-background-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



.toolbar .selected:hover {
    color: var(--selected-color);
    background-color: var(--selected-background-color);
}

.toolbar .selected::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: -.9rem;
    right: var(--button-size);
    background-color: var(--selected-background-color);
    border-radius: 0;
    border: none;
}
