.panel {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    background-color: hsla(37, 27%, 39%, .1);
    /*border: 1px solid hsla(0,0%,100%,.05);*/
    border-radius: 1rem;
    pointer-events: all;
}