.sceneAreas * {
    user-select: none;
}

.sceneArea circle {
    fill: #000000;
    fill-opacity: 0.4;
    stroke: #636363;
    stroke-opacity: 0.6;
    stroke-width: 2px;
}

.sceneArea:hover circle  {
    fill-opacity: 0.6;
    stroke-opacity: 0.8;
}

.sceneArea text {
    fill: #CCC;
}

.sceneArea:hover text {
    fill: #FFF;
}