.toolbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 150ms ease-in-out 0ms;
    font-size: inherit;
}

.toolbar button {
    position: relative;
    width: var(--button-size);
    height: var(--button-size);
    border: none;
    border-radius: .25rem;
    color: rgba(255, 255, 255, 0.8);
    --opacity: .6;
    --border-opacity: 0;
    margin-bottom: .5rem;
}

.toolbar button svg {
    font-size: 1rem;
    vertical-align: middle;
    transition: opacity 150ms ease-in-out 200ms;
}

.toolbar button:hover {
    color: white;
    cursor: pointer;
    --opacity: .3;
}

.toolbar button.active {
    --border-width: 3px;
    --border-opacity: 1;
    border-right: var(--border-width) solid transparent;
}

/* compensate icon position when border is active */
.toolbar button.active svg {
    margin-left: var(--border-width);
}

/* hide button icons when bar is hidded */
.toolbar.floating:not(:hover) button svg {
    opacity: 0;
}

.toolbar button {
    background-color: hsla(37, 27%, 39%, var(--opacity));
    border-color: hsla(37, 27%, 59%, var(--border-opacity));
}
