{% extends "layout.html" %}
{% block body %}

<style type="text/css">

    .plots, .plots svg {
        position: absolute;
        color: red;
    }

    .plots svg {
        width: 60px;
        height: 20px;
        padding-right: 100px;
        font: 12px sans-serif; }

    .plots .marker circle {
        fill: red;
        stroke: black;
        stroke-width: 1px;
    }

    .plots .marker circle:hover {
        fill: orange;
        cursor: pointer;
    }

    .plots .marker text {
        fill: black;
    }

    html {
        height: 100%;
        width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
    }

    #map {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }

</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div id="map"></div>
            <div id="gee-gateway">
                <div class="form-group">
                    <label>ImageCollection</label>
                    <select class="form-control" name="collectionName">
                        <option value="" selected>CHOOSE A COLLECTION</option>
                        <option value="LANDSAT/LE7_L1T_ANNUAL_GREENEST_TOA">LANDSAT/LE7_L1T_ANNUAL_GREENEST_TOA</option>
                        <option value="LANDSAT/LC8_L1T_ANNUAL_GREENEST_TOA">LANDSAT/LC8_L1T_ANNUAL_GREENEST_TOA</option>
                        <option value="LANDSAT/LC8_L1T_32DAY_TOA">LANDSAT/LC8_L1T_32DAY_TOA</option>
                        <option value="LANDSAT/LC8_L1T_TOA">LANDSAT/LC8_L1T_TOA</option>
                    </select>
                    <button type="button" class="btn btn-primary" id="filter">Filter</button>
                </div>
            </div>
        </div>
        <div class="col-3" style="color: red;">
            <div id="list" class="list-group"></div>
        </div>
        <div class="col-3">
            <div id="codeLists" style="display: none;">
                <input type="hidden" name="id" />
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        var cepSepalApiUrl = 'http://127.0.0.1:7766/api';
        var geeGatewayApiUrl = 'http://127.0.0.1:8888';

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        var project_id = $.urlParam('id');

        d3.xml('/api/project/' + project_id + '/file/placemark.idm.xml', function(xhr) {
            var codeLists = $(xhr).children('survey').children('codeLists').children();
            codeLists.each(function(i) {
                var list = $(this);
                var element = $('<div>').addClass('form-group');
                var label = $('<label>').text(list.attr('name'));
                element.append(label);
                var select = $('<select>').addClass('form-control').attr('data-record-name', list.attr('name'));
                list.children('items:first').children().each(function(k) {
                    var item = $(this);
                    var text = $(item).children('label:first').text();
                    var option = $('<option>').text(text);
                    select.append(option);
                });
                element.append(select);
                $('#codeLists').prepend(element);
            });
        });

//

        var records = {};
        var project_id = $.urlParam('id');
        var record_id = $(this).attr('data-id');

        function getRecords() {
            $.ajax({
                url: cepSepalApiUrl + "/record/project_id/" + project_id + "/username/" + '{{username}}',
                method: 'get',
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                records = data;
                $.each(records, function(key, value) {
                    $('#list a[data-record-name="' + value.record_name +'"]').addClass('evaluated');
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

//

        var map;
        var overlay;
        var layer;
        var bounds = 8;

//

        d3.csv('/api/project/' + project_id + '/file/test_plots.ced', function(d) {
            var li = $('<a>').attr("href", "#").addClass("list-group-item list-group-item-action").html(d.id).attr('data-record-name', d.id).click(function() {
                var record_name = $(this).attr('data-record-name');
                $(this).siblings().removeClass("active");
                $(this).addClass("active");
                map.setCenter(new google.maps.LatLng(d.YCoordinate, d.XCoordinate));
                $('#codeLists input[name="id"]').val(0);
                record = $.grep(records, function(e) { return e['record_name'] == record_name; });
                if (record[0] !== undefined) {
                    var id = record[0]['id'] !== undefined ? record[0]['id'] : 0;
                    $('#codeLists input[name="id"]').val(id);
                    var values = record[0]['record_value'];
                    $.each(JSON.parse(values), function(key, value) {
                        $('#codeLists select[data-record-name="' + key +'"]').val(value);
                    });
                }
                $('#codeLists').show();
            });
            $('#list').append(li);
            return {
                id: d.id,
                XCoordinate: parseFloat(d.XCoordinate),
                YCoordinate: parseFloat(d.YCoordinate)
            };
        }, function(data) {

            getRecords();

            function initialize() {
                options  = { 
                    zoom: 8,
                    center: new google.maps.LatLng(0, 0),
                    disableDefaultUI: false,
                    streetViewControl: false,
                    mapTypeId: 'satellite',
                    styles: [{
                        featureType: "water",
                        elementType: "labels",
                        stylers: [{
                            visibility: "off"
                        }]
                    }]
                };
                map = new google.maps.Map(d3.select("#map").node(), options);
                var initial = true;
                google.maps.event.addListener(map, "zoom_changed", function() {
                    if (initial == true){
                       if (map.getZoom() > 8) {
                         map.setZoom(8);
                         initial = false;
                       }
                    }
                });
                bounds = new google.maps.LatLngBounds(new google.maps.LatLng(-4.998422, 151.358785));
                overlay = new google.maps.OverlayView();
                overlay.onAdd = function() {
                    layer = d3.select(this.getPanes().overlayMouseTarget).append("div").attr("class", "plots");
                }
            }

            function add(data) {
                overlay.draw = function() {
                    var projection = this.getProjection(), padding = 10;
                    var marker = layer.selectAll("svg")
                        .data(d3.entries(data)).each(transform)
                        .enter().append("svg:svg")
                        .each(transform)
                        .attr("class", "marker");
                    // Add a circle.
                    marker.append("svg:circle")
                        .attr("r", 4.5)
                        .attr("cx", padding)
                        .attr("cy", padding)
                        .on("click", function(d) {
                            $('#list a[data-record-name=' + d.value.id +']').click();
                        });
                    // Add a label.
                    marker.append("svg:text")
                        .attr("x", padding + 7)
                        .attr("y", padding)
                        .attr("dy", ".31em")
                        .text(function(d) {
                            return d.value.id;
                        });
                    function transform(d) {
                        d = new google.maps.LatLng(Number(d.value.YCoordinate), Number(d.value.XCoordinate));
                        bounds.extend(d);
                        d = projection.fromLatLngToDivPixel(d);
                        return d3.select(this).style("left", (d.x - padding) + "px").style("top", (d.y - padding) + "px");
                    }
                };
                overlay.setMap(map);
                map.panToBounds(bounds);
                map.fitBounds(bounds);
            }

            initialize();
            add(data);

        });

        $('#codeLists button').click(function(e) {
            e.preventDefault();
            var record_name = $('#list a.active').attr('data-record-name');
            var record_value = {};
            $('#codeLists select').each(function() {
                record_value[$(this).attr('data-record-name')] = $(this).val();
            });
            var project_id = $.urlParam('id');
            var record = {
                record_name: record_name,
                record_value: record_value,
                project_id: project_id
            }
            var url = cepSepalApiUrl + '/record';
            var method = 'post';
            var record_id = $('#codeLists input[name="id"]').val();
            if (record_id != 0) {
                url =  cepSepalApiUrl + '/record/' + record_id;
                method = 'put';
            }
            $.ajax({
                url: url,
                method: method,
                data: JSON.stringify(record),
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                getRecords();
                var nextFromActive = $('#list a.active').next(':not(.evaluated)');
                if (nextFromActive.length != 0) {
                    nextFromActive.click();
                } else {
                    var nextFromStart = $('#list a:not(.evaluated)').first();
                    if (nextFromStart.length != 0) {
                        nextFromStart.click();
                    }
                }
                console.log(data);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        });



        $('#filter').click(function(e) {
            e.preventDefault();
            var collectionName = $("select[name='collectionName']").val();
            var visParams = {
                min: "0",
                max: "0.3",
                bands: "B1,B2,B3"
            };
            var dateFrom = "2014-01-01";
            var dateTo = "2016-01-01";
            $.ajax({
                url: 'http://localhost:8888/imageByMosaicCollection',
                type: 'POST',
                async: false,
                crossDomain : true,
                contentType: 'application/json',
                data: JSON.stringify({
                    //imageName: imageName,
                    collectionName: collectionName,
                    visParams, visParams,
                    dateFrom: dateFrom,
                    dateTo: dateTo,
                    //collectionNameTimeSeries: collectionNameTimeSeries,
                    //indexName: indexName,
                    //polygon: JSON.parse(polygon),
                    //scale: scale,
                    //dateToTimeSeries: dateToTimeSeries,
                    //dateFromTimeSeries: dateFromTimeSeries
                })
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }).done(function(data, textStatus, jqXHR) {
                if (data.errMsg) {
                    alert(data.errMsg);
                } else {
                    //
                    var mapId = data.mapid;
                    var token = data.token;
                    //
                    var eeMapOptions = {
                        getTileUrl: function(tile, zoom) {
                          var baseUrl = 'https://earthengine.googleapis.com/map';
                          var url = [baseUrl, mapId, zoom, tile.x, tile.y].join('/');
                          url += '?token=' + token;
                          return url;
                        },
                        tileSize: new google.maps.Size(256, 256)
                    };
                    // Create the map type.
                    var mapType = new google.maps.ImageMapType(eeMapOptions);
                    // Create the base Google Map.
                    google.maps.event.trigger(map, 'resize');


console.log(222, map);

                    // Add the EE layer to the map.
                    map.overlayMapTypes.pop();
                    map.overlayMapTypes.push(mapType);
                    //
                    //var lat = $("input[name='lat']").val();
                    //var lng = $("input[name='lng']").val();
                    //var myLatLng = new google.maps.LatLng(lat, lng);
                    //map.panTo(myLatLng);
                }
            });
        });





    });


</script>

{% endblock %}
