**

!lib/
!modules/**/
!common/
!common-test/

**/node_modules/
**/build
modules/gui/dist

modules/**/binary
modules/**/build
modules/**/target

!build.gradle
!settings.gradle
!modules/**/build.gradle

.DS_Store
.node-xmlhttprequest-*