**

!lib/
!modules/**/
!common/
!common-test/

**/node_modules/
**/build

modules/**/binary
modules/**/build
modules/gui/frontend/node_modules
modules/**/target

!build.gradle
!settings.gradle
!modules/**/build.gradle
