#IntelliJ
*.iml
.idea/

#Maven
target

#Eclipse
.classpath
.project
.settings

#Sepal binaries
/modules/task-executor/docker/binary/task-executor.jar
/modules/ssh-gateway/docker/binary/sepal-ssh-gateway.jar
/modules/user/docker/binary/sepal-user.jar
/modules/sepal-server/docker/binary/sepal.jar
/modules/gui/docker/binary/sepal-gui.jar
/modules/api-gateway/docker/binary/sepal-api-gateway.jar

#Sepal frontend
/modules/gui/frontend/dist/
/modules/gui/frontend/node/
/modules/gui/frontend/node_modules/

#Vagrant
.vagrant

#Ansible
*.retry

#JRE error
*.log

#Python
*.pyc
