body {
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: rgba(17,18,21,.9);
}

navbar-inverse {
    background-color: rgba(17,18,21,.9);
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.modal {
    color: black;
}

#list a.evaluated {
    background-color: #dff0d8;
}

.card-inverse {
    background-color: #333;
    border-color: #333;
    margin-bottom: 1rem;
}

.card-header {
    font-size: 1.6rem;
}

/* */

html, body, #gmap, #lmap {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.map-control {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
}

.map-control.map-control-left {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999;
}

.map-control select {
    background-color: #fff;
    border: 2px solid;
    border-radius: 25px;
}

.map-control button {
    background-color: #fff;
    border: 2px solid;
    border-radius: 25px;
}

#collect {
    width: 40%;
    height: calc(100% - 56px);
    position: relative;
    float: left;
}

#list {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.dgcs-iframe {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.subform-template .card-block .form-group:last-of-type {
    margin-bottom: 0px;
}

#peatlands-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "maps charts";
    height: calc(100% - 56px);
}

#maps {
    grid-area: maps;
    position: relative;
}

#charts-container {
    grid-area: charts;
}

#charts-container {
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    padding: 0 1rem;
}

#charts-container .chart-box {
    position: relative;
    width: 100%;
    height: 100%;
}

#charts-container .chart-box .chart {
    position: absolute;
    width: 100%;
    height: calc(100% - 1rem);
}

#charts-container .chart-box .selector-control {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    border: 2px solid;
    border-radius: 25px;
    z-index: 9999;
}
