html {
    --header-font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

    --wireframe: 1px solid var(--wireframe-color);

    --button-border-radius: .2rem;
    --container-border-radius: .4rem;
    --section-border-radius: .3rem;

    --selected-panel-border-width: 1px;
    --selected-panel-border-color: var(--wireframe-color);

    --base-font-size: 14px;
    font-size: var(--base-font-size);
}

body, input, textarea, select, button, a, label {
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    color: var(--text-strong-color);
}

:focus, :active, :focus:active {
    outline: 0 !important;
}

a, a:not([href]):not([tabindex]) {
    color: var(--link-default-color);
    font-size: .9rem;
}

a:hover, a:hover:not([href]):not([tabindex]) {
    text-decoration: none;
    cursor: pointer;
    color: var(--link-hover-color);
    opacity: 1;
}

sub {
    font-size: .75rem;
}

.app {
    height: 100%;
    overflow: hidden;
}

.portalTarget > * {
    z-index: 999999 !important;
}

.itemType {
    font-size: .8rem;
    font-weight: 800;
    opacity: .6;
    text-transform: uppercase;
}

.gm-style-cc {
    height: 20px !important;
    line-height: 20px !important;
    margin-bottom: .25rem;
}

.gm-style-cc * {
    color: var(--text-strong-color) !important;
    background-color: transparent !important;
}

/* Remove <input type="number"> controls */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

