.top, .bottom {
    --btn-def-h: 37;
    --btn-def-s: 27%;
    --btn-def-l: 25%;
    --btn-def-a: .9;

    --btn-sel-h: 40;
    --btn-sel-s: 8%;
    --btn-sel-l: 15%;
    --btn-sel-a: .95;

    --btn-dis-h: 37;
    --btn-dis-s: 10%;
    --btn-dis-l: 20%;
    --btn-dis-a: .9;
}

.top {
    margin-top: 3rem;
}

.bottom {
    margin-bottom: 3rem;
}