    global
        maxconn  4096
        ulimit-n 65536
        log /dev/log local0
        tune.ssl.default-dh-param 2048

    defaults
        log global
        option abortonclose
        retries 3
        mode http

        # frontend
        timeout client 10s
        timeout client-fin 10s
        timeout http-request 10s

        # backend
        timeout connect 5s
        timeout server 2h
        timeout tunnel 2h

    frontend sepal-frontend
        bind *:80
        bind *:443 ssl crt /etc/sepal/sepal.pem alpn h2,http/1.1

        http-request set-header X-Forwarded-Proto https if { ssl_fc }

        # Make insecure cookies Secure and SameSite - these are the ones coming from the Groovy Servers
        http-response replace-header Set-Cookie ^((?:.(?!\ [Ss]ecure))*)$ \1;\ Secure;SameSite=Strict

        # Redirect if HTTPS is *not* used
        redirect scheme https code 301 if !{ ssl_fc }

        use_backend gateway-backend if { path_beg /api/ }

        default_backend gui-backend

    backend gateway-backend
        compression algo gzip
        compression type text/plain text/html text/css text/javascript application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss

        server gateway gateway:8001 check inter 3s fall 1 rise 1

    backend gui-backend
        compression algo gzip
        compression type text/plain text/html text/css text/javascript application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss

        server gui gui:3000 check inter 3s fall 1 rise 1
