.form input {
    font-size: 1.2rem;
}

.instructions {
    color: var(--text-soft-color);
    line-height: 1.5rem;
    font-weight: lighter;
    padding-left: 1rem;
    border-left: .25rem solid var(--bar-border-color);
}
