.form input {
    font-size: 1.2rem;
}

.instructions {
    color: #bbb;
    line-height: 1.5rem;
    font-weight: lighter;
    padding-left: 1rem;
    border-left: .25rem solid rgba(255, 255, 255, .2);
}
