.container {
    --primary-text-color: #white;
    --secondary-text-color: #c7cacc;
    --backdrop-color: rgba(187, 192, 195, 0.05);

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font: 1rem sans-serif;
}

.landing {
    margin: .5rem;
    border-radius: 1.5rem;
    color: var(--primary-text-color);
    background-color: var(--backdrop-color);
    overflow: hidden;
}

/* grid and animations */

.tagline {
    grid-area: tagline;
    animation: tagline 500ms 250ms ease-in-out both;
}

@keyframes tagline {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.title {
    grid-area: title;
    animation: title 1000ms 0ms ease-in-out both;
}

@keyframes title {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.language {
    grid-area: language;
    animation: language 250ms 1000ms ease-in-out both;
    justify-self: right;
    /* opacity: .75; */
}

.language button:disabled {
    color: var(--look-default-color) !important;
}

@keyframes language {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.features {
    grid-area: features;
    animation: features 1000ms 0ms ease-in-out both;
}

@keyframes features {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.credentials {
    grid-area: credentials;
    animation: credentials 500ms 500ms ease-in-out both;
}

@keyframes credentials {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
}

.privacy {
    grid-area: privacy;
    animation: privacy 1000ms ease-in-out both;
    justify-self: right;
    opacity: .7;
}

@keyframes privacy {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* Features */

.features {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

/* large displays */
@media screen and (min-width: 1000px) {
    .landing {
        width: 65rem;
        height: 45rem;
        display: grid;
        grid-template-columns: 1fr .75fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            'tagline  title       language'
            'features credentials credentials'
            'features privacy     privacy';
        grid-gap: 3rem;
        padding: 3rem 4rem 2rem;
    }

    .credentials {
        /* padding-bottom: 3rem; */
    }
}

/* medium displays (smartphones, tablets) */
@media screen and (max-width: 1000px) {
    .landing {
        width: 25rem;
        height: 45rem;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            'title       language'
            'tagline     tagline'
            'credentials credentials'
            'privacy     privacy';
        grid-gap: 2rem;
        padding: 1.5em 2rem 1rem;
    }

    .title {
        font-size: 3rem;
    }

    .features {
        display: none;
    }

    .credentials {
        padding-bottom: 0rem;
    }

    .privacy {
        justify-self: left;
    }
}

/* small displays (e.g. iPhone 5) */
@media screen and (max-width: 350px) {
    .landing {
        padding: 1rem;
    }
}
