.panel {
    --margin-right: 0.5rem; /* There is no toolbar - make margin-right shorter than the default centered panel */
    width: 45rem;
    height: 80vh;
}

.header {
    margin-bottom: 1rem;
}

.beta {
    margin-left: .5rem;
    font-size: .7rem;
    color: var(--warning-color);
}
