.menu, .group ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.groupLabel {
    color: gray;
    margin-top: 1rem;
    margin-left: 3rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.separator {
    background-color: var(--wireframe-color);
    height: 2px;
}
