<!--<div class="row height100" id="browse">-->
<div class="width100 height100" id="browse">
    <!--<div class="col-sm-12 height100">-->

        <div class="row no-margin height10 browse-header-row">
            <div class="col-sm-2 filters-container p-t-0-5 height90 text-align-center">
                <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
                <button class="btn btn-base circle btn-filter-images">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-sm-4 offset-sm-4 height90 p-t-1 text-align-right filename-container filename">

            </div>
            <div class="col-sm-2 p-t-0-5 height90 buttons-container text-align-left">
                <button class="btn btn-base circle btn-download">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>

                <button class="btn btn-base circle btn-delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <button class="btn btn-base circle btn-add-to-map">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </button>

            </div>
        </div>

        <div class="height90 browse-content-row">

        </div>
        <!--<table class="width100 height90 " style="table-layout:fixed;">-->
            <!--<tr class="browse-content-row height100">-->

            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
</div>