<!--<div class="row height100" id="browse">-->
<div class="width100 height100" id="browse">
    <!--<div class="col-sm-12 height100">-->

        <div class="row height10 browse-header-row">
            <div class="col-sm-12 text-align-center">
                <button class="btn btn-base round icon btn-download">
                    <i class="fa fa-download" aria-hidden="true"></i> -
                </button>
            </div>
        </div>

        <div class="height90 browse-content-row">

        </div>
        <!--<table class="width100 height90 " style="table-layout:fixed;">-->
            <!--<tr class="browse-content-row height100">-->

            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
</div>