#browse .btn-download {
    padding-top: 1rem;
    /*display: none;*/
    padding-bottom: 1rem;
    text-transform: none;
    max-width: 90%;
    text-overflow: ellipsis;
}

#browse .btn-download:disabled {
    opacity: .5;
}

#browse .browse-content-row {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: .5rem;
}

#browse .browse-content-row > .level {
    display: inline-block;
    /*padding: 0px 16px;*/
    border-right: 2px solid rgba(255, 255, 255, 0.25);

    /*float: left;*/
    width: 25%;

    /*resize: horizontal;*/
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    vertical-align: top;
}

#browse .dir-header > div {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.03);
    padding-top: .4rem;
}

#browse .dir-content {
    overflow-y: auto;
    overflow-x: hidden;
}

#browse .dir-child {
    max-height: 2rem;
}

#browse .dir-child.hidden-file {
    display: none;
}

#browse .dir-child:hover,
#browse .dir-child.active {
    background-color: rgba(255, 255, 255, .2);
}

#browse .dir-child:hover {
    cursor: pointer;
}

#browse .dir-child > div {
    display: inline-block;
    padding-left: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*#browse .dir-child .file-name {*/
/*text-overflow: ellipsis;*/
/*}*/
