.panel {
    min-height: 20rem;
    max-width: 21rem;
}

.value {
    width: 1.5rem;
}

.value input {
    padding: 0;
    text-align: right;
}

.color input {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    padding: 0;
}