set daemon 60 with start delay 300

set log /var/log/monit.log

set mailserver {{ lookup('env', 'SMTP_HOST') }} port {{ lookup('env', 'SMTP_PORT') }}
        username {{ lookup('env', 'SMTP_USERNAME') }} password {{ lookup('env', 'SMTP_PASSWORD') }}
        using TLS with timeout 30 seconds

set mail-format { from: monit@{{ lookup('env', 'SEPAL_HOST') }} }

set alert {{ lookup('env', 'SEPAL_MONITORING_EMAIL') }} but not on { resource }
