set daemon 30 with start delay 300

set log /var/log/monit.log

set mailserver {{ smtp_host }} port {{ smtp_port }}
        username {{ smtp_username }} password {{ smtp_password }}
        using TLSV1 with timeout 30 seconds

set mail-format { from: {{ smtp_from }} }

set alert {{ sepal_monitoring_email }}
