button.default {
    border: 2px solid hsla(0, 0%, 100%, .25);
    border-radius: 50px;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1rem;
    height: 2.4rem;
    padding: 0 1.5rem;
    cursor: pointer;
}

button.default:hover {
    background-color: hsla(0, 0%, 100%, .1);
    border: 2px solid hsla(0, 0%, 100%, .25);
}

button.default:active {
    background-color: hsla(0, 0%, 100%, .15);
    border: 2px solid hsla(0, 0%, 100%, .40);
}

button.default:focus {
    border: 2px solid hsla(0, 0%, 100%, .35);
}

button.default:disabled {
    background-color: hsla(0, 0%, 100%, .15);
    border: 2px solid hsla(0, 0%, 100%, .15);
    color: hsla(0, 0%, 100%, .40);
    cursor: not-allowed;
}

button.default i {
    font-size: 1rem;
    margin-right: .3rem;
}

button.submit {
    padding: 1rem 3rem 1rem 3.5rem;
    height: 3rem;
}

button.submit i {
    font-size: 1.5rem;
}

button.icon {
    height: 3rem;
    width: 3rem;
    padding: 0;
    border: none;
    background-color: hsla(240, 9%, 89%, .1);

}

button.icon i {
    font-size: 1.3rem;
    margin: 0;
}

button.icon:hover {
    border: none;
    background-color: hsla(0, 0%, 100%, .15);
}

button.icon:active {
    border: none;
    background-color: hsla(0, 0%, 100%, .20) !important;
}

button.icon:focus {
    border: none;
    background-color: hsla(0, 0%, 100%, .15);
}

button.icon:disabled {
    border: none;
}