button.default {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid hsla(0, 0%, 100%, .25);
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1rem;
    position: relative;
    height: 2.4rem;
    padding: 0 1.5rem 0 2.2rem;
    cursor: pointer;
    opacity: .8;
}

button.default:hover {
    background-color: hsla(0, 0%, 100%, .1);
    border: 2px solid hsla(0, 0%, 100%, .25);
}

button.default:active {
    background-color: hsla(0, 0%, 100%, .15);
    border: 2px solid hsla(0, 0%, 100%, .40);
}

button.default:focus {
    border: 2px solid hsla(0, 0%, 100%, .35);
}

button.default:disabled {
    background-color: hsla(0, 0%, 100%, .15);
    border: 2px solid hsla(0, 0%, 100%, .15);
    color: hsla(0, 0%, 100%, .40);
    cursor: not-allowed;
}

button.default .buttonIcon {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 1rem;
    font-size: 1rem;
}


button.submit {
    padding: 1rem 3rem 1rem 3.5rem;
    height: 3rem;
}

button.submit .buttonIcon {
    left: 1.5rem;
    font-size: 1.5rem;
}

button.icon {
    height: 3rem;
    width: 3rem;
    padding: 0;
    border: none;
    background-color: hsla(240,9%,89%,.1);
}

button.icon .buttonIcon {
    left: 25%;
    font-size: 1.3rem;
}

button.icon:hover {
    border: none;
    background-color: hsla(0, 0%, 100%, .15);
}

button.icon:active {
    border: none;
    background-color: hsla(0, 0%, 100%, .20) !important;
}

button.icon:focus {
    border: none;
    background-color: hsla(0, 0%, 100%, .15);
}

button.icon:disabled {
    border: none;
}