.input {
    --height: 10rem;
    --column-width: 3.5rem;
    --line-height: 1.5rem;
    position: relative;
    width: calc(8.5rem * var(--scaling-factor));
    /*width: calc(var(--column-width) * 3);*/
}

.input input {
    margin: 0;
    display: inline-block;
}

.input i {
    margin-left: -1rem;
    cursor: pointer;
}

.input i:hover {
    color: #c8c8c8;
}

.input i:active {
    color: #a0a0a0;
}

.date {
    padding: .3rem .5rem;
    cursor: pointer;
}

.control {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    z-index: 100;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(19, 19, 20, 0.91);
    border: 1px solid rgba(32, 32, 33, 0.91);

}

.picker {
    grid-column: 2;
    grid-row: 2;
    height: var(--height);
    background: #202020;
    color: white;
    display: flex;
    flex-direction: row;
    transition: margin 200ms ease-in-out;
    line-height: var(--line-height);
}

.picker ul {
    width: var(--column-width);
    margin: 0;
    padding: calc(.5 * var(--height)) 0;
    list-style: none;
    overflow-y: scroll;
}

.picker ul::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.picker ul li {
    padding: .5rem;
    color: #a0a0a0;
    text-align: center;
    cursor: pointer;
}

.date,
.picker ul li.selected {
    background-color: rgba(255, 0, 0, .2);
    /* color: white; */
}

.date:hover,
.picker ul li.highlighted {
    color: white;
    background-color: rgba(255, 0, 0, .5);
}

.picker ul li:hover {
    color: white;
    /* background-color: rgb(255, 0, 0, .5); */
}
