.date {
    padding: .3rem .5rem;
    cursor: pointer;
}

.container {
    --height: 10rem;
    --column-width: 3.5rem;
    --line-height: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    z-index: 100;
}

.picker {
    grid-column: 2;
    grid-row: 2;
    height: var(--height);
    background: #202020;
    color: white;
    display: flex;
    flex-direction: row;
    transition: margin 200ms ease-in-out;
    line-height: var(--line-height);
}

.picker ul {
    width: var(--column-width);
    margin: 0;
    padding: calc(.5 * var(--height)) 0;
    list-style: none;
    overflow-y: scroll;
}

.picker ul::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.picker ul li {
    padding: .5rem;
    color: #a0a0a0;
    text-align: center;
    cursor: pointer;
}

.date,
.picker ul li.selected {
    background-color: rgba(255, 0, 0, .2);
    /* color: white; */
}

.date:hover,
.picker ul li.highlighted {
    color: white;
    background-color: rgba(255, 0, 0, .5);
}

.picker ul li:hover {
    color: white;
    /* background-color: rgb(255, 0, 0, .5); */
}
