
button.menu {
    --button-size: 2.5rem;
    --icon-size: 1.1rem;

    width: var(--button-size);
    height: var(--button-size);
    border: var(--selected-panel-border-width) solid transparent;
    padding: 0;
    color: #afaeae;
}

button.menu:hover {
    color: var(--button-default-hover-color);
    background-color: #2B2B29;
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.open {
    color: var(--button-default-hover-color);
    background-color: var(--wireframe-color);
    border-radius: var(--button-border-radius);
    border-bottom-right-radius: unset;
}

button.menu:active {
    color: var(--button-default-active-color);
    background-color: #2f2f2f;
}

button.menu svg {
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: middle;
    font-size: var(--icon-size);
}

.list {
    pointer-events: all;
    position: absolute;
    z-index: 999;
    background-color: rgba(26, 26, 27, 0.91) !important;
    border: var(--wireframe) !important;
    border-radius: var(--container-border-radius);
    border-top-right-radius: unset;
    list-style-type: none;
    padding: 0;
}

.menuItem {
    font-size: 0.8rem;
    padding: 1rem;
}

.menuItem:hover {
    background-color: hsl(var(--selected-hue), var(--selected-sat), 26%) !important;
}

.captureClicks {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: all;
    z-index: 998;
}