.container {
    --container-height: 2rem;
    --slider-size: 1px;
    --handle-height: 1.5rem;
    --handle-width: 1.5rem;
    --handle-radius: 100%;
    --axis-color: hsl(0, 0%, 40%);
    --tick-half-height: .4rem;
    width: 100%;
    height: var(--container-height);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: 0 calc(var(--handle-width) / 2);
}

.slider {
    position: relative;
    width: 100%;
    height: var(--slider-size);
}

.axis {
    background-color: var(--axis-color);
    height: 1px;
}

.tick {
    position: absolute;
}

.tick:before {
    content: '';
    position: absolute;
    background-color: var(--axis-color);
    width: 1px;
    top: calc(-1* var(--tick-half-height));
    bottom: calc(-1* var(--tick-half-height) - 1px);
}

.tick:after {
    content: '';
    position: absolute;
    top: calc((var(--handle-height) - var(--slider-size)) / -2);
    margin-left: calc((var(--handle-width)) / -2);
    height: var(--handle-height);
    width: var(--handle-width);
    border: none;
    border-radius: var(--handle-radius);
    cursor: pointer;
    z-index: 10;
}

.tick:hover:after {
    border: var(--button-selected-hover-border);
}

.handle {
    position: absolute;
    top: calc((var(--handle-height) - var(--slider-size)) / -2);
    margin-left: calc((var(--handle-width)) / -2);
    height: var(--handle-height);
    width: var(--handle-width);
    border-radius: var(--handle-radius);
    background-color: var(--button-selected-background-color);
    border: var(--button-selected-border);
    cursor: pointer;
    text-align: center;
    font-size: calc(var(--handle-height) * .6);
    line-height: var(--handle-height);
    z-index: 10;
}

.handle:hover {
    background-color: var(--button-selected-hover-background-color);
    border: var(--button-selected-hover-border);
}

.range {
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    bottom: -1px;
}

.leftRange {
    /*background-color: rgba(0, 255, 0, .5);*/
}

.rightRange {
    background-color: var(--button-selected-background-color);
}

.cursorOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
}