.container {
    --container-size: 1.5rem;
    --slider-size: 1px;
    --handle-height: 1.5rem;
    --handle-width: 3rem;
    --handle-radius: .5rem;
    width: 100%;
    height: var(--container-size);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: 0 calc(var(--handle-width) / 2);
}

.slider {
    position: relative;
    width: 100%;
    height: var(--slider-size);
    background-color: rgb(222, 222, 222);
}

.handle {
    position: absolute;
    top: calc((var(--handle-height) - var(--slider-size)) / -2);
    margin-left: calc((var(--handle-width)) / -2);
    height: var(--handle-height);
    width: var(--handle-width);
    border-radius: var(--handle-radius);
    background-color: var(--button-selected-background-color);
    border: var(--button-selected-border);
    cursor: pointer;
    text-align: center;
    font-size: calc(var(--handle-height) * .6);
    line-height: var(--handle-height);
    z-index: 10;
}

.handle:hover {
    background-color: var(--button-selected-hover-background-color);
    border: var(--button-selected-hover-border);
}