.switchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.switch {
    --total-width: 1rem;
    --button-size: 1rem;
    position: relative;
    display: inline-block;
    width: 2rem;
    height: var(--total-width);
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6f2f33;
    border-radius: var(--button-size);
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--button-size);
    width: var(--button-size);
    left: calc(var(--total-width) - var(--button-size));
    bottom: calc(var(--total-width) - var(--button-size));
    background-color: #cbcbcb;
    border-radius: 50%;
    transition: .1s;
}

.switchContainer input:checked + .slider {
    background-color: #416642;
}

.switchContainer input:checked + .slider:before {
    -webkit-transform: translateX(var(--button-size));
    -ms-transform: translateX(var(--button-size));
    transform: translateX(var(--button-size));
}

.switchContainer svg {
    transition: .1s;
    color: #cbcbcb;
}

.offIcon {
    margin-right: .3rem;
}

.onIcon {
    margin-left: .3rem;
}

i.active {
    opacity: 1;
}

i.inactive {
    opacity: .5;
}