.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toolbar {
    position: absolute;
    --button-margin: .5rem;
    --button-size: 2.5rem;
    --button-panel-background-color: rgba(0, 0, 0, 0.5);
    --icon-size: 1.1rem;
    pointer-events: all;
    z-index: 0;
}

.toolbar::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(-1 * var(--button-margin));
    bottom: calc(-1 * var(--button-margin));
    left: calc(-1 * var(--button-margin));
    right: calc(-1 * var(--button-margin));
    background-color: var(--button-panel-background-color);
    border: none;
    border-radius: var(--container-border-radius);
}

.toolbar.horizontal {
    display: flex;
    flex-direction: row;
}

.toolbar.horizontal * + * {
    margin-left: var(--button-margin);
}

.toolbar.vertical {
    display: flex;
    flex-direction: column;
}

.toolbar.vertical * + * {
    margin-top: var(--button-margin);
}

.toolbar.top {
    top: .5rem;
}

.toolbar.bottom {
    bottom: .5rem;
}

.toolbar.left {
    left: .5rem;
}

.toolbar.right {
    right: .5rem;
}

.toolbar button {
    width: var(--button-size);
    height: var(--button-size);
    border-width: var(--selected-panel-border-width);
    border-style: solid;
    border-radius: var(--button-border-radius);
    padding: 0;
    color: var(--button-default-color);
    background-color: var(--button-default-background-color);
    border-color: var(--button-default-border-color);
}

.toolbar button:hover:not(:disabled) {
    color: var(--button-default-hover-color);
    background-color: var(--button-default-hover-background-color);
    border-color: var(--button-default-hover-border-color);
    cursor: pointer;
}

.toolbar button.selected,
.toolbar button.selected:disabled {
    color: var(--button-selected-color);
    background-color: var(--button-selected-background-color);
    border-color: var(--button-selected-border-color);
}

.toolbar button.selected:hover:not(:disabled) {
    color: var(--button-selected-hover-color);
    background-color: var(--button-selected-hover-background-color);
    border-color: var(--button-selected-hover-border-color);
}

.toolbar button:active:not(:disabled) {
    color: var(--button-default-active-color);
    background-color: var(--button-default-active-background-color);
    border-color: var(--button-default-active-border-color);
}

.toolbar button.selected:active:not(:disabled) {
    color: var(--button-selected-active-color);
    background-color: var(--button-selected-active-background-color);
    border-color: var(--button-selected-active-border-color);
}

.toolbar.vertical.panelButton button.selected, button.panelButton.selected {
    width: calc(var(--button-size) + 1rem + var(--selected-panel-border-width));
    margin-left: calc(-1rem - var(--selected-panel-border-width));
    padding-left: calc(1rem + 2 * var(--selected-panel-border-width));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    z-index: 2;

}

.toolbar button:disabled {
    color: var(--button-disabled-color);
    background-color: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
}

.toolbar button svg {
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: middle;
    font-size: var(--icon-size);
}

.panel {
    --padding-top-bottom: .5rem;
    --padding-right-left: .8rem;
    --padding: var(--padding-top-bottom) var(--padding-right-left);
    position: absolute;
    background-color: hsla(36, 8%, 15%, .95);
    border: var(--selected-panel-border-width) solid var(--selected-panel-border-color);
    border-radius: .5rem;
    pointer-events: all;
    right: 4rem;
    z-index: 3;
    width: calc(100% - 5rem);
    --scaling-factor: .8 !important;
    overflow: hidden;
    flex-shrink: 0;
}

.panel.top {
    top: .5rem;
}

.panel.top {
    bottom: .5rem;
}