.appInstance {
    height: 100%;
    width: 100%;
    pointer-events: all;
}

.appInstance iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 250ms ease-in;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 1rem;
    padding: 1rem 2rem;
    opacity: .5;
    min-width: 20rem;
    text-align: center;
}

.appName {
    font-size: 1.75rem;
    line-height: 3rem;
}

.appStatus {
    font-size: 1rem;
    line-height: 3rem;
}
