.notification {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.message {
    color: #ccc;
}

.hint {
    font-size: .9rem;
    color: #999;
}

.undo {
    display: flex;
    justify-content: center;
}
