<footer class="site-footer" id="footer">
    <div class="container height100">
        <div class="row">
            <div class="col-xs-12">
                <div class="site-footer-inner">
                    <p class="site-footer-copyright">
                        2016 @ <a href="http://www.openforis.org/" target="_blank">OpenForis SEPAL</a>
                    </p>
                    <ul class="site-footer-links">
                        <li><a href="http://www.openforis.org/" target="_blank">Open Foris</a></li>
                        <li><a href="http://www.fao.org/" target="_blank">FAO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="sepal-logo">
        <h2 class="section__title">
            <div>S</div><div>E</div><div>P</div><div>A</div><div>L</div>
        </h2>
    </div>

</footer>