.panel {
    min-height: 17rem;
    max-width: 34rem;
}

.panel p {
    text-align: right;
}

.panel a {
    color: var(--selected-text-color);
}

.panel a:hover {
    color: var(--selected-text-hover-color);
}
