.container {
    flex-grow: 1;
}

.panelContent {
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nonScrollingPadding {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .content.default > *:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}
