.header {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: .9rem;
    font-family: var(--header-font-family);
    text-transform: uppercase;
    color: var(--header-color);
    padding: var(--header-padding);
    border-bottom: var(--wireframe);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header * {
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.header .icon {
    margin-right: .5rem;
    flex-grow: 0;
    flex-shrink: 1;
}

.header .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.header .label {
    margin-left: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
}
