.browse {
    /* default */

    --look-default-h: 40;
    --look-default-s: 8%;
    --look-default-l: 20%;
    --look-default-a: .2;

    /* highlight */

    --look-highlight-h: 40;
    --look-highlight-s: 60%;
    --look-highlight-l: 26%;
    --look-highlight-a: .5;

    margin: 3rem 1rem 1rem 1rem;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 4rem 1rem 1rem;
}

.toolbar button {
    margin-left: 1rem;
}

.fileList {
    overflow-x: auto;
}

.fileList > div {
    min-width: 100%;
    width: max-content;
    margin-bottom: 5rem;
}

.fileList ul {
    list-style: none;
    padding: 0;
    overflow: visible;
    user-select: none;
}

.fileList li div {
    width: 100%;
    color: #d0d0d0;
    cursor: pointer;
    border: none !important;
    padding-left: calc(var(--depth) * 1.5rem);
    padding-right: 1rem;
    --animation-duration: calc(var(--animation-duration-ms) * 1ms);
}

.fileList li div.selected {
    transition: 100ms ease-in-out;
}

/* recursively propagate selection to children */
.fileList li div.selected + ul li div {
    transition: 100ms ease-in-out;
}

.fileList li div.added {
    animation: added var(--animation-duration) forwards;
}

@keyframes added {
    0% {
        background-color: green;
    }
}

.fileList li div.removing,
.fileList li div.removing:hover,
.fileList li div.removing + ul li div {
    background-color: red;
}

.fileList li div.removed,
.fileList li div.removed:hover,
.fileList li div.removed + ul li div {
    background-color: red;
    animation: removed var(--animation-duration) forwards;
}

@keyframes removed {
    100% {
        opacity: 0;
    }
}

.fileName {
    display: inline-block;
}

.fileInfo {
    display: inline-block;
    color: #707070;
    padding-left: .5rem;
    font-size: smaller;
}

.icon {
    display: inline-block;
    height: 100%;
    width: 2rem;
    padding: 0 .5rem;
    text-align: center;
    color: #b0b0b0;
}

.directory:hover {
    color: white;
}

.expanded {
    transform: rotateZ(45deg);
    transition: 100ms ease-in-out;
}

.collapsed {
    transform: none;
    transition: 100ms ease-in-out;
}
