
.container {
    display: flex;
    flex-grow: 1;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.container.moving {
    cursor: move;
}

.container.adding {
    cursor: copy;
}

.layoutWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(240, 100%, 60%, .05);
    pointer-events: none;
}

.hidden .layoutWrapper {
    opacity: 0;
}

.layout {
    display: grid;
    width: 100%;
    height: 100%;
    gap: .25rem;
}

.center {
    grid-template-rows: 1fr;
}

.topBottom {
    grid-template-rows: 1fr 1fr;
}

.leftRight {
    grid-template-columns: 1fr 1fr;
}

.corners {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    overflow: hidden;
}

.area * {
    overflow: hidden;
}
.hovering .area.highlighted {
    background-color: hsla(240, 100%, 60%, .75);
}

.hovering .area.highlighted .areaContent {
    display: none;
}

.area.assigned {
    background-color: hsla(240, 100%, 60%, .5);
}

.areaContent {
    pointer-events: all;
}

.dragging .areaContent {
    pointer-events: none;
}

.dragGhost {
    max-width: 30vw;;
}
