[defaults]
interpreter_python=/usr/bin/python3
ansible_python_interpreter=/usr/bin/python3
force_valid_group_names = never
roles_path = ../../ansible
hash_behaviour = merge
host_key_checking = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[inventory]
enable_plugins = gcp_compute, host_list, script, auto, yaml, ini, toml
