/*.homeContainer {*/
    /**/
/*}*/

/*.map {*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: red;*/
    /**/
/*}*/

/*.mapOverlay {*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: blue;*/
    /**/
/*}*/

.home {
    height: 100%;
    display: grid;
    grid-template-columns: 0 1fr;
    grid-template-rows: 1fr 4.5rem;
    grid-template-areas:
            'navBar body'
            'footer footer';
    transition: all 1s ease-in-out;
}

.navBarLocked {
    grid-template-columns: 3.75rem 1fr;
}

.footer {
    grid-area: footer;
    animation: footer .5s 0s ease-in-out backwards;
}

.navBar {
    grid-area: navBar;
}

@keyframes footer {
    from {
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.body {
    grid-area: body;
}