.container {
    --menu-margin-top: 1rem;
    --menu-margin-bottom: 5.5rem;
    --menu-width: 3.5rem;
    --menu-handle-width: 1rem;
    --footer-height: 3.5rem;
    --footer-handle-height: 1rem;
    --transition-time: 150ms;
    --transition-delay: 75ms;
    position: relative;
    height: 100%;
    pointer-events: none;
}

.container.floatingMenu {
    --menu-position: calc(var(--menu-handle-width) - var(--menu-width));
    --menu-margin: 0rem;
}

.container:not(.floatingMenu) {
    --menu-position: 0;
    --menu-margin: calc(1rem + var(--menu-width));
}

.container.floatingFooter {
    --footer-position: calc(var(--footer-handle-height) - var(--footer-height));
    --footer-margin: 0rem;
}

.container:not(.floatingFooter) {
    --footer-position: 0;
    --footer-margin: var(--footer-height);
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: all;
}

.menu {
    position: absolute;
    z-index: 2;
    top: var(--menu-margin-top);
    bottom: var(--menu-margin-bottom);
    left: var(--menu-position);
    width: var(--menu-width);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all var(--transition-time) ease-in-out var(--transition-delay);
    pointer-events: all;
}

.container:not(.floatingMenu) .menu,
.menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
}

.menuMode {
    position: absolute;
    z-index: 2;
    bottom: 4rem;
    left: .25rem;
    pointer-events: all;
}

.footer {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: var(--footer-position);
    height: var(--footer-height);
    transition: all var(--transition-time) ease-in-out var(--transition-delay);
    pointer-events: all;
}

.container:not(.floatingFooter) .footer,
.footer:hover {
    bottom: 0;
}

.body {
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

@keyframes footer {
    from {
        opacity: 0;
        transform: translateY(150%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
