.homeContainer {
    position: relative;
    height: 100%;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
}

.home {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.75rem 1fr;
    grid-template-rows: 1fr 4.5rem;
    grid-template-areas:
            'menu body'
            'footer footer';
    transition: all 1s ease-in-out;
    z-index: 0;
}

.floatingMenu {
    grid-template-columns: 0 1fr;
}

.footer {
    grid-area: footer;
    animation: footer .5s 0s ease-in-out backwards;
    z-index: 1000;
}

.menu {
    grid-area: menu;
    z-index: 1000;
}

@keyframes footer {
    from {
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.body {
    grid-area: body;
    /*display: none !important;*/
    z-index: 1000;
}