<form class="message form-theme">
    <div class="newMessage form-group">
        <label class="form-label">Subject</label>
        <input
                name="subject"
                type="text"
                class="form-control"
                autocomplete="off"
                placeholder="Enter subject"
                autofocus/>

        <label class="form-label m-t-2">Contents</label>
        <textarea name="contents" class="form-control" rows="10"/>
    </div>
    <div class="text-align-center">
        <button type="button" class="btn btn-base round btn-delete p-y-0-5">
            <i class="fa fa-times" aria-hidden="true"/>
            Delete
        </button>
        <button type="reset" class="btn btn-base round btn-reset p-y-0-5">
            <i class="fa fa-undo" aria-hidden="true"/>
            Reset
        </button>
        <button type="submit" class="btn btn-base round p-y-0-5 btn-submit" data-destination="sepal">
            <i class="fa fa-plus" aria-hidden="true"/>
            Save
        </button>
    </div>
</form>