.container {
    /* --y is injected */
    /* --x is injected */
    /* --attribution-mask-size: 2rem; */
    /* --attribution-mask-size: 0rem; */

    /* HACK: hide mysterious blue border around the map (in Google Maps markup)
        <div style="pointer-events: none; width: 100%; height: 100%; box-sizing: border-box; position: absolute; z-index: 1000002; opacity: 0; border: 2px solid rgb(26, 115, 232);"></div>
    */
    /* It looks like the blue border is gone... */
    --attribution-mask-size: 0px;

    --half-margin-size: 1px;
    --top: var(--y);
    --right: calc(100% - var(--x));
    --bottom: calc(100% - var(--y));
    --left: var(--x);

    --half-center-handle-size: 15px;
    --half-axis-handle-size: 1px;
    --handle-comfort-margin: -.25rem;
    --half-area-marker-size: 2.5rem;
    --idle-color: #808080;
    --dragging-color: #c0c0c0;
    --color: var(--idle-color);

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

/* areas */

.areas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 0;
}

.container.dragging .areas:after {
    /* insert a capturing layer between the handle and anything else */
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: all;
    z-index: 1;
}

.container.dragging.x .areas:after {
    cursor: ew-resize;
}

.container.dragging.y .areas:after {
    cursor: ns-resize;
}

.container.dragging.x.y .areas:after {
    cursor: move;
}

/* area */

.area {
    --area-top: 0;
    --area-bottom: 0;
    --area-left: 0;
    --area-right: 0;
    --clip-offset: 0rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: calc(var(--attribution-mask-size) * -1);
    z-index: 0;
    user-select: none;
    pointer-events: none;
}

.area.full {
    --clip-offset: var(--attribution-mask-size);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: inset(
        var(--area-top)
        var(--area-right)
        var(--area-bottom)
        var(--area-left)
    );
    z-index: 0;
}

.area.overlay {
    z-index: 1;
}

.area.partial {
    top: var(--area-top);
    bottom: var(--area-bottom);
    left: var(--area-left);
    right: var(--area-right);
    z-index: 1;
    clip-path: inset(
        var(--attribution-mask-size)
        var(--attribution-mask-size)
        var(--attribution-mask-size)
        var(--attribution-mask-size)
    );
}

.area.partial.overlay {
    z-index: 2;
}

.area.hide {
    display: none;
}

.area.top {
    --area-bottom: calc(var(--bottom) - var(--clip-offset));
    margin-bottom: calc(var(--half-axis-handle-size));
}

.area.bottom {
    --area-top: calc(var(--top) + var(--clip-offset));
    margin-top: calc(-1 * var(--half-axis-handle-size));
}

.area.left {
    --area-right: calc(var(--right) - var(--clip-offset));
    margin-right: calc(var(--half-axis-handle-size));
}

.area.right {
    --area-left: calc(var(--left) + var(--clip-offset));
    margin-left: calc(-1 * var(--half-axis-handle-size));
}

/* active area indicator */

.area.partial:not(.center):hover::after {
    content: '';
    position: absolute;
    width: calc(2 * var(--half-area-marker-size) + 1px);
    height: calc(2 * var(--half-area-marker-size) + 1px);
    background-color: rgba(255, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .9);
    box-sizing: border-box;
    border-radius: 100%;
    pointer-events: none;
}

.area.partial.top:not(.left):not(.right):hover::after {
    bottom: calc(-1 * var(--half-area-marker-size) - var(--half-axis-handle-size) - 1px);
    left: calc(var(--left) - var(--half-area-marker-size));
}

.area.partial.bottom:not(.left):not(.right):hover::after {
    top: calc(-1 * var(--half-area-marker-size) + var(--half-axis-handle-size));
    left: calc(var(--left) - var(--half-area-marker-size));
}

.area.partial.left:not(.top):not(.bottom):hover::after {
    top: calc(var(--top) - var(--half-area-marker-size));
    right: calc(-1 * var(--half-area-marker-size) - var(--half-axis-handle-size) - 1px);
}

.area.partial.right:not(.top):not(.bottom):hover::after {
    top: calc(var(--top) - var(--half-area-marker-size));
    left: calc(-1 * var(--half-area-marker-size) + var(--half-axis-handle-size));
}

.area.partial.top.left:hover::after {
    bottom: calc(-1 * var(--half-area-marker-size) - var(--half-axis-handle-size) - 1px);
    right: calc(-1 * var(--half-area-marker-size) - var(--half-axis-handle-size) - 1px);
}

.area.partial.top.right:hover::after {
    bottom: calc(-1 * var(--half-area-marker-size) - var(--half-axis-handle-size) - 1px);
    left: calc(-1 * var(--half-area-marker-size) + var(--half-axis-handle-size));
}

.area.partial.bottom.left:hover::after {
    top: calc(-1 * var(--half-area-marker-size) + var(--half-axis-handle-size));
    right: calc(-1 * var(--half-area-marker-size) - var(--half-axis-handle-size) - 1px);
}

.area.partial.bottom.right:hover::after {
    top: calc(-1 * var(--half-area-marker-size) + var(--half-axis-handle-size));
    left: calc(-1 * var(--half-area-marker-size) + var(--half-axis-handle-size));
}

/* areaOverlay */

.areaOverlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    user-select: none;
    pointer-events: none;
}

.areaOverlay.top {
    bottom: var(--bottom);
}

.areaOverlay.bottom {
    top: var(--top);
}

.areaOverlay.left {
    right: var(--right);
}

.areaOverlay.right {
    left: var(--left);
}

/* handle */

.handles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.handles.hide {
    display: none;
}

.handle {
    --vertical-handle-top: 0;
    --vertical-handle-bottom: 0;
    --horizontal-handle-left: 0;
    --horizontal-handle-right: 0;

    position: absolute;
    pointer-events: all;
}

/* center handle */

.handle.center {
    top: calc(var(--top) - var(--half-center-handle-size));
    left: calc(var(--left) - var(--half-center-handle-size));
    width: calc(2 * var(--half-center-handle-size) + 1px);
    height: calc(2 * var(--half-center-handle-size) + 1px);
    border-radius: var(--half-center-handle-size);
    cursor: move;
    z-index: 2;
    background: radial-gradient(
        circle,
        transparent,
        transparent calc(var(--half-center-handle-size) - 2 * var(--half-axis-handle-size) - 1px),
        var(--color) calc(var(--half-center-handle-size) - 2 * var(--half-axis-handle-size) - 1px),
        var(--color) calc(var(--half-center-handle-size) - 1 * var(--half-axis-handle-size) - 1px),
        black calc(var(--half-center-handle-size) - 1 * var(--half-axis-handle-size) - 1px),
        black calc(var(--half-center-handle-size) - 1 * var(--half-axis-handle-size)),
        var(--color) calc(var(--half-center-handle-size))
    );
}

/* axis handle */

.handle.axis {
    --background-angle: 0deg;
    background: linear-gradient(
        var(--background-angle),
        var(--color), 
        var(--color) calc(1 * var(--half-axis-handle-size)), 
        black calc(1 * var(--half-axis-handle-size)),
        black calc(1 * var(--half-axis-handle-size) + 1px), 
        var(--color) calc(1 * var(--half-axis-handle-size) + 1px)
    );
}

.handle.axis:before {
    content: '';
    position: absolute;
}

/* vertical axis handle */

.handle.axis.vertical {
    --background-angle: 90deg;
    top: var(--vertical-handle-top);
    bottom: var(--vertical-handle-bottom);
    left: calc(var(--left) - var(--half-axis-handle-size));
    width: calc(2 * var(--half-axis-handle-size) + 1px);
    cursor: ew-resize;
}

.handle.axis.vertical:before {
    top: 0;
    bottom: 0;
    left: var(--handle-comfort-margin);
    right: var(--handle-comfort-margin);
}

.handle.axis.vertical.top {
    --vertical-handle-top: var(--top);
}

.handle.axis.vertical.bottom {
    --vertical-handle-bottom: var(--bottom);
}

/* horizontal axis handle */

.handle.axis.horizontal {
    --background-angle: 0deg;
    top: calc(var(--top) - var(--half-axis-handle-size));
    height: calc(2 * var(--half-axis-handle-size) + 1px);
    left: var(--horizontal-handle-left);
    right: var(--horizontal-handle-right);
    cursor: ns-resize;
}

.handle.axis.horizontal:before {
    top: var(--handle-comfort-margin);
    bottom: var(--handle-comfort-margin);
    left: 0;
    right: 0;
}

.handle.axis.horizontal.left {
    --horizontal-handle-left: var(--left);
}

.handle.axis.horizontal.right {
    --horizontal-handle-right: var(--right);
}

/* handle hover/dragging */

.handle:hover,
.dragging.x.y .handle.center,
.dragging.x .handle.axis.vertical,
.dragging.y .handle.axis.horizontal {
    --color: var(--dragging-color);
}

/* content */

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-grow: 1;
}
