.panel {
    max-width: 34rem;
    min-height: 18rem;
}

.band .scale {
    flex-grow: 1;
    flex-shrink: 0;
}

.scale {
    flex-grow: 0;
    flex-shrink: 1;
}

.overallProportion {
    width: 10rem;
}

.info {
    color: #a0a0a0;
    font-size: .9rem;
}