.panel {
    width: 25rem;
}

.sectionSelector {
    flex-shrink: 0;
    min-width: 0;
    width: 100%;
}

.sectionSelectorContent {
    width: 100%;
}

.sectionButton.sectionButton {
    --look-default-l: 12%;
    --look-default-a: .95;
    --look-default-border-color: var(--wireframe-color);
    --look-default-hover-border-color: var(--wireframe-color);
    --look-default-active-border-color: var(--wireframe-color);
    --look-selected-l: 16%;
    --look-selected-border-color: var(--wireframe-color);
    --look-selected-hover-border-color: var(--wireframe-color);
    --look-selected-active-border-color: var(--wireframe-color);
    border-radius: 0;
    border-top-width: 0;
}

.entry {
    flex-grow: 1;
    flex-shrink: 1;
}

.colorText {
    width: 5rem;
}

.value {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

.entryLabel {
    flex: 0 1 auto;
    min-width: 0;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: center;
    color: hsl(0, 0%, 60%);
    font-size: .85em;
}

.palettePreSets {
    flex-shrink: 0;
}
