.panel {
    width: 25rem;
}

.sectionSelector {
    flex-shrink: 0;
    min-width: 0;
    width: 100%;
}

.sectionSelectorContent {
    width: 100%;
}

.sectionButton.sectionButton {
    --look-default-l: 12%;
    --look-default-a: .95;
    --look-default-border-color: var(--wireframe-color);
    --look-default-hover-border-color: var(--wireframe-color);
    --look-default-active-border-color: var(--wireframe-color);
    --look-selected-l: 16%;
    --look-selected-border-color: var(--wireframe-color);
    --look-selected-hover-border-color: var(--wireframe-color);
    --look-selected-active-border-color: var(--wireframe-color);
    border-radius: 0;
    border-top-width: 0;
}

.entry {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    gap: .5rem;
    align-items: center;
    width: 100%;
    min-width: 0;
}

.entryWithHex {
    grid-template-columns: auto 5rem minmax(0, 1fr) auto;
}

.entryWithLabel {
    grid-template-columns: auto var(--entry-value-width) minmax(0, 1fr) auto;
}

.entryWithHex.entryWithLabel {
    grid-template-columns: auto 5rem var(--entry-value-width) minmax(0, 1fr) auto;
}

.colorText {
    width: 100%;
    min-width: 0;
}

.value {
    width: 100%;
    min-width: 0;
}

.entryLabel {
    width: 100%;
    min-width: 0;
}

.palettePreSets {
    flex-shrink: 0;
}
