.panel {
    margin-top: 3rem;
    max-width: 30rem;
}

.layerOptions {
    display: flex;
}

.layerOptions > *:not(:last-child) {
    margin-right: 1rem;
}

.dropDown {
    margin-right: 0.5rem;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: var(--text-color);
    border: var(--wireframe);
    padding: 0.35rem 1rem;
    background-color: var(--panel-strong-background-color);
}

.dropDown:hover {
    background-color: var(--panel-strong-hover-background-color);
    color: var(--text-strong-color);
}

.dropDownOptions {
    position: absolute;
    background-color: var(--panel-strong-background-color);
    padding: 1rem;
}

.dropDownOption {
    margin: 1rem;
}