.panel {
    width: fit-content;
}

.search {
    width: 12rem;
}

.coordinates {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
}
