.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 99999;
}

.legend {
    display: flex;
    background-color: hsla(0, 0%, 0%, .35);
    padding: .35rem;
    border-radius: .25rem;
    width: 100%;
    max-width: 40rem;
    margin: 0 3rem;
    align-items: center;

}

.value {
    display: flex;
    margin: 0 .5rem;
    font-size: .8rem;
    line-height: .8rem;
}

.palette {
    --palette: '';
    position: relative;
    flex-grow: 1;
    height: .5rem;
    min-width: 2rem;
    background: linear-gradient(90deg, var(--palette));
}

.cursorValue {
    /*--left: ''; injected */
    position: absolute;
    top: -1.85rem;
    left: calc(var(--left) - var(--width) / 2);
    width: var(--width);
    padding: .5rem;
    font-size: .8rem;
    line-height: .8rem;
    text-align: center;

    background-color: #373737;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
    white-space: nowrap;
}

.cursorValue.default {
    --width: 5rem;
}

.cursorValue.fractionalYears {
    --width: 7rem;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    left: 50%;

    bottom: -4px;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #373737;
    /*border-top-color: red;*/
}
