/*#tasks .row-header {*/
/*border-bottom: 1px solid rgba(255, 255, 255, 0.10);*/
/*padding-bottom: .5rem;*/
/*}*/

#tasks .task {
    width: 30%;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 .5rem .5rem 0;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Source Sans Pro;
    position: relative;
}

#tasks .task .row-header {
    /*padding: 1rem 0;*/
}

/*#tasks .task .row-progress {*/

/*}*/
/*#tasks .task .row-status {*/
/*font-size: .8rem;*/
/*border-top: 1px solid rgba(255, 255, 255, 0.1);*/
/*}*/

/*#tasks .row.task {*/
/*border: 1px solid rgba(255, 255, 255, 0.10);*/
/*background-color: rgba(255, 255, 255, 0.05);*/
/*}*/

/*#tasks .row.task > div:not(.operation) {*/
/*padding-top: .7rem;*/
/*padding-bottom: .5rem;*/
/*}*/

/*#tasks .row.task > div {*/
/*padding-top: .7rem;*/
/*padding-bottom: .7rem;*/
/*}*/

/*#tasks .status-container {*/
/*padding: .3rem 1rem;*/
/*width: 100%;*/
/*height: 100%;*/
/*border: 1px solid rgba(255,255,255,.25);*/
/*}*/
/*#tasks .status-container > * {*/
/*display: inline-block;*/
/*float: left;*/
/*}*/

/*#tasks .status-container .btn {*/
/*padding: .5rem;*/
/*padding: .5rem;*/
/*background-color: rgba(0, 0, 0, 0.3);*/
/*border: 1px solid rgba(0, 0, 0, 0.15);*/
/*color: rgba(92, 77, 81, 0.51);*/
/*}*/

/*#tasks .row.task i {*/
/*font-size: 1.2rem;*/
/*}*/

/*#tasks .fa-pending {*/
/*color: rgba(255, 255, 255, 0.90);*/
/*}*/

/*#tasks .fa-active {*/
/*color: rgba(184, 204, 166, 0.90);*/
/*}*/

/*#tasks .fa-completed {*/
/*color: rgba(184, 204, 166, 0.90);*/
/*}*/

/*#tasks .fa-failed {*/
/*color: rgba(204, 62, 67, 0.9);*/
/*}*/

#tasks .btn.circle {
    width: 2rem;
    height: 2rem;
    padding: .5rem 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.02);
}

/*#tasks .remove i {*/
/*font-size: .9rem !important;*/
/*}*/

/*#tasks a.btn.round {*/
/*padding: .5rem 1rem;*/
/*font-size: .8rem !important;*/
/*border: 1px solid rgba(255, 255, 255, 0.25);*/
/*}*/

/*#tasks a.btn.round i {*/
/*font-size: .7rem !important;*/
/*}*/

#tasks .task .btn-remove {
    position: absolute;
    left: -1px;
    top: -1px;
    /*background-color: rgba(255, 255, 255, .05);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-top: none;
    border-left: none;
    z-index: 3;
    border-radius: 3px;
    padding: .25rem !important;
    width: 1.5rem;
    height: 1.5rem;
}

#tasks .task .name {
    padding: .5rem 0 1rem 2rem;
}

#tasks .task .op-button {
    padding: 1rem 0 1rem 0rem;
}

#tasks .task .op-button .btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: .8rem;
}

#tasks .task .op-button .btn i {
    font-size: 1.2rem;
}
