<div class="row" id="tasks">
    <div class="col-sm-12 tasks-container">

        <div class="row row-header">
            <div class="col-sm-8"/>

        </div>



    </div>

    <div class="row task m-b-10" style="display: none"
         data-animation-in="bounceInLeft"
         data-animation-out="bounceOutLeft"
         data-animation-in-delay="100"
         data-animation-out-delay="50">
        <div class="col-sm-8 text-align-left name"></div>
        <div class="col-sm-2 text-align-center status"></div>
        <div class="col-sm-2 text-align-center operation"></div>
    </div>

</div>