#tasks .task {
    width: 30%;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 .5rem .5rem 0;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Source Sans Pro;
    position: relative;
}

#tasks .task .row-header {
}

#tasks .btn.circle {
    width: 2rem;
    height: 2rem;
    padding: .5rem 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.02);
}

#tasks .task .btn-remove {
    position: absolute;
    left: -5px;
    top: -5px;
    /* background-color: rgba(255, 255, 255, .05); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    /* border-right: 1px solid rgba(255, 255, 255, 0.1); */
    /* border-top: none; */
    /* border-left: none; */
    z-index: 3;
    border-radius: 50%;
    /* padding: .25rem !important; */
    /* width: 1.5rem; */
    /* height: 1.5rem; */
    font-size: 1.2rem;
    border: none;
    padding-top: .4rem;
    padding-left: 0rem;
}

#tasks .task .name {
    padding: .5rem 0 1rem 2rem;
    font-size: .8rem;
}

#tasks .task .op-button {
    padding: 2rem 0 1rem 0.5rem;
}

#tasks .task .op-button .btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: .8rem;
}

#tasks .task .op-button .btn i {
    font-size: 1.2rem;
}
