#tasks {
  .tasks-container {
    text-align: center;
    padding: 1rem 2%;

    .task-wrapper {
      padding: .25rem .5rem;
      width: 33%;
      height: 35%;
      font-family: Source Sans Pro;
      position: relative;
      display: inline-block;

      .task {
        float: left;
        border: 1px solid rgba(255, 255, 255, 0.1);
        //margin: 0 1% 1.5% 1.5%;
        padding: .5rem 1rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);


        word-wrap: break-word;
        overflow: hidden;

        .btn-remove {
          width: 2rem;
          height: 2rem;
          position: absolute;
          left: -3px;
          top: -6px;
          z-index: 3;
          font-size: 1.5rem;
          border: none;
          padding: .2rem 0 0 0;
        }

        .row-title {
          border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        }

        .name {
          //padding: .5rem 0 0 1.5rem;
          font-size: .8rem;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.8);
        }

        .description {
          //padding: .2rem 0 1rem 2.1rem;
          padding-top: .5rem;
          font-size: .75rem;
          color: rgba(255, 255, 255, 0.9);
        }

        .op-button {
          //padding: 2rem 0 1rem 0.5rem;
          padding-bottom: .5rem;
          .btn {
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding: .6rem;

            i {
              font-size: 1.2rem;
            }
          }
        }

      }

    }
  }
}
