services:
  r-proxy-redis:
    extends:
      file: ../docker-compose.logger.override.yml
      service: logger

  r-proxy:
    extends:
      file: ../docker-compose.logger.override.yml
      service: logger
    volumes:  # To allow dynamic reloading in dev
      # lib/shared
      - ${SEPAL_PROJECT_DIR}/lib/js/shared/src:/usr/local/src/sepal/lib/js/shared/src
      - ${SEPAL_PROJECT_DIR}/lib/js/shared/package.json:/usr/local/src/sepal/lib/js/shared/package.json
      - ${SEPAL_PROJECT_DIR}/modules/r-proxy/lib/shared/package-lock.json:/usr/local/src/sepal/lib/js/shared/package-lock.json
      - ${SEPAL_PROJECT_DIR}/modules/r-proxy/lib/shared/node_modules:/usr/local/src/sepal/lib/js/shared/node_modules
      # module
      - ${SEPAL_PROJECT_DIR}/modules/r-proxy:/usr/local/src/sepal/modules/r-proxy
      - ${SEPAL_DATA_DIR}/r-proxy/site-library:/usr/local/lib/R/site-library
      - ${SEPAL_DATA_DIR}/r-proxy/repo:/R
