#alert {

  position: absolute;
  width: 40%;
  left: 30%;
  top: 25%;
  border:none;
  z-index: 5;
  border-radius: 1rem;

  &.alert-info {
    //background-color: rgba(47, 55, 69, 0.76);
    //color: inherit !important;
    background-color: rgba(47, 55, 69, 0.7);
    color: inherit !important;
    border: 2px solid rgba(47, 55, 69, 0.9);
  }
}