<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${sepal.logLocation}/sepal-geoserver.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_GEOSERVER" class="ch.qos.logback.core.FileAppender">
        <file>${sepal.logLocation}/sepal-geoserver-monitoring.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_METADATA" class="ch.qos.logback.core.FileAppender">
        <file>${sepal.logLocation}/sepal-geoserver-crawling.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_SANDBOX_PROXY" class="ch.qos.logback.core.FileAppender">
        <file>${sepal.logLocation}/sepal-geoserver-sandbox_proxy.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_SANDBOX_MANAGER" class="ch.qos.logback.core.FileAppender">
        <file>${sepal.logLocation}/sepal-geoserver-sandbox_manager.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.openforis" additivity="false" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>


    <logger name="org.openforis.sepal.geoserver" additivity="false" level="DEBUG">
        <appender-ref ref="FILE_GEOSERVER"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.openforis.sepal.metadata" additivity="false" level="DEBUG">
        <appender-ref ref="FILE_METADATA"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.openforis.sepal.sandboxwebproxy" additivity="false" level="DEBUG">
        <appender-ref ref="FILE_SANDBOX_PROXY"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.openforis.sepal.session" additivity="false" level="DEBUG">
        <appender-ref ref="FILE_SANDBOX_MANAGER"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.openforis.sepal.instance" additivity="false" level="DEBUG">
        <appender-ref ref="FILE_SANDBOX_MANAGER"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>