.panel {
    --unread-color: var(--warning-color);
    --read-color: var(--success-color);
    width: 40rem;
    min-height: 30rem;
}

button.unread i {
    color: var(--warning-color);
    animation: pulse 1000ms ease-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.subject {
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: .5rem;
}

.subject.UNREAD i {
    color: var(--unread-color);
}

.subject.READ i {
    color: var(--read-color);
}

/* markdown */

.contents {
    margin-top: 1rem;
    font-size: 1rem;
}

.contents h1 {
    font-size: 1.25rem;
}

.contents h2 {
    font-size: 1.2rem;
}

.contents h3 {
    font-size: 1.15rem;
}

.contents h4 {
    font-size: 1.1rem;
}

.contents ul {
    margin-bottom: 1rem;
    list-style-type: circle;
}

.contents li {
    margin-left: 2rem;
    padding: 0;
}

.contents li + li {
    margin-top: 0rem;
}

.noMessages {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: .9rem;
    color: #ccc;
}
