.sessions ul {
    list-style-type: none;
    padding: 0;
}

.sessions li {
    padding: .5rem 1rem;
    border-radius: var(--container-border-radius);
}

.sessions li + li {
    margin-top: .5rem;
}

.sessions .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sessions .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
}

.sessions .cost {
    /*text-align: right;*/
    color: var(--warning-color);
    font-size: 0.9rem;
}

.number {
    text-align: right;
}
