.clickable:hover {
    background-color: #404040;
    cursor: pointer;
}

.number {
    text-align: right;
}

.session {
    margin-bottom: .5rem;
    border-radius: var(--button-border-radius);
    padding: .25rem .5rem;
    cursor: pointer;
}

.session .header {
    display: flex;
    justify-content: space-between;
}

.session .cost {
    /*text-align: right;*/
    color: var(--warning-color);
    font-size: 0.9rem;
}