.panel {
    /* min-height: 15rem; */
    /* max-height: 40rem; */
    max-width: 37rem;
    max-height: max-content;
}

.report {
    padding: 0 1rem;
}

.report table {
    margin: auto;
    width: 100%;
}

.report .title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.report .section:not(:first-child) {
    margin-top: 3rem;
}

.report th {
    font-weight: normal;
    font-size: .8rem;
    text-transform: uppercase;
    color: #dddddd;
    padding: .2rem .5rem;
}

.report th.quota {
    text-align: right;
}

.report th.used {
    text-align: right;
}

.report td {
    font-size: 1rem;
    padding: .2rem .5rem;
}

.report tr.clickable:hover {
    background-color: #404040;
    cursor: pointer;
}

.number {
    text-align: right;
}

.report td.percent {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.report td.percent.low {
    color: var(--success-color)
}

.report td.percent.medium {
    color: var(--warning-color)
}

.report td.percent.high {
    color: var(--error-color)
}