.panel {
    width: 38rem;
    min-height: 30rem;
}

.contents {
    background-color: var(--look-default-background-color);
    padding: 1rem;
    border-radius: var(--container-border-radius);
    height: 100%;
}

.contents:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}