.panel {
    --unread-color: var(--warning-color);
    --read-color: var(--success-color);
    max-height: max-content;
    max-width: 40rem;
}

button.unread i {
    color: var(--warning-color);
    animation: pulse 1000ms ease-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.messages {
    overflow: auto;
}

.messages ul {
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: .5rem 1rem;
    border-radius: var(--container-border-radius);
}

.messages li .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messages li + li {
    margin-top: 1rem;
}

.messages .subject {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: .5rem;
}

.messages .subject.UNREAD i {
    color: var(--unread-color);
}

.messages .subject.READ i {
    color: var(--read-color);
}

.messages .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--wireframe-color);
}

/* markdown */

.contents {
    margin-top: 1rem;
    font-size: 1rem;
}

.contents h1 {
    font-size: 1.6rem;
}

.contents h2 {
    font-size: 1.3rem;
}

.contents h4 {
    font-size: 1.1rem;
}

.contents ul {
    margin-bottom: 1rem;
    list-style-type: circle;
}

.contents li {
    margin-left: 2rem;
    padding: 0;
}

.contents li + li {
    margin-top: 0rem;
}
