services:
  mysql:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    build:
      context: ../..
      dockerfile: ./modules/mysql/Dockerfile
      ulimits:
        nofile:
          soft: 65536
          hard: 65536
    image: "${DOCKER_REGISTRY_HOST:-localhost}/openforis/mysql:${SEPAL_VERSION:-latest}"
    container_name: mysql
    volumes:
      - "${SEPAL_DATA_DIR}/mysql:/data"
      # Parent image volume
      - "${SEPAL_DATA_DIR}/mysql/db:/var/lib/mysql"
    environment:
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
    networks:
      - sepal
    healthcheck:
      test: bash -c "test -f /data/module_initialized"
      timeout: 60s
      interval: 1s
      retries: 60
    restart: always
    platform: linux/amd64 # Required for macOS builds

  mysql-admin:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    image: phpmyadmin/phpmyadmin:latest
    container_name: mysql-admin
    environment:
      PMA_HOST: mysql
    ports:
      - "127.0.0.1:8980:80"
    networks:
      - sepal
    depends_on:
      - mysql
    restart: always

networks:
  sepal:
    external: true
