.form {
}

.fields {
    display: grid;
    grid-template-areas:
            'targetDateLabel'
            'targetDateInput'
            'yearsLabel'
            'yearsInput'
            'seasonLabel'
            'seasonDatePickers'
            'seasonTimeline';
    grid-row-gap: 1rem;
}

@media (min-width: 576px) {
    .fields {
        grid-template-columns: auto 1fr;
        grid-template-areas:
                'targetDateLabel targetDateInput'
                'yearsLabel      yearsInput'
                'seasonLabel     seasonDatePickers'
                'seasonTimeline  seasonTimeline';
        grid-column-gap: 3rem;
        grid-row-gap: 0;
    }
}

.targetDateLabel {
    grid-area: targetDateLabel;
    margin-top: 0.2rem;
}

.targetDateInput {
    grid-area: targetDateInput;
}

.yearsLabel {
    grid-area: yearsLabel;
}

.yearsInput {
    grid-area: yearsInput;
}

.yearsInput input {
    width: 3rem;
    display: inline-block;
    text-align: center;
}

.yearsInput input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.seasonLabel {
    grid-area: seasonLabel;
}

.seasonInput {
    grid-area: seasonDatePickers;
}

@media (min-width: 768px) {
    .seasonInput {
        grid-area: seasonTimeline;
        padding-right: 5rem;
        padding-left: 5rem;
    }
}