.container {
    --dot-size: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 16rem;
    min-width: 30rem;
    padding: var(--padding);
}

.body {
    position: relative;
    height: 10rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.handle {
    position: absolute;
    height: var(--dot-size);
    width: var(--dot-size);
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    z-index: 10;
    /* transition: all 150ms ease-in-out; */
}

.rect {
    position: absolute;
    background-color: rgba(255, 0, 0, .2);
}

.dates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.range  {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1rem;
    align-items: center;
}