.terminal {
    height: 100%;
    width: 100%;
    pointer-events: all;
    background-color: var(--terminal-background-color);
    border-radius: var(--container-border-radius);
    box-shadow: var(--elevation-shadow);
}

 /* [HACK] Fix forced vertical scrollbar and transparency */
:global .xterm-viewport {
    overflow-y: auto !important;
    background-color: transparent !important;
}
