.terminal {
    height: 100%;
    width: 100%;
    pointer-events: all;
}

 /* [HACK] Fix forced vertical scrollbar and transparency */
:global .xterm-viewport {
    overflow-y: auto !important;
    background-color: transparent !important;
}
