.map {
    height: 16rem;
}

.map::before {
    pointer-events: none;
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: var(--map-overlay-height);
    background-color: hsla(0, 0%, 0%, .4);
}
