:global .cm-editor {
    height: 5rem;
}

:global .cm-tooltip-autocomplete {
    border: var(--floating-border-color) 1px solid !important;
    background-color: var(--floating-background-color) !important;
    min-height: fit-content !important;
}

:global .cm-tooltip-autocomplete>ul {}

:global .cm-tooltip-autocomplete>ul>li {
    background-color: var(--floating-background-color) !important;
    color: var(--text-color) !important;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: .9rem !important;
    line-height: .9rem !important;
    font-weight: 400 !important;
    padding: 7.56px 12.096px !important;
    border-color: transparent !important;
    border-radius: .2rem !important;
}

:global .cm-tooltip-autocomplete>ul>li[aria-selected="true"] {
    background-color: var(--code-completion-selected-background-color) !important;
    border-color: var(--look-selected-hover-border-color) !important;
    color: var(--text-strong-color) !important;
}

:global .cm-tooltip-autocomplete>ul>li:hover {
    background-color: var(--look-highlight-hover-background-color) !important;
    color: var(--text-strong-color) !important;
}

:global .cm-tooltip-autocomplete>ul>completion-section {
    background-color: var(--code-completion-section-background-color) !important;
    border-color: transparent !important;
    border: none !important;
    color: var(--text-color) !important;
    color: var(--look-default-color) !important;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: .8rem !important;
    line-height: .9rem !important;
    font-weight: 800 !important;
    text-transform: uppercase;
    opacity: 0.6 !important;
    padding: 7.56px 12.096px !important;
}

:global .cm-completionInfo {
    background-color: var(--popover-background-color) !important;
    color: var(--text-strong-color) !important;
    min-height: 34px !important;
    padding: 8px 10px !important;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 6px !important;
    box-shadow: 0 0 1rem var(--shadow-medium-color) !important;
    margin-left: 0.25rem;
}

.info {
    color: var(--info-color);
    font-size: .8rem;
    /* text-align: right; */
}