:global .cm-editor {
    /* display: flex; */
    height: 5rem;
    /* max-width: 100%; */
}

:global .cm-tooltip-autocomplete {
    border: rgb(51, 51, 51) 1px solid !important;
    background-color: hsla(0, 0%, 0%, .9) !important;
    min-height: fit-content !important;
}

:global .cm-tooltip-autocomplete>ul {}

:global .cm-tooltip-autocomplete>ul>li {
    background-color: hsla(0, 0%, 0%, .9) !important;
    color: rgb(204, 204, 204) !important;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: .9rem !important;
    line-height: .9rem !important;
    font-weight: 400 !important;
    padding: 7.56px 12.096px !important;
    border-color: transparent !important;
    border-radius: .2rem !important;
}

:global .cm-tooltip-autocomplete>ul>li[aria-selected="true"] {
    background-color: hsla(40, 60%, 23%, 1) !important;
    border-color: var(--look-selected-hover-border-color) !important;
    color: white !important;
}

:global .cm-tooltip-autocomplete>ul>li:hover {
    background-color: var(--look-highlight-hover-background-color) !important;
    color: white !important;
}

:global .cm-tooltip-autocomplete>ul>completion-section {
    background-color: #000000 !important;
    border-color: transparent !important;
    border: none !important;
    color: rgb(204, 204, 204) !important;
    color: var(--look-default-color) !important;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: .8rem !important;
    line-height: .9rem !important;
    font-weight: 800 !important;
    text-transform: uppercase;
    opacity: 0.6 !important;
    padding: 7.56px 12.096px !important;
}

:global .cm-completionInfo {
    background-color: #373737 !important;
    color: white !important;
    min-height: 34px !important;
    padding: 8px 10px !important;
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 6px !important;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, .5) !important;
    margin-left: 0.25rem;
}