#search-retrieve {
    position: absolute;
    z-index: 3;
    background-color: rgba(28, 28, 28, 0.85);
    margin-left: 0;
    width: 50%;
    left: 25%;
    padding: .5rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#search-retrieve > div {
    padding: .5rem 0;
    float: left;
}

#search-retrieve .btn {
    font-size: .8rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
