#search-retrieve {
    position: absolute;
    z-index: 3;
    background-color: rgba(28, 28, 28, 1);
    margin-left: 0;
    //width: 50%;
    //left: 25%;
    width: 70%;
    left: 15%;
    padding: .5rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: .5rem 0.9375rem;
    opacity: .90;

    .row-header {
        >div {
            padding: 0 0 1rem 0;
        }
    }

    .scenes {
        border-right: 2px solid rgba(255, 255, 255, 0.15);
    }

    .scenes ,
    .mosaic {
        padding-bottom: 1rem;

        .btn {
            font-size: .8rem;
            padding-top: .8rem;
            padding-bottom: .8rem;
        }

        .btn.disabled, .btn:disabled {
            opacity: .4;
        }


    }

}
