/* .modeSwitch {
    margin-left: .3rem;
    margin-bottom: 8rem;
    transition: opacity 150ms ease-in-out 250ms;
} */

/* hide lock when bar is hidden */
/* .menu.floating:not(:hover) .modeSwitch {
    opacity: 0;
    transition: opacity 100ms ease-in-out 100ms;
} */
