.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    transition: transform 150ms ease-in-out 0ms;
    --button-size: 3.5rem;
}

.menu > * {
    margin-bottom: 1.5rem;
}

.menu button {
    position: relative;
    width: var(--button-size);
    height: var(--button-size);
    border: none;
    border-radius: .25rem;
    color: rgba(255, 255, 255, 0.8);
    --opacity: .8;
    --border-opacity: 0;
}

.menu button svg {
    font-size: 1.5rem;
    vertical-align: middle;
    text-align: right;
    transition: opacity 150ms ease-in-out 200ms;
}

.menu button:hover {
    color: white;
    cursor: pointer;
    --opacity: .5;
}

.menu button.active {
    --border-width: 3px;
    --border-opacity: 1;
    border-right: var(--border-width) solid transparent;
}

/* compensate icon position when border is active */
.menu button.active svg {
    margin-left: var(--border-width);
}

/* hide button icons when bar is hidded */
.menu.floating:not(:hover) button svg {
    opacity: 0;
}

.menu button.process {
    background-color: hsla(37, 27%, 39%, var(--opacity));
    border-color: hsla(37, 27%, 59%, var(--border-opacity));
}

.menu button.browse {
    background-color: hsla(127, 6%, 30%, var(--opacity));
    border-color: hsla(127, 6%, 50%, var(--border-opacity));
}

.menu button.terminal {
    background-color: hsla(221, 19%, 26%, var(--opacity));
    border-color: hsla(221, 19%, 46%, var(--border-opacity));
}

.menu button.app-launch-pad {
    background-color: hsla(310, 10%, 23%, var(--opacity));
    border-color: hsla(310, 10%, 43%, var(--border-opacity));
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

.menu .app button {
    background-color: hsla(0, 0%, 25%, var(--opacity));
    /* border-color: hsla(0, 0%, 45%, var(--border-opacity)); */
    border-color: rgb(170, 43, 43,  var(--border-opacity));
    animation: blink 150ms linear 2;
}

.app {
    position: relative;
}

.app .stop {
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem;
    border-radius: 50%;
    color: #303030;
    background-color: #a0a0a0;
    border: 1px solid #a8a8a8;
    z-index: 100;
    transition: opacity 200ms 200ms;
}

.app .stop svg {
    margin-left: .05rem;
}

.app:hover .stop {
    opacity: 1;
}

.app .stop:hover {
    background-color: #d0d0d0;
    border: 1px solid #d8d8d8;
}
