.panel {
    min-height: 20rem;
    max-width: 27rem;
}

.title {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.noEntries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: gray;
}

.entries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.palettePreSets {
    margin-top: 1.5rem;
}

.basics {
    flex-grow: 1;
}

.range {
    flex-grow: 1;
    margin-bottom: 1.5rem !important;
}

.value {
    width: 3.5rem;
}

.value input {
    text-align: right;
}

.colorContainer {
    position: relative;
}

.color {
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--color);
    margin-bottom: -.2rem;
    opacity: 1;
}

.color.invalid {
    border: 2px solid var(--error-color);
}

.color:hover {
    border: 2px solid var(--wireframe-color);
}

.color.invalid:hover {
    border: 2px solid var(--error-color);
}

.colorInput {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

.colorText input {
    width: 5rem;
}

.label {
    flex-grow: 1;
}

.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.swapColor {
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--color);
    cursor: pointer;
    flex-shrink: 0;
    margin: .3rem;
}
