#go_default_noticecontainer, #go_default_controlsContainer, #go_default_infocontainer {
    display: none !important;
}

.✈terminal_pre {
    background-color: rgba(0, 0, 0, 0) !important;
}

#go_default_term1scrollback .✈sbline:empty {
    /*display: none;*/
    background-color: red;
}