.container {
    padding: 2rem;
}

.number {
    width: 5rem;
    text-align: right;
}

.pageControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pageInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-areas: 
        "name status ib  ib  sb  sb  st  st "
        "name status ibq ibu sbq sbu stq stu";
    grid-template-columns: 4fr 1fr repeat(6, 1fr);
    /* grid-template-areas: 
        "name username status ib  ib  sb  sb  st  st "
        "name username status ibq ibu sbq sbu stq stu";
    grid-template-columns: 3fr 1.5fr 1fr repeat(6, 1fr); */
    grid-template-rows: auto;
    column-gap: 1rem;
    width: 100%;
    padding: .1rem .3rem;
}

.grid > * {
    white-space: nowrap;
    overflow: hidden;
}

.grid > .name {
    grid-area: name;
    align-self: end;
}

.grid > .username {
    grid-area: username;
    align-self: end;
}

.grid > .status {
    grid-area: status;
    align-self: end;
}

.grid > .instanceBudget {
    grid-area: ib;
    text-align: center;
}

.grid > .storageBudget {
    grid-area: sb;
    text-align: center;
}

.grid > .storage {
    grid-area: st;
    text-align: center;
}

.heading {
    background-color: var(--look-default-background-color);
    color: var(--look-default-color);
    font-weight: normal;
    font-size: .9rem;
    text-transform: uppercase;
    user-select: none;
}

.group {
    /* font-weight: bolder; */
}

.clickable:hover {
    cursor: pointer;
}

.users > :nth-child(even) {
    background-color: hsla(0, 0%, 100%, .04);
}

.users > *:hover {
    background-color: var(--look-highlight-background-color);
    color: var(--look-highlight-color);
}
