.container {
    height: 100%;
}

.inviteUser {
    --right: 2.5rem;
    --bottom: 1.5rem;
    position: absolute;
    right: var(--right);
    bottom: var(--bottom);
    box-shadow: .1rem .1rem 2rem .2rem hsla(0, 0%, 5%, .6);
    z-index: 1;
}

@media only screen and (max-width: 500px) {
    .inviteUser {
        --right: 1.5rem;
        --bottom: 1.5rem;
    }
}
