.panel {
    min-height: 15rem;
    max-width: 25rem;
}

.existingUser {
    max-height: 35rem;
}

.newUser {
    max-height: 41rem;
}

.monthlyLimits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.monthlyLimits input {
    width: 6rem;
}
