git+git://github.com/openforis/earthengine-api.git@v0.1.171#egg=earthengine-api&subdirectory=python
git+git://github.com/Servir-Mekong/landcoverPackage#egg=servir-mekong-land-cover
Flask>=0.12.2
google-api-python-client>=1.6.6
git+git://github.com/cdanielw/promise
pyCrypto>=2.6.1
python-dateutil>=2.7.2
oauth2client>=4.1.2
requests>=2.20.0
futures==3.2.0
gunicorn==19.7.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
