.mapContainer {
    position: relative;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}
