#scene-images-selection {
    overflow: hidden;
}
#scene-images-selection .selection-section{
    position: relative;
}

#scene-images-selection .selection-section .btn-images-section {
    padding-top: 1%;
    padding-bottom: 1%;
}

#scene-images-selection .selection-section .btn-images-section .btn {
    /*border: 1px solid rgba(255, 255, 255, 0.1);*/
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.05);
}

#scene-images-selection .selection-section .btn-images-section .btn:active,
#scene-images-selection .selection-section .btn-images-section .btn:active:focus,
#scene-images-selection .selection-section .btn-images-section .btn:focus,
#scene-images-selection .selection-section .btn-images-section .btn:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

#scene-images-selection .selection-section .btn-next > i,
#scene-images-selection .selection-section .btn-prev > i {
    font-size: 2rem;
}

#scene-images-selection .images-section {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

#scene-images-selection .image-section {
    /* padding: 1rem; */
    font-size: 0.6rem;
    width: 170px;
    text-align: center;
    height: 220px;
    margin-right: 10px;
    position: relative;
}

#scene-images-selection .image-section-container {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 5px 0;
    height: 210px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#scene-images-selection .image-section img {
    height: 150px;
    width: 140px;
}

#scene-images-selection .image-section img:hover {
    cursor: pointer;
}

#scene-images-selection .image-section .img-hover {
    height: 150px;
    width: 140px;
    left: 15px;
    position: absolute;
    top: 6px;
    /* background-color: rgba(16, 16, 16, 0.15); */
    display: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#scene-images-selection .image-section .img-hover i {
    position: absolute;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.9);
    top: 60px;
    left: 50px;
}

#scene-images-selection .image-section .image-attributes {
    margin: 7.5px 20px 0px 20px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    /* background-color: rgba(0, 0, 0, 0.2); */
    height: 40px;
    background-color: rgba(255, 255, 255, 0.05);
}

#scene-images-selection .image-section .image-attributes > div {
    padding-left: 10px;
}

#scene-images-selection .btn.circle {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0px;
    border: none;
    text-align: center;
    padding-top: 7px;
}

#scene-images-selection .btn.circle i {
    position: relative;
    font-size: 1.1rem;
}

#scene-images-selection .image-section .image-attributes .btn-add {
    top: -34px;
    right: -40px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    /* background-color: rgb(24, 24, 25); */
    /* color: black; */
}

/*expanded image section*/
#scene-images-selection .expanded-image-section {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    display: none;
    margin: 0;
    padding: 0;
}

#scene-images-selection .expanded-image-section .image-section-container {
    /*background-color: rgba(0, 0, 0, 0.99);*/
    background-color: rgba(19, 19, 20, 0.99);
    border: 2px solid rgba(255, 255, 255, 0.12);
    margin: 0;
    padding: 0;
}

#scene-images-selection .expanded-image-section .image img {
    /*max-width: 60%;*/
    max-width: 75%;
    border: 10px solid black;
}

#scene-images-selection .expanded-image-section .image-attributes {
    margin: 2% 5% 0px 5%;
    padding: 1%;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(255, 255, 255, 0.05);
    font-size: .8rem;
}

#scene-images-selection .expanded-image-section .image-attributes > div {
    padding-left: 10px;
    width: 50%;
    /*float: left;*/
    display: table-cell;
}

/*
========
Selected scene images section
========
*/
#scene-images-selection .selected-section {

}

#scene-images-selection .selected-section .table-header {
    padding: 0 2rem;
}

#scene-images-selection .selected-section .table-content {
    padding: .5rem 2rem;
    overflow: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

#scene-images-selection .selected-section .table-row {
    /*margin-bottom: 10px;*/
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(255, 255, 255, 0.05);
}

#scene-images-selection .selected-section .table-row > div {
    font-size: .8rem;
}

#scene-images-selection .selected-section .table-row img {
    width: 55px;
    height: 55px;
}
