#scene-images-selection {
  overflow: hidden;

  .image-section-container {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 5px 0;
    height: 230px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  .btn.circle {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 7px 0px 0px 0px;
    border: none;
    text-align: center;
    i {
      position: relative;
      font-size: 1.1rem;
    }
  }
  /* ========
  * Selection of scene images section
  * ======== */
  .selection-section {
    position: relative;

    .btn-images-section {
      padding-top: 1%;
      padding-bottom: 1%;

      .btn {
        border: none;
        color: white;
        width: 100%;
        height: 100%;
        padding: 1%;
        background-color: rgba(255, 255, 255, 0.05);
      }
      .btn:active,
      .btn:hover {
        background-color: rgba(255, 255, 255, 0.18);
      }
    }

    .btn-next > i, .btn-prev > i {
      font-size: 2rem;
    }

    .images-section {
      overflow: hidden;
      overflow-y: auto;
      position: relative;

      .image-section {
        /* padding: 1rem; */
        font-size: 0.6rem;
        width: 170px;
        text-align: center;
        height: 240px;
        margin-right: 10px;
        position: relative;

        img {
          height: 150px;
          width: 140px;
        }

        img:hover {
          cursor: pointer;
        }

        .img-hover {
          height: 150px;
          width: 140px;
          left: 15px;
          position: absolute;
          top: 6px;
          /* background-color: rgba(16, 16, 16, 0.15); */
          display: none;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.10);
          border: 1px solid rgba(255, 255, 255, 0.15);
          i {
            position: absolute;
            font-size: 2rem;
            color: rgba(255, 255, 255, 0.9);
            top: 60px;
            left: 50px;
          }
        }

        .image-attributes {
          margin: 7.5px 20px 0px 20px;
          border: 1px solid rgba(255, 255, 255, 0.10);
          /* background-color: rgba(0, 0, 0, 0.2); */
          height: 60px;
          background-color: rgba(255, 255, 255, 0.05);
          > div {
            padding-left: 10px;
          }
          .acquisition-date,
          .target-day {
            float: left;
          }
          .btn-add {
            top: -52px;
            right: -40px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            padding-top: 6px;
          }
        }

      }

    }

  }

  /* ====
  * Expanded image section
  ======= */

  .expanded-image-section {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    display: none;
    margin: 0;
    padding: 0;

    .image-section-container {
      background-color: rgba(19, 19, 20, 0.99);
      border: 2px solid rgba(255, 255, 255, 0.12);
      margin: 0;
      padding: 0;
    }

    .image img {
      max-width: 75%;
      border: 10px solid black;
    }

    .image-attributes {
      margin: 5% 5% 0 5%;
      padding: 1%;
      border: 1px solid rgba(255, 255, 255, 0.10);
      background-color: rgba(0, 0, 0, 0.25);
      font-size: .8rem;
    }
  }

  /* ========
  * Selected scene images section
  * ======== */
  .selected-section {

    .table-header {
      padding: 0 2rem;
    }

    .table-content {
      padding: .5rem 2rem;
      overflow: auto;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .table-row {
      /*margin-bottom: 10px;*/
      border: 1px solid rgba(255, 255, 255, 0.10);
      background-color: rgba(255, 255, 255, 0.05);

      > div {
        font-size: .8rem;
      }
      img {
        width: 55px;
        height: 55px;
        cursor: pointer;
      }
    }

  }

}
