<div id="scene-images-selection" class="row height100">

    <div class="col-sm-7 height100 selection-section">

        <div class="row expanded-image-section"
             data-animation-in="rotateInDownLeft"
             data-animation-out="rotateOutDownLeft"
        >
            <div class="col-sm-12 height100 width100 image-section-container">

                <div class="row height5">
                    <div class="col-sm-12 text-align-center p-t-0-5 p-b-0-5">
                        <h4 class="scene-id"></h4>
                    </div>
                </div>

                <div class="row height75">
                    <div class="col-sm-12 text-align-center p-t-1 image">
                        <img/>
                    </div>
                </div>
                <div class="row height20">
                    <div class="col-sm-12 text-align-center">
                        <div class="row image-attributes">
                            <div class="col-sm-4 p-l-0-5">
                                <div class="sensor width100 text-align-left"></div>
                                <div class="cloud-cover width100 text-align-left"></div>
                            </div>
                            <div class="col-sm-4 p-l-0-5">
                                <div class="acquisition-date width100 text-align-left"></div>
                                <div class="target-day width100 text-align-left"></div>
                            </div>
                            <div class="col-sm-4 p-l-0-5">
                                <div class="sun-azimuth width100 text-align-left"></div>
                                <div class="sun-elevation width100 text-align-left"></div>
                            </div>
                        </div>
                        <!--<div class="image-attributes">-->
                            <!--<div class="sensor text-align-left"></div>-->
                            <!--<div class="cloud-cover text-align-left"></div>-->
                            <!--<div class="acquisition-date text-align-left"></div>-->
                            <!--<div class="target-day text-align-left"></div>-->
                            <!--<div class="sun-azimuth text-align-left"></div>-->
                            <!--<div class="sun-elevation text-align-left"></div>-->
                        <!--</div>-->
                    </div>

                </div>
            </div>
        </div>

        <div class="row height90 images-section"></div>

    </div>

    <div class="col-sm-5 height100 selected-section">
        <div class="row section-header height5">
            <div class="col-sm-12 text-align-center"><h4>Selected Images</h4></div>
        </div>

        <div class="row table-header height5">
            <div class="col-sm-4"></div>
            <div class="col-sm-3 cloud-cover text-align-center"><i class="fa fa-cloud" aria-hidden="true"></i></div>
            <div class="col-sm-3 sensor text-align-center"><i class="fa fa-rocket" aria-hidden="true"></i></div>
            <div class="col-sm-2 remove"></div>
        </div>

        <div class="row height90">
            <div class="col-sm-12 table-content">
            </div>
        </div>

        <div class="row table-row m-b-10" style="display: none"
             data-animation-in="bounceInLeft"
             data-animation-out="bounceOutLeft"
             data-animation-in-delay="100"
             data-animation-out-delay="50">
            <div class="col-sm-4 image text-align-center p-y-0-5"><img/></div>
            <div class="col-sm-3 cloud-cover text-align-center p-t-2"></div>
            <div class="col-sm-3 sensor text-align-center p-t-2"></div>
            <div class="col-sm-2 button text-align-center p-t-2">
                <a class="btn btn-base circle btn-remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>

    <div class="image-section" style="display: none"
         data-animation-in="bounceInRight"
         data-animation-out="bounceOutRight"
         data-animation-in-delay="50"
         data-animation-out-delay="50"
    >
        <div class="image-section-container">
            <img/>

            <div class="img-hover">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="image-attributes">
                <div class="sensor width100 text-align-left"></div>
                <div class="cloud-cover width100 text-align-left"></div>
                <div class="width100 text-align-left">
                    <div class="width50 text-align-left acquisition-date"></div>
                    <div class="width50 text-align-left target-day"></div>
                </div>
                <a class="btn btn-base circle btn-add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>

</div>