#dialog {

  .modal-content {
    background-color: rgba(23, 23, 23, 0.9);
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid rgba(130, 126, 126, 0.1);
  }

  .modal-footer {
    border: none;
    padding-top: 2rem;
    word-spacing: 1.5rem;
  }

}