<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body text-align-center message">

            </div>

            <div class="modal-footer  text-align-center">
                <button type="button" class="btn btn-base round p-y-1 btn-yes">Yes</button>
                <button type="button" class="btn btn-base round p-y-1 btn-no">No </button>
            </div>

        </div>
    </div>
</div>