<div class="header"></div>
<div class="container">
    <h1>Hello, <%=name%>!</h1>
    <p>
        Lorem fdsgdfgd ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mauris convallis purus dapibus vestibulum.
        Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mauris sapien, sollicitudin vitae justo ut,
        efficitur
        pellentesque augue. Maecenas in rutrum ex, dictum tristique leo. Donec eu tempor tortor. Nullam posuere mi
        tempus,
        suscipit ligula sit amet, dignissim velit. Mauris aliquam metus lectus, non viverra risus lobortis vel. Praesent
        varius, justo sed efficitur maximus, leo nisl ornare nisi, id convallis urna velit at ipsum. Etiam eu nisi
        convallis
        orci elementum cursus. Curabitur id leo eget mauris porta fermentum. Vestibulum luctus massa lacus, ut posuere
        dolor
        pharetra laoreet.
    </p>
</div>