/*
 * button
 * -------------------------
 */
/* button layout */
.btn {
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 1;
    /*font-weight: 400;*/
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    overflow: hidden;
    border-width: 2px;
    padding: 19.5px 28.5px 19.5px 30px;
    font-size: 13px;
}

.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.btn:active:focus {*/
    /*outline: 0;*/
/*}*/

/*.btn:focus {*/
    /*outline: 0;*/
/*}*/
.btn:active,
.btn:active:focus,
.btn:focus,
.btn:hover {
    outline: none !important;
}

.btn.icon {
    padding-left: 50px;
}

@media (min-width: 992px) {
    .btn {
        padding: 24.5px 38.5px 24.5px 40px;
    }

    .btn.icon {
        padding-left: 60px;
    }
}

.btn-theme {
    border-color: #c5b397;
    background-color: #c5b397;
    color: #fff;
}

.btn-theme:active,
.btn-theme:active:focus,
.btn-theme:focus,
.btn-theme:hover {
    border-color: #b8a280;
    background-color: #b8a280;
    color: #fff;
}

.btn-base {
    /*border-color: #fff;*/
    background-color: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.25);
    /*outline: none;*/
}

.btn-base:active,
.btn-base:active:focus,
.btn-base:focus,
.btn-base:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;

}

/* circle button */
.btn.circle {
    -webkit-border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    border-top-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.btn.round {
    -webkit-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* button with icon */
.btn.icon > i {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    width: 25px;
    font-size: 25px;
}

@media (min-width: 992px) {
    .btn.icon > i {
        left: 25px;
    }
}

.btn-wrap {
    margin-top: 20px;
}

.btn-wrap .btn {
    margin: 10px 5px 0;
}

@media (min-width: 992px) {
    .btn-wrap {
        margin-top: 50px;
    }
}