/*search*/
button.bg-search:active,
button.bg-search:active:focus,
button.bg-search:focus,
button.bg-search:hover,
a.bg-search:active,
a.bg-search:active:focus,
a.bg-search:focus,
a.bg-search:hover {

    border-color: rgba(252, 199, 123, 0.7);

    background-color: rgba(252, 199, 123, .1);
    /*border-color: rgba(118, 129, 135, .8);*/
    /*background-color: rgba(118, 129, 135, .4);*/
    border-width: 2px;
    color: #fff;
}

.bg-search {
    background-color: rgba(252, 199, 123, .4);
    /*background-color: rgba(118, 129, 135, .8);*/
    color: #fff;
}
.bg-search-l {
    background-color: rgba(252, 199, 123, .035);
    /*background-color: rgba(118, 129, 135, .8);*/
    color: #fff;
    transition: background-color 800ms ease-in;
}
.color-search {
    color: #768187;
}

/*browse data*/
button.bg-browse:active,
button.bg-browse:active:focus,
button.bg-browse:focus,
button.bg-browse:hover,
a.bg-browse:active,
a.bg-browse:active:focus,
a.bg-browse:focus,
a.bg-browse:hover {
    border-color: rgba(126, 141, 118, 0.7);
    /*border-color: rgba(62, 69, 74, .8);*/
    background-color: rgba(126, 141, 118, .1);
    /*background-color: rgba(62, 69, 74, .4);*/
    border-width: 2px;
    color: #fff;
}

.bg-browse {
    background-color: rgba(126, 141, 118, .4);
    /*background-color: rgba(62, 69, 74, .8);*/
    color: #fff;
}
.bg-browse-l {
    background-color: rgba(126, 141, 118, .035);
    /*background-color: rgba(62, 69, 74, .8);*/
    color: #fff;
    transition: background-color 800ms ease-in;
}
.color-browse {
    color: #3E454A;
}

/*process*/
button.bg-process:active,
button.bg-process:active:focus,
button.bg-process:focus,
button.bg-process:hover,
a.bg-process:active,
a.bg-process:active:focus,
a.bg-process:focus,
a.bg-process:hover {
    border-color: rgba(96, 71, 90, 0.7);
    /*border-color: rgba(120, 88, 79, .8);*/
    background-color: rgba(96, 71, 90, .1);
    /*background-color: rgba(120, 88, 79, .4);*/
    border-width: 2px;
    color: #fff;
}

.bg-process {
    background-color: rgba(96, 71, 90, 0.4);
    /*background-color: rgba(120, 88, 79, .8);*/
    color: #fff;
}
.bg-process-l {
    background-color: rgba(96, 71, 90, .035);
    /*background-color: rgba(120, 88, 79, .8);*/
    color: #fff;
    transition: background-color 800ms ease-in;
}
.color-process {
    color: #78584F;
}

/*terminal*/
button.bg-terminal:active,
button.bg-terminal:active:focus,
button.bg-terminal:focus,
button.bg-terminal:hover,
a.bg-terminal:active,
a.bg-terminal:active:focus,
a.bg-terminal:focus,
a.bg-terminal:hover {
    border-color: rgba(74, 94, 130, 0.7);
    /*border-color: rgba(176, 149, 130, .8);*/
    background-color: rgba(74, 94, 130, .1);
    /*background-color: rgba(176, 149, 130, .4);*/
    border-width: 2px;
    color: #fff;
}

.bg-terminal {
    background-color: rgba(74, 94, 130, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-terminal-l {
    background-color: rgba(74, 94, 130, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    transition: background-color 800ms ease-in;
}

.color-terminal {
    color: #B09582;
}

/*user*/
button.bg-user:active,
button.bg-user:active:focus,
button.bg-user:focus,
button.bg-user:hover,
a.bg-user:active,
a.bg-user:active:focus,
a.bg-user:focus,
a.bg-user:hover {
    border-color: rgba(223, 224, 206, 0.7);
    background-color: rgba(223, 224, 206, .1);
    border-width: 2px;
    color: #fff;
}

.bg-user {
    background-color: rgba(223, 224, 206, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-user-l {
    background-color: rgba(223, 224, 206, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    transition: background-color 800ms ease-in;
}

/*user*/
button.bg-users:active,
button.bg-users:active:focus,
button.bg-users:focus,
button.bg-users:hover,
a.bg-users:active,
a.bg-users:active:focus,
a.bg-users:focus,
a.bg-users:hover {
    border-color: rgba(125, 125, 111, 0.7);
    background-color: rgba(125, 125, 111, .1);
    border-width: 2px;
    color: #fff;
}

.bg-users {
    background-color: rgba(125, 125, 111, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-users-l {
    background-color:  rgba(125, 125, 111, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    transition: background-color 800ms ease-in;
}

/*tasks*/
button.bg-tasks:active,
button.bg-tasks:active:focus,
button.bg-tasks:focus,
button.bg-tasks:hover,
a.bg-tasks:active,
a.bg-tasks:active:focus,
a.bg-tasks:focus,
a.bg-tasks:hover {
    border-color: rgba(225, 225, 230, 0.7);
    background-color: rgba(225, 225, 230, .1);
    border-width: 2px;
    color: #fff;
}

.bg-tasks {
    background-color: rgba(225, 225, 230, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-tasks-l {
    background-color: rgba(225, 225, 230, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    transition: background-color 800ms ease-in;
}

