/*
 * form
 * -------------------------
 */

/* form notify */
.form-notify {
    display: none;
    /*margin-top: 20px;*/
    font-size: .85rem;
    font-weight: 400;
}

.form-error {
    color: #e81351;
}

/* form theme */
.form-theme {
    position: relative;
}

.form-theme .required:after {
    position: absolute;
    top: 10px;
    right: 0;
    content: "*";
    line-height: 1;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #e81351;
}

.form-theme .form-group {
    position: relative;
    padding: 5px 12px;
    /*margin-bottom: 20px;*/
}

.form-theme .form-group input {
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    /*padding-bottom: 20px;*/
    padding: .6rem .2rem;
    transition: background-color 800ms ease-in;
    transition: border-bottom-color 500ms ease-in;
}

.form-theme .form-group.error input {
    border-bottom-color: #e81351 !important;
    background-color: rgba(232, 19, 81, 0.1) !important;

    transition: background-color 800ms ease-out;
    transition: border-bottom-color 500ms ease-in;
}

.form-theme .form-group.error button {
    border-color: #e81351 !important;
    background-color: rgba(232, 19, 81, 0.1) !important;
}

.form-theme .form-label {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-theme .form-control {
    line-height: normal;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0;
    background-color: transparent;
    color: inherit;
}

.form-theme .form-subtitle {
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}

/*input placeholders*/
::-webkit-input-placeholder {
    opacity: .7;
    font-style: italic;
}

:-moz-placeholder {
    opacity: .7;
    font-style: italic;
}

::-moz-placeholder {
    opacity: .7;
    font-style: italic;
}

:-ms-input-placeholder {
    opacity: .7;
    font-style: italic;
}

/*
* devbrige autocomplete style
*/

.autocomplete-suggestions {
    /*border: 1px solid #999;*/
    /*background: #FFF;*/
    /*overflow: auto;*/
    background-color: rgba(19, 19, 20, 0.91);
    max-height: 60% !important;
    overflow: auto;
    padding: 5px 5px;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}

.autocomplete-suggestion:hover,
.autocomplete-suggestion.autocomplete-selected {
    cursor: pointer;
    background-color: rgba(101, 101, 104, 0.6);
}

.autocomplete-reset {
    position: absolute;
    right: 1.2rem;
    top: .6rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    animate: opacity 500 ease-in;
}
.autocomplete-reset.disabled, .autocomplete-reset:disabled {
    opacity: .15 !important;
    animate: opacity 500 ease-in;
}
.autocomplete-reset i {
    font-size: 1.2rem !important;
}

/*.autocomplete-selected { background: #F0F0F0; }*/
/*.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }*/
/*.autocomplete-group { padding: 2px 5px; }*/
/*.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }*/
