.container {
    width: 100%;
    pointer-events: all;
}

.header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

.apps {
    flex-shrink: 1;
}

.count {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: gray;
    font-size: small;
    margin-right: 1rem;
}
