.appInstance {
    height: 100%;
    width: 100%;
    pointer-events: all;
}

.appInstance iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.backdrop {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .1;
    font-weight: bold;
}

.spinner {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 25%, .2);
}

.status {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-transform: uppercase;
}
