version: "3.9"

services:
  sandbox-base:
    build:
      context: ../..
      dockerfile: ./modules/sandbox-base/Dockerfile
    image: "openforis/sandbox-base:latest"
    platform: linux/amd64 # Required for macOS builds
