services:
  sys-monitor:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    build:
      context: ../..
      dockerfile: ./modules/sys-monitor/Dockerfile
      ulimits:
        nofile:
          soft: 65536
          hard: 65536
    image: "${DOCKER_REGISTRY_HOST:-localhost}/openforis/sys-monitor:${SEPAL_VERSION:-latest}"
    container_name: sys-monitor
    init: true
    volumes:
      - "/var/log/sepal:/log:ro"
    environment:
      DEPLOY_ENVIRONMENT: "${DEPLOY_ENVIRONMENT}"
      SEPAL_SERVER_LOG: "/log/main/container/sepal.log"
      INITIAL_DELAY_MINUTES: "10"
      AUTO_REARM_DELAY_HOURS: "24"
      PUSHOVER_API_KEY: "${PUSHOVER_API_KEY}"
      PUSHOVER_GROUP_KEY: "${PUSHOVER_GROUP_KEY}"
      NOTIFY_FROM: "sys-monitor"
      EMERGENCY_NOTIFICATION_RETRY_DELAY: ${PUSHOVER_EMERGENCY_RETRY_DELAY_SECONDS}
      EMERGENCY_NOTIFICATION_RETRY_TIMEOUT: ${PUSHOVER_EMERGENCY_RETRY_TIMEOUT_SECONDS}
    networks:
      - sepal
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "7001"]
      timeout: 60s
      interval: 1s
      retries: 60
    restart: always
    ulimits:
      core: 0

networks:
  sepal:
    external: true
