.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    min-height: 14rem;
}

.sources {
    margin-bottom: 2rem;
}

.oneDataSet {
    font-style: italic;
}