/*search*/
.btn.bg-search:active,
/*.btn.bg-search:active:focus,*/
/*.btn.bg-search:focus,*/
.btn.bg-search:hover {
    border-color: rgba(252, 199, 123, 0.7);
    background-color: rgba(252, 199, 123, .1);
    border-width: 2px;
    color: #fff;
}

.bg-search {
    background-color: rgba(252, 199, 123, .4);
    /*background-color: rgba(118, 129, 135, .8);*/
    color: #fff;
}
.bg-search-l {
    background-color: rgba(252, 199, 123, .035);
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}
.color-search {
    color: #768187;
}

/*browse data*/
.btn.bg-browse:active,
/*.btn.bg-browse:active:focus,*/
/*.btn.bg-browse:focus,*/
.btn.bg-browse:hover {
    border-color: rgba(126, 141, 118, 0.7);
    /*border-color: rgba(62, 69, 74, .8);*/
    background-color: rgba(126, 141, 118, .1);
    /*background-color: rgba(62, 69, 74, .4);*/
    border-width: 2px;
    color: #fff;
}

.bg-browse {
    background-color: rgba(126, 141, 118, .4);
    /*background-color: rgba(62, 69, 74, .8);*/
    color: #fff;
}
.bg-browse-l {
    background-color: rgba(126, 141, 118, .035);
    /*background-color: rgba(62, 69, 74, .8);*/
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}
.color-browse {
    color: #3E454A;
}

/*process*/
.btn.bg-process:active,
/*.btn.bg-process:active:focus,*/
/*.btn.bg-process:focus,*/
.btn.bg-process:hover {
    border-color: rgba(96, 71, 90, 0.7);
    /*border-color: rgba(120, 88, 79, .8);*/
    background-color: rgba(96, 71, 90, .1);
    /*background-color: rgba(120, 88, 79, .4);*/
    border-width: 2px;
    color: #fff;
}

.bg-process {
    background-color: rgba(96, 71, 90, 0.4);
    /*background-color: rgba(120, 88, 79, .8);*/
    color: #fff;
}
.bg-process-l {
    background-color: rgba(96, 71, 90, .035);
    /*background-color: rgba(120, 88, 79, .8);*/
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}
.color-process {
    color: #78584F;
}

/*terminal*/
.btn.bg-terminal:active,
/*.btn.bg-terminal:active:focus,*/
/*.btn.bg-terminal:focus,*/
.btn.bg-terminal:hover {
    border-color: rgba(74, 94, 130, 0.7);
    /*border-color: rgba(176, 149, 130, .8);*/
    background-color: rgba(74, 94, 130, .1);
    /*background-color: rgba(176, 149, 130, .4);*/
    border-width: 2px;
    color: #fff;
}

.bg-terminal {
    background-color: rgba(74, 94, 130, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-terminal-l {
    background-color: rgba(74, 94, 130, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}

.color-terminal {
    color: #B09582;
}

/*user*/
.btn.bg-user:active,
/*.btn.bg-user:active:focus,*/
/*.btn.bg-user:focus,*/
.btn.bg-user:hover {
    border-color: rgba(223, 224, 206, 0.7);
    background-color: rgba(223, 224, 206, .1);
    border-width: 2px;
    color: #fff;
}

.bg-user {
    background-color: rgba(223, 224, 206, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-user-l {
    background-color: rgba(223, 224, 206, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}

/*user*/
.btn.bg-users:active,
/*.btn.bg-users:active:focus,*/
/*.btn.bg-users:focus,*/
.btn.bg-users:hover {
    /*border-color: rgba(125, 125, 111, 0.7);*/
    /*background-color: rgba(125, 125, 111, .1);*/
    /*border-width: 2px;*/
    /*color: #fff;*/
    background-color: rgba(125, 125, 111, .4);
}

.btn.bg-users {
    /*border : 2px solid rgba(125, 125, 111, 0.7);*/
    border: none;
    background-color: rgba(125, 125, 111, .1);
}
.bg-users {
    background-color: rgba(125, 125, 111, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-users-l {
    background-color:  rgba(125, 125, 111, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}

/*tasks*/
.btn.bg-tasks:active,
/*.btn.bg-tasks:active:focus,*/
/*.btn.bg-tasks:focus,*/
.btn.bg-tasks:hover {
    /*border-color: rgba(225, 225, 230, 0.7);*/
    /*background-color: rgba(225, 225, 230, .1);*/
    /*border-width: 2px;*/
    /*color: #fff;*/
    background-color: rgba(225, 225, 230, .4);
}
.btn.bg-tasks {
    /*border: 2px solid rgba(225, 225, 230, 0.7);*/
    border: none;
    background-color: rgba(225, 225, 230, .1);
}

.bg-tasks {
    background-color: rgba(225, 225, 230, .4);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
}

.bg-tasks-l {
    background-color: rgba(225, 225, 230, .035);
    /*background-color: rgba(176, 149, 130, .8);*/
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}

/**
* layers-vis
 */
.btn.bg-layers-vis:active,
/*.btn.bg-layers-vis:active:focus,*/
/*.btn.bg-layers-vis:focus,*/
.btn.bg-layers-vis:hover {
    border-color: rgba(213, 198, 208, 0.7);
    background-color: rgba(213, 198, 208, .1);
    border-width: 2px;
    color: #fff;
}

.bg-layers-vis {
    background-color: rgba(213, 198, 208, .4);
    /*background-color: rgba(118, 129, 135, .8);*/
    color: #fff;
}
.bg-layers-vis-l {
    background-color: rgba(213, 198, 208, .035);
    color: #fff;
    /*transition: background-color 800ms ease-in;*/
}
