.panel {
    max-width: 20rem;
}

.panel p {
    text-align: right;
}

.panel a {
    color: hsl(var(--selected-hue), var(--selected-sat), 45%);
}

.panel a:hover {
    color: hsl(var(--selected-hue), var(--selected-sat), 50%);
}