.simple {
    min-height: 20rem;
    max-width: 18rem;
}

.advanced {
    max-width: 80rem;
}

.advancedLayout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    grid-template-areas:
        'pastSeasons targetDate futureSeasons'
        'season      season     season'
    ;
    grid-column-gap: 3rem;
    grid-row-gap: 0rem;
}

@media (max-width: 500px) {
    .advancedLayout {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-areas:
            'targetDate  targetDate'
            'pastSeasons futureSeasons'
            'season      season'
        ;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    }
}

.targetDate {
    grid-area: targetDate;
}

.years {
    grid-area: years;
}

.pastSeasons {
    grid-area: pastSeasons;
}

.futureSeasons {
    grid-area: futureSeasons;
}

.season {
    grid-area: season;
}
