html {
    /* disabled */

    --look-hover-disabled-opacity: .8;
    --look-disabled-opacity: .5;

    /* default */

    --look-default-background-color: hsla(var(--look-default-h), var(--look-default-s), var(--look-default-l), var(--look-default-a));
    --look-default-focus-background-color: hsla(var(--look-default-h), var(--look-default-s), calc(var(--look-default-l) + 3% * var(--contrast-direction)), var(--look-default-a));
    --look-default-hover-background-color: hsla(var(--look-default-h), var(--look-default-s), calc(var(--look-default-l) + 5% * var(--contrast-direction)), var(--look-default-a));
    --look-default-active-background-color: hsla(var(--look-default-h), var(--look-default-s), calc(var(--look-default-l) + 3% * var(--contrast-direction)), var(--look-default-a));

    /* highlight */

    --look-highlight-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), var(--look-highlight-l), var(--look-highlight-a));
    --look-highlight-focus-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), calc(var(--look-highlight-l) - 2% * var(--contrast-direction)), var(--look-highlight-a));
    --look-highlight-hover-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), calc(var(--look-highlight-l) + 3% * var(--contrast-direction)), var(--look-highlight-a));
    --look-highlight-active-background-color: hsla(var(--look-highlight-h), var(--look-highlight-s), var(--look-highlight-l), var(--look-highlight-a));
}
