.header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.noTasks {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusDescription {
    color: #999;
    height: 5rem;
    overflow-y: auto;
}

.duration {
    pointer-events: none;
    font-size: small;
    color: gray;
    flex-shrink: 0;
}
