.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.noTasks {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusDescription {
    color: #999;
    height: 5rem;
    overflow-y: auto;
}
