.container {
    position: relative;
}

.form {
    position: absolute;
    height: 100%;
    width: 100%;
}

.formEnter {
    animation: form var(--animation-duration) 0ms ease-in-out forwards;
}

.formExit {
    /* animation: form var(--animation-duration) 0ms ease-in-out reverse forwards; */
    display: none;
}

@keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
