.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
