.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form input {
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instructions {
    /* color: var(--secondary-text-color); */
    color: #bbb;
    line-height: 1.5rem;
    font-weight: lighter;
    padding-left: 1rem;
    border-left: .25rem solid rgba(255, 255, 255, .2);
    margin-bottom: 3rem;
}