.forgotPassword {
    margin-top: 1.5rem;
}

.forgotPassword a {
    color: #ababab;
    opacity: .85;
}

.forgotPassword a:hover {
    border-bottom: 1px dashed #999;
    cursor: pointer;
    color: #ababab;
    opacity: 1;
}

.forgotPasswordIcon {
    margin-right: .2em;
}