.intro {
    /* padding: 2rem 5rem; */
    background-color: hsla(0, 0%, 0%, .5);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    margin: 8rem 5rem 16rem;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    margin: 8rem 5rem;
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 5rem;
    padding: 3rem 5rem;
}

.block.contrast {
    background-color: white;
    color: black;
}

.block.imageLeft {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'image title'
        'image text';
}

.block.imageRight {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'title image'
        'text image';
}

.block div {
    grid-area: title;
    font-family: var(--header-font-family);
    font-size: 2.6em;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.block > img,
.block > .img {
    grid-area: image;
}

.img > img {
    max-width: 180px;
    max-height: 100px;
    padding: 1rem;
}

.block p {
    grid-area: text;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
}

/* .features {
    grid-area: features;
    animation: features 2000ms 0ms ease-in-out both;
} */

/* @keyframes features {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
} */
