.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    margin: 12rem 5% 14rem;
}

.button {
    padding: 0.75rem 3rem;
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 5%;
    padding: 3rem 5%;
    align-items: center;
}

.block.dark {
    background-color: black;
}

.block.light {
    background-color: white;
    color: black;
}

.block.imageLeft {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'image text'
        'image text';
}

.block.imageLeft.responsive {
    grid-template-columns: 1.5fr 1fr;
}

.block.imageRight {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'title image'
        'text image';
}

.block.imageRight.responsive {
    grid-template-columns: 1fr 1.5fr;
}

.block.imageCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block.responsive {
    grid-template-columns: 1fr 1fr;
}

.block > div {
    grid-area: text;
}

.block div.title {
    grid-area: title;
    font-family: var(--header-font-family);
    font-size: 2.6em;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.block > img,
.block > .img {
    grid-area: image;
}

.block.responsive > img {
    width: 100%;
}

.img > img {
    max-width: 180px;
    max-height: 100px;
    padding: 1rem;
}

.block p {
    grid-area: text;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 5rem;
}