.container {
    --primary-text-color: #white;
    --secondary-text-color: #c7cacc;
    --backdrop-color: rgba(187, 192, 195, 0.05);
    --feature-icon-size: 1.7rem;

    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font: 1rem sans-serif;
}

.landing {
    margin: .5rem;
    border-radius: 1.5rem;
    color: var(--primary-text-color);
    background-color: var(--backdrop-color);
    overflow: hidden;
}

/* grid and animations */

.tagline {
    grid-area: tagline;
    animation: tagline 1000ms 500ms ease-in-out both;
}

@keyframes tagline {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.title {
    grid-area: title;
    animation: title 2000ms 0ms ease-in-out both;
}

@keyframes title {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.language {
    grid-area: language;
    animation: language 500ms 2000ms ease-in-out both;
    justify-self: right;
}

@keyframes language {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.features {
    grid-area: features;
    animation: features 2000ms 0ms ease-in-out both;
}

@keyframes features {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.credentials {
    grid-area: credentials;
    animation: credentials 1000ms 1000ms ease-in-out both;
}

@keyframes credentials {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
}

.privacy {
    grid-area: privacy;
    animation: privacy 2000ms ease-in-out both;
    justify-self: right;
}

@keyframes privacy {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* Tagline */

.tagline {
    font-family: Merriweather, Georgia, Times New Roman, Times, serif;
    font-style: italic;
    font-size: 1.0rem;
    line-height: 1.5rem;
    color: var(--secondary-text-color);
}

/* Title */

.title {
    font-family: var(--header-font-family);
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 3.5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.titleUnderline {
    width: 4rem;
    height: 1px;
    margin: 1rem 0;
    background-color: var(--primary-text-color);
}

/* Features */

.features {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.feature {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.5rem;
}

.featureIcon {
    width: calc(var(--feature-icon-size) * 2.5);
    height: calc(var(--feature-icon-size) * 2.5);
    border-radius: 50%;
    font-size: var(--feature-icon-size);
    display:grid;
    justify-content: center;
    align-content: center;
}

.featureIcon.process {
    background-color: hsl(var(--section-process-color-h), var(--section-process-color-s), var(--section-process-color-l));
}

.featureIcon.browse {
    background-color: hsl(var(--section-browse-color-h), var(--section-browse-color-s), var(--section-browse-color-l));
}

.featureIcon.apps {
    background-color: hsl(var(--section-apps-color-h), var(--section-apps-color-s), var(--section-apps-color-l));
}

.featureIcon.terminal {
    background-color: hsl(var(--section-terminal-color-h), var(--section-terminal-color-s), var(--section-terminal-color-l));
}

.featureTitle {
    font-family: var(--header-font-family);
    font-weight: normal;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.featureDescription {
    font-size: .9rem;
    font-weight: lighter;
    color: var(--secondary-text-color);
}

/* small displays */
@media screen and (max-width: 1000px) {
    .landing {
        width: 28rem;
        height: 40rem;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            'title       language'
            'tagline     tagline'
            'credentials credentials'
            'privacy     privacy';
        grid-gap: 2rem;
        padding: 1.5rem 2rem;
    }

    .title {
        font-size: 3rem;
    }

    .features {
        display: none;
    }

    .credentials {
        padding-bottom: 2rem;
    }
}

/* large displays */
@media screen and (min-width: 1000px) {
    .landing {
        width: 65rem;
        height: 42rem;
        display: grid;
        grid-template-columns: 1fr .75fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            'tagline  title       language'
            'features credentials credentials'
            'features privacy     privacy';
        grid-gap: 3rem;
        padding: 3rem 4rem;
    }

    .credentials {
        padding-bottom: 3rem;
    }
}
