.languages span, .languages a {
    font-size: 1rem !important;
}

.languages span {
    cursor: default;
}

.languages > span:not(:first-child):before {
    color: white;
    content: '/';
    margin: 0.5rem;
    cursor: default;
}
