.form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form > *:not(:last-child) {
    margin-bottom: 3rem;
}

.form input {
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.links {
    font-size: 1.5rem;
    color: #ccc;
    display: flex;
    align-items: center;
}
