.form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form > *:not(:last-child) {
    margin-bottom: 3rem;
}

.form input {
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.links {
    font-size: 1.5rem;
    color: #ccc;
}

@media screen and (max-width: 1000px) {
    .form > *:not(:last-child) {
        margin-bottom: 1rem;
    }
}