.form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form > *:not(:last-child) {
    margin-bottom: 2rem;
}

.form input {
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
    .form input {
        font-size: 1.2rem;
    }
    
    .form > *:not(:last-child) {
        margin-bottom: 0rem;
    }
}
