global
    maxconn  4096
    ulimit-n 65536
    log syslog_host local0

defaults
    log global
    retries 3

frontend http
    log global
    bind 0.0.0.0:80xec
    mode http
    option tcplog
    option logasap
    default_backend insecure_http

frontend ssl
    bind 0.0.0.0:443
    mode tcp
    log global
    option tcplog
    option logasap
    tcp-request inspect-delay 2s
    tcp-request content accept if { req.ssl_hello_type 1 }

    acl letsencrypt_server req.ssl_sni -m end .acme.invalid
    use_backend letsencrypt if letsencrypt_server

    use_backend secure_http if { req.ssl_hello_type 1 }

    default_backend ssh

backend secure_http
    log global
    mode tcp
    option tcplog
    server secure_http_server api-gateway:443

backend letsencrypt
    log global
    mode tcp
    option tcplog
    server letsencrypt_server letsencrypt:80

backend insecure_http
    log global
    mode http
    option tcplog
    server insecure_http_server api-gateway:80

backend ssh
    log global
    mode tcp
    option tcplog
    server ssh ssh-gateway:22
    timeout server 2h
