.sections {
    display: flex;
    flex-direction: column;
    top: 13%;
    padding: 10rem 0 0 1rem;
}

.sections > * {
    margin-bottom: 2.5rem;
}

.sections button.section {
    width: 4.5rem;
    height: 4.5rem;
}

.sections button.section i {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.sections button.homeIcon {
    background-color: hsla(0, 0%, 100%, .2);
}

.sections button.homeIcon:focus {
    background-color: hsla(0, 0%, 100%, .2);
    border: 2px solid hsla(0, 0%, 100%, .4);
}

.sections button.homeIcon:hover {
    background-color: hsla(0, 0%, 100%, .05);
    border: 2px solid hsla(0, 0%, 100%, .4);
}

.sections button.homeIcon:active {
    background-color: hsla(0, 0%, 100%, .2);
    border: 2px solid hsla(0, 0%, 100%, .4);
}

.sections button.searchIcon {
    background-color: hsla(35, 96%, 74%, .4);
}

.sections button.searchIcon:focus {
    background-color: hsla(35, 96%, 74%, .4);
    border: 2px solid hsla(35, 96%, 74%, .7);
}

.sections button.searchIcon:hover {
    background-color: hsla(35, 96%, 74%, .1);
    border: 2px solid hsla(35, 96%, 74%, .7);
}

.sections button.searchIcon:active {
    background-color: hsla(35, 96%, 74%, .4);
    border: 2px solid hsla(35, 96%, 74%, .7);
}

.sections button.browseIcon {
    background-color: hsla(99, 9%, 51%, .4);
}

.sections button.browseIcon:focus {
    background-color: hsla(99, 9%, 51%, .4);
    border: 2px solid hsla(99, 9%, 51%, .7);
}

.sections button.browseIcon:hover {
    background-color: hsla(99, 9%, 51%, .1);
    border: 2px solid hsla(99, 9%, 51%, .7);
}

.sections button.browseIcon:active {
    background-color: hsla(99, 9%, 51%, .4);
    border: 2px solid hsla(99, 9%, 51%, .7);
}

.sections button.processIcon {
    background-color: rgba(96, 71, 90, .4);
}

.sections button.processIcon:focus {
    background-color: rgba(96, 71, 90, .4);
    border: 2px solid rgba(96, 71, 90, .7);
}

.sections .processIcon:hover {
    background-color: rgba(96, 71, 90, .1);
    border: 2px solid rgba(96, 71, 90, .7);
}

.sections button.processIcon:active {
    background-color: rgba(96, 71, 90, .4);
    border: 2px solid rgba(96, 71, 90, .7);
}

.sections button.terminalIcon {
    background-color: rgba(74, 94, 130, .4);
}

.sections button.terminalIcon:focus {
    background-color: rgba(74, 94, 130, .4);
    border: 2px solid rgba(74, 94, 130, .7);
}

.sections button.terminalIcon:hover {
    background-color: rgba(74, 94, 130, .1);
    border: 2px solid rgba(74, 94, 130, .7);
}

.sections button.terminalIcon:active {
    background-color: rgba(74, 94, 130, .4);
    border: 2px solid rgba(74, 94, 130, .7);
}
