.sectionsContainer {
    position: relative;
}

.sections {
    position: absolute;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem 1rem 0;
    transform: translate3d(-3.5rem, 0, 0);
    transition: all 150ms ease-in-out 200ms;
}

.locked,
.sections:hover {
    transform: none;
    background-color: rgba(0, 0, 0, .5);
}

.sections > * {
    margin-bottom: 1.5rem;
}

.sections button {
    position: relative;
    width: 4.5rem;
    height: 3.2rem;
    border: 2px solid transparent;
    border-top-right-radius: 2.25rem;
    border-bottom-right-radius: 2.25rem;
    border-left: none;
    color: rgba(255, 255, 255, 0.8);
}

.sections button:hover {
    border-color: white;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.sections button i {
    font-size: 1.7rem;
    vertical-align: middle;
    text-align: right;
}

.lockSwitch {
    margin-left: .3rem;
    margin-bottom: 8rem;
    transition: all 150ms ease-in-out 200ms;
}

.unlocked:not(:hover) .lockSwitch {
    opacity: 0;
}

/* individual buttons styling */

.sections .lock {
    background-color: rgba(49, 49, 49, 0.8);
    border-color: rgba(49, 49, 49, 0.8);
}

.sections button.process {
    background-color: hsla(37, 27%, 39%, .8);
    border-color: hsla(37, 27%, 39%, .8);
}

.sections button.process:hover {
    background-color: hsla(37, 27%, 39%, .3);
}

.sections button.browse {
    background-color: hsla(127, 6%, 30%, .8);
    border-color: hsla(127, 6%, 31%, .8);
}

.sections button.browse:hover {
    background-color: hsla(127, 6%, 30%, .3);
}

.sections button.terminal {
    background-color: hsla(221, 19%, 26%, .8);
    border-color: hsla(221, 19%, 27%, .8);
}

.sections button.terminal:hover {
    background-color: hsla(221, 19%, 26%, .3);
}

.sections button.apps {
    background-color: hsla(310, 10%, 23%, .8);
    border-color: hsla(310, 10%, 24%, .8);
}

@keyframes blink {
    100% {
        opacity: 0.2;
    }
}

.sections button.apps:hover {
    background-color: hsla(310, 10%, 23%, .3);
}

.sections button.app {
    background-color: hsla(221, 19%, 26%, .8);
    border-color: hsla(221, 19%, 27%, .8);
    animation: blink 250ms ease-in-out alternate 10;
}

.sections button.app:hover {
    background-color: hsla(221, 19%, 26%, .3);
}
