global
    maxconn 4096

defaults
    log global
    retries 3
	timeout	connect 10s
	timeout	client 1m
	timeout	server 1m

frontend http
    bind 0.0.0.0:80
    mode http
    default_backend insecure_http

frontend ssl
    bind 0.0.0.0:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if HTTP

    # RFC 4253, section 4.2 states that clients must send a string that starts with 'SSH-2.0'
    # and 5353482d322e30 is the binary representation of the string 'SSH-2.0'
    acl client_attempts_ssh payload(0,7) -m bin 5353482d322e30

    use_backend ssh if client_attempts_ssh
#    timeout client 2h if client_attempts_ssh

    use_backend secure_http if !client_attempts_ssh

backend secure_http
    mode tcp
    server secure_http_server nginx:443

backend insecure_http
    mode http
    server insecure_http_server nginx:80

backend ssh
    mode tcp
    option tcplog
    server ssh ssh-gateway:22
    timeout server 2h