global
    maxconn  4096
    ulimit-n 65536
    log 127.0.0.1 local1 debug

defaults
    log global
    retries 3
	timeout	connect 10s
	timeout	client 1m
	timeout	server 1m

frontend http
    log global
    bind 0.0.0.0:80xec
    mode http
    option tcplog
    option logasap
    default_backend insecure_http

frontend ssl
    #bind 0.0.0.0:443 ssl crt /usr/local/etc/haproxy/sepal-https.pem
    bind 0.0.0.0:443
    mode tcp
    log global
    option tcplog
    option logasap

    tcp-request inspect-delay 2s
    tcp-request content accept if { req.ssl_hello_type 1 }

    # RFC 4253, section 4.2 states that clients must send a string that starts with 'SSH-2.0'
    # and 5353482d322e30 is the binary representation of the string 'SSH-2.0'
    #acl client_attempts_ssh payload(0,7) -m bin 5353482d322e30

    default_backend ssh
    use_backend secure_http if { req.ssl_hello_type 1 }


backend secure_http
    log global
    mode tcp
    option httplog
    option forwardfor
    server secure_http_server nginx:443
    #server insecure_http_server nginx:80

backend insecure_http
    log global
    mode http
    option tcplog
    server insecure_http_server nginx:80

backend ssh
    log global
    mode tcp
    option tcplog
    server ssh ssh-gateway:22
    timeout server 2h