<div class="row row-sort-filter height10">

    <div class="col-sm-12 section-btn">
        <div class="row height100">
            <div class="col-sm-4 col-sort text-align-center" data-target="row-sort">
                <a class="btn btn-base circle btn-sort"><i class="fa fa-sort header-i" aria-hidden="true"></i></a>
                <span class="selection">
                    <i class="fa fa-sun-o" aria-hidden="true"></i> <span class="cc-sort">50%</span> - <i class="fa fa-calendar-times-o" aria-hidden="true"></i> <span class="td-sort">50%</span>
                </span>
            </div>

            <div class="col-sm-4 col-sensor text-align-center" data-target="row-sensor">
                <a class="btn btn-base circle btn-sensor"><i class="fa fa-rocket" aria-hidden="true"></i></a>
                <span class="selection selected-sensors">All</span>
            </div>

            <div class="col-sm-4 col-target-day text-align-center" data-target="row-target-day">
                <a class="btn btn-base circle btn-target-day"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></a>
                <span class="selection offset-target-day">1 year</span>
            </div>
        </div>
    </div>

    <div class="col-sm-12 height100 section-options">

        <div class="row height100 row-sort">
            <div class="col-sm-1">
                <a class="btn btn-base circle btn-close-filter"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>

            <div class="col-sm-2 text-align-right">
                <span class="cc-sort">50%</span> <i class="fa fa-sun-o" aria-hidden="true"></i>
            </div>
            <div class="col-sm-6">
                <div class="width100 m-t-1 text-align-center sort-slider"></div>
            </div>
            <div class="col-sm-2 text-align-left">
                <i class="fa fa-calendar-times-o" aria-hidden="true"></i> <span class="td-sort">50%</span>
            </div>
        </div>

        <div class="row height100 row-sensor">
            <div class="col-sm-1">
                <a class="btn btn-base circle btn-close-filter"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="col-sm-10 LANDSAT-sensors sensors text-align-center">
            </div>
            <div class="col-sm-10 SENTINEL2-sensors sensors text-align-center">
            </div>
        </div>

        <div class="row justify-content-start height100 row-target-day">
            <div class="col-3">
                <a class="btn btn-base circle btn-close-filter"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="col-6 section-counter height100">
                <div class="row counter height100">
                    <div class="col-3 offset-sm-1 no-padding height100">
                        <button class="btn btn-base square offset-target-day-btn-minus height100"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-4 text-align-center text offset-target-day height100">1 year</div>
                    <div class="col-3 no-padding height100">
                        <button class="btn btn-base square offset-target-day-btn-plus height100"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

