<div id="app-section" class="section app-section">

    <a class="btn btn-base btn-close icon circle animation-item">
        <!--<i class="fa fa-times" aria-hidden="true"></i>-->
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </a>

    <!--<div class="section__table">-->
        <!--<div class="section__cell">-->
            <div class="row height100">
                <div class="col-xs-12 col-sm-12 col-md-12 height100">

                    <div id="app-section-carousel" class="carousel slide height100" data-keyboard="false">
                        <!--<ol class="carousel-indicators">-->
                            <!--<li data-target="#app-section-carousel" data-slide-to="0" class="active"></li>-->
                            <!--<li data-target="#app-section-carousel" data-slide-to="1"></li>-->
                            <!--<li data-target="#app-section-carousel" data-slide-to="2"></li>-->
                        <!--</ol>-->
                        <div class="carousel-inner height100" role="listbox">
                            <div class="carousel-item item active height100 bg-search-l">

                            </div>
                            <div class="carousel-item item height100 bg-browse-l">
                                browse
                            </div>
                            <div class="carousel-item item height100 bg-process-l">
                                process
                            </div>
                            <div class="carousel-item item height100 bg-terminal-l">
                                terminal
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <!--</div>-->
    <!--</div>-->
</div>