.app-section {
    width: 85%;
    left: 10%;
    /*height: 75% !important;*/
    /*top: 12.5%;*/
    /* border-radius: 3rem; */
    /*padding: 3rem;*/
    /* border: 2px solid white; */
    height: 85% !important;
    top: 5%;
    z-index: 1;
}

#app-section-carousel .carousel-item {
    padding: 0.5rem 2rem;
    overflow: auto;
    /*font-size: 1.4rem;*/
}

.app-section .btn-close {
    width: 2.5rem;
    height: 2.5rem;
    top: -1.25rem;
    left: -1.25rem;
    padding: 0px !important;
    /*display: table;*/
    position: absolute;
    z-index: 2;
    border-width: 0px;
}
.app-section .btn-close:hover {
    /*border-width: 1px;*/
}

.app-section .btn-close i {
    font-size: 2rem;
    position: absolute;
    left: .40rem;
    top: 1.26rem;
}
