{% extends "layout.html" %}
{% block body %}

<div id="maps">
    <div class="map-control map-control-left">
        <select class="selector-control" id="base-selector">
            <option value="">SEPAL</option>
            <option value="satellite">SATELLITE</option>
        </select>
    </div>
    <div class="map-control">
        <button type="button" id="layer-refresher"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        <select class="selector-control" id="layer-selector">
            <option value="">Default</option>
        </select>
    </div>
    <div id="gmap"></div>
    <div id="lmap" style="display: none;"></div>
</div>

<div id="collect" class="container-fluid">
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md-12 col-lg-6">
            <a class="btn btn-primary" id="export-csv" href="#"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;CSV</a>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="btn-group float-right" role="group">
                <button id="btnGroupDrop0" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-link" aria-hidden="true"></i>&nbsp;Google Fusion Tables
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                    <a id="ft-export" class="dropdown-item" href="#" style="display: none;">
                        <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Export
                    </a>
                    <a id="ft-exported" class="dropdown-item" href="#" target="_blank" style="display: none;">
                        <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;Open
                    </a>
                    <a id="ft-clipboard" class="dropdown-item" href="#" style="display: none;">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Clipboard
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="list-row">
        <div class="col">
            <div id="list" class="list-group"></div>
        </div>
    </div>
    <div class="row" id="codeLists-row" style="display: none;">
        <div class="col">
            <div class="row" style="margin-top: 1rem;">
                <div class="col-6">
                    <h3><i class="fa fa-map-marker"></i>&nbsp;<span id="selected-plot">XXX</span></h3>
                </div>
                <div class="col-3">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;Charts
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item chart-btn" href="#">EVI</a>
                            <a class="dropdown-item chart-btn" href="#">EVI2</a>
                            <a class="dropdown-item chart-btn" href="#">NDMI</a>
                            <a class="dropdown-item chart-btn" href="#">NDVI</a>
                            <a class="dropdown-item chart-btn" href="#">NDWI</a>
                            <a class="dropdown-item chart-btn" href="#">NBR</a>
                            <a class="dropdown-item chart-btn" href="#">LSAVI</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger float-right" id="delete-btn">Delete</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="codeLists" style="margin-top: 1rem;">
                        <input type="hidden" name="id" />
                        <button type="button" class="btn btn-primary" id="submit-btn" style="display: none;">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="chart-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="chart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/ceo-map-utils.js?v3"></script>
<script src="static/js/overlay-map-manager.js?v5"></script>

<script>

    $(document).ready(function() {

        var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
        var geeGatewayApiUrl = '{{config.GEEG_API_URL}}';

        overlayMapManager['config'] = {
            'geeGatewayApiUrl': '{{config.GEEG_API_URL}}',
            'digitalGlobeApiKey': '{{config.DIGITALGLOBE_API_KEY}}',
            'dgcsConnectId': '{{config.DGCS_CONNECT_ID}}',
            'planetProxyUrl': ceoSepalApiUrl + '/proxy/planet',
            'sepalHost': '{{config.SEPAL_HOST}}'
        };

        var worker = function (o, resolve, reject, params) {
            setTimeout(function () {
                if (o === 'deleteRecord') {
                    var record_id = params['record_id'];
                    $.ajax({
                        url: ceoSepalApiUrl + '/record/' + record_id,
                        method: 'delete'
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        console.error(jqXHR, textStatus, errorThrown);
                        reject('');
                    }).done(function(data, textStatus, jqXHR) {
                        resolve();
                    });
                } else if (o === 'addOrEditRecord') {
                    var record = params['record'];
                    var url = params['url'];
                    var method = params['method'];
                    $.ajax({
                        url: url,
                        method: method,
                        data: JSON.stringify(record),
                        contentType: 'application/json;charset=UTF-8'
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        console.error(jqXHR, textStatus, errorThrown);
                        reject();
                    }).done(function(data, textStatus, jqXHR) {
                        resolve();
                    });
                }
            }, Math.random() * 1000);
        };

        var queue = Queue(worker);

        window.onbeforeunload = function(e) {
            if (!queue.empty()) {
                return 'Changes you made may not be saved';
            }
        };

        var project_id = $.urlParam('id');

        var gmap, lmap;
        var overlays = [];
        var radius = 30;
        var shapes = {};

        var plotSelection = function(e) {
            e.preventDefault();
            $(this).addClass('active').siblings().removeClass('active');
            $('#codeLists button').removeClass('btn-success');
            var plot_id = $(this).attr('data-plot-id');
            var value = $(this).data('value');
            //
            if (value !== undefined) {
                $.each(value, function(key, value) {
                    $('#codeLists button[value="' + value + '"]').addClass('btn-success');
                });
            } else {
                $('#codeLists select').find('option:eq(0)').prop('selected', true);
                $('#codeLists .form-group').removeClass('has-danger');
                $('#codeLists .form-control-feedback').hide();
            }
            $('#selected-plot').text(plot_id);
            $('#list-row').hide();
            $('#codeLists-row').show();
        };

        function getProject() {
            $.ajax({
                url: ceoSepalApiUrl + "/project/" + project_id,
                method: 'get',
                dataType: 'json'
            }).done(function(data, textStatus, jqXHR) {
                // project
                projectName = data.name;
                radius = parseFloat(data.radius);
                {% if session.accessToken -%}
                    // fusiontable
                    if (data.fusionTableId !== undefined && data.fusionTableId != null) {
                        $('#ft-exported').attr('href', 'https://fusiontables.google.com/DataSource?docid=' + data.fusionTableId).show();
                        $('#ft-clipboard').attr('data-id', data.fusionTableId).show();
                        new Clipboard('#ft-clipboard', {
                            text: function(trigger) {
                                return trigger.getAttribute('data-id');
                            }
                        });
                    } else {
                        $('#ft-export').show();
                    }
                {% else -%}
                    $('#btnGroupDrop0').addClass('disabled');
                {% endif -%}
                // codeLists
                data.codeLists.forEach(function(codeList) {
                    var name = codeList.name;
                    var element = $('<div>').addClass('form-group');
                    var label = $('<label>').addClass('form-control-label').text(name);
                    element.append(label);
                    codeList.items.forEach(function(item) {

                        var button = $('<button>').attr('type', 'button').addClass('btn btn-secondary submit-btn form-control').text(item.label).attr('value', item.code);
                        $(button).click(function(e) {
                            e.preventDefault();

                            var value = {};
                            value['class'] = $(this).val();
                            var project_id = $.urlParam('id');
                            var plot_id = $('#list a.active').attr('data-plot-id');
                            var YCoordinate = $('#list a.active').attr('data-y-coordinate');
                            var XCoordinate = $('#list a.active').attr('data-x-coordinate');

                            var url = ceoSepalApiUrl + '/record';
                            var method = 'post';
                            var evaluated = $('#list a.active').hasClass('evaluated');
                            var record_id = generateGUID();

                            if (!evaluated) {
                                $('#list a.active').attr('data-record-id', record_id);
                            } else {
                                record_id = $('#list a.active').attr('data-record-id');
                                url = ceoSepalApiUrl + '/record/' + record_id;
                                method = 'put';
                            }

                            var record = {
                                record_id: record_id,
                                project_id: project_id,
                                value: value,
                                plot: {
                                    id: plot_id,
                                    YCoordinate: YCoordinate,
                                    XCoordinate: XCoordinate
                                }
                            };

                            queue.enqueue('addOrEditRecord', {
                                'url': url,
                                'method': method,
                                'record': record
                            }).then(function () {
                            }, function (e) {
                                $('#errorModal').modal('show');
                            });
                            $('#list a[data-plot-id="' + plot_id +'"]').data('value', value).addClass('evaluated').text(plot_id + ' (' + value['class'] + ')');
                            showList();

                        });
                        $('#codeLists').append($('<div class="form-group">').append(button));
                    });
                });

                var mapStyle = [
                    {
                        "stylers": [ { "visibility": "simplified" } ]
                    }, {
                        "stylers": [ { "color": "#131314" } ]
                    }, {
                        "featureType": "water",
                        "stylers"    : [ { "color": "#131313" }, { "lightness": 4 }
                        ]
                    }, {
                        "elementType": "labels.text.fill"
                        , "stylers"  : [ { "visibility": "off" }, { "lightness": 25 } ]
                    }
                ];

                var gOptions = {
                    zoom             : 10,
                    center           : new google.maps.LatLng(0, 0),
                    mapTypeId        : google.maps.MapTypeId.ROADMAP,
                    zoomControl      : false,
                    mapTypeControl   : false,
                    scaleControl     : false,
                    streetViewControl: false,
                    rotateControl    : false,
                    fullscreenControl: false,
                    animatedZoom     : false,
                    tilt: 0,
                    backgroundColor  : '#131314',
                    draggableCursor  : 'crosshair'
                };

                CartoDB_DarkMatterNoLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
                    subdomains: 'abcd',
                    maxZoom: 22
                });

                googleMapsSatelliteForLeaflet = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                    maxZoom: 22,
                    subdomains: ['mt0','mt1','mt2','mt3']
                });

                var lOptions = {
                    zoom: 10,
                    center: [0, 0],
                    zoomAnimation: false,
                    zoomControl: false,
                    layers: [CartoDB_DarkMatterNoLabels],
                    gestureHandling: 'greedy'
                };

                var pointOptions1 ={
                    color: 'yellow',
                    opacity: 0.8,
                    weight: 2,
                    strokeColor: 'yellow',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: 'yellow',
                    fillOpacity: 1
                };

                var squareOptions1 = {
                    color: 'yellow',
                    opacity: 0.8,
                    weight: 2,
                    strokeColor: 'yellow',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillOpacity: 0
                };

                // google maps init
                gmap = new google.maps.Map(window.document.getElementById('gmap'), gOptions);
                gmap.setOptions( { styles: mapStyle } );
                var gBounds = new google.maps.LatLngBounds();

                // leaflet init
                lmap = L.map('lmap', lOptions);
                var lBounds = [];
                $('.leaflet-container').css('cursor', 'crosshair');
                L.DomUtil.addClass(lmap._container, 'crosshair-cursor-enabled');

                gmap.addListener('click', function(e) {
                    removePlots();
                    var id = Date.now();
                    var lat = e.latLng.lat();
                    var lng = e.latLng.lng();
                    var latLng = new google.maps.LatLng(lat, lng);
                    //
                    var li = $('<a>').attr("href", "#").addClass("list-group-item list-group-item-action").html(id);
                    li.attr('data-plot-id', id).attr('data-x-coordinate', lng).attr('data-y-coordinate', lat);
                    li.click(plotSelection);
                    $('#list').append(li);
                    //
                    var gPoint = mapUtils.G.drawPoint(latLng, pointOptions1, gmap);
                    var lPoint = mapUtils.L.drawPoint([lat, lng], pointOptions1, lmap);
                    var gPlot = mapUtils.G.drawSquare(latLng, radius, squareOptions1, gmap);
                    var lPlot = mapUtils.L.cloneSquare(gPlot, squareOptions1, lmap);
                    shapes[id] = [[gPoint, gPlot], [lPlot, lPoint]];
                    //
                    var plotOnClick = function() {
                        removePlots();
                        $('#list a[data-plot-id=' + id +']').click();
                    };
                    gPlot.addListener('click', plotOnClick);
                    lPlot.on('click', plotOnClick);
                    //
                    li.trigger('click');
                });

                lmap.on('click', function(e) {
                    removePlots();
                    var id = Date.now();
                    var lat = e.latlng.lat;
                    var lng = e.latlng.lng;
                    var latLng = new google.maps.LatLng(lat, lng);
                    //
                    var li = $('<a>').attr("href", "#").addClass("list-group-item list-group-item-action").html(id);
                    li.attr('data-plot-id', id).attr('data-x-coordinate', lng).attr('data-y-coordinate', lat);
                    li.click(plotSelection);
                    $('#list').append(li);
                    //
                    var gPoint = mapUtils.G.drawPoint(latLng, pointOptions1, gmap);
                    var lPoint = mapUtils.L.drawPoint([lat, lng], pointOptions1, lmap);
                    var gPlot = mapUtils.G.drawSquare(latLng, radius, squareOptions1, gmap);
                    var lPlot = mapUtils.L.cloneSquare(gPlot, squareOptions1, lmap);
                    shapes[id] = [[gPoint, gPlot], [lPlot, lPoint]];
                    //
                    var plotOnClick = function() {
                        removePlots();
                        $('#list a[data-plot-id=' + id +']').click();
                    };
                    gPlot.addListener('click', plotOnClick);
                    lPlot.on('click', plotOnClick);
                    //
                    li.trigger('click');
                });

                // plots
                if (data.plots !== undefined && data.plots.length != 0) {
                    //
                    data.plots.forEach(function(plot) {
                        var id = plot.id;
                        var lat = parseFloat(plot.YCoordinate);
                        var lng = parseFloat(plot.XCoordinate);
                        var latLng = new google.maps.LatLng(lat, lng);
                        //
                        var li = $('<a>').attr("href", "#").addClass("list-group-item list-group-item-action").html(id);
                        li.attr('data-plot-id', id).attr('data-x-coordinate', lng).attr('data-y-coordinate', lat);
                        li.click(plotSelection);
                        $('#list').append(li);
                        //
                        var gPoint = mapUtils.G.drawPoint(latLng, pointOptions1, gmap);
                        var lPoint = mapUtils.L.drawPoint([lat, lng], pointOptions1, lmap);
                        var gPlot = mapUtils.G.drawSquare(latLng, radius, squareOptions1, gmap);
                        var lPlot = mapUtils.L.cloneSquare(gPlot, squareOptions1, lmap);
                        shapes[id] = [[gPoint, gPlot], [lPlot, lPoint]];
                        //
                        gPlot.addListener('click', function() {
                            removePlots();
                            $('#list a[data-plot-id=' + plot.id +']').click();
                        });
                        lPlot.on('click', function(e) {
                            removePlots();
                            $('#list a[data-plot-id=' + plot.id +']').click();
                        });
                        //
                        gBounds.extend(latLng);
                        lBounds.push([lat, lng]);
                    });
                    gmap.panToBounds(gBounds);
                    gmap.fitBounds(gBounds);
                    lmap.fitBounds(lBounds);
                } else {
                    gmap.setZoom(2);
                    lmap.setZoom(2);
                }

                //overlays
                data.overlays.forEach(function(overlay, index) {
                    var option = $('<option>').text(overlay.layerName).attr('value', index);
                    $('#layer-selector').append(option);
                    overlays.push(overlay);
                });

                getRecords();

            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        }

        function getRecords() {
            $.ajax({
                url: ceoSepalApiUrl + "/record/project_id/" + project_id,
                method: 'get'
            }).done(function(data, textStatus, jqXHR) {
                $.each(data, function(key, record) {
                    $('#list a[data-plot-id="' + record.plot.id +'"]').attr('data-record-id', record.id).data('value', record.value);
                    $('#list a[data-plot-id="' + record.plot.id +'"]').addClass('evaluated').text(record.plot.id + ' (' + record.value.class + ')');
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        }

        getProject();

        function prevEvaluation() {
            var prev = null;
            var prevFromActive = $('#list a.active').prevAll(':not(.evaluated)').first();
            if (prevFromActive.length != 0) {
                prev = prevFromActive;
            } else {
                var prevFromEnd = $('#list a:not(.evaluated)').last();
                if (prevFromEnd.length != 0) {
                    prev = prevFromEnd;
                }
            }
            if (prev != null) {
                prev.click();
            }
        }

        function nextEvaluation() {
            var next = null;
            var nextFromActive = $('#list a.active').nextAll(':not(.evaluated)').first();
            if (nextFromActive.length != 0) {
                next = nextFromActive;
            } else {
                var nextFromStart = $('#list a:not(.evaluated)').first();
                if (nextFromStart.length != 0) {
                    next = nextFromStart;
                }
            }
            if (next != null) {
                next.click();
            }
        }

        function showList() {
            $('#list-row').toggle();
            $('#codeLists-row').toggle();
            $('#codeLists button').removeClass('btn-success');
            $('#list').animate({
                scrollTop: $('#list .active').index() * $('#list .active').outerHeight(true)
            }, 'slow');
        }

        function removePlots() {
            $('#list a:not(.evaluated)').each(function(index, li) {
                var id = $(li).attr('data-plot-id');
                li.remove();
                shapes[id][0][0].setMap(null);
                shapes[id][0][1].setMap(null);
                lmap.removeLayer(shapes[id][1][0]);
                lmap.removeLayer(shapes[id][1][1]);
            });
        }

        function removeCurrentPlot() {
            $('#list a.active').each(function(index, li) {
                var id = $(li).attr('data-plot-id');
                li.remove();
                shapes[id][0][0].setMap(null);
                shapes[id][0][1].setMap(null);
                lmap.removeLayer(shapes[id][1][0]);
                lmap.removeLayer(shapes[id][1][1]);
            });
        }

        $('#delete-btn').click(function(e) {
            e.preventDefault();
            queue.enqueue('deleteRecord', {
                'record_id': $('#list a.active').attr('data-record-id')
            }).then(function () {
            }, function (e) {
                $('#errorModal').modal('show');
            });
            removeCurrentPlot();
            showList();
        });

        var exportCsv = $('#export-csv');
        queue.addEmptyListener(function(empty) {
            exportCsv.toggleClass('disabled', !empty);
        });
        exportCsv.click(function(e) {
            e.preventDefault();
            window.location.href = ceoSepalApiUrl + '/project/' + project_id + '/export';
        });

        $('#ft-export').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: ceoSepalApiUrl + '/project/' + project_id + '/export?type=fusiontables',
                type: 'GET',
                crossDomain : true
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
                alert('ko');
            }).done(function(data, textStatus, jqXHR) {
                $('#ftModal').modal('show');
                // fusiontable
                if (data.fusionTableId !== undefined && data.fusionTableId != null) {
                    $('#ft-exported').attr('href', 'https://fusiontables.google.com/DataSource?docid=' + data.fusionTableId).show();
                    $('#ft-clipboard').attr('data-id', data.fusionTableId).show();
                    new Clipboard('#ft-clipboard', {
                        text: function(trigger) {
                            return trigger.getAttribute('data-id');
                        }
                    });
                }
                $('#ft-export').hide();
            });
        });

        $('#ft-clipboard').click(function(e) {
            e.preventDefault();
        });

        $('#prev-btn').click(function(e) {
            e.preventDefault();
            prevEvaluation();
        });

        $('#next-btn').click(function(e) {
            e.preventDefault();
            nextEvaluation();
        });

        $('#show-list-btn').click(function(e) {
            e.preventDefault();
            showList();
        });

        function layerSelection(index, refresh) {
            //gmap.overlayMapTypes.pop();
            //gmap.overlayMapTypes.setAt(0, null);
            gmap.overlayMapTypes.clear();
            lmap.eachLayer(function(layer) {
                if (layer.options.isOverlay) lmap.removeLayer(layer);
            });
            setTimeout(function() {
                if (typeof index !== 'undefined' && index != '') {
                    var overlay = overlays[index];
                    if (refresh == true) overlayMapManager.overlayMapTypes[index] = undefined;
                    overlayMapManager.addOverlayMapType(overlay, index, function() {
                        var overlayMapType = overlayMapManager.overlayMapTypes[index];
                        if (overlay.type != 'geonetwork' && overlay.type != 'dgcs' && overlay.type != 'geoserver') {
                            gmap.overlayMapTypes.insertAt(0, overlayMapType);
                            mapUtils.utils.switchToGoogleMaps(gmap, lmap, 'gmap', 'lmap');
                        } else {
                            if (overlay.type == 'dgcs') {
                                $('body .dgcs-iframe').remove();
                                var src = 'https://services.digitalglobe.com/mapservice/wmsaccess?connectid={{config.DGCS_CONNECT_ID}}';
                                var iframe = $('<iframe>').addClass('dgcs-iframe').attr('src', src);
                                $('body').append(iframe);
                            }
                            lmap.addLayer(overlayMapType);
                            overlayMapType.bringToFront();
                            mapUtils.utils.switchToLeaflet(gmap, lmap, 'gmap', 'lmap');
                        }
                    });
                } else {
                    mapUtils.utils.switchToGoogleMaps(gmap, lmap, 'gmap', 'lmap');
                }
            }, 1000);
        }

        $('#base-selector').change(function(e) {
            var selectedBase = $(this).val();
            if (selectedBase == '') {
                gmap.setMapTypeId(google.maps.MapTypeId.ROADMAP);
                lmap.removeLayer(googleMapsSatelliteForLeaflet);
                lmap.addLayer(CartoDB_DarkMatterNoLabels);
            } else if (selectedBase == 'satellite') {
                gmap.setMapTypeId(google.maps.MapTypeId.SATELLITE);
                lmap.removeLayer(CartoDB_DarkMatterNoLabels);
                lmap.addLayer(googleMapsSatelliteForLeaflet);
            }
        });

        $('#layer-refresher').click(function(e) {
            e.preventDefault();
            var selectedLayer = $('#layer-selector option:selected').val();
            layerSelection(selectedLayer, true);
        });

        $('#layer-selector').change(function(e) {
            var selectedLayer = $(this).val();
            layerSelection(selectedLayer);
        });

        $('.chart-btn').click(function(e) {
            e.preventDefault();
            var indexName = $(this).text();
            var active = $('#list .active');
            var plot_id = active.attr('data-plot-id');
            var x_coordinate = active.attr('data-x-coordinate');
            var y_coordinate = active.attr('data-y-coordinate');
            $.ajax({
                url: geeGatewayApiUrl + '/timeSeriesIndex3',
                type: 'POST',
                crossDomain : true,
                contentType: 'application/json',
                data: JSON.stringify({
                    indexName: indexName,
                    scale: 30,
                    polygon: [
                        parseFloat(x_coordinate), parseFloat(y_coordinate)
                    ]
                })
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            }).done(function(data, textStatus, jqXHR) {
                if (data.errMsg) {
                    console.error(data, textStatus, jqXHR);
                } else {
                    $('#chart-modal').modal('show');
                    var text = indexName;
                    Highcharts.chart('chart', {
                        chart: {
                            zoomType: 'x'
                        },
                        title: {
                            text: text
                        },
                        subtitle: {
                            text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: indexName
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            area: {
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                marker: {
                                    radius: 2
                                },
                                lineWidth: 1,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                threshold: null
                            }
                        },
                        series: [{
                            type: 'area',
                            name: indexName,
                            data: data.timeseries
                        }],
                        credits: {
                            enabled: false
                        }
                    });
                }
            });

        });

    });

</script>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="ftModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                The project has been synchronized with Google Fusion Table
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="errorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Refresh the page
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
