{% extends "layout.html" %}
{% block body %}

<style type="text/css">

    html {
        height: 100%;
        width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
    }

    #map {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }

    #list {
        height: auto;
        max-height: 500px;
        overflow-x: hidden;
    }

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <select class="form-control" id="layer-selector">
                <option value="" selected>CHOOSE A LAYER</option>
            </select>
            <br />
            <div id="map"></div>
        </div>
        <div class="col-3" style="color: red;">
            <button type="button" class="btn btn-primary" id="export-btn">Export</button>
            <br /><br />
            <div id="list" class="list-group"></div>
        </div>
        <div class="col-3">
            <div id="codeLists" style="display: none;">
                <input type="hidden" name="id" />
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
        var geeGatewayApiUrl = '{{config.GEEG_API_URL}}';

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        var project_id = $.urlParam('id');

        var map;
        var overlays = [];
        var bounds = new google.maps.LatLngBounds();
        var radius = 30;

        $('#layer-selector').change(function(e) {
            var index = $(this).val();
            map.overlayMapTypes.pop();
            map.overlayMapTypes.insertAt(0, overlays[index]);
        });

        function getProject() {
            $.ajax({
                url: ceoSepalApiUrl + "/project/" + project_id,
                method: 'get',
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                //project
                radius = parseFloat(data.radius);
                //codeLists
                data.codeLists.forEach(function(codeList) {
                    var element = $('<div>').addClass('form-group');
                    var label = $('<label>').text(codeList.name);
                    element.append(label);
                    var select = $('<select>').addClass('form-control').attr('data-plot-id', codeList.name);
                    codeList.items.forEach(function(item) {
                        var option = $('<option>').text(item.label).attr('value', item.code);
                        select.append(option);
                    });
                    element.append(select);
                    $('#codeLists').prepend(element);
                });
                //plots
                data.plots.forEach(function(plot) {
                    var li = $('<a>').attr("href", "#").addClass("list-group-item list-group-item-action").html(plot.id);
                    li.attr('data-plot-id', plot.id).attr('data-x-coordinate', plot.XCoordinate).attr('data-y-coordinate', plot.YCoordinate);
                    li.click(function(e) {
                        e.preventDefault();
                        var plot_id = $(this).attr('data-plot-id');
                        $(this).siblings().removeClass("active");
                        $(this).addClass("active");
                        var center = new google.maps.LatLng(parseFloat(plot.YCoordinate), parseFloat(plot.XCoordinate))
                        //map.setCenter(center);
                        //map.setZoom(14);

                        var circle = new google.maps.Circle({
                            center: center,
                            radius: radius
                        });
                        var square = new google.maps.Rectangle({
                            bounds: circle.getBounds(),
                            strokeColor: 'yellow',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillOpacity: 0,
                        });
                        map.fitBounds(square.getBounds());

                        $('#codeLists input[name="id"]').val(0);
                        record = $.grep(records, function(e) { return e['plot']['id'] == plot_id; });
                        if (record[0] !== undefined) {
                            var id = record[0]['id'] !== undefined ? record[0]['id'] : 0;
                            $('#codeLists input[name="id"]').val(id);
                            var values = record[0]['value'];
                            $.each(JSON.parse(values), function(key, value) {
                                $('#codeLists select[data-plot-id="' + key +'"]').val(value);
                            });
                        } else {
                            $('#codeLists select').find('option:eq(0)').prop('selected', true);
                        }
                        $('#codeLists').show();
                    });
                    $('#list').append(li);
                });
                //plots

                options  = {
                    zoom: 10,
                    center: new google.maps.LatLng(0, 0),
                    disableDefaultUI: false,
                    streetViewControl: false,
                    mapTypeId: 'satellite',
                    styles: [{
                        featureType: "water",
                        elementType: "labels",
                        stylers: [{
                            visibility: "off"
                        }]
                    }]
                };

                map = new google.maps.Map(window.document.getElementById("map"), options);

                data.plots.forEach(function(plot) {

                    var lat = parseFloat(plot.YCoordinate);
                    var lng = parseFloat(plot.XCoordinate);
                    var center = new google.maps.LatLng(lat, lng);

                    var circle = new google.maps.Circle({
                        center: center,
                        radius: radius
                    });

                    var point = new google.maps.Circle({
                        center: center,
                        radius: 1,
                        strokeColor: 'yellow',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: 'yellow',
                        fillOpacity: 1,
                        map: map
                    });

                    var square = new google.maps.Rectangle({
                        bounds: circle.getBounds(),
                        strokeColor: 'yellow',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillOpacity: 0,
                        map: map
                    }).addListener('click', function() {
                        $('#list a[data-plot-id=' + plot.id +']').click();
                    });

                    bounds.extend(center);

                });

                map.panToBounds(bounds);
                map.fitBounds(bounds);

                //overlays

                data.overlays.forEach(function(overlay) {
                    var collectionName = overlay.collectionName;
                    var bands = '';
                    var b1 = overlay.band1;
                    var b2 = overlay.band2;
                    var b3 = overlay.band3;
                    if (b1 != '' && b2 != '' && b3 != '') {
                        bands = b1 + ',' + b2 + ',' + b3;
                    }
                    var visParams = {
                        min: overlay.min,
                        max: overlay.max,
                        bands: bands
                    };
                    var dateFrom = overlay.dateFrom;
                    var dateTo = overlay.dateTo;
                    $.ajax({
                        url: geeGatewayApiUrl + '/imageByMosaicCollection',
                        type: 'POST',
                        async: false,
                        crossDomain : true,
                        contentType: 'application/json',
                        data: JSON.stringify({
                            collectionName: collectionName,
                            visParams, visParams,
                            dateFrom: dateFrom,
                            dateTo: dateTo
                        })
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        console.error(jqXHR, textStatus, errorThrown);
                    }).done(function(data, textStatus, jqXHR) {
                        if (data.errMsg) {
                            console.error(data, textStatus, jqXHR);
                        } else {
                            if (data.hasOwnProperty('mapid')) {
                                var mapId = data.mapid;
                                var token = data.token;
                                //
                                var eeMapOptions = {
                                    getTileUrl: function(tile, zoom) {
                                      var baseUrl = 'https://earthengine.googleapis.com/map';
                                      var url = [baseUrl, mapId, zoom, tile.x, tile.y].join('/');
                                      url += '?token=' + token;
                                      return url;
                                    },
                                    tileSize: new google.maps.Size(256, 256)
                                };
                                // Create the map type.
                                var mapType = new google.maps.ImageMapType(eeMapOptions);
                                // Create the base Google Map.
                                //google.maps.event.trigger(map, 'resize');
                                // Add the EE layer to the map.
                                //map.overlayMapTypes.pop();
                                //map.overlayMapTypes.push(mapType);
                                overlays.push(mapType);
                                var option = $('<option>').text(collectionName).attr('value', overlays.length - 1);
                                $('#layer-selector').append(option);
                            }
                        }
                    });
                });

            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        }

        getProject();

//

        var records = {};
        var record_id = $(this).attr('data-id');

        function getRecords() {
            $.ajax({
                url: ceoSepalApiUrl + "/record/project_id/" + project_id + "/username/" + '{{username}}',
                method: 'get',
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                records = data;
                $.each(records, function(key, value) {
                    $('#list a[data-plot-id="' + value.plot.id +'"]').addClass('evaluated');
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        }

        getRecords();

        $('#codeLists button').click(function(e) {
            e.preventDefault();
            var plot_id = $('#list a.active').attr('data-plot-id');
            var YCoordinate = $('#list a.active').attr('data-y-coordinate');
            var XCoordinate = $('#list a.active').attr('data-x-coordinate');
            var value = {};
            $('#codeLists select').each(function() {
                value[$(this).attr('data-plot-id')] = $(this).val();
            });
            var project_id = $.urlParam('id');
            var record = {
                project_id: project_id,
                value: value,
                plot: {
                    id: plot_id,
                    YCoordinate: YCoordinate,
                    XCoordinate: XCoordinate
                }
            }
            var url = ceoSepalApiUrl + '/record';
            var method = 'post';
            var record_id = $('#codeLists input[name="id"]').val();
            if (record_id != 0) {
                url =  ceoSepalApiUrl + '/record/' + record_id;
                method = 'put';
            }
            $.ajax({
                url: url,
                method: method,
                data: JSON.stringify(record),
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                getRecords();
                var nextFromActive = $('#list a.active').next(':not(.evaluated)');
                if (nextFromActive.length != 0) {
                    nextFromActive.click();
                } else {
                    var nextFromStart = $('#list a:not(.evaluated)').first();
                    if (nextFromStart.length != 0) {
                        nextFromStart.click();
                    }
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        });

        $('#export-btn').click(function(e) {
            e.preventDefault();
            window.location.href = ceoSepalApiUrl + '/project/' + project_id + '/export';
        });

    });


</script>

{% endblock %}
