{% extends "layout.html" %}
{% block body %}

<style type="text/css">

    html {
        height: 100%;
        width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
    }

    #map {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div id="map"></div>
        </div>
        <div class="col-3" style="color: red;">
            <div id="list" class="list-group"></div>
        </div>
        <div class="col-3">
            <div id="codeLists" style="display: none;">
                <input type="hidden" name="id" />
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
        var geeGatewayApiUrl = '{{config.GEE_API_URL}}';

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        var project_id = $.urlParam('id');

        var map;
        var bounds = new google.maps.LatLngBounds();
        var radius = 30;

        function getProject() {
            $.ajax({
                url: ceoSepalApiUrl + "/project/" + project_id,
                method: 'get',
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                //project
                radius = parseFloat(data.radius);
                //codeLists
                data.codeLists.forEach(function(codeList) {
                    var element = $('<div>').addClass('form-group');
                    var label = $('<label>').text(codeList.name);
                    element.append(label);
                    var select = $('<select>').addClass('form-control').attr('data-record-name', codeList.name);
                    codeList.items.forEach(function(item) {
                        var option = $('<option>').text(item.label);
                        select.append(option);
                    });
                    element.append(select);
                    $('#codeLists').prepend(element);
                });
                //plots
                data.plots.forEach(function(plot) {
                    var li = $('<a>').attr("href", "#").addClass("list-group-item list-group-item-action").html(plot.id).attr('data-record-name', plot.id).click(function() {
                        var record_name = $(this).attr('data-record-name');
                        $(this).siblings().removeClass("active");
                        $(this).addClass("active");
                        map.setCenter(new google.maps.LatLng(parseFloat(plot.YCoordinate), parseFloat(plot.XCoordinate)));
                        map.setZoom(12);
                        $('#codeLists input[name="id"]').val(0);
                        record = $.grep(records, function(e) { return e['record_name'] == record_name; });
                        if (record[0] !== undefined) {
                            var id = record[0]['id'] !== undefined ? record[0]['id'] : 0;
                            $('#codeLists input[name="id"]').val(id);
                            var values = record[0]['record_value'];
                            $.each(JSON.parse(values), function(key, value) {
                                $('#codeLists select[data-record-name="' + key +'"]').val(value);
                            });
                        }
                        $('#codeLists').show();
                    });
                    $('#list').append(li);
                });
                // plots
               function initialize() {

                    options  = { 
                        zoom: 10,
                        center: new google.maps.LatLng(0, 0),
                        disableDefaultUI: false,
                        streetViewControl: false,
                        mapTypeId: 'satellite',
                        styles: [{
                            featureType: "water",
                            elementType: "labels",
                            stylers: [{
                                visibility: "off"
                            }]
                        }]
                    };

                    map = new google.maps.Map(window.document.getElementById("map"), options);

                    data.plots.forEach(function(plot) {

                        var lat = parseFloat(plot.YCoordinate);
                        var lng = parseFloat(plot.XCoordinate);
                        var center = new google.maps.LatLng(lat, lng);

                        var circle = new google.maps.Circle({
                            center: center,
                            radius: radius
                        });

                        var point = new google.maps.Circle({
                            center: center,
                            radius: 1,
                            strokeColor: 'yellow',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: 'yellow',
                            fillOpacity: 1,
                            map: map
                        });

                        var square = new google.maps.Rectangle({
                            bounds: circle.getBounds(),
                            strokeColor: 'yellow',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillOpacity: 0,
                            map: map
                        }).addListener('click', function() {
                            $('#list a[data-record-name=' + plot.id +']').click();
                        });

                        bounds.extend(center);

                    });

                }

                initialize();
                map.panToBounds(bounds);
                map.fitBounds(bounds);

            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

        getProject();

//

        var records = {};
        var record_id = $(this).attr('data-id');

        function getRecords() {
            $.ajax({
                url: ceoSepalApiUrl + "/record/project_id/" + project_id + "/username/" + '{{username}}',
                method: 'get',
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                records = data;
                $.each(records, function(key, value) {
                    $('#list a[data-record-name="' + value.record_name +'"]').addClass('evaluated');
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        }

        getRecords();

        $('#codeLists button').click(function(e) {
            e.preventDefault();
            var record_name = $('#list a.active').attr('data-record-name');
            var record_value = {};
            $('#codeLists select').each(function() {
                record_value[$(this).attr('data-record-name')] = $(this).val();
            });
            var project_id = $.urlParam('id');
            var record = {
                record_name: record_name,
                record_value: record_value,
                project_id: project_id
            }
            var url = ceoSepalApiUrl + '/record';
            var method = 'post';
            var record_id = $('#codeLists input[name="id"]').val();
            if (record_id != 0) {
                url =  cepSepalApiUrl + '/record/' + record_id;
                method = 'put';
            }
            $.ajax({
                url: url,
                method: method,
                data: JSON.stringify(record),
                contentType: 'application/json;charset=UTF-8'
            }).success(function(data) {
                getRecords();
                var nextFromActive = $('#list a.active').next(':not(.evaluated)');
                if (nextFromActive.length != 0) {
                    nextFromActive.click();
                } else {
                    var nextFromStart = $('#list a:not(.evaluated)').first();
                    if (nextFromStart.length != 0) {
                        nextFromStart.click();
                    }
                }
                console.log(data);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        });

    });


</script>

{% endblock %}
