{% extends "layout.html" %}
{% block body %}

<div id="maps">
    <div class="map-control map-control-left">
        <select class="selector-control" id="base-selector">
            <option value="">SEPAL</option>
            <option value="satellite">SATELLITE</option>
        </select>
    </div>
    <div class="map-control">
        <button type="button" id="layer-refresher"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        <select class="selector-control" id="layer-selector">
            <option value="">Default</option>
        </select>
    </div>
    <div id="gmap"></div>
    <div id="lmap" style="display: none;"></div>
</div>

<div id="collect" class="container-fluid">
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md-12 col-lg-6">
            <a class="btn btn-primary" id="export-csv" href="#"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;CSV</a>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="btn-group float-right" role="group">
                <button id="btnGroupDrop0" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-link" aria-hidden="true"></i>&nbsp;Google Fusion Tables
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                    <a id="ft-export" class="dropdown-item" href="#" style="display: none;">
                        <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Export
                    </a>
                    <a id="ft-exported" class="dropdown-item" href="#" target="_blank" style="display: none;">
                        <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;Open
                    </a>
                    <a id="ft-clipboard" class="dropdown-item" href="#" style="display: none;">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Clipboard
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="list-row">
        <div class="col">
            <div id="list" class="list-group"></div>
        </div>
    </div>
    <div class="row" id="codeLists-row" style="display: none;">
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-primary float-right" id="prev-btn">Prev</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary float-right" id="next-btn">Next</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-warning float-right" id="show-list-btn">List</button>
                </div>
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col-8">
                    <h3><i class="fa fa-map-marker"></i>&nbsp;<span id="selected-plot">XXX</span></h3>
                </div>
                <div class="col-4">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;Charts
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item chart-btn" href="#">EVI</a>
                            <a class="dropdown-item chart-btn" href="#">EVI2</a>
                            <a class="dropdown-item chart-btn" href="#">NDMI</a>
                            <a class="dropdown-item chart-btn" href="#">NDVI</a>
                            <a class="dropdown-item chart-btn" href="#">NDWI</a>
                            <a class="dropdown-item chart-btn" href="#">NBR</a>
                            <a class="dropdown-item chart-btn" href="#">LSAVI</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="codeLists">
                        <input type="hidden" name="id" />
                        <input type="hidden" name="confidence" />
                        <button type="button" class="btn btn-primary" id="submit-btn" style="display: none;">Submit</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <button type="button" class="btn btn-secondary confidence-submit-btn" value="lo">Low</button>
                </div>
                <div class="col-6 text-center">
                    <button type="button" class="btn btn-secondary confidence-submit-btn" value="hi">High</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="chart-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="chart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/ceo-map-utils.js?v3"></script>
<script src="static/js/overlay-map-manager.js?v5"></script>

<script>

    $(document).ready(function() {

        var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
        var geeGatewayApiUrl = '{{config.GEEG_API_URL}}';

        overlayMapManager['config'] = {
            'geeGatewayApiUrl': '{{config.GEEG_API_URL}}',
            'digitalGlobeApiKey': '{{config.DIGITALGLOBE_API_KEY}}',
            'dgcsConnectId': '{{config.DGCS_CONNECT_ID}}',
            'planetProxyUrl': ceoSepalApiUrl + '/proxy/planet',
            'sepalHost': '{{config.SEPAL_HOST}}'
        };

        var worker = function (o, resolve, reject, params) {
            setTimeout(function () {
                if (o === 'deleteRecord') {
                    var record_id = params['record_id'];
                    $.ajax({
                        url: ceoSepalApiUrl + '/record/' + record_id,
                        method: 'delete'
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        console.error(jqXHR, textStatus, errorThrown);
                        reject('');
                    }).done(function(data, textStatus, jqXHR) {
                        resolve();
                    });
                } else if (o === 'addOrEditRecord') {
                    var record = params['record'];
                    var url = params['url'];
                    var method = params['method'];
                    $.ajax({
                        url: url,
                        method: method,
                        data: JSON.stringify(record),
                        contentType: 'application/json;charset=UTF-8'
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        console.error(jqXHR, textStatus, errorThrown);
                        reject();
                    }).done(function(data, textStatus, jqXHR) {
                        resolve();
                    });
                }
            }, Math.random() * 1000);
        };

        var queue = Queue(worker);

        window.onbeforeunload = function(e) {
            if (!queue.empty()) {
                return 'Changes you made may not be saved';
            }
        };

        var project_id = $.urlParam('id');

        var gmap, lmap;
        var overlays = [];
        var shapes = {};
        var properties = {};
        var currentPlotShapes = {
            'G': [],
            'L': []
        }

        var plotSelection = function(e) {
            e.preventDefault();
            $(this).addClass('active').siblings().removeClass('active');
            $('.confidence-submit-btn').removeClass('btn-success').addClass('btn-secondary');
            var plot_id = $(this).attr('data-plot-id');
            var value = $(this).data('value');
            //
            var gSquare = shapes[plot_id][0];
            gmap.fitBounds(gSquare.getBounds());
            gmap.setZoom(gmap.getZoom() - 2);
            var lSquare = shapes[plot_id][1];
            lmap.fitBounds(lSquare.getBounds());
            lmap.setZoom(lmap.getZoom() - 2);
            //
            if (value !== undefined) {
                $.each(value, function(key, value) {
                    if (key != 'confidence') {
                        $('#codeLists select[data-plot-id="' + key +'"]').val(value);
                    } else {
                        $('.confidence-submit-btn[value="' + value + '"]').removeClass('btn-secondary').addClass('btn-success');
                    }
                });
            } else {
                $('#codeLists select').find('option:eq(0)').prop('selected', true);
                $('#codeLists .form-group').removeClass('has-danger');
                $('#codeLists .form-control-feedback').hide();
            }
            $('#selected-plot').text(plot_id);
            $('#list-row').hide();
            $('#codeLists-row').show();
        };

        function getProject() {
            $.ajax({
                url: ceoSepalApiUrl + "/project/" + project_id,
                method: 'get',
                dataType: 'json'
            }).done(function(data, textStatus, jqXHR) {
                // project
                projectName = data.name;
                //radius = parseFloat(data.radius);
                {% if session.accessToken -%}
                    // fusiontable
                    if (data.fusionTableId !== undefined && data.fusionTableId != null) {
                        $('#ft-exported').attr('href', 'https://fusiontables.google.com/DataSource?docid=' + data.fusionTableId).show();
                        $('#ft-clipboard').attr('data-id', data.fusionTableId).show();
                        new Clipboard('#ft-clipboard', {
                            text: function(trigger) {
                                return trigger.getAttribute('data-id');
                            }
                        });
                    } else {
                        $('#ft-export').show();
                    }
                {% else -%}
                    $('#btnGroupDrop0').addClass('disabled');
                {% endif -%}
                // codeLists
                data.codeLists.forEach(function(codeList) {
                    var name = codeList.name;
                    var element = $('<div>').addClass('form-group');
                    var label = $('<label>').addClass('form-control-label').text(name);
                    element.append(label);
                    var select = $('<select>').addClass('form-control').attr('data-plot-id', name);
                    select.append($('<option>').text('Select a value').attr('value', ''));
                    codeList.items.forEach(function(item) {
                        var option = $('<option>').text(item.label).attr('value', item.code);
                        select.append(option);
                    });
                    element.append(select);
                    var feedback = $('<div>').addClass('form-control-feedback').text('Mandatory field!').hide();
                    element.append(feedback);
                    $('#codeLists').prepend(element);
                });

                var mapStyle = [
                    {
                        "stylers": [ { "visibility": "simplified" } ]
                    }, {
                        "stylers": [ { "color": "#131314" } ]
                    }, {
                        "featureType": "water",
                        "stylers"    : [ { "color": "#131313" }, { "lightness": 4 }
                        ]
                    }, {
                        "elementType": "labels.text.fill"
                        , "stylers"  : [ { "visibility": "off" }, { "lightness": 25 } ]
                    }
                ];

                var gOptions = {
                    zoom             : 10,
                    center           : new google.maps.LatLng(0, 0),
                    mapTypeId        : google.maps.MapTypeId.ROADMAP,
                    zoomControl      : false,
                    mapTypeControl   : false,
                    scaleControl     : false,
                    streetViewControl: false,
                    rotateControl    : false,
                    fullscreenControl: false,
                    animatedZoom     : false,
                    tilt: 0,
                    backgroundColor  : '#131314',
                    gestureHandling  : 'greedy'
                };

                CartoDB_DarkMatterNoLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
                    subdomains: 'abcd',
                    maxZoom: 22
                });

                googleMapsSatelliteForLeaflet = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                    maxZoom: 22,
                    subdomains: ['mt0','mt1','mt2','mt3']
                });

                var lOptions = {
                    zoom: 10,
                    center: [0, 0],
                    zoomAnimation: false,
                    zoomControl: false,
                    layers: [CartoDB_DarkMatterNoLabels]
                }

                // google maps init
                gmap = new google.maps.Map(window.document.getElementById('gmap'), gOptions);
                gmap.setOptions( { styles: mapStyle } );
                var gBounds = new google.maps.LatLngBounds();

                // leaflet init
                lmap = L.map('lmap', lOptions);
                var lBounds = [];

                // properties
                if (data.properties !== undefined && data.properties.length != 0) {
                    properties = data.properties;
                }

                // plots
                if (data.plots !== undefined && data.plots.length != 0) {
                    //
                    var innerPointSide = properties['inner_point_side'];
                    var numberOfSamplingPointsInPlot = properties['number_of_sampling_points_in_plot'];
                    var distanceToPlotBoundaries = properties['distance_to_plot_boundaries'];
                    var distanceBetweenSamplePoints = properties['distance_between_sample_points'];
                    //
                    var pointPerLine = Math.sqrt(numberOfSamplingPointsInPlot);
                    var isEven = (pointPerLine % 2 == 0);
                    var numberInnerColumns = (isEven) ? pointPerLine / 2 : (pointPerLine - 1) / 2;
                    var innerSideLength = (pointPerLine - 1) * distanceBetweenSamplePoints;
                    var plotSideLength = innerSideLength + distanceToPlotBoundaries * 2;
                    var uniquePlotSideLength = Math.sqrt(innerPointSide);
                    var indexOfCenter = (isEven) ? -1 : numberInnerColumns;
                    //
                    var plotShapeDefinition = {
                        'innerPointSide': innerPointSide,
                        'numberOfSamplingPointsInPlot': numberOfSamplingPointsInPlot,
                        'distanceBetweenSamplePoints': distanceBetweenSamplePoints,
                        'pointPerLine': pointPerLine,
                        'innerSideLength': innerSideLength,
                        'uniquePlotSideLength': uniquePlotSideLength,
                        'indexOfCenter': indexOfCenter
                    };
                    //
                    var squareOptions1 = {
                        color: 'yellow',
                        opacity: 0.8,
                        weight: 2,
                        strokeColor: 'yellow',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillOpacity: 0
                    };
                    var squareOptions2 = {
                        color: 'red',
                        opacity: 0.8,
                        weight: 2,
                        strokeColor: 'red',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillOpacity: 0
                    };
                    //
                    data.plots.forEach(function(plot) {
                        var id = plot.id;
                        var lat = parseFloat(plot.YCoordinate);
                        var lng = parseFloat(plot.XCoordinate);
                        var latLng = new google.maps.LatLng(lat, lng);
                        //
                        var li = $('<a>').attr("href", "#").addClass("list-group-item list-group-item-action").html(id);
                        li.attr('data-plot-id', id).attr('data-x-coordinate', lng).attr('data-y-coordinate', lat);
                        li.click(plotSelection);
                        li.click(function() {
                            for (var shape of currentPlotShapes.G) shape.setMap(null);
                            for (var shape of currentPlotShapes.L) shape.remove();
                            currentPlotShapes = mapUtils.utils.drawPlot(plotShapeDefinition, latLng, squareOptions1, squareOptions2, gmap, lmap);
                        });
                        $('#list').append(li);
                        //
                        var gPlot = mapUtils.G.drawSquare(latLng, plotSideLength, squareOptions1, gmap);
                        var lPlot = mapUtils.L.cloneSquare(gPlot, squareOptions1, lmap);
                        shapes[id] = [gPlot, lPlot];
                        //
                        var plotOnClick = function() {
                            $('#list a[data-plot-id=' + plot.id +']').click();
                        }
                        gPlot.addListener('click', plotOnClick);
                        lPlot.on('click', plotOnClick);
                        //
                        gBounds.extend(latLng);
                        lBounds.push([lat, lng]);
                    });
                    gmap.panToBounds(gBounds);
                    gmap.fitBounds(gBounds);
                    lmap.fitBounds(lBounds);
                }

                //overlays
                data.overlays.forEach(function(overlay, index) {
                    var option = $('<option>').text(overlay.layerName).attr('value', index);
                    $('#layer-selector').append(option);
                    overlays.push(overlay);
                });

                getEvaluatedRecords();

            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        }

        function getEvaluatedRecords() {
            $.ajax({
                url: ceoSepalApiUrl + "/record/project_id/" + project_id,
                method: 'get'
            }).done(function(data, textStatus, jqXHR) {
                $.each(data, function(key, record) {
                    $('#list a[data-plot-id="' + record.plot.id +'"]').attr('data-record-id', record.id).data('value', record.value).addClass('evaluated');
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        }

        getProject();

        function prevEvaluation() {
            var prev = null;
            var prevFromActive = $('#list a.active').prevAll(':not(.evaluated)').first();
            if (prevFromActive.length != 0) {
                prev = prevFromActive;
            } else {
                var prevFromEnd = $('#list a:not(.evaluated)').last();
                if (prevFromEnd.length != 0) {
                    prev = prevFromEnd;
                }
            }
            if (prev != null) {
                prev.click();
            }
        }

        function nextEvaluation() {
            var next = null;
            var nextFromActive = $('#list a.active').nextAll(':not(.evaluated)').first();
            if (nextFromActive.length != 0) {
                next = nextFromActive;
            } else {
                var nextFromStart = $('#list a:not(.evaluated)').first();
                if (nextFromStart.length != 0) {
                    next = nextFromStart;
                }
            }
            if (next != null) {
                next.click();
            }
        }

        function showList() {
            $('#list-row').toggle();
            $('#codeLists-row').toggle();
            $('#list').animate({
                scrollTop: $('#list .active').index() * $('#list .active').outerHeight(true)
            }, 'slow');
        }

        var exportCsv = $('#export-csv');
        queue.addEmptyListener(function(empty) {
            exportCsv.toggleClass('disabled', !empty);
        });
        exportCsv.click(function(e) {
            e.preventDefault();
            window.location.href = ceoSepalApiUrl + '/project/' + project_id + '/export';
        });

        $('#ft-export').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: ceoSepalApiUrl + '/project/' + project_id + '/export?type=fusiontables',
                type: 'GET',
                crossDomain : true
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
                alert('ko');
            }).done(function(data, textStatus, jqXHR) {
                $('#ftModal').modal('show');
                // fusiontable
                if (data.fusionTableId !== undefined && data.fusionTableId != null) {
                    $('#ft-exported').attr('href', 'https://fusiontables.google.com/DataSource?docid=' + data.fusionTableId).show();
                    $('#ft-clipboard').attr('data-id', data.fusionTableId).show();
                    new Clipboard('#ft-clipboard', {
                        text: function(trigger) {
                            return trigger.getAttribute('data-id');
                        }
                    });
                }
                $('#ft-export').hide();
            });
        });

        $('#ft-clipboard').click(function(e) {
            e.preventDefault();
        });

        $('#prev-btn').click(function(e) {
            e.preventDefault();
            prevEvaluation();
        });

        $('#next-btn').click(function(e) {
            e.preventDefault();
            nextEvaluation();
        });

        $('#show-list-btn').click(function(e) {
            e.preventDefault();
            showList();
        });

        $('.confidence-submit-btn').click(function(e) {
            e.preventDefault();
            var value = $(this).val();
            $('#codeLists input[name="confidence"]').val(value);
            $('#submit-btn').trigger('click');
        });

        $('#submit-btn').click(function(e) {
            e.preventDefault();

            var value = {};
            if ($('option[value=""]:selected', '#codeLists select').length > 0) {
                $('option[value=""]:selected', '#codeLists select').closest('.form-group').addClass('has-danger').children('.form-control-feedback').show();
                return 0;
            }
            $('#codeLists select').each(function() {
                value[$(this).attr('data-plot-id')] = $(this).val();
            });

            value['confidence'] = $('#codeLists input[name="confidence"]').val();

            var project_id = $.urlParam('id');
            var plot_id = $('#list a.active').attr('data-plot-id');
            var YCoordinate = $('#list a.active').attr('data-y-coordinate');
            var XCoordinate = $('#list a.active').attr('data-x-coordinate');

            var url = ceoSepalApiUrl + '/record';
            var method = 'post';
            var evaluated = $('#list a.active').hasClass('evaluated');
            var record_id = generateGUID();

            if (!evaluated) {
                $('#list a.active').attr('data-record-id', record_id);
            } else {
                record_id = $('#list a.active').attr('data-record-id');
                url = ceoSepalApiUrl + '/record/' + record_id;
                method = 'put';
            }

            var record = {
                record_id: record_id,
                project_id: project_id,
                value: value,
                plot: {
                    id: plot_id,
                    YCoordinate: YCoordinate,
                    XCoordinate: XCoordinate
                }
            };

            queue.enqueue('addOrEditRecord', {
                'url': url,
                'method': method,
                'record': record
            }).then(function () {
            }, function (e) {
                $('#errorModal').modal('show');
            });
            $('#list a[data-plot-id="' + plot_id +'"]').data('value', value).addClass('evaluated').text(plot_id);
            nextEvaluation();

        });

        function layerSelection(index, refresh) {
            //gmap.overlayMapTypes.pop();
            //gmap.overlayMapTypes.setAt(0, null);
            gmap.overlayMapTypes.clear();
            lmap.eachLayer(function(layer) {
                if (layer.options.isOverlay) lmap.removeLayer(layer);
            });
            setTimeout(function() {
                if (typeof index !== 'undefined' && index != '') {
                    var overlay = overlays[index];
                    if (refresh == true) overlayMapManager.overlayMapTypes[index] = undefined;
                    overlayMapManager.addOverlayMapType(overlay, index, function() {
                        var overlayMapType = overlayMapManager.overlayMapTypes[index];
                        if (overlay.type != 'geonetwork' && overlay.type != 'dgcs' && overlay.type != 'geoserver') {
                            gmap.overlayMapTypes.insertAt(0, overlayMapType);
                            mapUtils.utils.switchToGoogleMaps(gmap, lmap, 'gmap', 'lmap');
                        } else {
                            if (overlay.type == 'dgcs') {
                                $('body .dgcs-iframe').remove();
                                var src = 'https://services.digitalglobe.com/mapservice/wmsaccess?connectid={{config.DGCS_CONNECT_ID}}';
                                var iframe = $('<iframe>').addClass('dgcs-iframe').attr('src', src);
                                $('body').append(iframe);
                            }
                            lmap.addLayer(overlayMapType);
                            overlayMapType.bringToFront();
                            mapUtils.utils.switchToLeaflet(gmap, lmap, 'gmap', 'lmap');
                        }
                    });
                } else {
                    mapUtils.utils.switchToGoogleMaps(gmap, lmap, 'gmap', 'lmap');
                }
            }, 1000);
        }

        $('#base-selector').change(function(e) {
            var selectedBase = $(this).val();
            if (selectedBase == '') {
                gmap.setMapTypeId(google.maps.MapTypeId.ROADMAP);
                lmap.removeLayer(googleMapsSatelliteForLeaflet);
                lmap.addLayer(CartoDB_DarkMatterNoLabels);
            } else if (selectedBase == 'satellite') {
                gmap.setMapTypeId(google.maps.MapTypeId.SATELLITE);
                lmap.removeLayer(CartoDB_DarkMatterNoLabels);
                lmap.addLayer(googleMapsSatelliteForLeaflet);
            }
        });

        $('#layer-refresher').click(function(e) {
            e.preventDefault();
            var selectedLayer = $('#layer-selector option:selected').val();
            layerSelection(selectedLayer, true);
        });

        $('#layer-selector').change(function(e) {
            var selectedLayer = $(this).val();
            layerSelection(selectedLayer);
        });

        $('.chart-btn').click(function(e) {
            e.preventDefault();
            var indexName = $(this).text();
            var active = $('#list .active');
            var plot_id = active.attr('data-plot-id');
            var x_coordinate = active.attr('data-x-coordinate');
            var y_coordinate = active.attr('data-y-coordinate');
            $.ajax({
                url: geeGatewayApiUrl + '/timeSeriesIndex3',
                type: 'POST',
                crossDomain : true,
                contentType: 'application/json',
                data: JSON.stringify({
                    indexName: indexName,
                    scale: 30,
                    polygon: [
                        parseFloat(x_coordinate), parseFloat(y_coordinate)
                    ]
                })
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            }).done(function(data, textStatus, jqXHR) {
                if (data.errMsg) {
                    console.error(data, textStatus, jqXHR);
                } else {
                    $('#chart-modal').modal('show');
                    var text = indexName;
                    Highcharts.chart('chart', {
                        chart: {
                            zoomType: 'x'
                        },
                        title: {
                            text: text
                        },
                        subtitle: {
                            text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: indexName
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            area: {
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                marker: {
                                    radius: 2
                                },
                                lineWidth: 1,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                threshold: null
                            }
                        },
                        series: [{
                            type: 'area',
                            name: indexName,
                            data: data.timeseries
                        }],
                        credits: {
                            enabled: false
                        }
                    });
                }
            });

        });

    });

</script>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="ftModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                The project has been synchronized with Google Fusion Table
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="errorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Refresh the page
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}