<!DOCTYPE html>
<html>
    <head>
        <base href="{{config.BASE}}" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <script type="text/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="static/bower_components/tether/dist/js/tether.min.js"></script>
        <script type="text/javascript" src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {% if config.GMAPS_API_KEY is defined and config.GMAPS_API_KEY != '' %}
            <script type="text/javascript" src="https://maps.google.com/maps/api/js?key={{ config.GMAPS_API_KEY }}"></script>
        {% else %}
            <script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
        {% endif %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
           integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
           crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
           integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
           crossorigin=""></script>
        <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-toggleable-md">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{config.BASE}}">ceo-sepal</a>
            {% if session.username %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                &nbsp;{{session.username}}
                                {% if session.is_admin %}(admin){% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>

        {% block body %}{% endblock %}

        <script>
            $('body').on('click', '.disabled', function(e) {
                e.preventDefault();
                return false;
            });
        </script>

    </body>
</html>
