{% extends "layout.html" %}
{% block body %}

<form enctype="multipart/form-data" action="api/project" method="post">
    <div class="container">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Radius</label>
            <div class="col-10">
                <input class="form-control" type="text" name="radius" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">CEP</label>
            <div class="col-10">
                <input class="form-control-file" type="file" name="file" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <button id="add-subform" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
        <div class="row" id="subform-container"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</form>

<div style="display: none;" id="gee-gateway-subform">
    <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove">
    <h2>GEE-GATEWAY</h2>
    {% include "geeg.html" %}
</div>

<script>

$('#add-subform').click(function(e) {
    e.preventDefault();
    var subform = $('#gee-gateway-subform').clone().appendTo('#subform-container').show();
    subform.children('.remove-subform').click(function(e) {
        e.preventDefault();
        $(this).parent().remove();
    });
});

</script>

{% endblock %}