{% extends "layout.html" %}
{% block body %}

<form>
    <div class="container">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Radius</label>
            <div class="col-10">
                <input class="form-control" type="text" name="radius" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">GEE-GATEWAY</label>
            <div class="col-10">
                <button id="add-subform" type="button" class="btn btn-success">
                    <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add
                </button>
            </div>
        </div>
        <div id="subform-container"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input class="btn btn-primary" id="submit-btn" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</form>

<div style="display: none;" id="gee-gateway-subform">
    <input class="btn btn-danger remove-subform" type="submit" value="Remove">
    {% include "geeg.html" %}
</div>

<script>

function addSubform(data) {
    var subform = $('#gee-gateway-subform').clone().appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).parent().remove();
    });
    if (data !== undefined) {
        console.log(data.collectionName);
        $('select[name="collectionName[]"]', subform).val(data.collectionName);
        $('input[name="dateFrom[]"]', subform).val(data.dateFrom);
        $('input[name="dateTo[]"]', subform).val(data.dateTo);
        $('input[name="min[]"]', subform).val(data.min);
        $('input[name="max[]"]', subform).val(data.max);
        $('input[name="band1[]"]', subform).val(data.band1);
        $('input[name="band2[]"]', subform).val(data.band2);
        $('input[name="band3[]"]', subform).val(data.band3);
    }
}

$('#add-subform').click(function(e) {
    e.preventDefault();
    addSubform();
});


$('#submit-btn').click(function(e) {
    e.preventDefault();
    var project_id = $.urlParam('id');
    var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
    $.ajax({
        url: ceoSepalApiUrl + "/project/" + project_id,
        method: 'put',
        data: $('form').serialize(),
    }).success(function(data) {
        window.location.href = '/project-list';
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error(jqXHR, textStatus, errorThrown);
    });
});

$(document).ready(function() {

    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
    }

    var project_id = $.urlParam('id');
    var ceoSepalApiUrl = '{{config.CEO_API_URL}}';

    $.ajax({
        url: ceoSepalApiUrl + "/project/" + project_id,
            method: 'get',
            contentType: 'application/json;charset=UTF-8'
    }).success(function(data) {
        $('input[name="name"]').val(data.name);
        $('input[name="radius"]').val(data.radius);
        var overlays = data.overlays;
        overlays.forEach(function(overlay) {
            addSubform(overlay);
        });
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error(jqXHR, textStatus, errorThrown);
    });

});

</script>

{% endblock %}