{% extends "layout.html" %}
{% block body %}

<form enctype="multipart/form-data">
    <div class="container">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Radius</label>
            <div class="col-10">
                <input class="form-control" type="text" name="radius" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">CEP</label>
            <div class="col-10">
                <input class="form-control-file" type="file" name="file" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <button id="add-subform" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
        <div class="row" id="subform-container"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input class="btn btn-primary" id="add-btn" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</form>

<div style="display: none;" id="gee-gateway-subform">
    <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove">
    <h2>GEE-GATEWAY</h2>
    {% include "geeg.html" %}
</div>

<script>

$('#add-subform').click(function(e) {
    e.preventDefault();
    var subform = $('#gee-gateway-subform').clone().appendTo('#subform-container').show();
    subform.children('.remove-subform').click(function(e) {
        e.preventDefault();
        $(this).parent().remove();
    });
});

$('#add-btn').click(function(e) {
    e.preventDefault();
    var form = $('form');
    var formdata = false;
    if (window.FormData){
        formdata = new FormData(form[0]);
    }
    var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
    $.ajax({
        url: ceoSepalApiUrl + "/project/add",
        method: 'post',
        data : formdata ? formdata : form.serialize(),
        cache : false,
        contentType : false,
        processData : false,
    }).success(function(data) {
        window.location.href = 'project-list';
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error(jqXHR, textStatus, errorThrown);
    });
});

</script>

{% endblock %}