{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <div class="row" style="padding-bottom: 1em;">
            <div class="col">
                <a class="btn btn-outline-success float-right" href="project-add">add project</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table" id="project-table" style="display: none;">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>type</th>
                                <th>date created</th>
                                <th>username</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to delete this project?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function() {

            var ceoSepalApiUrl = '{{config.CEO_API_URL}}';

            $.ajax({
                url: ceoSepalApiUrl + '/project',
                dataType: 'json'
            }).success(function(data) {
                if (data !== undefined && data.projects !== undefined) {
                    $(data.projects).each(function() {
                        var project_id = this.id;
                        var projectType = this.type;
                        var tr = $('<tr>');
                        tr.append($('<td>').text(this.name));
                        tr.append($('<td>').text(this.type));
                        var d = new Date(this.upload_datetime);
                        tr.append($('<td>').text(d.toLocaleString()));
                        tr.append($('<td>').text(this.username));
                        tr.append($('<td>').append($('<a>').attr('href', 'project-edit?id=' + project_id).addClass('btn btn-outline-warning').text('edit')));
                        if (projectType == 'CEP') {
                            tr.append($('<td>').append($('<a>').attr('href', 'collect-cep?id=' + project_id).addClass('btn btn-outline-info').text('collect')));
                        } else if (projectType == 'TRAINING-DATA') {
                            tr.append($('<td>').append($('<a>').attr('href', 'collect-training-data?id=' + project_id).addClass('btn btn-outline-info').text('collect')));
                        }
                        tr.append($('<td>').append($('<a>').attr('href', '#').addClass('btn btn-outline-danger').text('delete').click(function(e) {
                            e.preventDefault();
                            $('#deleteModal').modal('show');
                            $('#deleteButton').attr('data-project_id', project_id);
                        })));
                        $('#project-table tbody').append(tr);
                    });
                    $('#project-table').show();
                    $('#deleteButton').click(function(e) {
                        e.preventDefault();
                        var project_id = $(this).attr('data-project_id');
                        $.ajax({
                            url: ceoSepalApiUrl + '/project/' + project_id,
                            method: 'delete',
                            contentType: 'application/json;charset=UTF-8'
                        }).success(function(data) {
                            window.location.reload();
                        }).fail(function(jqXHR, textStatus, errorThrown) {
                            console.error(jqXHR, textStatus, errorThrown);
                        });
                    });
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error(jqXHR, textStatus, errorThrown);
            });
        });

    </script>

{% endblock %}