{% extends "layout.html" %}
{% block body %}

<form enctype="multipart/form-data" action="api/project" method="post">
    <div class="container">
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Scale (m)</label>
            <div class="col-10">
                <input class="form-control" type="text" name="radius" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">CEP</label>
            <div class="col-10">
                <input class="form-control-file" type="file" name="file" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button id="add-subform-geeg" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add GEE layer
                    </button>
                    <button id="add-subform-digitalglobe" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add DigitalGlobe layer
                    </button>
                    <button id="add-subform-gibs" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add GIBS layer
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id ="submit-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="row" id="subform-container"></div>
    </div>
</form>

<div style="display: none;" id="gee-gateway-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="gee-gateway" />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Google Earth Engine</h2>
            </div>
            <div class="col-6">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove" />
            </div>
        </div>
        {% include "project-subform-geeg.html" %}
    </div>
</div>

<div style="display: none;" id="digitalglobe-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="digitalglobe" />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;DigitalGlobe</h2>
            </div>
            <div class="col-6">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove" />
            </div>
        </div>
        {% include "project-subform-digitalglobe.html" %}
    </div>
</div>

<div style="display: none;" id="gibs-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="gibs" />
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;GIBS (Global Imagery Browse Services)</h2>
            </div>
            <div class="col-4">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove" />
            </div>
        </div>
        {% include "project-subform-gibs.html" %}
    </div>
</div>

<script>

$('#add-subform-geeg').click(function(e) {
    e.preventDefault();
    var subform = $('#gee-gateway-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
});

$('#add-subform-digitalglobe').click(function(e) {
    e.preventDefault();
    var subform = $('#digitalglobe-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
});

$('#add-subform-gibs').click(function(e) {
    e.preventDefault();
    var subform = $('#gibs-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
});

</script>

{% endblock %}