<div class="form-group row">
    <label class="col-4 col-form-label">Name</label>
    <div class="col-8">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Collection</label>
    <div class="col-8">
        <select class="form-control" name="collectionName[]">
            <option value="" selected>CHOOSE A COLLECTION</option>
            <option value="LANDSAT/LE7_L1T_ANNUAL_GREENEST_TOA">LANDSAT/LE7_L1T_ANNUAL_GREENEST_TOA</option>
            <option value="LANDSAT/LC8_L1T_ANNUAL_GREENEST_TOA">LANDSAT/LC8_L1T_ANNUAL_GREENEST_TOA</option>
            <option value="ASTER/AST_L1T_003">ASTER/AST_L1T_003</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">From (YYYY-MM-DD)</label>
    <div class="col-8">
        <input type="text" class="form-control" name="dateFrom[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">To (YYYY-MM-DD)</label>
    <div class="col-8">
        <input type="text" class="form-control" name="dateTo[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Visualization Parameters</label>
    <div class="col-8">
        <select class="form-control" name="visParams[]">
            <option value="" selected>CHOOSE A PARAMETER SET</option>
        </select>
        <input type="hidden" name="min[]" />
        <input type="hidden" name="max[]" />
        <input type="hidden" name="band1[]" />
        <input type="hidden" name="band2[]" />
        <input type="hidden" name="band3[]" />
        <input type="hidden" name="gamma[]" />
    </div>
</div>

<script>
    var visParams = {
        'LANDSAT/LE7_L1T_ANNUAL_GREENEST_TOA': [
            { id: 1, name: 'RED, GREEN, BLUE', min: 0.05, max: 0.5, band1: 'B3', band2: 'B2', band3: 'B1', 'gamma': '2.0, 2.1, 1.8' },
            { id: 2, name: 'NIR, RED, GREEN', min: 0.05, max: 0.5, band1: 'B4', band2: 'B3', band3: 'B2', 'gamma': 1.7 },
            { id: 3, name: 'NIR, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B4', band2: 'B5', band3: 'B3', 'gamma': 1.7 },
            { id: 4, name: 'SWIR2, NIR, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B4', band3: 'B3', 'gamma': 1.7 },
            { id: 5, name: 'SWIR2, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B5', band3: 'B3', 'gamma': 1.7 },
            { id: 6, name: 'SWIR2, NIR, GREEN', min: 0.05, max: 0.5, band1: 'B7', band2: 'B4', band3: 'B2', 'gamma': 1.7 }
        ],
        'LANDSAT/LC8_L1T_ANNUAL_GREENEST_TOA': [
            { id: 101, name: 'RED, GREEN, BLUE', min: 0.05, max: 0.5, band1: 'B4', band2: 'B3', band3: 'B2', 'gamma': '2.0, 2.1, 1.8' },
            { id: 102, name: 'NIR, RED, GREEN', min: 0.05, max: 0.5, band1: 'B5', band2: 'B4', band3: 'B3', 'gamma': 1.7 },
            { id: 103, name: 'NIR, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B5', band2: 'B6', band3: 'B4', 'gamma': 1.7 },
            { id: 104, name: 'SWIR2, NIR, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B5', band3: 'B4', 'gamma': 1.7 },
            { id: 105, name: 'SWIR2, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B6', band3: 'B4', 'gamma': 1.7 },
            { id: 106, name: 'SWIR2, NIR, GREEN', min: 0.05, max: 0.5, band1: 'B7', band2: 'B5', band3: 'B3', 'gamma': 1.7 }
        ],
        'ASTER/AST_L1T_003': [
            { id: 201, name: 'NIR, SWIR1, RED', min: 0, max: '110, 25, 90', band1: 'nir', band2: 'swir1', band3: 'red', 'gamma': 1.7 }
        ]
    }
</script>