<div class="form-group row">
    <label class="col-4 col-form-label">Name</label>
    <div class="col-8">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Recipe</label>
    <div class="col-8">
        <select class="form-control" name="sepalMosaicName[]">
            <option value="" selected>CHOOSE A RECIPE</option>
        </select>
    </div>
</div>
<div class="form-group row sepal-mosaic-row">
    <label class="col-4 col-form-label">Bands</label>
    <div class="col-8">
        <select class="form-control" name="sepalBands[]">
            <option value="" selected>CHOOSE THE BANDS</option>
            <option value="red, green, blue" class="pansharpenable">Natural (Red, Green, Blue)</option>
            <option value="nir, red, green" class="pansharpenable">Infrared (NIR, Red, Green)</option>
            <option value="nir, swir1, red">False color (NIR, SWIR1, Red)</option>
            <option value="swir2, nir, red">False color (SWIR2, NIR, Red)</option>
            <option value="swir2, swir1, red">False color (SWIR2, SWIR1, Red)</option>
            <option value="swir2, nir, green">False color (SWIR2, NIR, Green)</option>
            <option value="unixTimeDays">Date</option>
            <option value="dayOfYear">Day of the year</option>
            <option value="daysFromTarget">Days from target date</option>
        </select>
    </div>
</div>
<div class="form-group row sepal-mosaic-row">
    <div class="offset-4 col-8">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="sepalPansharpening[]" value="1" disabled />
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Pansharpening</span>
        </label>
    </div>
</div>