<div class="card w-100 card-inverse subform-template" id="gee-gateway-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="gee-gateway" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Google Earth Engine
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-gee.html" %}
    </div>
</div>

<div class="card w-100 card-inverse subform-template" id="digitalglobe-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="digitalglobe" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;DigitalGlobe Basemap
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-digitalglobe.html" %}
    </div>
</div>

<div class="card w-100 card-inverse subform-template" id="dgcs-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="dgcs" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;DGCS (DigitalGlobe Cloud Services)
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-dgcs.html" %}
    </div>
</div>

<div class="card w-100 card-inverse subform-template" id="gibs-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="gibs" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;GIBS (Global Imagery Browse Services)
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-gibs.html" %}
    </div>
</div>

<div class="card w-100 card-inverse subform-template" id="geonetwork-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="geonetwork" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;GeoNetwork
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-geonetwork.html" %}
    </div>
</div>

<div class="card w-100 card-inverse subform-template" id="geoserver-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="geoserver" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;GeoServer
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-geoserver.html" %}
    </div>
</div>

<div class="card w-100 card-inverse subform-template" id="planet-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="planet" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Planet
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-planet.html" %}
    </div>
</div>

<div class="card w-100 card-inverse subform-template" id="sepal-subform-template" style="display: none;">
    <input type="hidden" class="form-control" name="layerType[]" value="sepal" />
    <div class="card-header">
        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;SEPAL
        <button type="submit" class="btn btn-danger remove-subform float-right">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-block">
        {% include "project-subform-sepal.html" %}
    </div>
</div>

<script>
    var visParams = {
        'LANDSAT/LE7_L1T_ANNUAL_GREENEST_TOA': [
            { id: 1, name: 'RED, GREEN, BLUE', min: 0.05, max: 0.5, band1: 'B3', band2: 'B2', band3: 'B1', 'gamma': '2.0, 2.1, 1.8' },
            { id: 2, name: 'NIR, RED, GREEN', min: 0.05, max: 0.5, band1: 'B4', band2: 'B3', band3: 'B2', 'gamma': 1.7 },
            { id: 3, name: 'NIR, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B4', band2: 'B5', band3: 'B3', 'gamma': 1.7 },
            { id: 4, name: 'SWIR2, NIR, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B4', band3: 'B3', 'gamma': 1.7 },
            { id: 5, name: 'SWIR2, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B5', band3: 'B3', 'gamma': 1.7 },
            { id: 6, name: 'SWIR2, NIR, GREEN', min: 0.05, max: 0.5, band1: 'B7', band2: 'B4', band3: 'B2', 'gamma': 1.7 }
        ],
        'LANDSAT/LC8_L1T_ANNUAL_GREENEST_TOA': [
            { id: 101, name: 'RED, GREEN, BLUE', min: 0.05, max: 0.5, band1: 'B4', band2: 'B3', band3: 'B2', 'gamma': '2.0, 2.1, 1.8' },
            { id: 102, name: 'NIR, RED, GREEN', min: 0.05, max: 0.5, band1: 'B5', band2: 'B4', band3: 'B3', 'gamma': 1.7 },
            { id: 103, name: 'NIR, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B5', band2: 'B6', band3: 'B4', 'gamma': 1.7 },
            { id: 104, name: 'SWIR2, NIR, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B5', band3: 'B4', 'gamma': 1.7 },
            { id: 105, name: 'SWIR2, SWIR1, RED', min: 0.05, max: 0.5, band1: 'B7', band2: 'B6', band3: 'B4', 'gamma': 1.7 },
            { id: 106, name: 'SWIR2, NIR, GREEN', min: 0.05, max: 0.5, band1: 'B7', band2: 'B5', band3: 'B3', 'gamma': 1.7 }
        ],
        'ASTER/AST_L1T_003': [
            { id: 201, name: 'NIR, SWIR1, RED', min: 0, max: '110, 25, 90', band1: 'nir', band2: 'swir1', band3: 'red', 'gamma': 1.7 }
        ],
        'NDVI_CHANGE': [
            { id: 301, name: 'RED, BLACK, GREEN', min: -0.75, max: 0.75, 'palette': 'red, black, green' }
        ]
    };
    var planetApiVersions = {
        'v0': [
            { value: "global_quarterly_2016q3_mosaic", text: "Q3 2016" },
            { value: "global_quarterly_2016q4_mosaic", text: "Q4 2016" },
            { value: "global_quarterly_2017q1_mosaic", text: "Q1 2017" },
            { value: "global_quarterly_2017q2_mosaic", text: "Q2 2017" }
        ],
        'v1': [
            { value: "global_quarterly_2016q4_mosaic", text: "Q4 2016" },
            { value: "global_quarterly_2017q1_mosaic", text: "Q1 2017" },
            { value: "global_quarterly_2017q2_mosaic", text: "Q2 2017" }
        ]
    };
</script>

<div class="subform-template container" id="codelist-values-subform-template" style="display: none;">
    <div class="form-group row">
        <div class="col-4 offset-4">
            <input type="text" class="form-control" name="codeListCode[]" />
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-danger remove-subform">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>