<div class="form-group row">
    <label class="col-2 col-form-label">Name</label>
    <div class="col-10">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">Imagery Layer</label>
    <div class="col-10">
        <select class="form-control" name="imageryLayer[]">
            <option value="" selected>CHOOSE A IMAGERY LAYER</option>
            <option value="VIIRS_SNPP_DayNightBand_ENCC">VIIRS_SNPP_DayNightBand_ENCC</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">Date (YYYY-MM-DD)</label>
    <div class="col-10">
        <input type="text" class="form-control" name="date[]" />
    </div>
</div>