{% extends "layout.html" %}
{% block body %}

<form>
    <div class="container">
        <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Scale (m)</label>
            <div class="col-10">
                <input class="form-control" type="text" name="radius" />
            </div>
        </div>
        <div class="row data-row" style="display: none;">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-info" id="add-subform-codelist">
                        <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Add CodeList
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button id="add-subform-gee" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add Google Earth Engine layer
                    </button>
                    <button id="add-subform-digitalglobe" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add DigitalGlobe layer
                    </button>
                    <button id="add-subform-gibs" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add GIBS layer
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="submit-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="row data-row" id="codelist-subform-container"></div>
        <div class="row" id="subform-container"></div>
    </div>
</form>

<div style="display: none;" id="gee-gateway-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="gee-gateway" />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Google Earth Engine</h2>
            </div>
            <div class="col-6">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove layer" />
            </div>
        </div>
        {% include "project-subform-gee.html" %}
    </div>
</div>

<div style="display: none;" id="digitalglobe-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="digitalglobe" />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;DigitalGlobe</h2>
            </div>
            <div class="col-6">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove layer" />
            </div>
        </div>
        {% include "project-subform-digitalglobe.html" %}
    </div>
</div>

<div style="display: none;" id="gibs-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="gibs" />
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;GIBS (Global Imagery Browse Services)</h2>
            </div>
            <div class="col-4">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove layer" />
            </div>
        </div>
        {% include "project-subform-gibs.html" %}
    </div>
</div>

<div style="display: none;" id="codelist-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="codeListUniqueID[]" value="" />
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Code List</h2>
            </div>
            <div class="col-4">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove code list" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-info" id="add-subform-codelist-value">
                        <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Add value
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Code List ID</label>
            <div class="col-10">
                <input type="text" class="form-control" name="codeListID[]" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Code List Name</label>
            <div class="col-10">
                <input type="text" class="form-control" name="codeListName[]" />
            </div>
        </div>
        <div class="row codelist-values-subform-container"></div>
    </div>
</div>

<div style="display: none;" id="codelist-values-subform-template" class="subform-template">
    <div class="container">
        <div class="form-group row">
            <div class="col-5">
                <input type="text" class="form-control" name="XXX-codeListCode[]" />
            </div>
            <div class="col-5">
                <input type="text" class="form-control" name="XXX-codeListLabel[]" />
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-danger remove-subform float-right">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>

$.urlParam = function(name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    return results[1] || 0;
}

function addSubformGEE(data) {
    var subform = $('#gee-gateway-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    if (data !== undefined) {
        $('input[name="layerName[]"]', subform).val(data.layerName);
        $('select[name="collectionName[]"]', subform).val(data.collectionName);
        $('input[name="dateFrom[]"]', subform).val(data.dateFrom);
        $('input[name="dateTo[]"]', subform).val(data.dateTo);
        $('input[name="min[]"]', subform).val(data.min);
        $('input[name="max[]"]', subform).val(data.max);
        $('input[name="band1[]"]', subform).val(data.band1);
        $('input[name="band2[]"]', subform).val(data.band2);
        $('input[name="band3[]"]', subform).val(data.band3);
    }
}

function addSubformDigitalGlobe(data) {
    var subform = $('#digitalglobe-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    if (data !== undefined) {
        $('input[name="layerName[]"]', subform).val(data.layerName);
        $('select[name="mapID[]"]', subform).val(data.mapID);
    }
}

function addSubformGIBS(data) {
    var subform = $('#gibs-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    if (data !== undefined) {
        $('input[name="layerName[]"]', subform).val(data.layerName);
        $('select[name="imageryLayer[]"]', subform).val(data.imageryLayer);
        $('input[name="date[]"]', subform).val(data.date);
    }
}

function addSubformCodeListValue(that, data) {
    var container = $(that).closest('.subform-template').find('.codelist-values-subform-container');
    var uniqueID = $(that).closest('.subform-template').find('input[name="codeListUniqueID[]"]').val();
    var subform = $('#codelist-values-subform-template').clone().removeAttr('id').appendTo(container).show();
    $('input', subform).each(function() {
        $(this).attr('name', $(this).attr('name').replace('XXX', uniqueID));
    });
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    if (data !== undefined) {
        $('input[name="' + uniqueID + '-codeListCode[]"]', subform).val(data.code);
        $('input[name="' + uniqueID + '-codeListLabel[]"]', subform).val(data.label);
    }
}

function addSubformCodeList(data) {
    var subform = $('#codelist-subform-template').clone().removeAttr('id').appendTo('#codelist-subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    $('input[name="codeListUniqueID[]"]', subform).val(Date.now());
    $('#add-subform-codelist-value', subform).click(function(e) {
        e.preventDefault();
        addSubformCodeListValue(this);
    });
    if (data !== undefined) {
        $('input[name="codeListID[]"]', subform).val(data.id);
        $('input[name="codeListName[]"]', subform).val(data.name);
        data.items.forEach(function(item) {
            addSubformCodeListValue(subform, item);
        });
    }
}

$('#add-subform-gee').click(function(e) {
    e.preventDefault();
    addSubformGEE();
});

$('#add-subform-digitalglobe').click(function(e) {
    e.preventDefault();
    addSubformDigitalGlobe();
});

$('#add-subform-gibs').click(function(e) {
    e.preventDefault();
    addSubformGIBS();
});

$('#add-subform-codelist').click(function(e) {
    e.preventDefault();
    addSubformCodeList();
});

$('#add-subform-codelist-value').click(function(e) {
    e.preventDefault();
    addSubformCodeListValue();
});

$('#submit-btn').click(function(e) {
    e.preventDefault();
    var project_id = $.urlParam('id');
    var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
    $.ajax({
        url: ceoSepalApiUrl + "/project/" + project_id,
        method: 'put',
        data: $('form').serialize()
    }).success(function(data) {
        window.location.href = '{{config.BASE}}';
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error(jqXHR, textStatus, errorThrown);
    });
});

$(document).ready(function() {

    var project_id = $.urlParam('id');
    var ceoSepalApiUrl = '{{config.CEO_API_URL}}';

    $.ajax({
        url: ceoSepalApiUrl + "/project/" + project_id,
        method: 'get',
        contentType: 'application/json;charset=UTF-8'
    }).success(function(data) {
        $('input[name="name"]').val(data.name);
        $('input[name="radius"]').val(data.radius);
        var projectType = data.type;
        if (projectType == 'TRAINING-DATA') {
            $('.data-row').show();
            var codeLists = data.codeLists;
            codeLists.forEach(function(codeList) {
                addSubformCodeList(codeList);
            });
        }
        var overlays = data.overlays;
        overlays.forEach(function(overlay) {
            if (overlay.type == 'gee-gateway') {
                addSubformGEE(overlay);
            } else if (overlay.type == 'digitalglobe') {
                addSubformDigitalGlobe(overlay);
            } else if (overlay.type == 'gibs') {
                addSubformGIBS(overlay);
            }
        });
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error(jqXHR, textStatus, errorThrown);
    });

});

</script>

{% endblock %}