<div class="form-group row">
    <label class="col-4 col-form-label">Name</label>
    <div class="col-8">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Layer</label>
    <div class="col-8">
        <select class="form-control" name="mapID[]">
            <option value="" selected>CHOOSE A LAYER</option>
            <option value="digitalglobe.nal0g75k">digitalglobe.nal0g75k</option>
        </select>
    </div>
</div>