{% extends "layout.html" %}
{% block body %}

<form>
    <div class="container">
        <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="name" />
            </div>
        </div>
        <div class="form-group row data-row" style="display: none;">
            <label class="col-2 col-form-label">Scale (m)</label>
            <div class="col-10">
                <input class="form-control" type="text" name="radius" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button id="add-subform-gee" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add Google Earth Engine layer
                    </button>
                    <button id="add-subform-digitalglobe" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add DigitalGlobe layer
                    </button>
                    <button id="add-subform-gibs" type="button" class="btn btn-success">
                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Add GIBS layer
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="submit-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="row data-row" id="codelist-subform-container" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Code List</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info" id="add-subform-codelist-value">
                                <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Add value
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row codelist-values-subform-container"></div>
            </div>
        </div>
        <div class="row" id="subform-container"></div>
    </div>
</form>

<div style="display: none;" id="gee-gateway-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="gee-gateway" />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;Google Earth Engine</h2>
            </div>
            <div class="col-6">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove layer" />
            </div>
        </div>
        {% include "project-subform-gee.html" %}
    </div>
</div>

<div style="display: none;" id="digitalglobe-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="digitalglobe" />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;DigitalGlobe</h2>
            </div>
            <div class="col-6">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove layer" />
            </div>
        </div>
        {% include "project-subform-digitalglobe.html" %}
    </div>
</div>

<div style="display: none;" id="gibs-subform-template" class="subform-template">
    <input type="hidden" class="form-control" name="layerType[]" value="gibs" />
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;GIBS (Global Imagery Browse Services)</h2>
            </div>
            <div class="col-4">
                <input class="btn btn-danger remove-subform float-right" type="submit" value="Remove layer" />
            </div>
        </div>
        {% include "project-subform-gibs.html" %}
    </div>
</div>

<div style="display: none;" id="codelist-values-subform-template" class="subform-template">
    <div class="container">
        <div class="form-group row">
            <div class="offset-5 col-5">
                <input type="text" class="form-control" name="codeListCode[]" />
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-danger remove-subform float-right">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>

$.urlParam = function(name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    return results[1] || 0;
}

function addSubformGEE(data) {
    var subform = $('#gee-gateway-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    $('select[name="collectionName[]"]', subform).change(function() {
        $('select[name="visParams[]"]', subform).find('option[value!=""]').remove();
        var value = $(this).val();
        var sets = visParams[value];
        sets.forEach(function(set, index) {
            var option = $('<option>').text(set.name).val(set.id);
            $('select[name="visParams[]"]', subform).append(option);
        });
        $('select[name="visParams[]"]').change(function() {
            var value2 = $(this).val();
            if (value2 == '') {
                $('input[name="min[]"]', subform).val('');
                $('input[name="max[]"]', subform).val('');
                $('input[name="band1[]"]', subform).val('');
                $('input[name="band2[]"]', subform).val('');
                $('input[name="band3[]"]', subform).val('');
                $('input[name="gamma[]"]', subform).val('');
            } else {
                var value1 = $('select[name="collectionName[]"]', subform).val();
                var set0 = visParams[value1];
                var set1 = $.grep(set0, function(e) { return e.id == value2; });
                var set = set1[0];
                $('input[name="min[]"]', subform).val(set['min']);
                $('input[name="max[]"]', subform).val(set['max']);
                $('input[name="band1[]"]', subform).val(set['band1']);
                $('input[name="band2[]"]', subform).val(set['band2']);
                $('input[name="band3[]"]', subform).val(set['band3']);
                $('input[name="gamma[]"]', subform).val(set['gamma']);
            }
        });
    });
    if (data !== undefined) {
        $('input[name="layerName[]"]', subform).val(data.layerName);
        $('select[name="collectionName[]"]', subform).val(data.collectionName).trigger('change');
        $('input[name="dateFrom[]"]', subform).val(data.dateFrom);
        $('input[name="dateTo[]"]', subform).val(data.dateTo);
        $('select[name="visParams[]"]', subform).val(data.visParams).trigger('change');
        /*
        $('input[name="min[]"]', subform).val(data.min);
        $('input[name="max[]"]', subform).val(data.max);
        $('input[name="band1[]"]', subform).val(data.band1);
        $('input[name="band2[]"]', subform).val(data.band2);
        $('input[name="band3[]"]', subform).val(data.band3);
        $('input[name="gamma[]"]', subform).val(data.gamma);
        */
    }
}

function addSubformDigitalGlobe(data) {
    var subform = $('#digitalglobe-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    if (data !== undefined) {
        $('input[name="layerName[]"]', subform).val(data.layerName);
        $('select[name="mapID[]"]', subform).val(data.mapID);
    }
}

function addSubformGIBS(data) {
    var subform = $('#gibs-subform-template').clone().removeAttr('id').appendTo('#subform-container').show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    if (data !== undefined) {
        $('input[name="layerName[]"]', subform).val(data.layerName);
        $('select[name="imageryLayer[]"]', subform).val(data.imageryLayer);
        $('input[name="date[]"]', subform).val(data.date);
    }
}

function addSubformCodeListValue(data) {
    var container = $('#codelist-subform-container').find('.codelist-values-subform-container');
    var subform = $('#codelist-values-subform-template').clone().removeAttr('id').appendTo(container).show();
    $('.remove-subform', subform).click(function(e) {
        e.preventDefault();
        $(this).closest('.subform-template').remove();
    });
    if (data !== undefined) {
        $('input[name="codeListCode[]"]', subform).val(data.code);
    }
}

$('#add-subform-gee').click(function(e) {
    e.preventDefault();
    addSubformGEE();
});

$('#add-subform-digitalglobe').click(function(e) {
    e.preventDefault();
    addSubformDigitalGlobe();
});

$('#add-subform-gibs').click(function(e) {
    e.preventDefault();
    addSubformGIBS();
});

$('#add-subform-codelist-value').click(function(e) {
    e.preventDefault();
    addSubformCodeListValue();
});

$('#submit-btn').click(function(e) {
    e.preventDefault();
    var project_id = $.urlParam('id');
    var ceoSepalApiUrl = '{{config.CEO_API_URL}}';
    $.ajax({
        url: ceoSepalApiUrl + "/project/" + project_id,
        method: 'put',
        data: $('form').serialize()
    }).success(function(data) {
        window.location.href = '{{config.BASE}}';
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error(jqXHR, textStatus, errorThrown);
    });
});

$(document).ready(function() {

    var project_id = $.urlParam('id');
    var ceoSepalApiUrl = '{{config.CEO_API_URL}}';

    $.ajax({
        url: ceoSepalApiUrl + "/project/" + project_id,
        method: 'get',
        contentType: 'application/json;charset=UTF-8'
    }).success(function(data) {
        $('input[name="name"]').val(data.name);
        var projectType = data.type;
        if (projectType == 'CEP') {
            $('.data-row').hide();
        }
        else if (projectType == 'TRAINING-DATA') {
            $('input[name="radius"]').val(data.radius);
            $('.data-row').show();
            var codeLists = data.codeLists;
            var codeList = codeLists[0];
            codeList.items.forEach(function(item) {
                addSubformCodeListValue(item);
            });
        }
        var overlays = data.overlays;
        overlays.forEach(function(overlay) {
            if (overlay.type == 'gee-gateway') {
                addSubformGEE(overlay);
            } else if (overlay.type == 'digitalglobe') {
                addSubformDigitalGlobe(overlay);
            } else if (overlay.type == 'gibs') {
                addSubformGIBS(overlay);
            }
        });
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.error(jqXHR, textStatus, errorThrown);
    });

});

</script>

{% endblock %}