<div class="form-group row">
    <label class="col-4 col-form-label">Name</label>
    <div class="col-8">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Url</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geoserverUrl[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Layers (comma separated)</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geoserverLayers[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Service</label>
    <div class="col-8">
        <select class="form-control" name="geoserverService[]">
            <option value="" selected>CHOOSE A SERVICE</option>
            <option value="WMS">WMS</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Version</label>
    <div class="col-8">
        <select class="form-control" name="geoserverVersion[]">
            <option value="" selected>CHOOSE A VERSION</option>
            <option value="1.1.0">1.1.0</option>
            <option value="1.3.0">1.3.0</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Format</label>
    <div class="col-8">
        <select class="form-control" name="geoserverFormat[]">
            <option value="" selected>CHOOSE A VERSION</option>
            <option value="image/jpeg">image/jpeg</option>
        </select>
    </div>
</div>