<div class="form-group row">
    <label class="col-4 col-form-label">Name</label>
    <div class="col-8">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Layer</label>
    <div class="col-8">
        <select class="form-control" name="planetMosaicName[]">
            <option value="" selected>CHOOSE A MAP</option>
            {% if planet_imagery -%}
                {% for value in planet_imagery -%}
                    <option value="{{ value.id }}">{{ value.name }}</option>
                {% endfor -%}
            {% endif -%}
        </select>
    </div>
</div>