<div class="form-group row">
    <label class="col-4 col-form-label">Name</label>
    <div class="col-8">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Layer</label>
    <div class="col-8">
        <select class="form-control" name="planetMosaicName[]">
            <option value="" selected>CHOOSE A BASEMAP</option>
            <option value="global_quarterly_2016q4_mosaic">Q4 2016</option>
            <option value="global_quarterly_2017q1_mosaic">Q1 2017</option>
        </select>
    </div>
</div>