<div class="form-group row">
    <label class="col-2 col-form-label">Name</label>
    <div class="col-10">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">Map ID</label>
    <div class="col-10">
      <select class="form-control" name="mapID[]">
          <option value="" selected>CHOOSE A MAP</option>
          <option value="digitalglobe.nal0g75k">digitalglobe.nal0g75k</option>
      </select>
    </div>
</div>