<div class="form-group row">
    <label class="col-4 col-form-label">Name</label>
    <div class="col-8">
        <input type="text" class="form-control" name="layerName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Image</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geeaImageName[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Min</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geeaMin[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Max</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geeaMax[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Bands</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geeaBands[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Gamma</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geeaGamma[]" />
    </div>
</div>
<div class="form-group row">
    <label class="col-4 col-form-label">Palette</label>
    <div class="col-8">
        <input type="text" class="form-control" name="geeaPalette[]" />
    </div>
</div>
