.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 99999;
}

.legend {
    position: relative;
    display: flex;
    background-color: hsla(0, 0%, 0%, .35);
    padding: .35rem;
    border-radius: .25rem;
    max-width: 40rem;
    flex-grow: 1;
    pointer-events: all;
    margin: 0 3rem;
}

.color {
    /*--color: ''; injected */
    flex-grow: 1;
    height: .5rem;
    background-color: var(--color);
}

.cursorValue {
    position: absolute;
    bottom: 1rem;
    left: var(--left);
    width: fit-content;
    transform: translate(-50%, 0);
    display: flex;
    padding: .5rem;
    font-size: .8rem;
    line-height: .8rem;
    text-align: center;
    background-color: #373737;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
}

.value {
    margin-left: .35rem;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 50%;
    bottom: -4px;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #373737;
}

.fullLegend {
    max-height: 90vh;
    display: grid;
    grid-template-columns: 1.7rem auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;
}

.fullLegendColor {
    height: 1.7rem;
    background-color: var(--color);
    opacity: 1;
}

.fullLegendValue {
}

.fullLegendLabel {
}

