.panel {
    width: 20rem;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content {
    margin: 1.5rem;
    pointer-events: all;
}

.imageLayerSourceOption {
    text-align: left;
    line-height: 1.4;
}
