.panel {
    width: 20rem;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content {
    margin: 2rem;
    pointer-events: all;
}

.imageLayerSource {
    flex-grow: 1;
    background-color: blue
}

.title {
    margin-bottom: 0.25rem;
}
