.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    margin: 1rem;
    pointer-events: all;
}
