.mapToolbar {
    --btn-def-h: 196;
    --btn-def-s: 27%;
    --btn-def-l: 20%;
    --btn-def-a: .9;

    --btn-sel-h: 196;
    --btn-sel-s: 27%;
    --btn-sel-l: 40%;
    --btn-sel-a: .9;

    --btn-dis-h: 196;
    --btn-dis-s: 5%;
    --btn-dis-l: 15%;
    --btn-dis-a: .9;

    margin-right: 6rem;
}
