.progress {
    --height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--height);
    background-color: black;
}

.progress::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--height);
    transition: background-color 500ms ease-in-out;
    animation: progress 2000ms ease-in-out infinite alternate;
}

.progress.active::before {
    background-color: hsla(0, 0%, 50%, 1);
}

@keyframes progress {
    0% {
        left: 0;
        right: 100%;
        opacity: .5;
    }
    50% {
        left: 33%;
        right: 33%;
        opacity: 1;
    }
    100% {
        left: 100%;
        right: 0%;
        opacity: .5;
    }
}

/* .progress::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--height);
    background-color: hsla(0, 0%, 50%, 1);
    animation: progress 2000ms ease-in-out infinite alternate;
}

@keyframes progress {
    0% {
        left: 0;
        right: 100%;
        opacity: 0;
    }
    10% {
        left: 0;
        right: 100%;
        opacity: 1;
    }
    50% {
        left: 30%;
        right: 30%;
        opacity: 1;
    }
    90% {
        left: 100%;
        right: 0%;
        opacity: 1;
    }
    100% {
        left: 100%;
        right: 0%;
        opacity: 0;
    }
} */
