.content {
    position: absolute;
    top: 0;
    bottom: var(--map-overlay-height);
    left: 0;
    right: 0;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
