.container {
    position: absolute;
    top: 0;
    bottom: .25rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.value {
    margin: auto;
    color: #ccc;
    overflow: hidden;
}

.value.clamping {
    color: red;
}
