.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 99999;
}

.band {
    padding: .35rem;
    font-size: .8rem;
    line-height: .8rem;
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, .35);
    border-radius: .25rem;
    min-width: 4rem;
}

.band:not(:last-child) {
    padding-right: 2rem;
}

.band .name {
    margin-bottom: .5rem;
    color: #ccc;
}

.band .value {

}
