#search-retrieve {

  position: absolute;
  z-index: 3;
  background-color: rgba(28, 28, 28, 1);
  margin-left: 0;
  width: 80%;
  left: 10%;
  padding: .5rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: .5rem 0.9375rem;
  opacity: .96;
  height: auto;

  .row-header {
    > div {
      padding: 1rem 0 1.5rem 0;
    }
    * {
      display: inline-block;
    }
    .btn {
      padding: .5rem !important;
      font-size: .9rem !important;
      margin-left: 1rem;
      min-width: 3.5rem;
    }
    .btn.disabled, .btn:disabled {
      opacity: .3;
    }
  }

  .scenes {
    //border-right: 2px solid rgba(255, 255, 255, 0.15);
  }

  .scenes,
  .mosaic {
    padding-bottom: 1rem;

    .btn {
      font-size: .8rem;
      padding-top: .8rem;
      padding-bottom: .8rem;
    }

    .btn.disabled, .btn:disabled {
      opacity: .4;
    }

    .btn-toggle-section.disabling {
      &.disabled, &:disabled {
        opacity: 1 !important;
        cursor: pointer !important;
      }
    }

  }

}
