.panel {
    min-height: 27rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sources ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sources li {
    margin-top: 1.5rem;
}

.polygon {
    margin: auto;
    text-align: center;
    font-style: italic;
    margin-top: 5rem;
}

select:disabled {
    background: #dddddd;
}