sepal-ui==2.20.0
rasterio==1.3.10

########  Google Earthengine  ########
oauth2client
google-api-python-client
oeel
git+https://github.com/openforis/earthengine-api.git@v1.6.14#egg=earthengine-api&subdirectory=python
