.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 29rem;
}

.form > *:not(:last-child) {
    margin-bottom: 2rem;
}

.slider {
    margin-bottom: 1rem;
}

.slider .label {
    font-size: 0.9rem;
    color: #ccc;
    margin-left: 1.5rem;
}