.form-mosaic-retrieve {

  .row-landsat , .row-sentinel2{
    //padding: .8rem 0;
    margin: .8rem .5rem 0 .5rem;
    //background-color: rgba(255, 255, 255, 0.05);
    //border-radius: .5rem;
  }
  .col-name {
    padding-top: 5%;
  }

  .btn-band {
    min-width: 4rem;
  }

  .form-label {
    padding-top: .8rem;
    padding-right: 1rem;
  }

}