<div class="row">
    <div class="col-sm-12 p-t-1">
        <form class="form-theme form-mosaic-retrieve">

            <!-- Landsat -->
            <div class="row row-sensors row-LANDSAT">

                <div class="col-2 col-name text-align-right">
                    LANDSAT <i class="fa fa-rocket" aria-hidden="true"></i>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-3 text-align-right">
                            <label class="form-label">Name</label>
                        </div>
                        <div class="col-6 form-group text-align-center">
                            <input type="text" class="form-control width100" name="name" placeholder="Enter a name"
                                   data-type="string" data-error-message="Name for landsat mosaic is not valid">
                        </div>
                    </div>
                    <div class="row row-bands p-t-0-5">
                        <div class="col-3 text-align-right">
                            <label class="form-label">Bands</label>
                        </div>
                        <div class="col-9 form-group p-t-0-5 text-align-left">
                            <div>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="blue">Blue</button>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="green">Green</button>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="red">Red</button>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="nir">NIR</button>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="swir1">SWIR 1</button>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="swir2">SWIR 2</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="unixTimeDays">Date</button>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="dayOfYear">Day of year</button>
                                <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="daysFromTarget">Days from target date</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Sentinel2 -->
            <div class="row row-sensors row-SENTINEL2">

                <div class="col-2 col-name text-align-right">
                    SENTINEL2 <i class="fa fa-rocket" aria-hidden="true"></i>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-3 text-align-right">
                            <label class="form-label">Name</label>
                        </div>
                        <div class="col-6 form-group text-align-center">
                            <input type="text" class="form-control width100" name="name" placeholder="Enter a name"
                                   data-type="string" data-error-message="Name for sentinel mosaic is not valid">
                        </div>
                    </div>
                    <div class="row row-bands p-t-0-5">
                        <div class="col-3 text-align-right">
                            <label class="form-label">Bands</label>
                        </div>
                        <div class="col-9 form-group p-t-0-5 text-align-left">
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="blue">Blue</button>
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="green">Green</button>
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="red">Red</button>
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="nir">NIR</button>
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="swir1">SWIR 1</button>
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="swir2">SWIR 2</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="unixTimeDays">Date</button>
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="dayOfYear">Day of year</button>
                                    <button type="button" class="btn btn-base round p-x-1 p-y-0-5 btn-band" value="daysFromTarget">Days from target date</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row row-form-notify p-y-1">
                <div class="col-12 text-align-center form-notify form-error"></div>
            </div>

            <div class="row p-t-0-5">
                <div class="col-4 offset-4 text-align-center">
                    <button type="button" class="btn btn-base btn-submit round p-y-0-5 p-x-2">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>