.panel {
    max-width: 23rem;
}

.selected {
    background-color: var(--look-selected-active-background-color) !important;
}

.loadingNextPoint {
    text-align: center;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
}
