<!--<div class="row">-->
<!--<div class="col-sm-12 feature-info-inner-container">-->

<button class="btn btn-base circle btn-close-feature-info">
    <i class="fa fa-times-circle" aria-hidden="true"></i>
</button>

<div class="row">
    <div class="col-sm-12">

        <div class="row row-loader">
            <div class="col-sm-6 offset-sm-3">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>

        <div class="row row-layers">
            <div class="col-sm-12 layers-info-container">

            </div>
        </div>
    </div>

</div>

<div class="row layer-info">
    <div class="col-sm-12">

        <div class="row row-header">
            <div class="col-sm-2 text-align-right">
                <button class="btn btn-base circle btn-toggle-layer-info">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-sm-10 name p-l-0">

            </div>
        </div>
        <div class="row row-values">
            <div class="col-sm-12 col-values"/>
        </div>

    </div>
</div>

<!--</div>-->
<!--</div>-->
