html {
    --header-font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

    --wireframe-color: rgba(100%, 100%, 100%, .15);
    --wireframe: 1px solid var(--wireframe-color);

    --selected-hue: 40;
    --selected-sat: 60%;

    --button-border-radius: .2rem;
    --container-border-radius: .4rem;

    --panel-default-background-color: hsla(36, 8%, 15%, .95);
    --panel-default-overlay-color: hsla(36, 8%, 15%, .7);

    --selected-panel-border-width: 1px;
    --selected-panel-border-color: var(--wireframe-color);

    --tab-default-border-color: hsla(0, 0%, 100%, .15);
    --tab-selected-border-color: hsl(var(--selected-hue), var(--selected-sat), 40%);

    --link-default-color: #b0b0b0;
    --link-hover-color: #ccc;
    --link-selected-color: #fff;

    --error-color: hsl(0, 80%, 40%);
    --info-color: hsl(202, 80%, 40%);
    --warning-color: hsl(39, 80%, 40%);
    --success-color: hsl(90, 80%, 35%);

    --section-process-color-h: 37;
    --section-process-color-s: 27%;
    --section-process-color-l: 39%;

    --section-browse-color-h: 127;
    --section-browse-color-s: 6%;
    --section-browse-color-l: 30%;

    --section-apps-color-h: 310;
    --section-apps-color-s: 10%;
    --section-apps-color-l: 23%;

    --section-terminal-color-h: 221;
    --section-terminal-color-s: 19%;
    --section-terminal-color-l: 26%;

    --base-font-size: 14px;
    font-size: var(--base-font-size);
}

body, input, textarea, select, button, a, label {
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    color: #fff;
}

input::placeholder {
    font-style: italic;
    color: #6c757d;
}

:focus, :active, :focus:active {
    outline: 0 !important;
    box-shadow: none !important;
}

a, a:not([href]):not([tabindex]) {
    color: var(--link-default-color);
    font-size: .9rem;
}

a:hover, a:hover:not([href]):not([tabindex]) {
    text-decoration: none;
    cursor: pointer;
    color: var(--link-hover-color);
    opacity: 1;
}

sub {
    font-size: .75rem;
}

.app {
    height: 100%;
    overflow: hidden;
}

.portalTarget > * {
    z-index: 999999 !important;
}

.itemType {
    font-size: .8rem;
    font-weight: 800;
    opacity: .6;
    text-transform: uppercase;
}

.gm-style-cc {
    height: 20px !important;
    line-height: 20px !important;
    margin-bottom: .25rem;
}

.gm-style-cc * {
    color: #fff !important;
    background-color: transparent !important;
}

