html {
    --scaling-factor: 1;
    --secondary-text-color: #e8edf0;
    --header-font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

    --wireframe-color: rgba(100%, 100%, 100%, .15);
    --wireframe: 1px solid var(--wireframe-color);

    --selected-hue: 40;
    --selected-sat: 60%;

    --button-border-radius: .2rem;
    --container-border-radius: .4rem;

    --panel-default-background-color: hsla(36, 8%, 15%, .95);
    --panel-default-overlay-color: hsla(36, 8%, 15%, .7);

    --selected-panel-border-width: 1px;
    --selected-panel-border-color: var(--wireframe-color);

    --tab-default-border-color: hsla(0, 0%, 100%, .15);
    --tab-selected-border-color: hsl(var(--selected-hue), var(--selected-sat), 40%);

    --link-default-color: #b0b0b0;
    --link-hover-color: #ccc;
    --link-selected-color: #fff;

    font-size: calc(14px * var(--scaling-factor));
}

.portalTarget > * {
    z-index: 999999 !important;
}

body, input, textarea, select, button, a, label {
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: calc(2 * var(--scaling-factor));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    color: #fff;
}

input::placeholder {
    font-style: italic;
    color: #6c757d;
}

:focus, :active, :focus:active {
    outline: 0 !important;
    box-shadow: none !important;
}

a, a:not([href]):not([tabindex]) {
    color: var(--link-default-color);
    font-size: .9rem;
}

a:hover, a:hover:not([href]):not([tabindex]) {
    text-decoration: none;
    cursor: pointer;
    color: var(--link-hover-color);
    opacity: 1;
}


.app {
    height: 100%
}