.panel {
    max-width: 26rem;
}

.content > *:not(:last-child) {
    margin-bottom: 2rem;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.inline > * + * {
    margin-left: 1rem;
}
