.sections > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.section {
    opacity: 0;
}

.in {
    animation-name: show;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.out {
    animation-name: hide;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translate3d(1%, 0, 0);
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}