/* 
    Note: overflow hidden is necessary to remove 
    the scary bug causing the entire viewport to 
    shift left during the "in" animation
*/

.sections {
    overflow: hidden;
    position: relative;
    height: 100%;
    pointer-events: none;
}

.sections > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.section {
    overflow: auto;
    opacity: 0;
}

.section > * {
    height: 100%;
    pointer-events: all;
}

.in {
    z-index: 1;
    animation-name: show;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.out {
    z-index: -1;
    animation-name: hide;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateX(1%);
    }
}