/* 
    Note: overflow hidden is necessary to remove 
    the scary bug causing the entire viewport to 
    shift left during the "in" animation
*/

.sections {
    position: relative;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.section {
    position: absolute;
    /* doesn't scroll without width!! */ 
    top: 0;
    bottom: var(--footer-margin);
    left: 0;
    right: 0;
    padding: 0;
    overflow-y: hidden;
    pointer-events: all;
    transition: all var(--transition-time) ease-in-out var(--transition-delay);
}

.section.app {
    padding: 0;
}

.section.transparent {
    pointer-events: none;
}

.section > * {
    height: 100%;
    pointer-events: all;
}

.in {
    z-index: 1;
    animation-name: show;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.out {
    z-index: -1;
    animation-name: hide;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateX(1%);
    }
}