button.submit {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid hsla(0, 0%, 100%, .25);
    /*opacity: .8;*/
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1rem;
    position: relative;
    padding: 1rem 3rem 1rem 3.5rem;
    cursor: pointer;
}

button.submit:hover {
    background-color: hsla(0, 0%, 100%, .1);
    border: 2px solid hsla(0, 0%, 100%, .25);
}

button.submit:active {
    background-color: hsla(0, 0%, 100%, .15);
    border: 2px solid hsla(0, 0%, 100%, .40);
}

button.submit:focus {
    border: 2px solid hsla(0, 0%, 100%, .25);
}

button.submit:disabled {
    background-color: hsla(0, 0%, 100%, .15);
    border: 2px solid hsla(0, 0%, 100%, .15);
    color: hsla(0, 0%, 100%, .40);
    cursor: not-allowed;
}

.buttonIcon {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
}