button.submit {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-style: solid;
    border-width: 4px;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.05rem;
    position: relative;
    padding: 22px 32px 22px 32px;
    cursor: pointer;
    border-color: #c5b397;
    background-color: #c5b397;
    color: #fff;
    padding-left: 60px;
}

button.submit:hover {
    border-color: #b8a280;
    background-color: #b8a280;
}

button.submit:active {
    border-color: #a79375;
    background-color: #a79375;
}

button.submit:focus {
    border-color: #a79375;
}

button.submit:disabled {
    border-color: #c5b4ab;
    background-color: #c5b4ab;
    color: #ddd;
    cursor: not-allowed;
}

.buttonIcon {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
}