.forgotPassword {
    margin-top: 10px;
}

.forgotPassword a {
    font-size: .85rem;
    font-weight: 400;
    color: #ababab;
    opacity: .85;
}

.forgotPassword a:hover {
    border-bottom: 1px dashed #999;
    cursor: pointer;
    color: #ababab;
    opacity: 1;
}

.forgotPasswordIcon {
    margin-right: .2em;
}