.landing {
    height: 100%;
}

.landingPanel {
    border-radius: 3rem;
    background-color: rgba(187, 192, 195, 0.05);
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'caption  title' 'features form';
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    height: 100%;
    padding: 4rem 3rem 1rem 3rem;
}

.caption {
    grid-area: caption;
    font-style: italic;
    font-family: Merriweather, Georgia, Times New Roman, Times, serif;
    color: #fff;
}

.titleSection {
    grid-area: title;
}

.title {
    font-family: var(--header-font-family);
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 0.4vw;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}

.titleUnderline {
    width: 4vw;
    height: 1px;
    margin: 1rem 0;
    background-color: #fff;
}

.features {
    color: white;
}

.feature {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1vw;
    margin-bottom: 1.8vw;
}

.featureIcon {
    grid-row: span 2;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
    font-size: 2vw;
}

.searchIcon {
    background-color: hsla(35, 96%, 74%, .4);
}

.browseIcon {
    background-color: hsla(99, 9%, 51%, .4);
}

.processIcon {
    background-color: rgba(96, 71, 90, .4);
}

.terminalIcon {
    background-color: rgba(74, 94, 130, .4);
}

.featureTitle {
    font-family: var(--header-font-family);
    font-size: 1.3vw;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
    color: var(--secondary-text-color);
    margin: 0;
}

.loginButton {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1.5px;
    position: relative;
    padding: 24.5px 38.5px 24.5px 40px;
    cursor: pointer;

    border-color: #c5b397;
    background-color: #c5b397;
    color: #fff;
    padding-left: 60px;

    transition: background-color 800ms ease-out;
}

.loginButton:focus, .loginButton:hover {
    border-color: #b8a280;
    background-color: #b8a280;
}

.loginButton:active {
    border-color: #b4a397;
    background-color: #b4a397;
}

.loginButton:disabled {
    border-color: #c5b4ab;
    background-color: #c5b4ab;
    color: #ddd !important;
    cursor: not-allowed;
}

.loginIcon {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    width: 25px;
    font-size: 25px;

}

.forgotPassword {
    margin-top: 10px;
}

.forgotPassword a {
    font-size: .85rem;
    font-weight: 400;
    color: #ababab;
    opacity: .85;
}

.forgotPassword a:hover {
    border-bottom: 1px dashed #999;
    cursor: pointer;
    color: #ababab;
    opacity: 1;
}

.forgotPasswordIcon {
    margin-right: .2em;
}