<div class="modal fade" id="app-manager" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid app-container">

                    <button class="btn btn-base round btn-close">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> sepal
                    </button>

                    <div class="row sepal-app loader-app">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 offset-sm-4 text-align-center">
                                    <h3>Server is starting<br/>Please wait a few minutes...</h3>
                                </div>
                            </div>
                            <div class="row height5">
                                <div class="col-sm-4 offset-sm-4 text-align-center">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>