#app-manager {

  overflow: hidden !important;

  .btn-close {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 0.9rem;
    border: none;
    z-index: 9999999;
    background-color: black;
    padding: .2rem .5rem;
  }

  .modal-dialog {
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
    background-color: transparent;
    padding: 0px;
    max-width: 100%;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;
    background-color: transparent;
  }

  .modal-body {
    width: 100% !important;
    height: 100% !important;
    padding: 0px;
  }

  .app-container {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
  }

  .sepal-app {
    height: 100%;
    background-color: #131314;
    display: none;

    &.loader-app {
      display: block;
      padding-top: 7%;
    }

    &.iframe-app {
      iframe {
        border: none;
      }
    }

  }

}