.retry {
    pointer-events: all;
    display: block;
    text-align: center;
    font-size: .8rem;
    font-family: var(--header-font-family);
    text-transform: uppercase;
}

.retry a:hover {
    color: #ccc
}