.panel {
    --thumbnail-size: 9rem;
    --details-height: 4rem;

    z-index: 1;
    top: calc(var(--toolbar-clearance) + .5rem) !important;
    right: calc(var(--toolbar-clearance) + .5rem) !important;
}

.loading {
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
}

.scenes {
    display: flex;
    flex-direction: row;
}

.availableScenes, .selectedScenes {
    position: relative;
    min-width: 9rem;
}

.availableScenes {
    flex-grow: 1;
}

.selectedScenes {
    flex-grow: 1;
    max-width: 18rem;
    margin-left: 2rem;
}

@media only screen and (max-width: 500px) {
    .selectedScenes {
        margin-left: .5rem;
    }
}

.thumbnail {
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--thumbnail-size));
    grid-template-rows: repeat(auto-fill, calc(var(--thumbnail-size) + var(--details-height)));
    grid-gap: 1rem;
    justify-content: center;
}

.grid .scene {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #323030;
    border: 1px solid #514F4E;
    justify-content: space-between;
}

.grid .thumbnail {
    height: calc(var(--thumbnail-size) - 2px);
    width: calc(var(--thumbnail-size) - 2px);
}

.details {
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.7rem;
    color: #CCC;
    height: var(--details-height);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'dataSet cloudCover daysFromTarget' 'date date date';
    background-color: #3D3B3A;
    padding: 0.25rem;
}

.grid .details {
    border-top: 1px solid #514F4E;
}

.details > * {
    white-space: nowrap;
}

.dataSet {
    grid-area: dataSet;
}

.date {
    grid-area: date;
}

.daysFromTarget {
    grid-area: daysFromTarget;
}

.cloudCover {
    grid-area: cloudCover;
}

.sceneOverlay {
    display: none;
}

.scene:hover .sceneOverlay, .scene.hover .sceneOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: hsla(0, 0%, 0%, 0.7);
}

.grid .scene:hover .sceneOverlay {
    flex-direction: column;
    padding: 1rem;
}

.grid .sceneOverlay button:first-child {
    margin-bottom: 1rem;
}

.scenes button {
    border-radius: var(--button-border-radius);
    font-size: 0.9rem;
    cursor: pointer;
}

.sceneOverlay .add {
    -hue: 222;
    -sat: 44%;
    color: var(--look-default-color);
    background-color: hsl(var(-hue), var(-sat), 37%);
    border: 1px solid hsl(var(-hue), var(-sat), 39%);
}

.sceneOverlay .add:focus {
    color: var(--look-default-focus-color);
    background-color: hsl(var(-hue), var(-sat), 35%);
    border: 1px solid hsl(var(-hue), var(-sat), 38%);
}

.sceneOverlay .add:hover {
    color: var(--look-default-hover-color);
    background-color: hsl(var(-hue), var(-sat), 33%);
    border: 1px solid hsl(var(-hue), var(-sat), 35%);
}

.sceneOverlay .add:active {
    color: var(--look-default-active-color);
    background-color: hsl(var(-hue), var(-sat), 31%);
    border: 1px solid hsl(var(-hue), var(-sat), 33%);
}

.sceneOverlay .remove {
    -hue: 0;
    -sat: 38%;
    color: var(--look-default-color);
    background-color: hsl(var(-hue), var(-sat), 37%);
    border: 1px solid hsl(var(-hue), var(-sat), 39%);
}

.sceneOverlay .remove:focus {
    color: var(--look-default-focus-color);
    background-color: hsl(var(-hue), var(-sat), 35%);
    border: 1px solid hsl(var(-hue), var(-sat), 38%);
}

.sceneOverlay .remove:hover {
    color: var(--look-default-hover-color);
    background-color: hsl(var(-hue), var(-sat), 33%);
    border: 1px solid hsl(var(-hue), var(-sat), 35%);
}

.sceneOverlay .remove:active {
    color: var(--look-default-active-color);
    background-color: hsl(var(-hue), var(-sat), 31%);
    border: 1px solid hsl(var(-hue), var(-sat), 33%);
}

.sceneOverlay .preview {
    -hue: 0;
    -sat: 0%;
    border: 1px solid hsl(var(-hue), var(-sat), 78%);
    color: var(--look-default-color);
}

.sceneOverlay .preview:focus {
    color: var(--look-default-focus-color);
    background-color: hsla(var(-hue), var(-sat), 50%, 0.1);
    border: 1px solid hsl(var(-hue), var(-sat), 77%);
}

.sceneOverlay .preview:hover {
    color: var(--look-default-hover-color);
    background-color: hsla(var(-hue), var(-sat), 50%, 0.4);
    border: 1px solid hsl(var(-hue), var(-sat), 75%);
}

.sceneOverlay .preview:active {
    color: var(--look-default-active-color);
    background-color: hsla(var(-hue), var(-sat), 55%, 0.4);
    border: 1px solid hsl(var(-hue), var(-sat), 73%);
}

.list {
    display: flex;
    flex-direction: column;
}

.list .details {
    border-left: 1px solid #514F4E;
    height: calc(4rem - 2px);
    width: 100%;
    padding-right: 2rem;
}

.list .scene {
    position: relative;
    flex-shrink: 0;
    display: flex;
    height: 4rem;
    background-color: #3D3B3A;
    border: 1px solid #514F4E;
    margin-bottom: 1rem;
}

.list .thumbnail {
    height: calc(4rem - 2px);
    width: calc(5rem - 2px);
    overflow: hidden;
}

.list .sceneOverlay {
    align-items: center;
}

.list .sceneOverlay button:first-child {
    margin-right: 1rem;

}

.scenes i > svg {
    color: white;
    width: 1.5rem !important;
    text-align: left;
}
