.panel {
    --max-width: 69rem;
    z-index: 1;
    top: calc(var(--toolbar-clearance) + .5rem) !important;
    right: calc(var(--toolbar-clearance) + .5rem) !important;
}

.loading {
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    border-bottom: 1px solid var(--wireframe-color);
    margin-bottom: 1rem;
}

.scenes {
    display: flex;
    flex-direction: row;
}

.availableScenes {
    flex-grow: 1;
}

.selectedScenes {
    flex-grow: 1;
    min-width: 6rem;
    max-width: 16rem;
    margin-left: 2rem;
}

.grid {
    --thumbnail-size: 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--thumbnail-size));
    grid-gap: 1rem;
    justify-content: center;
}

.scene {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #323030;
    border: 1px solid var(--wireframe-color);
    height: fit-content;
}

.thumbnail {
    height: calc(var(--thumbnail-size) - 2px);
    width: calc(var(--thumbnail-size) - 2px);
    background-size: cover;
    position: relative;
}

.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.details {
    font-size: .8rem;
    color: #ccc;
    background-color: hsl(37, 8%, 20%);
    padding: .3rem .5rem;
    border: 0 solid var(--wireframe-color);
    border-width: 1px 0 0 0;
}

.details > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.details svg {
    color: #ccc !important;
}

/* bar */

.bar {
    --axis-color: hsl(0, 0%, 40%);
    --half-height: .25rem;
    --bar-width: .5rem;
    position: relative;
    width: 45%;
    height: calc(2 * var(--half-height) + 1px);
    margin: .25rem 0;
    padding: var(--half-height) 0;
    border-left: 1px solid var(--axis-color);
    border-right: 1px solid var(--axis-color);
    background-color: var(--axis-color);
    background-clip: content-box;
}

.bar:before,
.bar:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bar:before {
    width: 0;
    margin: auto;
    border-right: 1px solid var(--axis-color);
}

.bar:after {
    background-clip: content-box;
    padding: 1px;
    padding-left: calc(0% + ((100% - var(--bar-width)) / 100) * var(--percent));
    padding-right: calc(100% - ((100% - var(--bar-width)) / 100) * var(--percent) - var(--bar-width));
    background-color: var(--color);
}

.cloudCover {
    --percent: var(--percent-cloud-cover);
    --color: hsl(calc(120 * (1 - var(--percent-cloud-cover) / 100)), 100%, 50%);
    color: var(--color);
}

.cloudCover .bar:before {
    border: none;
}

.daysFromTarget {
    --percent: calc(var(--percent-from-target) + 50);
    color: var(--color);
}

.daysFromTarget.positive {
    --color: hsl(calc(120 * (1 - var(--percent-from-target) / 50)), 100%, 50%);
}

.daysFromTarget.negative {
    --color: hsl(calc(120 * (1 + var(--percent-from-target) / 50)), 100%, 50%);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.7);
    opacity: 1;
}

.overlay:not(:hover) {
    transition: opacity var(--transition-time) ease-in-out var(--transition-delay);
    opacity: 0;
}

.overlayControls {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.overlayControls button {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .panel {
        --content-padding: 1.5rem .5rem;
    }

    .selectedScenes {
        margin-left: .5rem;
    }
}

@media only screen and (min-width: 500px) {
    .selectedScenes .grid {
        --thumbnail-size: 5rem;

        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    
    .selectedScenes .scene {
        flex-direction: row;
        align-items: center;
    }

    .selectedScenes .scene + .scene {
        margin-top: 1rem;
    }
    
    .selectedScenes .details {
        height: auto;
        flex-grow: 1;
        border-width: 0 0 0 1px;
    }
        
    .selectedScenes .overlayControls {
        flex-direction: row;
        align-items: center;
    }

    .selectedScenes .overlayControls button {
        width: auto;
    }
}

.details i {
    margin-right: .5rem;
}
