.sceneAreas * {
    user-select: none;
}

.sceneArea circle, .sceneArea.loading:hover circle {
    fill: #000000;
    fill-opacity: 0.4;
    stroke: #7e7e7e;
    stroke-opacity: 0.8;
    stroke-width: 2px;
}

.sceneArea:hover circle {
    fill-opacity: 0.6;
    stroke-opacity: 1;
}

.sceneArea text, .sceneArea.loading:hover text {
    fill: #CCC;
}

.sceneArea:hover text {
    fill: #FFF;
}