.band {
    flex-grow: 1;
}

.operator {
    width: 6rem;
}

.comparison {
    width: 100%;
}

.range {
    flex-grow: 1;
}

.rangeInput {
    flex-basis: 0;
    flex-grow: 1;
}

.singleValueInput {
    flex-grow: 1;
}

.compactConstraint .range,
.compactConstraint .singleValueInput {
    width: 100%;
}
