.band {
    flex-grow: 1;
}

.operator {
    width: 6rem;
}

.comparison {
    width: 100%;
}

.range {
    flex-grow: 1;
}

.rangeInput {
    flex-basis: 0;
    flex-grow: 1;
}

.singleValueInput {
    flex-grow: 1;
}

.optionColor {
    flex: 0 0 auto;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    background-color: var(--option-color);
}

.optionLabel {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
