.presetOption {
    --palette: '';
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    height: 2.5rem;
    color: green !important;
    background: linear-gradient(90deg, var(--palette)) !important;
}

.presetLabel {
    background-color: black;
    color: #ccc;
    padding: .25rem .5rem;
}
