.noData {
    color: gray;
    font-size: .9rem;
}

.paletteRow {
    min-height: 2.5rem;
}

.palette  {
    display: flex;
}

.colorContainer {
    position: relative;
}

.color {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color);
}

.color:hover {
    border: 2px solid var(--wireframe-color);
}

.colorInput {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.presetOption {
    --palette: '';
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    height: 4rem;
    color: green !important;
    background: linear-gradient(90deg, var(--palette)) !important;
}

.presetLabel {
    background-color: black;
    color: #ccc;
    padding: 0.25rem .5rem;
}
