.noData {
    color: gray;
    font-size: .9rem;
}

.paletteRow {
    min-height: 2.5rem;
}

.palette  {
    display: flex;
    flex-direction: row;
}

.colorContainer {
    position: relative;
}

.color {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color);
}

.color:hover {
    border: 2px solid var(--wireframe-color);
}

.colorInput {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}
