.panel {
    /*width: 40rem;*/
    width: fit-content;

}

.band {
    width: 17rem;
}

.min input {
    text-align: right;
}

.minMax {
    width: 5rem;
}

.gamma {
    width: 3.5rem;
}

.gamma input {
    text-align: right;
}

.inverted {
    grid-area: inverted;
    align-self: center;
    justify-self: center;
}
