.wrapper {
    flex-grow: 1;
    display: flex;
    position: relative;
}

.point {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    border: var(--wireframe);
    padding: 1.5rem 1rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-areas:
        'date        observation'
        'model       magnitude'
        'rmse        observationCount'
        'startDate   endDate';
}

.observationPoint {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    border: var(--wireframe);
    padding: 1.5rem 1rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-areas:
        'date        observation';
}


.date {
    grid-area: date;
}

.model {
    grid-area: model;
}

.observation {
    grid-area: observation;
}

.startDate {
    grid-area: startDate;
}

.endDate {
    grid-area: endDate;
}

.rmse {
    grid-area: rmse;
}

.magnitude {
    grid-area: magnitude;
}

.observationCount {
    grid-area: observationCount;
}
