; -*- mode: clojure; -*-
; vim: filetype=clojure

; Init logging. No file parameter, log to stdout.
(logging/init)

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "0.0.0.0"]
	(tcp-server {:host host})
	(udp-server {:host host})
	(ws-server  {:host host}))

(periodically-expire 5)

(let [index (index)]



; Inbound events will be passed to these streams:
(streams
	(default :ttl 60

	; new bit added
	; (where (= (:plugin event) "memory")
	;        (adjust [:service str " Gb"]
	;                (scale (/ 1024 1024 1024) index)))
    
    ; Index all events immediately.
    index

    ; Log expired events.
    (expired
    	(fn [event] (info "expired" event))))))



; Include all config files found in directory
(include "/etc/riemann/conf.d")
