.legend {
    position: absolute;
    right: 4rem;
    top: 4rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .5rem;
    background-color: rgba(0, 0, 0, .7);
    padding: 0.5rem 1rem;
    border-radius: var(--container-border-radius);
}

.color {
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.label {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    line-height: 1rem;
    color: #ccc;
}