.entry {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.value {
    width: 3rem;
    text-align: right;
}

.label {
    flex-grow: 1;
}

/* 
.entry {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 1rem;
    color: #ccc;
}

.value {
    width: 2rem;
}

.label {

}
 */
