.entry {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 1rem;
    color: #ccc;
}


.color {
    --color: black; /* To be overridden */
    background-color: var(--color);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: var(--button-border-radius);
}

.value {
    width: 2rem;
    text-align: right;
}

.selected {
    background-color: var(--look-selected-background-color);
}

.selected.selectable:hover {
    background-color: var(--look-selected-hover-background-color);
}

.selectable:hover {
    background-color: var(--look-default-hover-background-color);
}
