<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <i class="fa fa-modx"></i> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Foo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bar</a>
        </li>
    </ul>
    <form class="form-inline pull-xs-right" action="/user/authenticate" method="post">
        <input class="form-control" name="username" type="text" placeholder="Username">
        <input class="form-control" name="password" type="password" placeholder="Password">
        <button class="btn btn-success-outline" type="submit">Login</button>
    </form>
</nav>