.button {
    border-radius: var(--button-border-radius);
    font-size: .9rem;
    line-height: 1.9rem;
    padding: 0 .8rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

/* spacing between icon and label */
.button > .contents > * + * {
    margin-left: .5rem;
}

/* suppress icon for small devices */
@media (max-width: 576px) {
    .button i {
        display: none;
    }
    
    .button > .contents > * + * {
        margin-left: 0;
    }
}
