.button {
    --small-font-size: .8rem;
    --normal-font-size: .9rem;
    --large-font-size: 1.1rem;
    --x-large-font-size: 1.3rem;
    --ratio: 2;

    position: relative;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: var(--font-size);
    line-height: calc(var(--ratio) * var(--font-size));
    min-width: calc(var(--ratio) * var(--font-size));
    width: fit-content;
}

.button > * {
    white-space: nowrap;
}

.button.chromeless {
    padding: 0;
}

.button.small {
    --font-size: var(--small-font-size);
}

.button.normal {
    --font-size: var(--normal-font-size);
}

.button.large {
    --font-size: var(--large-font-size);
}

.button.x-large {
    /* same size as large, but with padding */
    --font-size: var(--large-font-size);
}

.button.rectangle {
    border-radius: var(--button-border-radius);
    padding: 0 .8rem;
}

.button.rectangle.x-large {
    padding: .2rem 1.2rem;
}

.button.pill {
    border-radius: 500px;
    padding: 0 .8rem;
}

.button.pill.x-large {
    padding: .2rem 1.2rem;
}

.button.circle {
    border-radius: 50%;
}

.button.none {
    --ratio: 1;
    padding: 0;
    border: none !important;
    background: none !important;
}

.button > * {
    position: relative;
}

/* spacing between icon and label */
.button > .contents > * + * {
    margin-left: .5rem;
}

.button.hold {
    outline: none;
    overflow: hidden;
    vertical-align: bottom;
}

.button.hold:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
}

/* mouseover effect */
.button.hold:not(:disabled):hover:before {
    top: 80%;
    background: hsla(0, 0%, 100%, 0.2);
    transition: top 250ms ease-in-out;
    animation: float 500ms 250ms ease-in-out alternate infinite; 
}

@keyframes float {
    0% {
        top: 80%;
    }
    100% {
        top: 95%;
    }
}

/* click-and-hold effect */
.button.hold:not(:disabled):hover:active:before {
    animation: fill var(--click-hold-delay-ms) ease-out forwards normal;
}

@keyframes fill {
    0% {
        top: 80%;
        background: hsla(0, 0%, 100%, .2);
        }
    90% {
        top: 0;
        background-color: hsla(0, 0%, 100%, .2);
    }
    100% {
        top: 0;
        background-color: hsla(var(--look-cancel-h), 70%, var(--look-cancel-l), 1);
    }
}

.group {
    --button-spacing: .5rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: calc(var(--button-spacing) / -2);
}

.group.wrap {
    flex-wrap: wrap;
}

.group > * {
    margin: calc(var(--button-spacing) / 2);
}
