.container {
    /* prevent unwanted scrolling due to negative margins */
    overflow: hidden;
    flex-shrink: 0;
}

.buttonGroup {
    height: fit-content;
    display: flex;
    margin: calc(var(--vertical-spacing) / -2) calc(var(--horizontal-spacing) / -2);
}

.buttonGroup > * {
    margin: calc(var(--vertical-spacing) / 2) calc(var(--horizontal-spacing) / 2);
}

/* layout */

.horizontal {
    --vertical-spacing: .5rem;
    flex-direction: row;
    align-items: center;
}

.horizontal.nowrap {
    flex-wrap: nowrap;
}


.horizontal.nowrap.scroll {
    overflow-x: auto;
}

.horizontal.wrap {
    flex-wrap: wrap;
}

.vertical {
    --horizontal-spacing: 0rem;
    --vertical-spacing: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

.vertical > * {
    width: 100%;
}

/* alignment */

.horizontal.alignment-left {
    justify-content: flex-start;
}

.horizontal.alignment-center {
    justify-content: center;
}

.horizontal.alignment-right {
    justify-content: flex-end;
}

.horizontal.alignment-spaced {
    flex-grow: 1;
    justify-content: space-between;
}

.horizontal.alignment-fill,
.horizontal.alignment-distribute {
    --horizontal-spacing: 1rem;
    --vertical-spacing: 1rem;
    flex-grow: 1;
}

.horizontal.alignment-fill > * {
    flex-grow: 1;
}

.horizontal.alignment-distribute > * {
    flex-basis: 0;
    flex-grow: 1;
}

/* spacing */

.horizontal.spacing-normal {
    --horizontal-spacing: .5rem;
}

.horizontal.spacing-tight {
    --horizontal-spacing: 0rem;
}

.horizontal.spacing-loose {
    --horizontal-spacing: 1rem;
}

.vertical.spacing-tight {
    --vertical-spacing: .5rem;
}
