.wrapper {
    /* Disable the device's default touch-and-hold behaviour */
    -webkit-touch-callout: none;
}

.button {
    --small-font-size: .8rem;
    --normal-font-size: .9rem;
    --large-font-size: 1.0rem;
    --x-large-font-size: 1.1rem;
    --xx-large-font-size: 1.4rem;
    --min-size-factor: 2.2;
    --size: calc(var(--air-factor) * var(--font-size));
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: var(--font-size);
    line-height: var(--font-size);
    min-height: calc(var(--size) * var(--min-size-factor));
    min-width: calc(var(--size) * var(--min-size-factor));
    padding: 0; /* Needed for alignment of button contents */
}

/* Flex needed for alignment of button contents */
.button {
    display: flex;
    align-items: center;
}

/* alignment */

.button.alignment-left {
    justify-content: flex-start;
}

.button.alignment-center {
    justify-content: center;
}

.button.alignment-right {
    justify-content: flex-end;
}

/* size */

.button.size-small {
    --font-size: var(--small-font-size);
}

.button.size-normal {
    --font-size: var(--normal-font-size);
}

.button.size-large {
    --font-size: var(--large-font-size);
}

.button.size-x-large {
    --font-size: var(--x-large-font-size);
}

.button.size-xx-large {
    --font-size: var(--xx-large-font-size);
}

/* shape */

.button.shape-rectangle {
    border-radius: var(--button-border-radius);
    padding: calc(var(--size) * .5) calc(var(--size) * .8);
}

.button.shape-pill {
    border-radius: 500px;
    min-width: 3.5rem;
    padding: calc(var(--size) * .5) calc(var(--size) * .8);
}

.button.shape-circle {
    border-radius: 50%;
}

.button.shape-none {
    --air-factor: 0;
    padding: 0;
    border: none !important;
    background: none !important;
}

/* width */

.button.width-fit {
    width: fit-content;
}

.button.width-fill {
    width: 100%;
}

/* air */

.button.air-normal {
    --air-factor: 1;
}

.button.air-more {
    /* normal +20% */
    --air-factor: 1.2;
}

.button.air-less {
    /* normal -20% */
    --air-factor: .8;
}

.button.air-none {
    --air-factor: 0;
}

/* contents */
.button > * {
    white-space: nowrap;
    position: relative;
}

/* spacing between icon and label */
.button > .contents > * + * {
    margin-left: .5rem;
}

/* click-hold */

.button.hold {
    outline: none;
    overflow: hidden;
    vertical-align: bottom;
}

.button.hold:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
}

/* click-and-hold effect */
.button.hold:not(:disabled):hover:active:before {
    animation: fill var(--click-hold-duration-ms) ease-out var(--click-hold-delay-ms) forwards normal;
}

@keyframes fill {
    0% {
        top: 80%;
        background: hsla(0, 0%, 100%, .2);
        }
    90% {
        top: 0;
        background-color: hsla(0, 0%, 100%, .2);
    }
    100% {
        top: 0;
        background-color: hsla(var(--look-cancel-h), 70%, var(--look-cancel-l), 1);
    }
}
