.wrapper {
    /* Disable the device's default touch-and-hold behaviour */
    -webkit-touch-callout: none;
}

.button {
    --small-font-size: .8rem;
    --normal-font-size: .9rem;
    --large-font-size: 1.0rem;
    --x-large-font-size: 1.1rem;
    --xx-large-font-size: 1.4rem;
    --ratio: 2.2;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: var(--font-size);
    line-height: var(--font-size);
    min-height: fit-content;
    height: calc(var(--ratio) * var(--font-size));
    min-width: calc(var(--ratio) * var(--font-size));
    padding: 0; /* Needed for alignment of button contents */
}

/* Flex needed for alignment of button contents */
.button {
    display: flex;
    align-items: center;
}

.button.left {
    justify-content: flex-start;
}

.button.center {
    justify-content: center;
}

.button.right {
    justify-content: flex-end;
}

/* sizes */

.button.small {
    --font-size: var(--small-font-size);
}

.button.normal {
    --font-size: var(--normal-font-size);
}

.button.large {
    --font-size: var(--large-font-size);
}

.button.x-large {
    --font-size: var(--x-large-font-size);
}

.button.xx-large {
    --font-size: var(--xx-large-font-size);
}

/* shapes */

.button.rectangle {
    border-radius: var(--button-border-radius);
    padding: 0 calc(var(--font-size) * .8);
}

.button.pill {
    border-radius: 500px;
    min-width: 3.5rem;
    padding: 0 calc(var(--font-size) * .8);
}

.button.circle {
    border-radius: 50%;
}

.button.xx-large.circle{
    --ratio: 2.3;
}

.button.none {
    --ratio: 1;
    padding: 0;
    border: none !important;
    background: none !important;
    line-height: inherit;
}

/* fill mode */

.button.fit {
    width: fit-content;
}

.button.fill {
    width: 100%;
}

/* contents */
.button > * {
    white-space: nowrap;
    position: relative;
}

/* spacing between icon and label */
.button > .contents > * + * {
    margin-left: .5rem;
}

/* click-hold */

.button.hold {
    outline: none;
    overflow: hidden;
    vertical-align: bottom;
}

.button.hold:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
}

/* click-and-hold effect */
.button.hold:not(:disabled):hover:active:before {
    animation: fill var(--click-hold-duration-ms) ease-out var(--click-hold-delay-ms) forwards normal;
}

@keyframes fill {
    0% {
        top: 80%;
        background: hsla(0, 0%, 100%, .2);
        }
    90% {
        top: 0;
        background-color: hsla(0, 0%, 100%, .2);
    }
    100% {
        top: 0;
        background-color: hsla(var(--look-cancel-h), 70%, var(--look-cancel-l), 1);
    }
}

/* button group */

.groupContainer {
    /* prevent unwanted scrolling due to negative margins */
    overflow: hidden;
}

.group {
    --horizontal-spacing: 1rem;
    --vertical-spacing: 1rem;
    height: fit-content;
    display: flex;
    margin: calc(var(--vertical-spacing) / -2) calc(var(--horizontal-spacing) / -2);
}

.group > * {
    margin: calc(var(--vertical-spacing) / 2) calc(var(--horizontal-spacing) / 2);
}

.group.horizontal {
    --horizontal-spacing: .5rem;
    --vertical-spacing: .5rem;
    flex-direction: row;
    align-items: center;
}

.group.horizontal.tight {
    --horizontal-spacing: 0rem;
}

.group.horizontal.nowrap {
    flex-wrap: nowrap;
}

.group.horizontal.wrap {
    flex-wrap: wrap;
}

.group.horizontal.fill {
    --horizontal-spacing: 1rem;
    --vertical-spacing: 1rem;
    flex-grow: 1;
}

.group.horizontal.fill > * {
    flex-grow: 1;
}

.group.vertical {
    --horizontal-spacing: 0rem;
    --vertical-spacing: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

.group.vertical > * {
    width: 100%;
}

.group.vertical.tight {
    --vertical-spacing: .5rem;
}
