.container {
    position: relative;
}

.container .fakePlaceholder input::placeholder {
    font-style: inherit;
    color: inherit;
}

.container input:disabled::placeholder {
    opacity: .3;
}

.options {
    --background-color: hsla(0, 0%, 0%, .9);
    background-color: var(--background-color);
}
