.container {
    pointer-events: all;
    position: relative;
    width: 8rem;
}

.input {

}

.panelTrigger {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}

.panel {
    width: 26rem;
}

.panelContent {
    display: grid;
    grid-template-rows: 10rem 13rem;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        'years months'
        'years days';
    column-gap: 1rem;
    padding: .5rem;
}

.years, .months, .days {
    height: 100%;
}

.years {
    grid-area: years;
    margin-right: 1rem;
}

.months {
    grid-area: months;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 2rem);
    justify-items: center;
}

.days {
    grid-area: days;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fill, 2rem);
    justify-items: center;
}

.panelContent button {
    width: 100%;
}

.weekday {
    color: pink;
}

.date {
    /*border: 1px solid red;*/
    /*text-align: center;*/
}

.selected {
    /*background-color: orange !important;*/
}
