.draggable > * {
    cursor: move;
}

.elementWrapper {
    position: absolute;
    display: flex;
}

.element {
    pointer-events: all;
    margin-left: -50%;
    margin-top: -50%;
    opacity: .5;
    cursor: grab;
    z-index: 2;
}

.element > * {
    pointer-events: none;
}
