.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: inherit;
    width: 100%;
    overflow: hidden;
}

.rigid {
    flex-grow: 0;
    flex-shrink: 0;
}

.elastic {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    height: 100%;
}
