.box {
    --element-clearance: .3rem;
    --edge-clearance: .5rem;
    position: absolute;
    left: calc(var(--left) * 1px);
    width: calc(var(--width) * 1px);
    z-index: 2;
}

.box.above {
    bottom: calc(var(--above-bottom) * 1px + var(--element-clearance));
    max-height: calc(var(--above-height) * 1px - var(--element-clearance) - var(--edge-clearance));
}

.box.below {
    top: calc(var(--below-top) * 1px + var(--element-clearance));
    max-height: calc(var(--below-height) * 1px - var(--element-clearance) - var(--edge-clearance));
}
