
.box {
    --element-clearance: .3rem;
    --edge-clearance: .5rem;
    position: absolute;
    left: calc(var(--left) * 1px);
    right: calc(var(--right) * 1px);
    /* width: calc(var(--width) * 1px); */
    z-index: 2;
}

.box.above {
    bottom: calc(var(--bottom) * 1px);
    max-height: calc(var(--height) * 1px);
}

.box.below {
    top: calc(var(--top) * 1px);
    max-height: calc(var(--height) * 1px);
}

.box:not(.horizontalOverflow) > * {
    max-width: calc(100vw - 2 * var(--edge-clearance));
}
