label {
    --label-color: #b0b0b0;
    --label-background-color: transparent;
    display: block;
    margin: 0;
    margin-bottom: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--label-color);
    background-color: var(--label-background-color);
}

label .info {
    cursor: help;
}

fieldset label {
    font-size: .7rem;
    font-weight: normal;
}

input,
textarea {
    display: block;
    width: 100%;
    border: none;
    padding: .3rem;
    background-color: transparent;
    transition: background-color 800ms ease-out;
}

input[type=number] {
    text-align: right;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999999999s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

.input {
    position: relative;
}

.input.border {
    --input-border-color: #606060;
    --input-border-hover-color: #b0b0b0;
    --input-border-focus-color: #a0a0a0;
    border-bottom: 1px dotted var(--input-border-color);
}

.input.border:not(:disabled):hover,
.input.border:focus:not(:disabled):hover {
    border-bottom: 1px solid var(--input-border-hover-color);
}

.input.border:focus-within {
    border-bottom: 1px solid var(--input-border-focus-color);
}

.input .extraComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: .5;
}

.input .extraComponent.left {
    padding-left: .3rem;
}

.input .extraComponent.right {
    padding-right: .3rem;
}

.input:hover .extraComponent {
    opacity: 1;
}

input:disabled,
textarea:disabled {
    color: #888;
}

input::placeholder,
textarea::placeholder {
    font-style: italic;
}

.error input,
.error textarea {
    --error-border-color: #e81351;
    --error-background-color: rgba(232, 19, 81, 0.1);
    border-bottom-color: var(--error-border-color) !important;
    background-color: var(--error-background-color) !important;
}

.errorMessageContainer {
    position: relative;
    width: 100%;
}

.errorMessage {
    --error-color: #e81351;
    position: absolute;
    top: 0;
    bottom: -2rem;
    left: 0;
    right: 0;
    color: var(--error-color);
    font-size: .8rem;
    font-weight: 400;
}

.label i {
    font-size: .9rem;
    margin-left: 0.5rem;
    color: #B5B5B5;
}

.formComponentContainer {
    display: flex;
    flex-direction: column;
}

.formComponent {
    overflow: hidden; /* required for preventing margin bottom on last element */
}

.formComponent.normal {
    --vertical-spacing: 2rem;
    --horizontal-spacing: 1rem;
}

.formComponent.compact {
    --vertical-spacing: 1rem;
    --horizontal-spacing: .5rem;
}

.formComponent.none {
    --vertical-spacing: 0rem;
    --horizontal-spacing: 0rem;
}

.formComponent > * {
    margin-bottom: var(--vertical-spacing);
}

.formComponent.vertical > *:last-child {
    margin-bottom: 0;
}

.formComponent.horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(-1 * var(--vertical-spacing));
}

.formComponent.horizontal.nowrap {
    flex-wrap: nowrap;
}

.formComponent.horizontal > * {
    margin-right: var(--horizontal-spacing);
}

.formComponent.horizontal > *:last-child {
    margin-right: 0;
}

.alignment.left {
    text-align: left;
}

.alignment.center {
    text-align: center;
}

.alignment.right {
    text-align: right;
}
