form {
    --label-color: #b0b0b0;
    --label-background-color: transparent;
    --input-border-color: #606060;
    --input-border-hover-color: #b0b0b0;
    --input-border-focus-color: #a0a0a0;
    --error-color: #e81351;
    --error-border-color: #e81351;
    --error-background-color: rgba(232, 19, 81, 0.1);
}

form label {
    display: block;
    margin: 0;
    margin-bottom: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--label-color);
    background-color: var(--label-background-color);
}

form label .info {
    cursor: help;
}

form fieldset label {
    font-size: .7rem;
    font-weight: normal;
}

form input,
form textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px dotted var(--input-border-color);
    margin-top: .5rem;
    padding: .3rem;
    background-color: transparent;
    transition: background-color 800ms ease-out;
}

form input[type=number] {
    text-align: right;
}

form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form input:-webkit-autofill:active {
    transition: background-color 9999999999s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

form input:not(:disabled):hover,
form input:focus:not(:disabled):hover,
form textarea:not(:disabled):hover,
form textarea:focus:not(:disabled):hover {
    border-bottom: 1px solid var(--input-border-hover-color);
}

form input:focus,
form textarea:focus {
    border-bottom: 1px solid var(--input-border-focus-color);
}

form input:disabled,
form textarea:disabled {
    color: #888;
}

form input::placeholder,
form textarea::placeholder {
    font-style: italic;
}

form .error input,
form .error textarea {
    border-bottom-color: var(--error-border-color) !important;
    background-color: var(--error-background-color) !important;
}

form .errorMessageContainer {
    position: relative;
    width: 100%;
}

form .errorMessage {
    position: absolute;
    top: 0;
    bottom: -2rem;
    left: 0;
    right: 0;
    color: var(--error-color);
    font-size: .8rem;
    font-weight: 400;
}

.label i {
    font-size: .9rem;
    margin-left: 0.5rem;
    color: #B5B5B5;
}

.formComponent {
    --horizontal-spacing: 1rem;
    overflow: hidden; /* required for preventing margin bottom on last element */
}

.formComponent.normal {
    --vertical-spacing: 2rem;
}

.formComponent.compact {
    --vertical-spacing: 1rem;
}

.formComponent.none {
    --vertical-spacing: 0rem;
}

.formComponent > * {
    margin-bottom: var(--vertical-spacing);
}

.formComponent.vertical > *:last-child {
    margin-bottom: 0;
}

.formComponent.horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: calc(-1 * var(--vertical-spacing));
}

.formComponent.horizontal > * {
    margin-right: var(--horizontal-spacing);
}

.formComponent.horizontal > *:last-child {
    margin-right: 0;
}

.alignment.left {
    text-align: left;
}

.alignment.center {
    text-align: center;
}

.alignment.right {
    text-align: right;
}




.inputContainer {
    position: relative;
    padding-right: 2.5rem;
}

.clearButton {
    position: absolute;
    top: 0;
    right: 0;
}
