i.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* style */

.style-error {
    color: var(--error-color);
}

.style-info {
    color: var(--info-color);
}

.style-success {
    color: var(--success-color);
}

.style-warning {
    color: var(--warning-color);
}

.pulse {
    animation: pulse 1250ms ease-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
