/* style */

.variant-error {
    color: var(--error-color);
}

.variant-info {
    color: var(--info-color);
}

.variant-success {
    color: var(--success-color);
}

.variant-warning {
    color: var(--warning-color);
}

.pulse {
    animation: pulse 1250ms ease-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
