
.layout {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.layout > .content {
    display: flex;
    flex-grow: 1;
    /* overflow: hidden; */
}

/* framed */

.layout.framed {
    padding: .75rem;
    border: 1px solid var(--section-wireframe-color);
    border-radius: var(--section-border-radius);
}

.layout.framed::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, .05);
    pointer-events: none;
}

/* vertical */

.layout.vertical {
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-between;
}

.layout.vertical > .content {
    flex-direction: column;
}

/* vertical/spacing */

.layout.vertical.spacing-loose > .content > * + * {
    margin-top: 3rem;
}

.layout.vertical.spacing-normal > .content > * + * {
    margin-top: 2rem;
}

.layout.vertical.spacing-normal-separated > .content > * + * {
    margin-top: 2rem;
    overflow: visible;
}

.layout.vertical.spacing-normal-separated > .content > * + *::before {
    content: '';
    position: absolute;
    top: -1rem;
    height: 1px;
    left: 0;
    right: 0;
    background-color: var(--wireframe-color);
}

.layout.vertical.spacing-compact > .content > * + * {
    margin-top: 1rem;
}

.layout.vertical.spacing-compact-separated > .content > * + * {
    margin-top: 1rem;
    overflow: visible;
}

.layout.vertical.spacing-compact-separated > .content > * + *::before {
    content: '';
    position: absolute;
    top: -.5rem;
    height: 1px;
    left: 0;
    right: 0;
    background-color: var(--wireframe-color);
}

.layout.vertical.spacing-tight > .content > * + * {
    margin-top: .5rem;
}

.layout.vertical.spacing-none > .content > * + * {
    margin-top: 0rem;
}

/* vertical/alignment */

.layout.vertical.alignment-left > .content {
    align-items: flex-start;
}

.layout.vertical.alignment-center > .content {
    align-items: center;
}

.layout.vertical.alignment-right > .content {
    align-items: flex-end;
}

.layout.vertical.alignment-spaced > .content {
    align-items: space-between;
}

.layout.vertical.alignment-fill > .content > * {
    width: auto;
}

/* vertical/fill, vertical/scrollable */

.layout.vertical.fill,
.layout.vertical.scrollable {
    flex-grow: 1;
    flex-shrink: 1;
}

.layout.vertical.scrollable > .content {
    overflow-y: scroll;
}

/* horizontal */

.layout.horizontal {
    flex-direction: column;
}

.layout.horizontal > .content {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; /* required */
}

/* horizontal/spacing */

.layout.horizontal.spacing-loose > .content > * {
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}

.layout.horizontal.spacing-normal > .content > * {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.layout.horizontal.spacing-compact > .content > * {
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.layout.horizontal.spacing-tight > .content > * {
    margin-bottom: .25rem;
    margin-right: .25rem;
}

.layout.horizontal.spacing-none > .content > * {
    margin-bottom: 0rem;
    margin-right: 0rem;
}

/* horizontal/spacing: compensate bottom margin */

.layout.horizontal.spacing-loose > .content {
    margin-bottom: -1.5rem;
}

.layout.horizontal.spacing-normal > .content {
    margin-bottom: -1rem;
}

.layout.horizontal.spacing-compact > .content {
    margin-bottom: -.5rem;
}

.layout.horizontal.spacing-tight > .content {
    margin-bottom: -.25rem;
}

.layout.horizontal.spacing-none > .content {
    margin-bottom: 0rem;
}

/* horizontal: compensate right margin */

.layout.horizontal > .content > *:last-child {
    margin-right: 0rem;
}
 
/* horizontal/alignment */

.layout.horizontal.alignment-left > .content {
    justify-content: flex-start;
}

.layout.horizontal.alignment-center > .content {
    justify-content: center;
}

.layout.horizontal.alignment-right > .content {
    justify-content: flex-end;
}

.layout.horizontal.alignment-spaced > .content {
    justify-content: space-between;
}

.layout.horizontal.alignment-fill > .content > * {
    flex-grow: 1;
}

.layout.horizontal.alignment-distribute > .content > * {
    flex-grow: 1;
    flex-basis: 0;
}

/* horizontal/wrap */

.layout.horizontal.nowrap > .content {
    flex-wrap: nowrap;
}

/* horizontal/misc */

.layout.horizontal .layout.horizontal > .content > *:last-child {
    margin-right: 0;
}
