.legend {
    position: absolute;
    display: flex;
    bottom: 3.5rem;
    right: 5rem;
    background-color: hsla(0, 0%, 0%, .35);
    padding: .5rem;
    border: 1px solid var(--wireframe-color);
    border-radius: .25rem;;

}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: .5rem;
    text-align: right;
}

.palette {
    --palette: '';
    width: 1rem;
    height: 8rem;
    background: linear-gradient(0deg, var(--palette));
}