.options {
    --background-color: hsla(0, 0%, 0%, .9);
    background-color: var(--background-color);
}

.options::-webkit-scrollbar { 
    display: none !important;
}

.options ul {
    margin: 0;
    padding: 0;
    list-style: none;
    --scrollable-container-height: 0;
    margin: calc(var(--scrollable-container-height) / 2 * 1px) 0;
}

.options li {
    border: 0;
    padding: .35rem .75rem;
    font-size: .9rem;
    height: 30px;
}

.options li.group {
    font-size: .8rem;
    font-weight: 800;
    color: gray;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}
