.status {
    position: absolute;
    top: calc(var(--toolbar-clearance) + 2rem);
    left: calc(var(--menu-clearance) + .5rem);
    right: calc(var(--toolbar-clearance) + .5rem);
    margin: auto;
    pointer-events: all;
    max-width: 30rem;
    width: fit-content;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: .9rem;
    font-family: var(--header-font-family);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.status i {
    margin-right: 0.5rem;
}

.status > * {
    display: inline-block;
}

.error {
    margin-left: 0.5rem;
    color: #e81351;
}
