.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    padding: .5rem;
    overflow: hidden;
}

.notification {
    width: 20rem;
    padding: .5rem 1rem;
    pointer-events: all;
    background-color: hsla(0, 0%, 0%, .85);
    border-style: solid;
    border-width: 0 1px;
    border-color: var(--color);
}

/* .notification:not(.dismissing) {
    animation: added 250ms ease-in-out forwards;
} */
 
@keyframes added {
    0% {
        background-color: red;
        /* transform: translateY(-100%); */
        opacity: 0;
    }
}

.notification:not(:first-child) {
    margin-top: .5rem;
}

.notification.success {
    --color: var(--success-color);
}

.notification.info {
    --color: var(--info-color);
}

.notification.warning {
    --color: var(--warning-color);
}

.notification.error {
    --color: var(--error-color);
}

.notification.dismissable:hover {
    --background-opacity: .9;
    cursor: pointer;
}

.notification.dismissing {
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);
    transition: all var(--dismiss-time-ms) ease-in-out;
}

.notification .title {
    color: var(--color);
    font-weight: bold;
}

.notification .message {
}

.notification .content {
}

.notification > * + * {
    margin-top: .5rem;
}