.controls button + button{
    margin-left: .5rem;
}

.controls button {
    background-color: var(--button-selected-background-color);
    border: 1px solid var(--button-selected-border-color);
    border-radius: var(--button-border-radius);
    width: 4rem;
}

.controls button:not(:disabled) {
    cursor: pointer;
}

.controls button:hover {
    background-color: var(--button-selected-hover-background-color);
    border-color: var(--button-selected-hover-border-color);
} 

.controls button:active {
    background-color: var(--button-selected-active-background-color);
    border-color: var(--button-selected-active-border-color);
} 

.controls button:disabled {
    background-color: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
} 
