.buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    padding: var(--padding);
    border-top: var(--wireframe);
    transition: opacity 200ms ease-in-out;
}
