
.panel {
    --margin-left: .5rem;
    --margin-right: 3.5rem;
    --margin-top: .5rem;
    --margin-bottom: .5rem;
    --padding-top-bottom: .5rem;
    --padding-right-left: .8rem;
    --padding: var(--padding-top-bottom) var(--padding-right-left);
    --scaling-factor: .8 !important;

    position: absolute;
    width: calc(100% - var(--margin-left) - var(--margin-right));
    background-color: var(--panel-default-background-color);
    border: var(--selected-panel-border-width) solid var(--selected-panel-border-color);
    border-radius: .5rem;
    pointer-events: all;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.panel.top {
    top: var(--margin-top);
}

.panel.bottom {
    bottom: var(--margin-bottom);
}

.panel.right {
    right: var(--margin-right);
}

.panel.left {
    left: 0;
}

.panel.center {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.panel.inline {
    position: relative;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 5%, .8);
    z-index: 2;
}

.header, .content {
    padding: var(--padding);
    flex-grow: 1;
}

.header {
    flex-grow: 0;
    font-size: .9rem;
    font-family: var(--header-font-family);
    text-transform: uppercase;
    color: #e8e8e8;
    border-bottom: var(--wireframe);
}

.header i {
    display: inline-block;
    border: none;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    margin-right: .2rem;
}

.header .svg {
    width: .9rem;
    height: .9rem;
}

.header a:hover i {
    background-color: hsla(0, 0%, 100%, .25);
    border-radius: 50%;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    overflow-y: auto;
}
