
.panel {
    --margin-left: calc(var(--menu-clearance) + .5rem);
    --margin-right: 3.5rem;
    --margin-top: .5rem;
    --margin-bottom: .5rem;
    --header-padding: .5rem .8rem;
    --content-padding: 1.5rem .8rem;
    --padding-panel-buttons: .5rem;
    --scaling-factor: .8 !important;
    --header-color: #e8e8e8;
    --max-width: 60rem;

    position: absolute;
    width: calc(100% - var(--margin-left) - var(--margin-right));
    max-width: var(--max-width);
    background-color: var(--panel-default-background-color);
    border: var(--selected-panel-border-width) solid var(--selected-panel-border-color);
    border-radius: .5rem;
    pointer-events: all;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    transition: width var(--transition-time) ease-in-out var(--transition-delay);
}

.panel.top {
    top: var(--margin-top);
}

.panel.bottom {
    bottom: var(--margin-bottom);
}

.panel.right {
    right: var(--margin-right);
}

.panel.center {
    top: .5rem;
    bottom: .5rem;
    left: calc(var(--menu-clearance) + .5rem);
    right: .5rem;
    margin: auto;
}

.modal .panel.center {
    --top-clearance: .5rem;
    --bottom-clearance: calc(var(--footer-height) + .5rem);
    --left-clearance: .5rem;
    --right-clearance: .5rem;
    --vertical-clearance: calc(var(--top-clearance) + var(--bottom-clearance));
    --horizontal-clearance: calc(var(--left-clearance) + var(--right-clearance));
    left: var(--left-clearance);
    right: var(--right-clearance);
    top: var(--top-clearance);
    bottom: var(--bottom-clearance);
    max-height: calc(100vh - var(--vertical-clearance));
    max-width: calc(100vw - var(--horizontal-clearance));
}

.panel.inline {
    position: relative;
}

.modal {
    --modal-background: hsla(0, 0%, 5%, .8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--modal-background);
    z-index: 2;
}

/* Header */

.header {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: .9rem;
    font-family: var(--header-font-family);
    text-transform: uppercase;
    color: var(--header-color);
    padding: var(--header-padding);
    border-bottom: var(--wireframe);
    display: flex;
    justify-content: space-between;
}

.header > div > *:first-child {
    margin-right: .5rem;
}

/* Content */

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--content-padding);
}
