.portalContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.portalContainer > * {
    pointer-events: all;
}

.portalContainer.fullScreen {
    /* z-index: 2; */
}

.portalContainer.section {
    top: var(--top-bar-height);
    pointer-events: none;
    /* z-index: 1; */
}
