.scrollable {
    /* Enable momentum scrolling on iDevices */
    -webkit-overflow-scrolling: touch;
    user-select: none;
}

.scrollable.x {
    overflow-x: auto;
}

.scrollable.y {
    overflow-y: auto;
}

.scrollable.xy {
    overflow: auto;
}
