.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* min-width: fit-content; */
}

.unscrollable {
    flex-shrink: 0;
}

.scrollable {
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.scrollable.x {
    overflow-x: auto;
}

.scrollable.y {
    overflow-y: auto;
}

.scrollable.xy {
    overflow: auto;
}
