.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.unscrollable {
    flex-shrink: 0;
}

.scrollable {
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    /*padding-bottom: 2rem;*/
}
