.container {
    /* background-color: rgba(0, 0, 255, .2); */
}

.bar {
    padding: 0 .8rem;
    background-color: rgba(0, 0, 0, .25);
    color: #ccc;
    font-size: .9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar > * {
    width: 100%;
}

.bar.top {
    min-height: 3rem;
}

.bar.bottom {
    min-height: 2rem;
}

.bar.padding {
    padding: .3rem .8rem;
}

.content {
    --edge-padding: .5rem 1.5rem;
    --menu-padding: 1.5rem;
    transition: padding-left var(--transition-time) ease-in-out var(--transition-delay);
}

.content.edgePadding {
    padding: var(--edge-padding);
}

.content.menuPadding {
    padding-left: calc(var(--menu-container-width) + var(--menu-padding));
}

@media only screen and (max-width: 500px) {
    .content.edgePadding {
        --edge-padding: .5rem;
    }
    .content.menuPadding {
        --menu-padding: 1rem;
    }
}
