.bar {
    --bar-background-color:hsla(0, 0%, 8%, 0.7);
    --bar-border-color:hsla(0, 0%, 20%, 0.8);
    padding: 0 .8rem;
    background-color: var(--bar-background-color);
    border: 0 solid var(--bar-border-color);
    color: #ccc;
    font-size: .9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;
}

.bar.top {
    min-height: 3rem;
    border-bottom-width: 1px;
}

.bar.top .label {
    font-size: .9rem;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.bar.bottom {
    min-height: 2rem;
    border-top-width: 1px;
}

.bar.padding {
    padding: .3rem .8rem;
}

.content {
    --edge-padding: 2.5rem 1.5rem 0.5rem 1.5rem;
    --app-menu-padding: .5rem;
    --toolbar-edge-margin: .5rem;
    --toolbar-button-size: 2.5rem;
    --toolbar-clearance: calc(var(--toolbar-edge-margin) + var(--toolbar-button-size));
    transition: padding-left var(--transition-time) ease-in-out var(--transition-delay);
}

.content .content {
    --margin-top: 0rem;
}

@media only screen and (max-width: 500px) {
    .content {
        --edge-padding: .5rem 1.5rem;
    }
}

.content.edgePadding {
    padding: var(--edge-padding);
}

.content.menuPadding {
    --left-padding: calc(var(--menu-container-width) + 1.5rem);
    padding-left: var(--left-padding);
}

.content.appMenuPadding {
    padding-left: calc(var(--menu-container-width) + var(--app-menu-padding));
}

@media only screen and (max-width: 500px) {
    .content.edgePadding {
        --edge-padding: .5rem;
    }
    .content.menuPadding {
        --left-padding: calc(var(--menu-clearance) + .5rem);
    }
}
