.sectionLayout {
    display: flex;
    flex-direction: column;
}

.bar {
    flex-shrink: 0;
    padding: .5rem .8rem;
    height: fit-content;
    background-color: rgba(0, 0, 0, .25);
    color: #ccc;
    font-size: .9rem;
}

.content {
    flex-shrink: 1;
    flex-grow: 1;
    padding: .5rem 1rem;
    padding-left: calc(var(--menu-container-width) + 1rem);
    transition: padding-left var(--transition-time) ease-in-out var(--transition-delay);
    overflow: auto;
}
