.buttons {
    --vertical-gap: .5rem;
    --horizontal-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.buttons li {
    margin: 0;
}

.buttons button {
    width: 100%;
    text-align: left;
    padding: .5rem 1rem;
    cursor: pointer;
}
