.container {
    --half-margin-size: 1px;
    --half-center-handle-size: 15px;
    --half-axis-handle-size: 1px;
    --handle-comfort-margin: -.25rem;
    --idle-color: var(--wireframe-color);
    --dragging-color: #a0a0a0;
    --color: var(--idle-color);

    /* --x and --y are injected */

    --top: var(--y);
    --right: calc(100% - var(--x));
    --bottom: calc(100% - var(--y));
    --left: var(--x);

    --vertical-handle-top: 0;
    --vertical-handle-bottom: 0;
    --horizontal-handle-left: 0;
    --horizontal-handle-right: 0;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

/* areas */

.areas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.container.dragging .areas:after {
    /* insert a capturing layer between the handle and anything else */
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: all;
    z-index: 1;
}

.container.dragging.x .areas:after {
    cursor: ew-resize;
}

.container.dragging.y .areas:after {
    cursor: ns-resize;
}

.container.dragging.x.y .areas:after {
    cursor: move;
}

/* area */

.area {
    --clip-top: 0;
    --clip-bottom: 0;
    --clip-left: 0;
    --clip-right: 0;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    clip-path: inset(var(--clip-top) var(--clip-right) var(--clip-bottom) var(--clip-left));
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.area.top {
    --clip-bottom: calc(var(--bottom) + var(--half-margin-size));
}

.area.bottom {
    --clip-top: calc(var(--top) + var(--half-margin-size));
}

.area.left {
    --clip-right: calc(var(--right) + var(--half-margin-size));
}

.area.right {
    --clip-left: calc(var(--left) + var(--half-margin-size));
}

.area .view {
    --margin-top: 0;
    --margin-bottom: 0;
    --margin-left: 0;
    --margin-right: 0;

    position: absolute;
    top: var(--margin-top);
    bottom: var(--margin-bottom);
    left: var(--margin-left);
    right: var(--margin-right);
    display: flex;
    z-index: 1;
}

.area.top .view {
    --margin-bottom: calc(var(--bottom) + var(--half-margin-size));
}

.area.bottom .view {
    --margin-top: calc(var(--top) + var(--half-margin-size));
}

.area.left .view {
    --margin-right: calc(var(--right) + var(--half-margin-size));
}

.area.right .view {
    --margin-left: calc(var(--left) + var(--half-margin-size));
}

/* handle */

.container.initialized .handle {
    visibility: visible;
}

.handle {
    position: absolute;
    pointer-events: all;
    visibility: hidden;
}

/* center handle */

.handle.center {
    top: calc(var(--top) - var(--half-center-handle-size));
    left: calc(var(--left) - var(--half-center-handle-size));
    width: calc(2 * var(--half-center-handle-size));
    height: calc(2 * var(--half-center-handle-size));
    border: calc(2 * var(--half-axis-handle-size)) solid var(--color);
    border-radius: var(--half-center-handle-size);
    cursor: move;
    z-index: 2;
}

/* axis handle */

.handle.axis {
    background-color: var(--color);
    /* background: repeating-linear-gradient(
        45deg,
        var(--color),
        var(--color) 10px,
        transparent 10px,
        transparent 20px
    ); */
    z-index: 1;
}

.handle.axis:before {
    content: '';
    position: absolute;
}

/* vertical axis handle */

.handle.axis.vertical {
    top: var(--vertical-handle-top);
    bottom: var(--vertical-handle-bottom);
    left: calc(var(--left) - var(--half-axis-handle-size));
    width: calc(2 * var(--half-axis-handle-size));
    cursor: ew-resize;
}

.handle.axis.vertical:before {
    top: 0;
    bottom: 0;
    left: var(--handle-comfort-margin);
    right: var(--handle-comfort-margin);
}

.handle.axis.vertical.top {
    --vertical-handle-top: var(--top);
}

.handle.axis.vertical.bottom {
    --vertical-handle-bottom: var(--bottom);
}

/* horizontal axis handle */

.handle.axis.horizontal {
    top: calc(var(--top) - var(--half-axis-handle-size));
    height: calc(2 * var(--half-axis-handle-size));
    left: var(--horizontal-handle-left);
    right: var(--horizontal-handle-right);
    cursor: ns-resize;
}

.handle.axis.horizontal:before {
    top: var(--handle-comfort-margin);
    bottom: var(--handle-comfort-margin);
    left: 0;
    right: 0;
}

.handle.axis.horizontal.left {
    --horizontal-handle-left: var(--left);
}

.handle.axis.horizontal.right {
    --horizontal-handle-right: var(--right);
}

/* handle hover/dragging */

.handle:hover,
.dragging.x.y .handle.center,
.dragging.x .handle.axis.vertical,
.dragging.y .handle.axis.horizontal {
    --color: var(--dragging-color);
}
