.container {
    position: relative;
    padding: 0;
    pointer-events: none;
}

.tabs {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin-right: .5rem;
}

.tab {
    --tab-default-background-color: hsl(0, 0%, 11%);
    --tab-selected-background-color: hsl(60, 2%, 16%);
    --tab-default-border-color: hsla(0, 0%, 100%, .15);
    --tab-selected-border-color: hsl(var(--selected-hue), var(--selected-sat), 40%);

    position: relative;
    display: flex;
    flex-grow: 1;
    background-color: var(--tab-default-background-color);
    border-bottom: 3px solid var(--tab-default-border-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 2.5rem;
    white-space: nowrap;
    margin-top: .5rem;
    line-height: 2.5rem;
    overflow: hidden;
    cursor: pointer;
}

.tab:first-child {
    margin-left: auto;
}

.tab:not(:last-child) {
    margin-right: .3rem;
}

.tab.regular {
    max-width: 17rem;
    min-width: 8.5rem;
}

.tab * {
    width: 100%;
}

.tab.regular.selected {
    background-color: var(--tab-selected-background-color);
    border-bottom: 3px solid var(--tab-selected-border-color);
}

.tab:hover {
    background-color: var(--tab-default-background-color);
}

/* Prevent overflowing title from covering close button */
.tab.regular:after {
    content: '';
    width: 1.7rem;
    height: 100%;
    position: absolute;
    right: 0;
    background: inherit;
    z-index: 1;
}

.tab {
    animation: added 250ms ease-in-out forwards;
    overflow: hidden;
}

@keyframes added {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
}

.close {
    position: absolute;
    width: fit-content;
    align-self: center;
    right: .2rem;
    z-index: 2;
    cursor: pointer;
}

.title {
    flex: 1;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #8a949c;
    padding-right: 2.1rem;
    padding-left: 1rem;
}

.title.selected {
    position: relative;
}

.title.selected > span {
    opacity: 0;
}

.title.selected input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #e8e8e8;
}

span.title.placeholder {
    font-style: italic;
}

.title.selected input::placeholder {
    color: #8a949c;
}

/*Fade-out overflow */
.title:before {
    content: '';
    width: 2rem;
    height: 100%;
    position: absolute;
    right: 1.7rem;
    top: 0;
    background: linear-gradient(to right, transparent, var(--tab-default-background-color) 100%);
    z-index: 1;
}

.tab.selected .title:before {
    background: linear-gradient(to right, transparent, var(--tab-selected-background-color) 100%);
}

.title > span {
    margin-right: 1rem;
}

.tab input {
    width: 100%;
}

.tab input:focus {
    z-index: 2;
}

.tab.selected input.title {
    border: none !important;
    margin-right: 2rem;
    letter-spacing: 0.75px;
    height: 2.5rem;
    line-height: 2.5rem;
}

.tabActions {
    display: flex;
    align-items: center;
    height: fit-content;
}

.tabActions > * + * {
    margin-left: .5rem;
}

.tabContents {
    position: relative;
    height: 100%;
    width: 100%;
}

.tabContent {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.tabContent.selected {
    opacity: 1;
    z-index: 1;
}
