.toolbar {
    --button-size: 2.5rem;
    --button-spacing: .5rem;
    --button-panel-margin: .5rem;
    --icon-size: 1.1rem;
    
    position: absolute;
    pointer-events: all;
    z-index: 0;
}

.toolbar.horizontal {
    display: flex;
    flex-direction: row;
}

.toolbar.horizontal * + * {
    margin-left: var(--button-spacing);
}

.toolbar.vertical {
    display: flex;
    flex-direction: column;
}

.toolbar.vertical * + * {
    margin-top: var(--button-spacing);
}

.toolbar.top {
    top: 0;
}

.toolbar.bottom {
    bottom: 0;
}

.toolbar.left {
    left: 0;
}

.toolbar.right {
    right: 0;
}

.toolbar button {
    width: var(--button-size);
    height: var(--button-size);
    padding: 0;
    border: var(--selected-panel-border-width) solid var(--look-default-border-color);
    border-radius: var(--button-border-radius);
    color: var(--look-default-color);
    background-color: var(--look-default-background-color);
}

.toolbar button:hover:not(:disabled) {
    color: var(--look-default-hover-color);
    background-color: var(--look-default-hover-background-color);
    border-color: var(--look-default-hover-border-color);
    cursor: pointer;
}

.toolbar button.selected,
.toolbar button.selected:disabled {
    color: var(--look-highlight-color);
    background-color: var(--look-highlight-background-color);
    border-color: var(--look-highlight-border-color);
}

.toolbar button.selected:hover:not(:disabled) {
    color: var(--look-highlight-hover-color);
    background-color: var(--look-highlight-hover-background-color);
    border-color: var(--look-highlight-hover-border-color);
}

.toolbar button:active:not(:disabled) {
    color: var(--look-default-active-color);
    background-color: var(--look-default-active-background-color);
    border-color: var(--look-default-active-border-color);
}

.toolbar button.selected:active:not(:disabled) {
    color: var(--look-highlight-active-color);
    background-color: var(--look-highlight-active-background-color);
    border-color: var(--look-highlight-active-border-color);
}

.toolbar.vertical.panelButton button.selected {
    width: calc(var(--button-size) + var(--button-panel-margin));
    margin-left: calc(-1 * var(--button-panel-margin));
    padding-left: calc(var(--button-panel-margin) + var(--selected-panel-border-width));
    border: 1px solid var(--wireframe-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    z-index: 2;
}

.toolbar button:disabled {
    color: var(--look-default-disabled-color);
    background-color: var(--look-default-disabled-background-color);
    border-color: var(--look-default-disabled-border-color);
}

.toolbar button svg {
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: middle;
    font-size: var(--icon-size);
}
