.content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'left center right';
}

.left, .center, .right {
    display: flex;
}

.left {
    grid-area: left;
    justify-self: flex-start;
}

.center {
    grid-area: center;
    justify-self: center;
}

.right {
    grid-area: right;
    justify-self: flex-end;
}
