#overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000 url(../images/loader.gif) no-repeat scroll center center;
}

#lightbox {
    position: fixed;
    z-index: 999;
    border: 5px solid #fff;
    border-bottom: none;
    background: #fff;
}

#lightbox a {
    text-decoration: none;
}

#description {
    background-color: #fff;
    line-height: 32px;
    color: #222;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#navigation {
    float: right;
}

.previousBtn, .nextBtn {
    width: 20px;
    height: 18px;
    display: block;
    float: left;
    margin-top: 5px;
    text-decoration: none;
}
.previousBtn:hover, .nextBtn:hover {
    text-decoration: none;
}
.previousBtn {
    margin-right: 10px;
    background: #fff url(../images/left_arrow.png) no-repeat;
}
.nextBtn {
    background: #fff url(../images/right_arrow.png) no-repeat;
}