.inputContainer {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid var(--wireframe-color);
    background-color: var(--panel-default-overlay-color);
}

.textarea {
    flex: 1;
    resize: none;
    border: 1px solid var(--wireframe-color);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    line-height: 1.4;
    color: inherit;
    background-color: var(--section-wireframe-color);
    outline: none;
    overflow-y: auto;
    max-height: 100px;
}

.textarea:focus {
    border-color: var(--info-color);
}

.textarea::placeholder {
    color: var(--link-default-color);
}

.textarea:disabled {
    opacity: 0.5;
}
