.inputContainer {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid var(--wireframe-color);
    background-color: var(--panel-default-overlay-color);
}

.textarea {
    flex-grow: 1;
}

.textarea:focus {
    border-color: var(--info-color);
}

.textarea::placeholder {
    color: var(--link-default-color);
}

.textarea:disabled {
    opacity: 0.5;
}
