.panel {
    max-width: 28rem;
}
    
.scaleChange {
    display: flex;
    justify-content: flex-end;
}

.scaleChange div {
    color: var(--selected-text-color);
}

.scaleChange div:hover {
    color: var(--selected-text-hover-color);
}
