- name: "{{ module }} | Create runtime dir"
  file: path="/var/lib/sepal/modules/{{ module }}" state=directory

- name: "{{ module }} | Copy compose file"
  copy:
      src: "{{ role_path }}/../../modules/{{ module }}/docker-compose.yml"
      dest: "/var/lib/sepal/modules/{{ module }}/docker-compose.yml"

- name: "{{ module }} | Up"
  community.docker.docker_compose_v2:
    project_src: "/var/lib/sepal/modules/{{ module }}"
    files:
      - docker-compose.yml
    env_files:
      - /etc/sepal/env
    state: present
    pull: missing
    build: never
    dependencies: false
    wait: true
    wait_timeout: 300
  register: compose_result
  retries: 10
  delay: 3
  until: compose_result is succeeded
