<div class="row p-t-3">
    <div class="col-sm-12 text-align-center">
        <!--You are about to download <span class="scenes-number">0</span> individual scenes. <br/>-->
        <!--This might use a considerable amount of your available storage. <br/>-->
        Downloading individual scenes might use a considerable amount of your available storage.
    </div>
</div>


<div class="row row-landsat">
    <div class="col-sm-2 col-name text-align-right">
        LANDSAT <i class="fa fa-rocket" aria-hidden="true"></i>
    </div>

    <div class="col-sm-8 offset-sm-2">
        <div class="row p-t-0-5">
            <div class="col-sm-6 text-align-center">
                <button class="btn btn-base btn-retrieve-landsat-scenes round p-y-1 p-x-2">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>  Retrieve <span class="landsat-scenes-number">0</span> scenes
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row row-sentinel2">
    <div class="col-sm-2 col-name text-align-right">
        SENTINEL-2 <i class="fa fa-rocket" aria-hidden="true"></i>
    </div>

    <div class="col-sm-8 offset-sm-2">
        <div class="row p-t-0-5">
            <div class="col-sm-6 text-align-center">
                <button class="btn btn-base btn-retrieve-sentinel2-scenes round p-y-1 p-x-2">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>  Retrieve <span class="sentinel2-scenes-number">0</span> scenes
                </button>
            </div>
        </div>
    </div>
</div>

<!--<div class="row p-t-2">-->
    <!--<div class="col-sm-6 offset-sm-3 text-align-center">-->
        <!--<button class="btn btn-base round icon width100 btn-retrieve-landsat-scenes">-->
            <!--<i class="fa fa-cloud-download" aria-hidden="true"></i> Retrieve <span class="landsat-scenes-number">0</span> LANDSAT scenes-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="row p-t-2">-->
    <!--<div class="col-sm-6 offset-sm-3 text-align-center">-->
        <!--<button class="btn btn-base round icon width100 btn-retrieve-sentinel2-scenes">-->
            <!--<i class="fa fa-cloud-download" aria-hidden="true"></i> Retrieve <span class="sentinel2-scenes-number">0</span> SENTINEL2 scenes-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->
