<div id="search" class="row height100 overflow-hidden">
    <div class="col-12 height100 overflow-y-auto">

        <!-- edit mosaic container -->
        <div class="row mode-container mode-edit-container height100">
            <div class="col-12 height100">

                <div class="row menu-container ">
                    <div class="col-12 text-align-left p-l-2">
                        <button class="btn btn-base circle btn-show-list">
                            <!--<i class="fa fa-caret-left"></i>-->
                            <i class="fa fa-list"></i>
                        </button>
                    </div>
                </div>

                <!-- Search Form -->
                <div class="row search-section section-search-form height95">
                    <div class="col-12 height100">

                        <form class="form-theme" id="search-form">
                            <div class="row form-group ">
                                <label class="form-label col-2" for="mosaic-name">Name</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="mosaic-name" name="name" value=""
                                           placeholder="Select a name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="search-form-country">Area of interest</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="search-form-country" name="country"
                                           placeholder="Select a country">
                                </div>
                                <label class="form-label col-sm-1 text-align-center form-label-btn-draw-polygon">Or</label>
                                <div class="col-4">
                                    <button type="button" class="btn btn-base round btn-draw-polygon">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Draw a polygon
                                    </button>
                                </div>
                            </div>
                            <div class="row row-sensor form-group">
                                <label class="form-label col-sm-2">Sensors</label>
                                <div class="col-2 text-align-center">
                                    <button type="button"
                                            class="btn btn-base round width100 p-y-0-5 btn-landsat btn-sensor-group"
                                            value="LANDSAT">Landsat
                                    </button>
                                </div>
                                <label class="form-label col-sm-1 p-t-0-5 text-align-center">Or</label>
                                <div class="col-2 text-align-center">
                                    <button type="button"
                                            class="btn btn-base round width100 p-y-0-5 btn-sentinel2 btn-sensor-group"
                                            value="SENTINEL2">Sentinel-2
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group m-t-10 p-b-2">
                                <label class="form-label col-sm-2">Target date</label>
                                <div class="col-sm-10 target-date">
                                </div>
                            </div>

                            <div class="row form-group form-group-buttons no-padding">

                                <div class="col-12 text-align-center form-notify form-error"/>

                                <div class="col-12 text-align-center">
                                    <button type="submit" class="btn btn-base round icon p-y-1">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        Search
                                    </button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>

                <!-- Classify -->
                <div class="row search-section section-classify height95">
                    <div class="col-12 height100">

                        <form class="form-theme">
                            <div class="row form-group">
                                <label class="form-label col-2" for="classify-name">Name</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="classify-name" name="name" value=""
                                           placeholder="Select a name">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="input-recipe">Input recipe</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="input-recipe" name="input-recipe"
                                           placeholder="Select an input recipe">
                                </div>
                                <label class="form-label col-sm-2 text-align-right">Or GEE Asset Id</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="geeAssetId" name="gee-asset-id"
                                           placeholder="Asset id">
                                </div>
                            </div>


                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="fusion-table-id">Fusion table id</label>
                                <div class="col-4 p-r-0">
                                    <input type="text" class="form-control" id="fusion-table-id" name="fusion-table-id"
                                           placeholder="Enter a fusion table id">
                                </div>
                                <label class="form-label col-sm-2 text-align-right">Class column</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="fusion-table-class-column"
                                           name="fusion-table-class-column"
                                           placeholder="Select a column">
                                </div>
                            </div>

                            <!--<div class="row row-algorithm-btns form-group">-->
                            <!--<label class="form-label col-2">Algorithm</label>-->
                            <!--<div class="col-10">-->
                            <!--<button type="button" class="btn btn-base round p-x-1 p-y-0-5 m-r-1" value="cart">Cart</button>-->
                            <!--<button type="button" class="btn btn-base round p-x-1 p-y-0-5" value="decisionTree">Decision tree</button>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="row form-group form-group-buttons no-padding">

                                <div class="col-12 text-align-center form-notify form-error"/>

                                <div class="col-12 text-align-center">
                                    <button type="submit" class="btn btn-base round icon p-y-1">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        Classify
                                    </button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>

                <!--Change detection-->
                <div class="row search-section section-change-detection height95">
                    <div class="col-12 height100">

                        <form class="form-theme">
                            <div class="row form-group">
                                <label class="form-label col-2" for="change-detection-name">Name</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="change-detection-name" name="name"
                                           value=""
                                           placeholder="Select a name">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="input-recipe1">Source input recipe</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="input-recipe1" name="input-recipe1"
                                           placeholder="Select the source recipe">
                                </div>
                                <label class="form-label col-sm-2 text-align-right">Or GEE Asset Id</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="geeAssetId1" name="gee-asset-id1"
                                           placeholder="Asset id">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="input-recipe2">Target input recipe</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="input-recipe2" name="input-recipe2"
                                           placeholder="Select the target recipe">
                                </div>
                                <label class="form-label col-sm-2 text-align-right">Or GEE Asset Id</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="geeAssetId2" name="gee-asset-id2"
                                           placeholder="Asset id">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="fusion-table-id-cd">Fusion table id</label>
                                <div class="col-4 p-r-0">
                                    <input type="text" class="form-control" id="fusion-table-id-cd"
                                           name="fusion-table-id"
                                           placeholder="Enter a fusion table id">
                                </div>
                                <label class="form-label col-sm-2 text-align-right" for="fusion-table-class-column-cd">Class
                                    column</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="fusion-table-class-column-cd"
                                           name="fusion-table-class-column"
                                           placeholder="Select a column">
                                </div>
                            </div>

                            <!--<div class="row row-algorithm-btns form-group">-->
                            <!--<label class="form-label col-sm-2">Algorithm</label>-->
                            <!--<div class="col-10">-->
                            <!--<button type="button" class="btn btn-base round p-x-1 p-y-0-5 m-r-1" value="cart">Cart</button>-->
                            <!--<button type="button" class="btn btn-base round p-x-1 p-y-0-5" value="decisionTree">Decision tree</button>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="row form-group form-group-buttons no-padding">

                                <div class="col-12 text-align-center form-notify form-error"/>

                                <div class="col-12 text-align-center">
                                    <button type="submit" class="btn btn-base round icon p-y-1">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        Change detection
                                    </button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>

                <!-- Time series -->
                <div class="row search-section section-time-series height95">
                    <div class="col-12 height100">

                        <form class="form-theme" id="time-series-form">
                            <div class="row form-group ">
                                <label class="form-label col-2" for="name">Name</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="name" name="description" value=""
                                           placeholder="Enter a name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="time-series-aoi">Area of interest</label>
                                <div class="col-3">
                                    <input type="text" class="form-control" id="time-series-aoi" name="sepal-aoi"
                                           placeholder="Select a country">
                                </div>
                                <label class="form-label col-sm-1 text-align-center form-label-btn-draw-polygon">Or</label>
                                <div class="col-2">
                                    <button type="button" class="btn btn-base round btn-draw-polygon">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Draw a polygon
                                    </button>
                                </div>
                                <label class="form-label col-sm-1 text-align-center">Or</label>
                                <div class="col-3">
                                    <input type="text" class="form-control" name="fusion-table-id"
                                           placeholder="Enter a fusion table id">
                                </div>
                            </div>
                            <div class="row row-sensor form-group">
                                <label class="form-label col-sm-2">Sensors</label>
                                <div class="col-10 text-align-left">
                                    <button type="button" class="btn btn-base round p-y-0-5 m-r-0-5" value="landsat8">L8
                                    </button>
                                    <button type="button" class="btn btn-base round p-y-0-5 m-r-0-5" value="landsat7">L7
                                    </button>
                                    <button type="button" class="btn btn-base round p-y-0-5" value="landsat5">L5
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group m-t-10 p-b-2">
                                <label class="form-label from-date-label cursor col-sm-2">From date</label>
                                <div class="col-sm-10 from-date">
                                </div>
                            </div>

                            <div class="row form-group m-t-10 p-b-2">
                                <label class="form-label to-date-label cursor col-sm-2">To date</label>
                                <div class="col-sm-10 to-date">
                                </div>
                            </div>

                            <div class="row row-indicator form-group">
                                <label class="form-label col-sm-2">Indicator</label>
                                <div class="col-10 text-align-left">
                                    <button type="button" class="btn btn-base round p-y-0-5 m-r-0-5" value="NDVI">NDVI
                                    </button>
                                    <button type="button" class="btn btn-base round p-y-0-5 m-r-0-5" value="NDMI">NDMI
                                    </button>
                                    <button type="button" class="btn btn-base round p-y-0-5 m-r-0-5" value="EVI">EVI
                                    </button>
                                    <button type="button" class="btn btn-base round p-y-0-5" value="EVI2">EVI2
                                    </button>
                                </div>
                            </div>

                            <div class="row row-other-options form-group">
                                <div class="col-12 text-align-center">
                                    <button type="button" class="btn btn-base round p-y-0-5 m-r-0-5" value="maskClouds">Mask clouds
                                    </button>
                                    <button type="button" class="btn btn-base round p-y-0-5 m-r-0-5" value="maskSnow">Mask snow
                                    </button>
                                    <button type="button" class="btn btn-base round p-y-0-5" value="brdfCorrect">BRDF correct
                                    </button>
                                </div>
                            </div>

                            <div class="row form-group form-group-buttons no-padding">

                                <div class="col-12 text-align-center form-notify form-error"/>

                                <div class="col-12 text-align-center">
                                    <button type="submit" class="btn btn-base round icon p-y-1">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                        Export to Sepal
                                    </button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>


            </div>
        </div>

        <!--list mosaic container-->
        <div class="row justify-content-center mode-container mode-list-container height100">
            <div class="col-8 height100 p-y-0-5 overflow-hidden">

                <div class="row row-btns height10 overflow-y-auto">
                    <div class="col-12">
                        <button class="btn btn-base round p-y-0-5 btn-add-mosaic">
                            <i class="fa fa-plus-circle"></i> Mosaic
                        </button>
                        <button type="button" class="btn btn-base round p-y-0-5 btn-add-classification">
                            <i class="fa fa-plus-circle"></i> Classification
                        </button>
                        <button type="button" class="btn btn-base round p-y-0-5 btn-add-change-detection">
                            <i class="fa fa-plus-circle"></i> Change detection
                        </button>
                        <button type="button" class="btn btn-base round p-y-0-5 btn-add-time-series">
                            <i class="fa fa-plus-circle"></i> Time series
                        </button>
                    </div>
                </div>

                <div class="row row-header height5">
                    <div class="col-5">Name</div>
                    <div class="col-4">Type</div>
                </div>

                <div class="row row-list height85 overflow-y-auto">
                    <div class="col-12 container-items">
                    </div>

                    <div class="row row-mosaic template">
                        <div class="col-5 name">Name</div>
                        <div class="col-4 type">Type</div>
                        <div class="col-1 text-align-center">
                            <button class="btn btn-base circle btn-edit"><i class="fa fa-pencil-square-o"
                                                                            aria-hidden="true"></i></button>
                        </div>
                        <div class="col-1 text-align-center">
                            <button class="btn btn-base circle btn-clone"><i class="fa fa-clone" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-1 text-align-center">
                            <button class="btn btn-base circle btn-delete"><i class="fa fa-trash"
                                                                              aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


</div>