#search {
  overflow: hidden;

  .mode-edit-container {

    .menu-container {
      .btn {
        i {
          font-size: 1rem;
        }
      }
    }

    .search-section {
      padding-top: .5rem !important;
      overflow-y: auto;
    }

    form {
      > div.row:not(:last-child) {
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: .5rem;
        padding: 1rem 0;
        border: 1px solid rgba(255, 255, 255, 0.04);
      }

      .form-label-btn-draw-polygon {
        border-bottom: none;
      }

      button {

        i {
          font-size: 1.2rem;
        }

        &.btn-draw-polygon {

          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          border-radius: 0;
          padding-bottom: .5rem !important;
          padding-top: .6rem;

          &.active {
            border-bottom: 1px solid rgba(197, 179, 151, 0.5);
          }

          i {
            position: absolute;
            left: 1rem;
            top: .5rem;
          }
        }

      }

      input {
        padding: .35rem 0 .5rem .2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }

    }

  }

}