<div id="search" class="row height100 overflow-hidden">
    <div class="col-12 height100 overflow-y-auto">

        <!-- edit mosaic container -->
        <div class="row mode-container mode-edit-container height100">
            <div class="col-12 height100">

                <div class="row menu-container ">
                    <div class="col-12 text-align-left p-l-2">
                        <button class="btn btn-base circle btn-show-list">
                            <!--<i class="fa fa-caret-left"></i>-->
                            <i class="fa fa-list"></i>
                        </button>
                    </div>
                </div>

                <!-- Search Form -->
                <div class="row search-section section-search-form height95">
                    <div class="col-12 height100">

                        <form class="form-theme" id="search-form">
                            <div class="row form-group ">
                                <label class="form-label col-2" for="mosaic-name">Name</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="mosaic-name" name="name" value=""
                                           placeholder="Select a name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="form-label col-sm-2" for="search-form-country">Area of interest</label>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="search-form-country" name="country"
                                           placeholder="Select a country">
                                </div>
                                <label class="form-label col-sm-1 text-align-center form-label-btn-draw-polygon">Or</label>
                                <div class="col-4">
                                    <button type="button" class="btn btn-base round btn-draw-polygon" >
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Draw a polygon
                                    </button>
                                </div>
                            </div>
                            <div class="row row-sensor form-group">
                                <label class="form-label col-sm-2">Sensors</label>
                                <div class="col-2 text-align-center">
                                    <button type="button" class="btn btn-base round width100 p-y-0-5 btn-landsat btn-sensor-group" value="LANDSAT">Landsat</button>
                                </div>
                                <label class="form-label col-sm-1 p-t-0-5 text-align-center">Or</label>
                                <div class="col-2 text-align-center">
                                    <button type="button" class="btn btn-base round width100 p-y-0-5 btn-sentinel2 btn-sensor-group" value="SENTINEL2">Sentinel-2</button>
                                </div>
                            </div>
                            <div class="row form-group m-t-10 p-b-2">
                                <label class="form-label col-sm-2">Target date</label>
                                <div class="col-sm-10 target-date">
                                </div>
                            </div>

                            <div class="row form-group form-group-buttons no-padding">

                                <div class="col-12 text-align-center form-notify form-error"/>

                                <div class="col-12 text-align-center">
                                    <button type="submit" class="btn btn-base round icon p-y-1">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        Search
                                    </button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>

                <!-- Classify -->
                <div class="row search-section section-classify height95">
                    <div class="col-12 height100">
                        Classify
                    </div>
                </div>

                <!--Change detection-->
                <div class="row search-section section-change-detection height95">
                    <div class="col-12 height100">
                        Change Detection
                    </div>
                </div>
            </div>
        </div>

        <!--list mosaic container-->
        <div class="row mode-container mode-list-container height100">
            <div class="col-8 offset-2 height100 p-y-0-5 overflow-hidden">

                <div class="row row-btns height10 overflow-y-auto">
                    <div class="col-12">
                        <button class="btn btn-base round p-y-0-5 width30 btn-add-mosaic">
                            <i class="fa fa-plus-circle"></i> Mosaic
                        </button>
                        <button class="btn btn-base round p-y-0-5 width30 btn-add-classification disabled">
                            <i class="fa fa-plus-circle"></i> Classification
                        </button>
                        <button class="btn btn-base round p-y-0-5 width30 btn-add-change-detection disabled">
                            <i class="fa fa-plus-circle"></i> Change detection
                        </button>
                    </div>
                </div>

                <div class="row row-header height5">
                    <div class="col-5">Name</div>
                    <div class="col-4">Type</div>
                </div>

                <div class="row row-list height85 overflow-y-auto">
                    <div class="col-12 container-items">
                    </div>

                    <div class="row row-mosaic template">
                        <div class="col-5 name">Name</div>
                        <div class="col-4 type">Type</div>
                        <div class="col-1 text-align-center">
                            <button class="btn btn-base circle btn-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-1 text-align-center">
                            <button class="btn btn-base circle btn-clone"><i class="fa fa-clone" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-1 text-align-center">
                            <button class="btn btn-base circle btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>



</div>