#users {

  .search {

    input[type=text] {
      border-radius: 0px;
      border-bottom: 2px solid #fff;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .btn-invite {
      width: 3.5rem;
      height: 3.5rem;
      padding: 0;
      font-size: 1.2rem;

      i {

      }
    }

  }

  .list {

  }

}