<div id="users" class="row height100">
    <div class="col-sm-12 p-t-2">

        <div class="row search form-theme">
            <div class="col-sm-1 text-align-right">
                <i class="fa fa-search m-t-1" aria-hidden="true"></i>
            </div>
            <div class="col-sm-5 form-group">
                <input type="text" class="form-control" name="search">
            </div>

            <div class="col-sm-2 col-sm-offset-4">
                <button class="btn btn-base circle btn-invite"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="row list m-t-2">
            <div class="col-sm-12">



            </div>
        </div>

    </div>
</div>