<div id="users" class="row height100">
    <div class="col-sm-12 height100 p-t-1 list-section">

        <div class="row height10 actions form-theme">
            <div class="col-sm-1 text-align-right">
                <i class="fa fa-search m-t-1" aria-hidden="true"></i>
            </div>
            <div class="col-sm-5 form-group">
                <input type="text" class="form-control" name="search">
            </div>

            <div class="col-sm-3 col-sm-offset-3 text-align-center">
                <button class="btn btn-base circle btn-invite"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                <button class="btn btn-base circle btn-remove"><i class="fa fa-user-times" aria-hidden="true"></i></button>
                <button class="btn btn-base circle btn-edit">
                    <span class="fa-stack">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>

        <div class="row height80 list p-y-1">
            <div class="col-sm-12 height100">

                <div class="row row-header height15">
                    <div class="col-sm-2 text-align-center">Name</div>
                    <div class="col-sm-2 text-align-center">Username</div>
                    <div class="col-sm-2 text-align-center">Status</div>
                    <div class="col-sm-2 text-align-center">Monthly Instance Budget
                        <div class="row">
                            <div class="col-sm-6 text-align-center">Quota</div>
                            <div class="col-sm-6 text-align-center">Used</div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-align-center">Monthly Storage Budget
                        <div class="row">
                            <div class="col-sm-6 text-align-center">Quota</div>
                            <div class="col-sm-6 text-align-center">Used</div>
                        </div></div>
                    <div class="col-sm-2 text-align-center">Storage
                        <div class="row">
                            <div class="col-sm-6 text-align-center">Quota</div>
                            <div class="col-sm-6 text-align-center">Used</div>
                        </div>
                    </div>
                </div>

                <div class="row row-users height85">
                    <div class="col-sm-12 users-list"></div>
                </div>

                <div class="row row-user" style="display: none">
                    <div class="col-sm-2 name"></div>
                    <div class="col-sm-2 username"></div>
                    <div class="col-sm-2 status"></div>
                    <div class="col-sm-1 monthlyInstanceBudget"></div>
                    <div class="col-sm-1 monthlyInstanceSpending"></div>
                    <div class="col-sm-1 monthlyStorageBudget"></div>
                    <div class="col-sm-1 monthlyStorageSpending"></div>
                    <div class="col-sm-1 storageQuota"></div>
                    <div class="col-sm-1 storageUsed"></div>
                </div>

            </div>
        </div>

        <div class="row height10 summary p-t-1">
            <div class="col-sm-12">

                <div class="row row-totals">
                    <div class="col-sm-6 totals text-align-right">Totals</div>
                    <div class="col-sm-1 monthlyInstanceBudget text-align-center">23</div>
                    <div class="col-sm-1 monthlyInstanceSpending text-align-center">2</div>
                    <div class="col-sm-1 monthlyStorageBudget text-align-center">3232</div>
                    <div class="col-sm-1 monthlyStorageSpending text-align-center">32</div>
                    <div class="col-sm-1 storageQuota text-align-center">4523</div>
                    <div class="col-sm-1 storageUsed text-align-center">543.54</div>
                </div>

            </div>
        </div>

    </div>

</div>