.panel {
    min-height: 40rem;
    width: 40rem;
}

.inputComponent {
    max-width: 20rem;
}

.loadingProgress {
    margin-top: 5rem;
}

.selectedBandSetSpec {
    background-color: hsl(40, 8%, 15%) !important;
}

.selectedBandSetSpec .widget {
    margin: .5rem 0;
}
