.panel {
    min-height: 30rem;
    max-width: 25rem;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    border-radius: var(--button-border-radius);
    padding: .25rem .5rem;
}

.list li:last-child {
    margin-bottom: 0;
}

.imageInfo {
    word-break: break-all;
}

.imageButtons {

}
