.panel {
    min-height: 40rem;
    width: 40rem;
}

.inputComponent {
    max-width: 20rem;
}

.loadingProgress {
    margin-top: 5rem;
}


.bandSetSpecEditor {
    /*background-color: hsl(40, 8%, 16%);*/
    /*padding: .25rem .5rem;*/
    /*margin-bottom: .5rem;*/
}

.edit {
    background-color: hsl(40, 8%, 15%) !important;
}

.bandSetSpecEditor .widget {
    /*margin: .5rem 0;*/
}

.bandSetSpecValue {

}
