<footer class="site-footer" id="footer">

    <div class="height100 width100">
        <div class="row height100 site-footer-inner">

            <div class="col-6 dashboard-links height100">
                <button class="btn bg-tasks circle btn-tasks" data-section-target="tasks">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                </button>
                <button class="btn bg-users circle btn-notifications" data-section-target="notifications">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </button>
                <button class="btn bg-users circle btn-messages" data-section-target="messages">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </button>
                <button class="btn bg-users circle btn-users" data-section-target="users">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </button>
                <button class="btn bg-users circle" onclick="location='https://github.com/openforis/sepal/wiki'">
                    <i class="fa fa-question" aria-hidden="true"></i>
                </button>
            </div>

            <div class="col-6 text-align-right section-user height100">
                <span class="hourly-cost"></span>
                <span class="budget-exceeded"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Budget exceeded</span>

                <button class="btn btn-base round btn-user p-x-1 p-y-0-5">
                    <i class="fa fa-user" aria-hidden="true"></i> <span class="username"/>
                </button>
                <button class="btn btn-base round btn-logout p-x-1 p-y-0-5">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                </button>
            </div>

        </div>
    </div>

    <div class="sepal-logo">
        <h2>
            <div>S</div><div>E</div><div>P</div><div>A</div><div>L</div>
        </h2>
    </div>

</footer>