.sepal-logo {
  position: absolute;
  width: 30%;
  left: 35%;
  bottom: 5px;
  text-align: center;
  opacity: .5;

  h2 {
    font-size: 17px;
    font-weight: 300;

    @media (min-width: 992px) {
      letter-spacing: 5px;
      font-size: 25px;
    }

    @media (min-width: 1200px) {
      font-size: 32px;
    }

    div {
      border: .15rem solid rgba(255, 255, 255, 0.1);
      padding: .4rem 1rem;
      margin-right: .1rem;
      border-radius: 50%;
      width: 3rem !important;
      height: 3rem !important;
      font-size: 1.5rem;
      text-align: center;
      /* display: inline-block; */
      display: none;
      background-color: rgba(255, 255, 255, 0.05);
      font-weight: 300;
    }
  }

}