<div class="row row-layer">

    <!--<div class="col-sm-1">-->
        <!--<button class="btn btn-base circle btn-sort">-->
            <!--<i class="fa fa-ellipsis-v" aria-hidden="true"></i>-->
        <!--</button>-->
    <!--</div>-->

    <!--<div class="col-sm-1">-->
        <!--<button class="btn btn-base circle btn-visibility">-->
            <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
        <!--</button>-->
    <!--</div>-->

    <div class="col-sm-3 text-align-center no-padding col-buttons">
        <button class="btn btn-base circle btn-sort">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>

        <button class="btn btn-base circle btn-visibility">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-sm-6 name">

    </div>
</div>