services:
  email-redis:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    image: "redis:6"
    container_name: email-redis
    volumes:
      - "${SEPAL_DATA_DIR}/email-redis:/data"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      start_period: 60s
      start_interval: 1s
      interval: 20s
      timeout: 5s
      retries: 3
    networks:
      - sepal
    restart: always

  email:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    build:
      context: ../..
      dockerfile: ./modules/email/Dockerfile
      ulimits:
        nofile:
          soft: 65536
          hard: 65536
    image: "${DOCKER_REGISTRY_HOST:-localhost}/openforis/email:${SEPAL_VERSION:-latest}"
    container_name: email
    init: true
    environment:
      DEPLOY_ENVIRONMENT: "${DEPLOY_ENVIRONMENT}"
      SEPAL_HOST: "${SEPAL_HOST}"
      SEPAL_ADMIN_PASSWORD: "${SEPAL_ADMIN_PASSWORD}"
      RABBITMQ_HOST: "rabbitmq"
      RABBITMQ_PORT: "5672"
      SMTP_HOST: "${SMTP_HOST}"
      SMTP_PORT: "${SMTP_PORT}"
      SMTP_SECURE: "false"
      SMTP_USERNAME: "${SMTP_USERNAME}"
      SMTP_PASSWORD: "${SMTP_PASSWORD}"
      SMTP_FROM_DOMAIN: "${SMTP_FROM_DOMAIN}"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "80"]
      start_period: 60s
      start_interval: 1s
      interval: 20s
      timeout: 5s
      retries: 3
    networks:
      - sepal
    restart: always
    ulimits:
      core: 0

networks:
  sepal:
    external: true
