.container {
    position: relative;
}

.container input.fakePlaceholder::placeholder {
    font-style: inherit;
    color: #fff;
}

.popup {
    --vertical-margin-from-element: .25rem;
    background-color: var(--panel-default-background-color);
    border: var(--selected-panel-border-width) solid var(--selected-panel-border-color);
    padding: .75rem;
    margin: 0;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, .25);
}

.placement-above {
    margin-bottom: var(--vertical-margin-from-element);
}

.placement-below {
    margin-top: var(--vertical-margin-from-element);
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.fill {
    justify-content: space-between;
    flex-grow: 1;
}

.content > *:not(:first-child) {
    margin-left: .5rem;
}
