.panel {
    width: 25rem;
}

.header {
    background-color: rgba(255, 0, 0, .3);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    padding: .25rem .5rem;
}
