.dragHandle {
    width: 1rem;
    height: 100%;
    cursor: grab;
}

.dragHandle::before {
    content: '.. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..';
    position: absolute;
    display: flex;
    align-items: center;
    width: 1rem;
    top: .5rem;
    bottom: .5rem;
    left: .25rem;
    overflow: hidden;
    line-height: .4rem;
    color: rgb(40%, 40%, 40%);
}

.clickable {
    cursor: pointer;
}

.draggable {
    position: relative;
    cursor: grab;
}

.dragging.original {
    opacity: 0;
}

.dragging.original::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.dragging.clone {
    opacity: 1;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, 1);
}

.dragging.original.hidden {
    position: absolute;
    opacity: 0;
}

.draggableContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: all;
    cursor: grabbing;
}

.draggableClone {
    position: absolute;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    display: flex;
}

.draggableClone::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    pointer-events: all;
    cursor: grabbing;
}
