.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    will-change: transform;
}

.scrollable {
    --margin-top: 0;
    --margin-bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: calc(1px * var(--margin-top));
    padding-bottom: calc(1px * var(--margin-bottom));
}
