.floatingButton {
    --right: 2.5rem;
    --bottom: 3.5rem;
    position: absolute;
    right: var(--right);
    bottom: var(--bottom);
    z-index: 1;
    /* box-shadow: 0 0 1.5rem .3rem hsla(0, 0%, 0%, .6); */
    box-shadow: 0 0 2rem .3rem black;
}

@media only screen and (max-width: 500px) {
    .floatingButton {
        --right: 1.5rem;
    }
}
