.variant-error {
    color: var(--error-color);
}

.variant-info {
    color: var(--info-color);
}

.variant-success {
    color: var(--success-color);
}

.variant-warning {
    color: var(--warning-color);
}

.dimmed {
    opacity: .6;
}
