.label {
    --label-color: hsl(0, 0%, 70%);
    --small-font-size: .7rem;
    --normal-font-size: .8rem;
    --large-font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: var(--font-size);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--label-color);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label.small {
    --font-size: var(--small-font-size);
}

.label.normal {
    --font-size: var(--normal-font-size);
}

.label.large {
    --font-size: var(--large-font-size);
}

.label.disabled {
    opacity: .3;
}

.label.left {
    text-align: left;
}

.label.center {
    text-align: center;
}

.label.right {
    text-align: right;
}

.label .info {
    margin-left: .5rem;
}

.label .info:hover {
    color: #e0e0e0;
}

.error {
    color: var(--error-color);
    margin-right: .25rem;
}
