
.layout {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: fit-content;
    overflow: hidden;
    /* horizontal spacing */
    --horizontal-spacing-loose: 1.5rem;
    --horizontal-spacing-normal: 1rem;
    --horizontal-spacing-compact: .5rem;
    --horizontal-spacing-tight: 3px; /* under .5rem spacing is not reliable */
    /* vertical spacing */
    --vertical-spacing-loose: 3rem;
    --vertical-spacing-normal: 2rem;
    --vertical-spacing-compact: 1rem;
    --vertical-spacing-tight: .5rem;
}

.layout > .content {
    display: flex;
    flex-grow: 1;
    /* overflow: hidden; */
}

/* framed */

.layout.framed {
    padding: .75rem;
    border: 1px solid var(--section-wireframe-color);
    border-radius: var(--section-border-radius);
}

.layout.framed::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, .05);
    pointer-events: none;
}

/* vertical */

.layout.vertical {
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-between;
}

.layout.vertical > .content {
    flex-direction: column;
}

/* vertical/spacing */

.layout.vertical.spacing-loose > .content > * + * {
    margin-top: var(--vertical-spacing-loose);
}

.layout.vertical.spacing-normal > .content > * + * {
    margin-top: var(--vertical-spacing-normal);
}

.layout.vertical.spacing-normal-separated > .content > * + * {
    margin-top: var(--vertical-spacing-normal);
    overflow: visible;
}

.layout.vertical.spacing-normal-separated > .content > * + *::before {
    content: '';
    position: absolute;
    top: calc(-.5 * var(--vertical-spacing-normal));
    height: 1px;
    left: 0;
    right: 0;
    background-color: var(--wireframe-color);
}

.layout.vertical.spacing-compact > .content > * + * {
    margin-top: var(--vertical-spacing-compact);
}

.layout.vertical.spacing-compact-separated > .content > * + * {
    margin-top: var(--vertical-spacing-compact);
    overflow: visible;
}

.layout.vertical.spacing-compact-separated > .content > * + *::before {
    content: '';
    position: absolute;
    top: calc(-.5 * var(--vertical-spacing-compact));
    height: 1px;
    left: 0;
    right: 0;
    background-color: var(--wireframe-color);
}

.layout.vertical.spacing-tight > .content > * + * {
    margin-top: var(--vertical-spacing-tight);
}

.layout.vertical.spacing-none > .content > * + * {
    margin-top: 0;
}

/* vertical/alignment */

.layout.vertical.alignment-left > .content {
    align-items: flex-start;
}

.layout.vertical.alignment-center > .content {
    align-items: center;
}

.layout.vertical.alignment-right > .content {
    align-items: flex-end;
}

.layout.vertical.alignment-spaced > .content {
    align-items: space-between;
}

.layout.vertical.alignment-fill > .content > * {
    width: auto;
}

/* vertical/fill, vertical/scrollable */

.layout.vertical.fill,
.layout.vertical.scrollable {
    flex-grow: 1;
    flex-shrink: 1;
}

.layout.vertical.scrollable > .content {
    overflow-y: scroll;
}

/* horizontal */

.layout.horizontal {
    flex-direction: column;
}

.layout.horizontal > .content {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; /* required */
}

/* horizontal/spacing */

.layout.horizontal.spacing-loose > .content > * {
    margin-bottom: var(--horizontal-spacing-loose);
    margin-right: var(--horizontal-spacing-loose);
}

.layout.horizontal.spacing-normal > .content > * {
    margin-bottom: var(--horizontal-spacing-normal);
    margin-right: var(--horizontal-spacing-normal);
}

.layout.horizontal.spacing-compact > .content > * {
    margin-bottom: var(--horizontal-spacing-compact);
    margin-right: var(--horizontal-spacing-compact);
}

.layout.horizontal.spacing-tight > .content > * {
    margin-bottom: var(--horizontal-spacing-tight);
    margin-right: var(--horizontal-spacing-tight);
}

.layout.horizontal.spacing-none > .content > * {
    margin-bottom: 0;
    margin-right: 0;
}

/* horizontal/spacing: compensate bottom margin */

.layout.horizontal.spacing-loose > .content {
    margin-bottom: calc(-1 * var(--horizontal-spacing-loose));
}

.layout.horizontal.spacing-normal > .content {
    margin-bottom: calc(-1 * var(--horizontal-spacing-normal));
}

.layout.horizontal.spacing-compact > .content {
    margin-bottom: calc(-1 * var(--horizontal-spacing-compact));
}

.layout.horizontal.spacing-tight > .content {
    margin-bottom: calc(-1 * var(--horizontal-spacing-tight));
}

.layout.horizontal.spacing-none > .content {
    margin-bottom: 0;
}

/* horizontal: compensate right margin */

.layout.horizontal > .content > *:last-child {
    margin-right: 0;
}
 
/* horizontal/alignment */

.layout.horizontal.alignment-left > .content {
    justify-content: flex-start;
}

.layout.horizontal.alignment-center > .content {
    justify-content: center;
}

.layout.horizontal.alignment-right > .content {
    justify-content: flex-end;
}

.layout.horizontal.alignment-spaced > .content {
    justify-content: space-between;
}

.layout.horizontal.alignment-fill > .content > * {
    flex-grow: 1;
}

.layout.horizontal.alignment-distribute > .content > * {
    flex-grow: 1;
    flex-basis: 0;
}

/* horizontal/wrap */

.layout.horizontal.nowrap > .content {
    flex-wrap: nowrap;
}

/* horizontal/misc */

.layout.horizontal .layout.horizontal > .content > *:last-child {
    margin-right: 0;
}

.spacer {
    display: flex;
    flex-grow: 1;
}
