.options {
    z-index: 2;
    border: 1px solid var(--divider-color);
    scrollbar-width: none; /* Hides scrollbars in Firefox */
}

.options::-webkit-scrollbar {
    display: none !important;
}

.options ul {
    --scrollable-container-height: 0;
    margin: calc(var(--scrollable-container-height) / 2 * 1px) 0;
    padding: 0;
    list-style: none;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: var(--list-header-background-color);
    border-bottom: 1px solid var(--list-header-border-color);
    z-index: 1;
}

.options .separator {
    border-bottom: 1px solid var(--divider-color);
}

li {
    --indent: 0;
    margin-left: calc(var(--indent) * 1rem);
}
