.options {
    z-index: 2;
    border: 1px solid #333;
    scrollbar-width: none; /* Hides scrollbars in Firefox */
}

.options::-webkit-scrollbar {
    display: none !important;
}

.options ul {
    --scrollable-container-height: 0;
    margin: calc(var(--scrollable-container-height) / 2 * 1px) 0;
    padding: 0;
    list-style: none;
}

.options .group {
    border: 0;
    padding: .35rem .75rem .15rem;
    height: 30px;
    font-size: .8rem;
    font-weight: 800;
    color: #c0c0c0;
    text-transform: uppercase;
    border-bottom: 1px solid #333;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #181818;
    border-bottom: 1px solid hsl(0, 0%, 10%);
    z-index: 1;
}

.options .separator {
    border-bottom: 1px solid #333;
}
