.menu {
    background-color: rgba(26, 26, 27, 0.91);
    padding: 0;   
    border: var(--wireframe);
    border-radius: ;
    list-style-type: none;
}

.item {  
    font-size: 0.8rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.item:hover {
    background-color: hsl(var(--selected-hue), var(--selected-sat), 26%);
}
