.menu {
    margin-top: .5rem;
    padding: 0;
    border: var(--wireframe);
    list-style-type: none;
    background-color: var(--panel-default-background-color);
}

.item {  
    font-size: .8rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.item:hover {
    background-color: var(--look-highlight-hover-background-color);
}
