.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    padding: .5rem;
    padding-bottom: 0;
}

.scrollable {
    pointer-events: none;
}

.wrapper {
    pointer-events: all; /* prevent unwanted clicks in the inter-notification margin */
}

.wrapper .notification {
    margin-bottom: .5rem;
}

.notification {
    --error-color: hsl(0, 60%, 40%);
    --info-color: hsl(202, 60%, 40%);
    --warning-color: hsl(39, 60%, 40%);
    --success-color: hsl(90, 60%, 35%);
    --background-opacity: .85;
    position: relative;
    width: 20rem;
    pointer-events: all;
    background-color: hsla(0, 0%, 0%, var(--background-opacity));
    border-style: solid;
    border-width: .5rem .1rem .1rem .1rem;
    border-color: var(--color);
    border-radius: var(--container-border-radius);
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    user-select: none;
}

.notification.adding {
    pointer-events: none;
    animation: add var(--publish-animation-duration-ms) ease-in-out normal forwards;
}

@keyframes add {
    0% {
        transform: translateX(100%);
        margin-top: -100%;
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: none;
        margin-top: 0;
        opacity: 1;
    }
}

.notification.removing {
    pointer-events: none;
    animation: remove var(--dismiss-animation-duration-ms) ease-out normal forwards;
}

@keyframes remove {
    0% {
        transform: none;
        margin-top: 0;
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        margin-top: -100%;
        opacity: 0;
    }
}

.notification.success {
    --color: var(--success-color);
}

.notification.info {
    --color: var(--info-color);
}

.notification.warning {
    --color: var(--warning-color);
}

.notification.error {
    --color: var(--error-color);
}

.notification.dismissable:hover {
    --background-opacity: .9;
    cursor: pointer;
}

.notification .dismiss {
    text-align: center;
    font-size: .8rem;
    color: gray;
}

.notification .autoDismiss {
    position: relative;
    height: 1px;
    background-color: #303030;
}

.notification .autoDismiss::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #606060;
    animation: autoDismiss var(--auto-dismiss-timeout-s) linear;
}

@keyframes autoDismiss {
    0% {
        right: 100%;
    }
    100% {
        right: 0%;
    }
}

.notification .title {
    color: var(--color);
    font-weight: bold;
}

.notification .message {
    color: #ccc;
}

.notification .error {
    color: #ccc;
    font-size: .9rem;
}

.notification .content {
    color: #ccc;
    padding: .5rem 0;
}

.notification > * {
    margin: .5rem .8rem;
}
