/* container */

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: min-content;
}

.container.disabled {
    opacity: var(--look-disabled-opacity);
}

.container.disabled::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color: var(--panel-default-overlay-color); */
    z-index: 1;
    pointer-events: all;
}

/* make sure disabled overlay is only applied once */
.container.disabled .container.disabled::before {
    display: none !important;
}

.container.clickable:not(.disabled) {
    cursor: pointer;
}

.container.scrollable {
    flex-shrink: 1;
    flex-grow: 1;
}

.label {
    margin-bottom: .5rem;
}

/* widget */

.widget {
    position: relative;
}

/* widget border */

.widget.border {
    --input-border-default-color: #606060;
    --input-border-hover-color: #b0b0b0;
    --input-border-focus-color: #a0a0a0;
    border-bottom: 1px solid var(--input-border-color);
    transition: 100ms ease-in-out;
}

.widget.border.normal {
    --input-border-color: var(--input-border-default-color);
}

.widget.border.normal:focus-within {
    --input-border-color: var(--input-border-focus-color);
}

.widget.border.normal:hover,
.widget.border.normal:hover {
    --input-border-color: var(--input-border-hover-color);
}

.widget.border.error {
    --input-border-color: #e81351;
}

/* widget state */

.widget.error {
    --error-background-color: rgba(232, 19, 81, 0.1);
    background-color: var(--error-background-color);
}

.widget.busy::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    z-index: 2; /* make sure busy spinner is above the overlay */
    background-color: #c0c0c0;
    mix-blend-mode: screen;
    animation: busy 600ms linear infinite alternate;
}

@keyframes busy {
    0% {
        left: 0;
        right: 100%;
    }
    10% {
        left: 0;
        right: 100%;
    }
    50% {
        left: 30%;
        right: 30%;
    }
    90% {
        left: 100%;
        right: 0%;
    }
    100% {
        left: 100%;
        right: 0%;
    }
}
