<div class="row height100">

    <div class="col-md-12 height100">

        <form action="/api/login" method="POST">
            <fieldset class="form-group">
                <label for="user">User</label>
                <input type="text" class="form-control form-control-lg" id="user" name="user" placeholder="Enter your user name">
            </fieldset>
            <fieldset class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password">
            </fieldset>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>

    </div>

</div>
