<div class="row height100" id="sectionLogin">

    <div class="col-md-12 height100">


        <div class="site-bg">
            <div class="site-bg-img"></div>
            <div class="site-bg-overlay"></div>
            <canvas class="site-bg-canvas layer" data-depth=".30"></canvas>
            <div class="parallax-slider" />
        </div>

        <div id="login" class="section">
            <div class="section-table">
                <div class="section-cell">
                    <div class="container login-container">

                        <!-- section heading -->
                        <div class="section-heading row">
                            <div class="col-xs-12 col-sm-5">
                                <div class="overflow-hidden">
                                    <div class="animation-item"
                                         data-animation-in="fadeInUp"
                                         data-animation-in-delay="1000"
                                         data-animation-out="fadeOutDown"
                                         data-animation-out-delay="600">
                                        <p class="section-caption">
                                            System for earth observations, data access, processing & analysis for land
                                            monitoring
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 offset-sm-1">
                                <div class="overflow-hidden">
                                    <div class="animation-item"
                                         data-animation-in="fadeInUp"
                                         data-animation-in-delay="0"
                                         data-animation-out="fadeOutDown"
                                         data-animation-out-delay="400">
                                        <h2 class="section-title m-t-3">
                                            SEPAL
                                        </h2>
                                        <div class="hr"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /section heading -->

                        <!-- section content -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-4">
                                <div class="overflow-hidden">
                                    <div class="animation-item"
                                         data-animation-in="fadeInLeft"
                                         data-animation-in-delay="100"
                                         data-animation-out="fadeOutLeft"
                                         data-animation-out-delay="100">
                                        <div class="login-info_item">
                                            <i class="fa fa-globe bg-search" aria-hidden="true"></i>
                                            <h3 class="">Search geo data</h3>
                                            <p>Fast and easy access to scenes and mosaics</p>
                                        </div>
                                        <div class="login-info_item">
                                            <i class="fa fa-folder-open bg-browse" aria-hidden="true"></i>
                                            <h3 class="">Browse your data</h3>
                                            <p>Preview and download your products</p>
                                        </div>
                                        <div class="login-info_item">
                                            <i class="fa fa-wrench bg-process" aria-hidden="true"></i>
                                            <h3 class="">Process your data</h3>
                                            <p>Easy-to-use data processing Apps</p>
                                        </div>
                                        <div class="login-info_item">
                                            <i class="fa fa-terminal bg-terminal" aria-hidden="true"></i>
                                            <h3 class="">Terminal</h3>
                                            <p>Powerful command-line tools for data processing</p>
                                            <p></p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 offset-sm-1">
                                <div class="overflow-hidden">
                                    <div class="animation-item"
                                         data-animation-in="fadeInRight"
                                         data-animation-in-delay="1500"
                                         data-animation-out="fadeOutRight"
                                         data-animation-out-delay="500">
                                        <!-- Login form -->
                                        <form class="form-theme" id="formLogin">
                                            <input type="hidden" name="invitationId" />
                                            <div class="row">
                                                <div class="col-sm-12 username-section">
                                                    <div class="form-group">
                                                        <label class="form-label" for="user">Username</label>
                                                        <input type="text" class="form-control form-control-lg"
                                                               id="user" name="user" placeholder="Enter your user name"
                                                               autocomplete="off"
                                                               data-type="string" data-error-message="Invalid username">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 password-section">
                                                    <div class="form-group">
                                                        <label class="form-label" for="password">Password</label>
                                                        <input type="password" class="form-control form-control-lg"
                                                               id="password" name="password" placeholder="Enter your password"
                                                               data-type="password" data-error-message="Invalid password">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 password2-section">
                                                    <div class="form-group">
                                                        <label class="form-label" for="password2">Repeat Password</label>
                                                        <input type="password" class="form-control form-control-lg"
                                                               id="password2" name="password2" placeholder="Confirm your password"
                                                               data-type="password" data-error-message="Invalid password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 p-l-2 form-notify form-error" />
                                                <div class="col-sm-12 m-t-1">
                                                    <button type="submit" class="btn btn-theme round icon">
                                                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12  p-t-0-5 p-l-2">
                                                    <a class="btn-forgot-pwd"><i class="fa fa-question-circle" aria-hidden="true"></i> Forgot password</a>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /Login form -->

                                        <!-- Forgot pwd form -->
                                        <form class="form-theme" id="form-forgot-pwd">
                                            <div class="row">
                                                <div class="col-sm-12 username-section">
                                                    <div class="form-group">
                                                        <label class="form-label" >
                                                            Forgot your password&nbsp;
                                                            <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1rem;font-weight: bold"></i>
                                                        </label>
                                                        <input type="text" class="form-control form-control-lg"
                                                               name="email" placeholder="Enter your email"
                                                               autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-sm-12 p-l-2 form-notify form-error" />

                                                <div class="col-sm-12 m-t-1">
                                                    <button type="submit" class="btn btn-theme round icon">
                                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Request a new one
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /Forgot pwd form -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /section content -->
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
