services:
  app-manager:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    build:
      context: ../..
      dockerfile: ./modules/app-manager/Dockerfile
      ulimits:
        nofile:
          soft: 65536
          hard: 65536
    image: "${DOCKER_REGISTRY_HOST:-localhost}/openforis/app-manager:${SEPAL_VERSION:-latest}"
    container_name: app-manager
    init: true
    volumes:
      - "${SEPAL_DATA_DIR}/sepal/shiny:/shiny"
      - "${SEPAL_DATA_DIR}/sepal/jupyter:/usr/local/share/jupyter"
      - "${SEPAL_DATA_DIR}/app-manager/apps.json:/var/lib/sepal/app-manager/apps.json"
      - "${SEPAL_DATA_DIR}/sepal/shared/apps:/var/lib/sepal/app-manager/apps"
      - "${SEPAL_DATA_DIR}/app-manager/images:/var/lib/sepal/app-manager/images"
    environment:
      DEPLOY_ENVIRONMENT: "${DEPLOY_ENVIRONMENT}"
    networks:
      - sepal
    healthcheck:
      test: bash -c "exec 6<> /dev/tcp/localhost/5011"
      timeout: 60s
      interval: 1s
      retries: 60
    restart: always
    ulimits:
      core: 0
    platform: linux/amd64 # Required for macOS builds

networks:
  sepal:
    external: true
