.notifications {
  outline: none !important;

  p, ul, ol {
    margin-bottom: 0 !important;
  }

  blockquote {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-left: 10px solid rgba(255, 255, 255, 0.1);
    margin: 1.5em 40px;
    padding: 10px 30px 10px 20px;
    width: fit-content;
  }

  blockquote:before {
    content: open-quote;
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 5px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote:after {
    content: close-quote;
    position: absolute;
    visibility: hidden;
  }

  blockquote p {
    margin-left: 10px;
  }

  .notification {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
  }

  .notification.unread {
    .header {
      background-color: rgba(255, 0, 0, 0.05);
    }
  }

  .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  .subject {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .contents {
    font-size: 12px;
    padding: 15px;
  }

  .date {
    font-size: 12px;
    flex-shrink: 0;
  }

  .empty {
    font-style: italic;
    text-align: right;
    margin-top: 50px;
  }
}