<div id="scene-images-selection" class="row height100">

    <div class="col-xs-12 col-sm-12 col-md-12 height100">
        <div class="row height100">

            <!--<div class="col-sm-3 height100 details">-->

            <!--<div class="detail sensor">-->
            <!--<div class="header">-->
            <!--<i class="fa fa-rocket" aria-hidden="true"></i> Sensor-->
            <!--</div>-->
            <!--<div class="value">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="detail cloud-cover">-->
            <!--<div class="header">-->
            <!--<i class="fa fa-cloud" aria-hidden="true"></i> Cloud cover-->
            <!--</div>-->
            <!--<div class="value">-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="detail acquisition-date">-->
            <!--<div class="header">-->
            <!--<i class="fa fa-calendar" aria-hidden="true"></i> Acquisition date-->
            <!--</div>-->
            <!--<div class="value">-->
            <!--</div>-->
            <!--</div>-->


            <!--</div>-->

            <div class="col-sm-6 height100 selection-section">
                <div class="row height100 images-section">

                </div>

            </div>
            <div class="col-sm-6 height100 selected-section">

                <!--<div id="scene-area-carousel" class="carousel slide">-->
                    <!--<div class="carousel-inner height100" role="listbox">-->
                        <!--&lt;!&ndash;<div class="carousel-item item active height100 bg-search-l">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div id="scene-area-buttons">-->
                <!--<button type="button" class="btn btn-base circle icon add-btn">-->
                <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                <!--Add-->
                <!--</button>-->
                <!--</div>-->
            </div>
            <!--<div class="col-sm-4 height100 summary">-->

            <!--</div>-->
        </div>

    </div>


    <div class="col-sm-6 height50 image-section" style="display: none">
        <div class="row">
            <div class="col-sm-10 image">

            </div>
            <div class="col-sm-2 image-attributes">

            </div>

        </div>
    </div>

</div>