<div id="scene-images-selection" class="row height100">

    <div class="col-sm-6 height100 selection-section">

        <div class="row height10">
            <div class="col-sm-12 filter-section">
            </div>
        </div>

        <div class="row height90 expanded-image-section">
            <div class="col-sm-12 height100 width100">
                <div class="image-section-container width100 height100">
                    <div class="row height10">
                        <div class="col-sm-12 cloud-cover text-align-center"></div>
                    </div>
                    <div class="row height10">
                        <div class="col-sm-12 sensor text-align-center"></div>
                    </div>
                    <div class="row height80">
                        <div class="col-sm-12 text-align-center image">
                            <img/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row height90 images-section"></div>

    </div>

    <div class="col-sm-6 height100 selected-section">
        <div class="row section-header height5">
            <div class="col-sm-12 text-align-center"><h4>Selected Images</h4></div>
        </div>

        <div class="row table-header height5">
            <div class="col-sm-4"></div>
            <div class="col-sm-3 cloud-cover text-align-center"><i class="fa fa-cloud" aria-hidden="true"></i></div>
            <div class="col-sm-3 sensor text-align-center"><i class="fa fa-rocket" aria-hidden="true"></i></div>
            <div class="col-sm-2 remove"></div>
        </div>

        <div class="row height90">
            <div class="col-sm-12 table-content">
            </div>
        </div>

        <div class="row table-row m-b-10" style="display: none"
             data-animation-in="bounceInLeft"
             data-animation-out="bounceOutLeft"
             data-animation-in-delay="100"
             data-animation-out-delay="50">
            <div class="col-sm-4 image text-align-center"><img/></div>
            <div class="col-sm-3 cloud-cover text-align-center"></div>
            <div class="col-sm-3 sensor text-align-center"></div>
            <div class="col-sm-2 button text-align-center">
                <a class="btn btn-base circle btn-remove"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>

    <div class="image-section" style="display: none"
         data-animation-in="bounceInRight"
         data-animation-out="bounceOutRight"
         data-animation-in-delay="50"
         data-animation-out-delay="50"
    >
        <div class="image-section-container">
            <img/>

            <div class="img-hover">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="image-attributes">
                <div class="sensor text-align-left"></div>
                <div class="cloud-cover text-align-left"></div>
                <a class="btn btn-base circle btn-add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>

</div>