<div id="scene-images-selection" class="row height100">

    <!--<div class="col-xs-12 col-sm-12 col-md-12 height100">-->

        <!--<div class="row height100">-->

            <div class="col-sm-6 height100 selection-section">

                <div class="row height10">
                    <!--<div class="col-sm-12 btn-images-section">-->
                        <!--<button class="btn btn-prev"><i class="fa fa-caret-up" aria-hidden="true"></i></button>-->
                    <!--</div>-->
                </div>


                <div class="row height90 expanded-image-section">
                    <div class="col-sm-12 height100 width100">
                        <div class="image-section-container width100 height100">
                            <div class="row height10">
                                <div class="col-sm-12 cloud-cover text-align-center"></div>
                            </div>
                            <div class="row height10">
                                <div class="col-sm-12 sensor text-align-center"></div>
                            </div>
                            <div class="row height80">
                                <div class="col-sm-12 text-align-center image">
                                    <img/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row height90 images-section">

                </div>

                <!--<div class="row height10 text-align-center">-->
                    <!--<div class="col-sm-12 btn-images-section">-->
                        <!--<button class="btn btn-next"><i class="fa fa-caret-down" aria-hidden="true"></i></button>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
            <div class="col-sm-6 height100 selected-section">

            </div>

        <!--</div>-->

    <!--</div>-->


    <div class="image-section" style="display: none">
        <div class="image-section-container">
            <img/>

            <div class="image-attributes">
                <div class="sensor text-align-center"></div>
                <div class="cloud-cover text-align-center"></div>
            </div>

        </div>
    </div>

</div>