#search-form .form-label {
    padding-bottom: 35px;
    border-bottom: 1px dotted rgba(255, 255, 255, .3);
}

/*#search-form .from-label,*/
/*#search-form .to-label,*/
/*#search-form .target-day-label {*/
    /*cursor: pointer;*/
/*}*/

#search-form .form-group-buttons {
    margin-top: 20px;
}

#search-form button > i {
    font-size: 1.2rem;
}

#search-form .form-notify {
    display: block;
    opacity: 0;
}
