<div id="search" class="row height100">

    <div class="col-xs-12 col-sm-12 col-md-12 height100">

        <form class="form-theme" id="search-form">
            <div class="row form-group">
                <label class="form-label col-sm-2" for="search-form-country">Country</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="search-form-country" name="country"
                           placeholder="Select a country">
                </div>
            </div>
            <div class="row form-group m-t-10">
                <label class="form-label col-sm-2 from-label">From</label>
                <div class="col-sm-10 from">
                </div>
            </div>
            <div class="row form-group m-t-10">
                <label class="form-label col-sm-2 to-label">To</label>
                <div class="col-sm-10 to">
                </div>
            </div>
            <div class="row form-group m-t-10">
                <label class="form-label col-sm-2 target-day-label">Target day</label>
                <div class="col-sm-10 target-day">
                </div>
            </div>


            <div class="row form-group form-group-buttons ">

                <div class="col-sm-12 text-align-center form-notify"
                     data-animation-in="fadeInUp" data-animation-in-delay="0" data-animation-out="fadeOutDown" data-animation-out-delay="0">
                </div>

                <!--<div class="col-sm-12 text-align-center">-->
                    <!--<button type="submit" class="btn btn-base round icon">-->
                        <!--<i class="fa fa-paper-plane" aria-hidden="true"></i>-->
                        <!--Search-->
                    <!--</button>-->
                <!--</div>-->
            </div>

        </form>

    </div>

</div>