<div id="search" class="row height100">

    <div class="col-xs-12 col-sm-12 col-md-12 height100 search-section">

        <form class="form-theme" id="search-form">
            <div class="row form-group">
                <label class="form-label col-sm-2" for="search-form-country">Country</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="search-form-country" name="country"
                           placeholder="Select a country">
                </div>
            </div>
            <div class="row form-group m-t-10">
                <label class="form-label col-sm-2 from-label">From</label>
                <div class="col-sm-10 from">
                </div>
            </div>
            <div class="row form-group m-t-10">
                <label class="form-label col-sm-2 to-label">To</label>
                <div class="col-sm-10 to">
                </div>
            </div>
            <div class="row form-group m-t-10">
                <label class="form-label col-sm-2 target-day-label">Target day</label>
                <div class="col-sm-10 target-day">
                </div>
            </div>


            <div class="row form-group form-group-buttons m-t-20">
                <div class="col-sm-12 text-align-center">
                    <button type="submit" class="btn btn-base circle icon">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                        <!--<i class="fa fa-circle-o" aria-hidden="true"></i>-->
                        Search
                    </button>
                </div>
            </div>
            <!--<div class="form-group required">-->
            <!--<label class="form-label" for="contactMessage">Message</label>-->
            <!--<textarea class="form-control" id="contactMessage" rows="4" name="message"></textarea>-->
            <!--</div>-->
            <div class="form-notify"></div>
        </form>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 height100 results-section">
        <div class="row height100">

            <!--<div class="col-sm-3 height100 details">-->

                <!--<div class="detail sensor">-->
                    <!--<div class="header">-->
                        <!--<i class="fa fa-rocket" aria-hidden="true"></i> Sensor-->
                    <!--</div>-->
                    <!--<div class="value">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="detail cloud-cover">-->
                    <!--<div class="header">-->
                        <!--<i class="fa fa-cloud" aria-hidden="true"></i> Cloud cover-->
                    <!--</div>-->
                    <!--<div class="value">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="detail acquisition-date">-->
                    <!--<div class="header">-->
                        <!--<i class="fa fa-calendar" aria-hidden="true"></i> Acquisition date-->
                    <!--</div>-->
                    <!--<div class="value">-->
                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->

            <div class="col-sm-6 height100 selection">

                <div id="scene-area-carousel" class="carousel slide">
                    <div class="carousel-inner height100" role="listbox">
                        <!--<div class="carousel-item item active height100 bg-search-l">-->
                        <!--</div>-->
                    </div>
                </div>

                <!--<div id="scene-area-buttons">-->
                    <!--<button type="button" class="btn btn-base circle icon add-btn">-->
                        <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                        <!--Add-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="col-sm-6 height100 selection">

                <div id="scene-area-carousel1" class="carousel slide">
                    <div class="carousel-inner height100" role="listbox">
                        <!--<div class="carousel-item item active height100 bg-search-l">-->
                        <!--</div>-->
                    </div>
                </div>

                <!--<div id="scene-area-buttons">-->
                <!--<button type="button" class="btn btn-base circle icon add-btn">-->
                <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                <!--Add-->
                <!--</button>-->
                <!--</div>-->
            </div>
            <!--<div class="col-sm-4 height100 summary">-->

            <!--</div>-->
        </div>

    </div>

</div>