dn: uid=<user>,<usuffix>,<suffix>
objectClass: account
objectClass: posixAccount
objectClass: ldapPublicKey
cn: <user>
uid: <user>
uidNumber: <uid>
gidNumber: <gid>
homeDirectory: <home>
loginShell: <shell>
gecos: <user>
description: User account
