html {
    --secondary-text-color: #e8edf0;
    --header-font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body, input, textarea, select, button, a, label {
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    color: #fff;
}

input::placeholder {
    font-style: italic;
    color: #6c757d;
}

:focus, :active, :focus:active {
    outline: 0 !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

.app {
    height: 100%
}