
.errorPanel {
    border-radius: 3rem;
    background-color: rgba(187, 192, 195, 0.05);
    text-align: center;
    padding: 2rem;
}

.errorPanel button {
    border-radius: 50px;
    border: 2px solid hsla(0, 0%, 100%, .25);
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    font-size: .8rem;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.05rem;
    position: relative;
    padding: .5rem 1rem;
    cursor: pointer;
    color: #fff;
}

.errorPanel button:hover {
    background-color: hsla(0, 0%, 100%, .1);
    border: 2px solid hsla(0, 0%, 100%, .25)
}

.errorPanel button:active {
    background-color: hsla(0, 0%, 100%, .15);
    border: 2px solid hsla(0, 0%, 100%, .40)
}

.errorPanel button:focus {
    border: 2px solid hsla(0, 0%, 100%, .25)
}