.wrapper {
    flex-grow: 1;
    display: flex;
    position: relative;
}

.point {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    border: var(--wireframe);
    padding: 1.5rem 1rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-areas:
        'year        observation'
        'fitted      fitted';
}

.year {
    grid-area: year;
}

.observation {
    grid-area: observation;
}

.fitted {
    grid-area: fitted;
}
