#search .mode-list-container {

  .row-header {
    font-weight: 400;
    align-items: center;
  }

  .row-list {

    .row {
      &.template {
        display: none;
      }
      border: 1px solid rgba(255, 255, 255, 0.15);
      padding-top: .5rem;
      padding-bottom: .5rem;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.05);
      margin-bottom: 0.5rem;

      .btn {
        padding: 0 !important;
        width: 2rem;
        height: 2rem;
      }
      &.active {
        border: 1px solid rgba(184, 162, 128, 0.7);
        background-color: rgba(184, 162, 128, 0.25);
      }
    }
  }

  .row-btns {
    align-items: center;
    > div{
      display: flex;
      justify-content: space-between;
    }
    .btn {
      i {
        font-size: 1rem;
      }
    }
  }

}