.container {
    align-items: center;
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    pointer-events: all;
}

.createButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipesTable {
    width: 61rem;
    max-width: 100%;
    padding: 0 1rem;
    /*flex-shrink: 0;*/
}


.recipeRows {
}

.recipesHeader {
    display: flex;
    flex-shrink: 0;
    padding: .5rem 1rem;
}

.recipe {
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .05);
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.recipe:hover {
    border: 1px solid hsla(36, 28%, 61%, .7);
    cursor: pointer;
}

.recipe:active {
    border: 1px solid hsla(36, 28%, 61%, .7);
    background-color: hsla(36, 28%, 61%, .15);
    cursor: pointer;
}

.name {
    flex-basis: 47%;
}

.type {
    flex-basis: 37%;
}

.duplicate {
    flex-basis: 8%;
    text-align: right;
}

.delete {
    flex-basis: 8%;
    text-align: right;
}
