.panel {
    max-width: 40rem;
    max-height: fit-content;
}

.panel.modal {
    width: 40rem;
}

.recipeTypes {
    overflow: auto;
}

.recipeTypes ul {
    list-style-type: none;
    padding: 0;
}

.recipeTypes li {
    margin-bottom: .5rem;
    border-radius: var(--container-border-radius);
    padding: .25rem .5rem;
    cursor: pointer;
}

.recipeTypes li .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipeTypes li + li {
    margin-top: .5rem;
}

.beta {
    margin-left: .5rem;
    font-size: .7rem;
    color: var(--warning-color);
}

.createButton button {
    --right: 2.5rem;
    --bottom: 7rem;
    position: absolute;
    right: var(--right);
    bottom: var(--bottom);
    box-shadow: .1rem .1rem 2rem .2rem hsla(0, 0%, 5%, .6);
    z-index: 1;
}

@media only screen and (max-width: 500px) {
    .createButton button {
        --right: 1rem;
        --bottom: 3.5rem;
    }
}
