.panel {
    --margin-right: 0.5rem; /* There is no toolbar - make margin-right shorter than the default centered panel */
    max-width: 40rem;
}

.panel.modal {
    width: 40rem;
}

.beta {
    margin-left: .5rem;
    font-size: .7rem;
    color: var(--warning-color);
}

.createButton button {
    --right: 2.5rem;
    --bottom: 1.5rem;
    position: absolute;
    right: var(--right);
    bottom: var(--bottom);
    box-shadow: .1rem .1rem 2rem .2rem hsla(0, 0%, 5%, .6);
    z-index: 1;
    pointer-events: all;
}

@media only screen and (max-width: 500px) {
    .createButton button {
        --right: 2.5rem;
        --bottom: 1.5rem;
    }
}
