.container {
    width: 100%;
    pointer-events: all;
}

.header {
    --margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin-top);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    .header {
        --margin-top: .5rem;
    }
}

.recipes {
    padding-bottom: 5rem;
}

.recipe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    border-radius: var(--button-border-radius);
    padding: .25rem .5rem;
    cursor: pointer;
}

.recipe:last-child {
    margin-bottom: 0;
}

.bottomBar {
    justify-content: center;
}

.search {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 17rem;
    margin-right: .5rem;
}

.search input {
    width: 100%;
    border: none;
}

.createAndSort {

}

.orderBy {
    flex-wrap: nowrap;
    display: flex;
    margin-left: .5rem;
}

.nameSort{
    margin-right: 2rem;
}

.sorted {
    color: var(--success-color);
}

.sortingHandle {
    margin-left: .5rem;
}
