.container {
    width: 100%;
    pointer-events: all;
}

.header {
    margin-bottom: 1rem !important;
}

.recipes {
    flex-shrink: 1;
}

.bottomBar {
    justify-content: center;
}

.search {
    width: 15rem;
    border: none;
}

.orderBy {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.name {
    word-wrap: break-word;
}

.nameSort {
    --nameSort-margin: 2rem;
    margin-left: var(--nameSort-margin);
}


@media only screen and (max-width: 500px) {
    .nameSort {
        --nameSort-margin: 1.5rem;
    }

    .updateTime {
        display: none;
    }
}

.sorted {
    color: var(--success-color);
}

.sortingHandle {
    margin-left: .5rem;
}

