.container {
    width: 100%;
    padding-top: 2rem;
    pointer-events: all;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.recipe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    border-radius: var(--button-border-radius);
    padding: .25rem .5rem;
    cursor: pointer;
}

.recipe:last-child {
    margin-bottom: 0;
}
