.panel {
    height: 30rem;
    width: 20rem;
}

.content {
    margin: 0;
    padding: 0;
}

.label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.date {

}

.fromNow {
    color: gray;
}
