.panel {
    min-height: 15rem;
    width: 24rem;
}

.content {
    padding: .5rem;
}

.label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.date {

}

.fromNow {
    color: gray;
}
