#search-retrieve {
  .active-mosaics {
    .active-mosaics-container {
      padding-bottom: .5rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0.05);
      border-radius: 0px !important;

      .active-mosaics-btns {
        padding-bottom: .5rem;
        text-align: center;
        word-spacing: .5rem;

        .mosaic-item {
          display: inline-flex;
          border-bottom: 3px solid rgba(255, 255, 255, 0.5);
          margin-right: 1rem;
          height: 2.5rem;

          .btn {
            &.btn-close {
              width: 1.5rem;
              height: 1.5rem;
              padding: 0 !important;
              border: none;
              color: rgba(255, 255, 255, 0.65);
            }

            &.btn-mosaic {
              background-color: transparent;
              border: none;
              padding: .7rem 1rem;
              font-weight: 600 !important;
              font-size: .85rem;
              text-transform: none!important;

              &:hover {
                background-color: rgba(255, 255, 255, 0.1);
              }
            }

            &.btn-save ,
            &.btn-zoom {
              width: 2rem;
              height: 100%;
              border: none;
            }
          }

          &.active {
            border-bottom: 3px solid #b8a280;
            background-color: rgba(184, 162, 128, 0.15);

            .btn-mosaic:hover {
              background-color: transparent;
              cursor: default;
            }
          }
        }

      }
    }

  }
}