<div class="row budget-check" id="budget-check">
    <div class="col-xs-6 offset-xs-3 resources">

        <div class="row row-budget-0">
            <div class="col-sm-12 p-t-1 p-b-2">
                <h5 class="width100 text-align-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please contact the administrator to get access to this section</h5>
            </div>
        </div>

        <div class="row row-budget-exceeded">
            <div class="col-sm-12 p-t-1 p-b-2">
                <h5 class="width100 text-align-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> You have exceeded your budget</h5>
            </div>
        </div>


        <!--<div class="row">-->
            <!--<div class="col-sm-12 p-t-2">-->
                <!--<h5 class="width100 text-align-center">Your current budget is: </h5>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row row-resources">
            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">Quota</div>
                    <div class="col-sm-3">Used</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Monthly Instance Budget</div>
                    <div class="col-sm-3 monthlyInstanceBudget"></div>
                    <div class="col-sm-3 monthlyInstanceSpending"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Monthly Storage Budget</div>
                    <div class="col-sm-3 monthlyStorageBudget"></div>
                    <div class="col-sm-3 monthlyStorageSpending"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Storage</div>
                    <div class="col-sm-3 storageQuota"></div>
                    <div class="col-sm-3 storageUsed"></div>
                </div>
            </div>
        </div>

    </div>
</div>