.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 150ms ease-in-out 0ms;
    --button-size: var(--menu-width);
    --icon-size: 1.1rem;
}

.menu .section {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.menu button:disabled:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, .5);
}


.menu button {
    position: relative;
    width: var(--button-size);
    height: var(--button-size);
    border: none;
    border-radius: 0 .25rem .25rem 0;
    margin-bottom: 1rem;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    --opacity: 1;
    --border-opacity: 0;
}

.menu .mode {
    opacity: 0;
}


.menu:hover .mode {
    opacity: 1;
}

.menu button svg {
    font-size: var(--icon-size);
    vertical-align: middle;
    text-align: right;
    transition: opacity 150ms ease-in-out 200ms;
}

.menu button:hover:not(:disabled) {
    color: white;
    cursor: pointer;
    --opacity: 1;
}

.menu button.active {
    --border-width: 3px;
    --border-opacity: 1;
    border-right: var(--border-width) solid transparent;
}

/* compensate icon position when border is active */
.menu button.active svg {
    margin-left: var(--border-width);
}

/* hide button icons when bar is hidden */
.menu.floating:not(:hover) button svg {
    opacity: 0;
}

.menu button.process {
    background-color: hsla(var(--section-process-color-h), var(--section-process-color-s), var(--section-process-color-l), var(--opacity));
    border-color: hsla(var(--section-process-color-h), var(--section-process-color-s), calc(var(--section-process-color-l) + 20%), var(--border-opacity));
}

.menu button.browse {
    background-color: hsla(var(--section-browse-color-h), var(--section-browse-color-s), var(--section-browse-color-l), var(--opacity));
    border-color: hsla(var(--section-browse-color-h), var(--section-browse-color-s), calc(var(--section-browse-color-l) + 20%), var(--border-opacity));
}

.menu button.terminal {
    background-color: hsla(var(--section-terminal-color-h), var(--section-terminal-color-s), var(--section-terminal-color-l), var(--opacity));
    border-color: hsla(var(--section-terminal-color-h), var(--section-terminal-color-s), calc(var(--section-terminal-color-l) + 20%), var(--border-opacity));
}

.menu button.app-launch-pad {
    background-color: hsla(var(--section-apps-color-h), var(--section-apps-color-s), var(--section-apps-color-l), var(--opacity));
    border-color: hsla(var(--section-apps-color-h), var(--section-apps-color-s), calc(var(--section-apps-color-l) + 20%), var(--border-opacity));
}

.menu button.tasks {
    /* background-color: hsla(197, 30%, 25%, var(--opacity));
    border-color: hsla(197, 60%, 45%, var(--border-opacity)); */
    background-color: hsla(var(--section-tasks-color-h), var(--section-tasks-color-s), var(--section-tasks-color-l), var(--opacity));
    border-color: hsla(var(--section-tasks-color-h), var(--section-tasks-color-s), calc(var(--section-tasks-color-l) + 20%), var(--border-opacity));
}

.menu button.users {
    /* background-color: hsla(0, 24%, 27%, var(--opacity));
    border-color: hsla(0, 24%, 47%, var(--border-opacity)); */
    background-color: hsla(var(--section-users-color-h), var(--section-users-color-s), var(--section-users-color-l), var(--opacity));
    border-color: hsla(var(--section-users-color-h), var(--section-users-color-s), calc(var(--section-users-color-l) + 20%), var(--border-opacity));
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}
