services:
  user-storage-redis:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    image: "redis:6"
    container_name: user-storage-redis
    volumes:
      - "${SEPAL_DATA_DIR}/user-storage-redis:/data"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      timeout: 60s
      interval: 1s
      retries: 60
    networks:
      - sepal
    restart: always

  user-storage:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    build:
      context: ../..
      dockerfile: ./modules/user-storage/Dockerfile
      ulimits:
        nofile:
          soft: 65536
          hard: 65536
    image: "${DOCKER_REGISTRY_HOST:-localhost}/openforis/user-storage:${SEPAL_VERSION:-latest}"
    container_name: user-storage
    init: true
    volumes:
      - "${SEPAL_DATA_DIR}/sepal/home:/sepalUsers"
    environment:
      DEPLOY_ENVIRONMENT: "${DEPLOY_ENVIRONMENT}"
      SEPAL_HOST: "${SEPAL_HOST}"
      SEPAL_ADMIN_PASSWORD: "${SEPAL_ADMIN_PASSWORD}"
      RABBITMQ_HOST: "${RABBITMQ_HOST:-rabbitmq}"
      RABBITMQ_PORT: "5672"
      MYSQL_HOST: "${MYSQL_HOST:-mysql}"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      SCAN_MIN_DELAY_SECONDS: "300"
      SCAN_MAX_DELAY_SECONDS: "86400"
      SCAN_DELAY_INCREASE_FACTOR: "2"
      SCAN_CONCURRENCY: "5"
      SCAN_MAX_RETRIES: "10"
      SCAN_INITIAL_RETRY_DELAY_SECONDS: "30"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "80"]
      timeout: 60s
      interval: 1s
      retries: 60
    networks:
      - sepal
    restart: always
    ulimits:
      core: 0
    platform: linux/amd64 # Required for macOS builds

networks:
  sepal:
    external: true
