.panel {
    max-width: fit-content;
}

.layoutButtons {
    display: flex;
    justify-content: center;
}

.layersListHeader {
    display: flex;
    justify-content: space-between;
}

.layerRow {
    display: flex;
}

.layerRow:not(:last-child) {
    margin-bottom: .5rem;
}

.layerGrip {
    cursor: move;
    max-width: .75rem;
    min-width: .75rem;
    background-image: linear-gradient(0deg, transparent 100%, var(--look-default-background-color)),
    linear-gradient(90deg, var(--look-default-hover-background-color), var(--look-default-background-color));
    background-size: .2rem .2rem, .2rem .2rem;
    background-position: 0 0, 0 .1rem;
}

.layer {
    flex-grow: 1;
}


.layerTitle {
    /*max-width: 15rem;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layerContent {
    height: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rgbBands {
    display: flex;
}

.rgbBands > *:not(:last-child) {
    display: flex;
    margin-right: .5rem
}

.red {
    color: hsl(0, 70%, 35%);
}

.green {
    color: hsl(120, 70%, 30%);
}

.blue {
    color: hsl(240, 80%, 63%);
}

.rotate90 {
    transform: rotate(90deg)
}
