
.footer {
    --look-default-color: #a0a0a0;
    --highlight-color: #c8c8c8;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.99);
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    padding: 0 1rem 0 .5rem;
    z-index: 2;  /* stay over the menu */
}

.title {
    font-family: var(--header-font-family);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-indent: .5rem;
    text-transform: uppercase;
}

.copyright {
    margin-left: .25rem;
    color: grey;
    font-size: .9rem;
}
