
.footer {
    --look-default-color: #a0a0a0;
    --highlight-color: #c8c8c8;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(28, 28, 28, 0.99);
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-left: none;
    border-right: none;
    padding: 0 .5rem;
    z-index: 10;
}

.title {
    font-family: var(--header-font-family);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-transform: uppercase;
    margin-left: 1rem;
}

.copyright {
    margin-left: .5rem;
    font-weight: lighter;
    font-size: .85rem;
}

@media only screen and (max-width: 400px) {
    .copyright {
        display: none;
    }

    .title {
        letter-spacing: .2rem;
    }
}
