
.footer {
    --look-default-color: #a0a0a0;
    --highlight-color: #c8c8c8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(28, 28, 28, 0.99);
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-left: none;
    border-right: none;
    padding: 0 .5rem;
    z-index: 10;
}

.footer .button, .footer div, .footer a {
    color: var(--look-default-color);
}

.footer .button {
    border: none;
    cursor: pointer;
    padding-right: 0;
}

.footer a:hover, .footer .button:hover, footer button:hover svg {
    color: var(--highlight-color);
}

.button {
    margin: 0 .5rem;
    text-transform: lowercase;
}

.button svg {
    font-size: 1rem;
}

.title {
    font-family: var(--header-font-family);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.copyright {
    font-weight: lighter;
    font-size: .9rem;
}

@media only screen and (max-width: 400px) {
    .copyright {
        display: none;
    }

    .title {
        letter-spacing: .2rem;
    }
}

