#data-vis {

  .layer-options {

    display: none;
    padding: 2rem 1rem 1rem 1rem;
    font-size: .8rem !important;

    .btn-close-options {
      opacity: .7;
      position: absolute;
      top: 0rem;
      width: 1.5rem !important;
      height: 1.5rem !important;
      z-index: 1000;
      right: 1rem;
    }

    .row-remove-layer {
      display: none;
    }

    .row-shape {
      display: none;

      .row {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }

    }

    .row-raster {
      display: none;
    }

    .color-picker {
      border: 1px solid rgba(255, 255, 255, 0.2) !important;
      width: 2rem;
      height: 2rem;
      padding-top: .1rem !important;
      background-color: rgba(255, 255, 255, 0.1);

      i {
        border: 1px solid rgba(255, 255, 255, 0.4);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    .color-picker:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }

    input {
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      text-align: center;
      background-color: transparent !important;
      color: white;
    }

  }

}