<div class="row row-layer">

    <!--<div class="col-sm-1">-->
        <!--<button class="btn btn-base circle btn-sort">-->
            <!--<i class="fa fa-ellipsis-v" aria-hidden="true"></i>-->
        <!--</button>-->
    <!--</div>-->

    <!--<div class="col-sm-1">-->
        <!--<button class="btn btn-base circle btn-visibility">-->
            <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
        <!--</button>-->
    <!--</div>-->

    <div class="col-sm-3 text-align-center no-padding col-buttons">
        <button class="btn btn-base circle btn-sort">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>

        <button class="btn btn-base circle btn-visibility">
            <i class="fa fa-eye icon-visible" aria-hidden="true"></i>
            <i class="fa fa-eye-slash icon-hidden" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-sm-9 name">

    </div>

    <div class="col-sm-12 layer-option-buttons">
        <div class="row">
            <div class="col-sm-1 text-align-right">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-sm-5 col-opacity-slider">
                <div class="width100 m-t-1 text-align-center opacity-slider"></div>
            </div>
            <div class="col-sm-6 col-buttons text-align-center">
                <button class="btn btn-base circle btn-zoom-to">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                </button>
                <button class="btn btn-base circle btn-settings">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </button>
                <button class="btn btn-base circle btn-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 layer-options">

    </div>

</div>