<div class="row row-layer">

    <div class="col-sm-3 text-align-center no-padding col-buttons">
        <button class="btn btn-base circle btn-sort">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>

        <button class="btn btn-base circle btn-visibility">
            <i class="fa fa-eye icon-visible" aria-hidden="true"></i>
            <i class="fa fa-eye-slash icon-hidden" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-sm-9 name">

    </div>

    <div class="col-sm-12 layer-option-buttons">
        <div class="row">
            <div class="col-sm-1 text-align-right">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-sm-5 col-opacity-slider">
                <div class="width100 m-t-1 text-align-center opacity-slider"></div>
            </div>
            <div class="col-sm-6 col-buttons text-align-center">
                <button class="btn btn-base circle btn-zoom-to">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                </button>
                <button class="btn btn-base circle btn-settings">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </button>
                <button class="btn btn-base circle btn-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 layer-options">
        <button class="btn btn-base circle btn-close-options">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>

        <!--remove layer options-->
        <div class="row row-remove-layer">
            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-12 text-align-center p-t-1">
                        Remove layer?
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-align-right p-t-2">
                        <button class="btn btn-base btn-no round p-y-0-5 p-x-2">No</button>
                    </div>
                    <div class="col-sm-6 text-align-left p-t-2">
                        <button class="btn btn-base btn-yes round p-y-0-5 p-x-2">Yes</button>
                    </div>

                </div>
            </div>
        </div>

        <!--shape options-->
        <div class="row row-shape">
            <div class="col-sm-12">

                <div class="row row-fill-color">
                    <div class="col-sm-6 text-align-right p-t-0-25">Fill color</div>
                    <div class="col-sm-6 text-align-left">
                        <button class="btn btn-base circle color-picker fill-color">
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="row row-stroke-color">
                    <div class="col-sm-6 text-align-right p-t-0-25">Stroke color</div>
                    <div class="col-sm-6 text-align-left">
                        <button class="btn btn-base circle color-picker stroke-color">
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 text-align-right p-t-0-25">Stroke width</div>
                    <div class="col-sm-6 text-align-left">
                        <input name="stroke-width" type="number" min="0" max="1" step="0.1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-align-center p-t-2">
                        <button class="btn btn-base btn-save round p-y-0-5 p-x-2"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    </div>
                </div>
            </div>

        </div>


        <!--shape options-->
        <div class="row row-raster">
            <div class="col-sm-12 p-x-2">

                <div class="row">
                    <div class="col-sm-12  raster-bands">
                    </div>
                </div>

                <div class="row p-t-2">
                    <div class="col-sm-6 text-align-right">No-Data value</div>
                    <div class="col-sm-6 text-align-left"><input type="number" name="no-data" class="width50"></div>
                </div>

                <div class="row text-align-center">
                    <div class="col-sm-12 p-t-2 form-notify form-error"/>
                    <div class="col-sm-12 p-t-2">
                        <button class="btn btn-base btn-save round p-y-0-5 p-x-2"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>