<div class="row row-raster-band">

    <div class="col-sm-3 col-band">
        <div class="row row-band-index height50">
            <div class="col-sm-6 text-align-right p-x-0-25">Band</div>
            <div class="col-sm-6 text-align-left p-x-0-25">
                <select name="band-index" class="width80"></select>
            </div>
        </div>

        <div class="row row-no-data">
            <div class="col-sm-6 text-align-right p-x-0-25">NoData</div>
            <div class="col-sm-6 text-align-left p-x-0-25">
                <input type="number" name="no-data" class="width100">
            </div>
        </div>
    </div>

    <!--<div class="col-sm-2 text-align-right">Band</div>-->

    <!--<div class="col-sm-1 no-padding col-band-index text-align-left">-->
        <!--<select name="band-index" class="width80"></select>-->
    <!--</div>-->

    <div class="col-sm-1 no-padding text-align-center col-color-picker">
        <button class="btn btn-base circle color-picker from-color">
            <i class="fa" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-12 col-band-histogram">
                <div class="band-histogram"></div>
                <div class="band-minmax"></div>
                <div class="progress band-histogram-progress-loader">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>

        <div class="row p-b-1">
            <div class="col-sm-6 text-align-left p-l-0">
                Min <input type="number" class="width50" name="min-value">
            </div>
            <div class="col-sm-6 text-align-right p-r-0">
                Max <input type="number" class="width50" name="max-value">
            </div>
        </div>
    </div>

    <div class="col-sm-1 no-padding text-align-center col-color-picker">
        <button class="btn btn-base circle color-picker to-color">
            <i class="fa" aria-hidden="true"></i>
        </button>
    </div>

</div>