<div class="row row-raster-band">

    <div class="col-sm-2 text-align-right">Band</div>

    <div class="col-sm-1 no-padding col-band-index text-align-left">
        <!--<input name="band-index" type="number" min="1" max="1" step="1">-->
        <!--<input name="band-index" type="text" class="width100">-->
        <select name="band-index" class="width80"></select>
    </div>

    <div class="col-sm-1 no-padding text-align-center">
        <button class="btn btn-base circle color-picker from-color">
            <i class="fa" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-sm-7 col-band-histogram">
        <div class="band-histogram"></div>
        <div class="band-minmax"></div>
        <div class="progress band-histogram-progress-loader">
            <div class="indeterminate"></div>
        </div>
    </div>

    <div class="col-sm-1 no-padding text-align-center">
        <button class="btn btn-base circle color-picker to-color">
            <i class="fa" aria-hidden="true"></i>
        </button>
    </div>

</div>