<div class="row date-picker">

    <div class="col-sm-2 labels">
        <span class="year-label"></span><span class="year-label-separator label-separator"> / </span><span class="month-label"></span><span class="label-separator"> / </span><span class="day-label"></span>
    </div>

    <div class="col-sm-10 date-picker-selector">

        <div class="row year">
            <div class="col-sm-1 label">
                Year
            </div>
            <div class="col-sm-11 buttons">
            </div>
        </div>

        <div class="row month m-t-10">
            <div class="col-sm-1 label">
                Month
            </div>
            <div class="col-sm-11 buttons">
                <div class="outher">
                    <a class="btn btn-base" value="01">jan</a>
                    <a class="btn btn-base" value="02">feb</a>
                    <a class="btn btn-base" value="03">mar</a>
                    <a class="btn btn-base" value="04">apr</a>
                    <a class="btn btn-base" value="05">may</a>
                    <a class="btn btn-base" value="06">jun</a>
                    <a class="btn btn-base" value="07">jul</a>
                    <a class="btn btn-base" value="08">aug</a>
                    <a class="btn btn-base" value="09">sep</a>
                    <a class="btn btn-base" value="10">oct</a>
                    <a class="btn btn-base" value="11">nov</a>
                    <a class="btn btn-base" value="12">dec</a>
                </div>
            </div>
        </div>

        <div class="row day m-t-10">
            <div class="col-sm-1 label">
                Day
            </div>
            <div class="col-sm-11 buttons">

                <div class="outher">
                    <a class="btn btn-base group" value="01">1</a>
                    <div class="inner">
                        <a class="btn btn-base" value="02">2</a>
                        <a class="btn btn-base" value="03">3</a>
                        <a class="btn btn-base" value="04">4</a>
                        <a class="btn btn-base" value="05">5</a>
                        <a class="btn btn-base" value="06">6</a>
                        <a class="btn btn-base" value="07">7</a>
                        <a class="btn btn-base" value="08">8</a>
                        <a class="btn btn-base" value="09">9</a>
                    </div>
                </div>

                <div class="outher">
                    <a class="btn btn-base group" value="10">10</a>
                    <div class="inner">
                        <a class="btn btn-base" value="11">11</a>
                        <a class="btn btn-base" value="12">12</a>
                        <a class="btn btn-base" value="13">13</a>
                        <a class="btn btn-base" value="14">14</a>
                        <a class="btn btn-base" value="15">15</a>
                        <a class="btn btn-base" value="16">16</a>
                        <a class="btn btn-base" value="17">17</a>
                        <a class="btn btn-base" value="18">18</a>
                        <a class="btn btn-base" value="19">19</a>
                    </div>
                </div>

                <div class="outher">
                    <a class="btn btn-base group" value="20">20</a>
                    <div class="inner">
                        <a class="btn btn-base" value="21">21</a>
                        <a class="btn btn-base" value="22">22</a>
                        <a class="btn btn-base" value="23">23</a>
                        <a class="btn btn-base" value="24">24</a>
                        <a class="btn btn-base" value="25">25</a>
                        <a class="btn btn-base" value="26">26</a>
                        <a class="btn btn-base" value="27">27</a>
                        <a class="btn btn-base" value="28">28</a>
                        <a class="btn btn-base" value="29">29</a>
                    </div>
                </div>

                <div class="outher">
                    <a class="btn btn-base group" value="30">30</a>
                    <div class="inner">
                        <a class="btn btn-base" value="31">31</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>