/*.date-picker.opened {*/
/*margin-bottom: 60px;*/
/*animation: margin-bottom 1s ease;*/
/*}*/
.date-picker .labels {
    padding-top: 10px;
}

.date-picker .label {
    padding-top: 20px;
}

.date-picker .row.year,
/*.date-picker .row.month,*/
.date-picker .row.day {
    /*margin-bottom: 2.5rem;*/
}
.date-picker .row.month .buttons{
    padding-top: 0.5rem;
}

.date-picker .buttons .outher,
.date-picker .buttons .inner {
    /*padding: 10px 15px ;*/
    float: left;
}

.date-picker .buttons .outher {
    /*width: 100%;*/
    /*padding: 5px;*/
}

.date-picker .buttons .inner {
    display: none;
    /* margin: 0px 15px; */
    padding: 5px 5px;
    position: absolute;
    /* left: 55px; */
    top: 2rem;
    background-color: rgba(226, 210, 210, 0.06);
    border-radius: 15px;
}

.date-picker .buttons .inner.opened {
    display: block;
}

.date-picker .buttons a {
    padding: 0.56rem 0 0 0.1rem;
    /* padding: 18px 17px; */
    border-radius: 50%;
    height: 2.2rem;
    /* height: 55px; */
    width: 2.2rem;
    /* width: 55px; */
    float: left;
    margin-right: 8px;
}

.date-picker .buttons .inner a {
    padding: 0.5rem 0 0 0.1rem;
    /*padding: 13px 14.5px;*/
    border-radius: 50%;
    height: 2rem;
    /*height: 46px;*/
    width: 2rem;
    /*width: 46px;*/
    opacity: 0;
}

.date-picker .month .buttons .outher a {
    /*margin: 0 5px;*/
}

.date-picker .buttons a.active {
    background-color: rgba(197, 179, 151, 0.3);
}
