<div class="row date-picker">

    <div class="col-sm-2 labels">
        <span class="year-label"></span><span class="year-label-separatpr label-separator"> / </span><span class="month-label"></span><span class="label-separator"> / </span><span class="day-label"></span>
    </div>

    <div class="col-sm-10 date-picker-selector">

        <div class="row year">
            <div class="col-sm-1 label">
                Year
            </div>
            <div class="col-sm-11 buttons">
                <div class="outher">
                    <a class="btn btn-base group" value="1970">70</a>
                    <div class="inner">
                        <a class="btn btn-base" value="1971">71</a>
                        <a class="btn btn-base" value="1972">72</a>
                        <a class="btn btn-base" value="1973">73</a>
                        <a class="btn btn-base" value="1974">74</a>
                        <a class="btn btn-base" value="1975">75</a>
                        <a class="btn btn-base" value="1976">76</a>
                        <a class="btn btn-base" value="1977">77</a>
                        <a class="btn btn-base" value="1978">78</a>
                        <a class="btn btn-base" value="1979">79</a>
                    </div>
                </div>
                <div class="outher">
                    <a class="btn btn-base group" value="1980">80</a>
                    <div class="inner">
                        <a class="btn btn-base" value="1981">81</a>
                        <a class="btn btn-base" value="1982">82</a>
                        <a class="btn btn-base" value="1983">83</a>
                        <a class="btn btn-base" value="1984">84</a>
                        <a class="btn btn-base" value="1985">85</a>
                        <a class="btn btn-base" value="1986">86</a>
                        <a class="btn btn-base" value="1987">87</a>
                        <a class="btn btn-base" value="1988">88</a>
                        <a class="btn btn-base" value="1989">89</a>
                    </div>
                </div>
                <div class="outher">
                    <a class="btn btn-base group" value="1990">90</a>
                    <div class="inner">
                        <a class="btn btn-base" value="1991">91</a>
                        <a class="btn btn-base" value="1992">92</a>
                        <a class="btn btn-base" value="1993">93</a>
                        <a class="btn btn-base" value="1994">94</a>
                        <a class="btn btn-base" value="1995">95</a>
                        <a class="btn btn-base" value="1996">96</a>
                        <a class="btn btn-base" value="1997">99</a>
                        <a class="btn btn-base" value="1998">98</a>
                        <a class="btn btn-base" value="1999">99</a>
                    </div>
                </div>
                <div class="outher">
                    <a class="btn btn-base group" value="2000">00</a>
                    <div class="inner">
                        <a class="btn btn-base" value="2001">01</a>
                        <a class="btn btn-base" value="2002">02</a>
                        <a class="btn btn-base" value="2003">03</a>
                        <a class="btn btn-base" value="2004">04</a>
                        <a class="btn btn-base" value="2005">05</a>
                        <a class="btn btn-base" value="2006">06</a>
                        <a class="btn btn-base" value="2007">07</a>
                        <a class="btn btn-base" value="2008">08</a>
                        <a class="btn btn-base" value="2009">09</a>
                    </div>
                </div>
                <div class="outher">
                    <a class="btn btn-base group" value="2010">10</a>
                    <div class="inner">
                        <a class="btn btn-base" value="2011">11</a>
                        <a class="btn btn-base" value="2012">12</a>
                        <a class="btn btn-base" value="2013">13</a>
                        <a class="btn btn-base" value="2014">14</a>
                        <a class="btn btn-base" value="2015">15</a>
                        <a class="btn btn-base" value="16">16</a>
                        <!--<a class="btn btn-base" value="11">11</a>-->
                        <!--<a class="btn btn-base" value="18">18</a>-->
                        <!--<a class="btn btn-base" value="19">19</a>-->
                    </div>
                </div>
            </div>

        </div>

        <div class="row month m-t-10">
            <div class="col-sm-1 label">
                Month
            </div>
            <div class="col-sm-11 buttons">
                <div class="outher">
                    <a class="btn btn-base" value="01">jan</a>
                    <a class="btn btn-base" value="02">feb</a>
                    <a class="btn btn-base" value="03">mar</a>
                    <a class="btn btn-base" value="04">apr</a>
                    <a class="btn btn-base" value="05">may</a>
                    <a class="btn btn-base" value="06">jun</a>
                    <a class="btn btn-base" value="07">jul</a>
                    <a class="btn btn-base" value="08">aug</a>
                    <a class="btn btn-base" value="09">sep</a>
                    <a class="btn btn-base" value="10">oct</a>
                    <a class="btn btn-base" value="11">nov</a>
                    <a class="btn btn-base" value="12">dec</a>
                </div>
            </div>
        </div>

        <div class="row day m-t-10">
            <div class="col-sm-1 label">
                Day
            </div>
            <div class="col-sm-11 buttons">

                <div class="outher">
                    <a class="btn btn-base group" value="1">1</a>
                    <div class="inner">
                        <a class="btn btn-base" value="2">2</a>
                        <a class="btn btn-base" value="3">3</a>
                        <a class="btn btn-base" value="4">4</a>
                        <a class="btn btn-base" value="5">5</a>
                        <a class="btn btn-base" value="6">6</a>
                        <a class="btn btn-base" value="7">7</a>
                        <a class="btn btn-base" value="8">8</a>
                        <a class="btn btn-base" value="9">9</a>
                    </div>
                </div>

                <div class="outher">
                    <a class="btn btn-base group" value="10">10</a>
                    <div class="inner">
                        <a class="btn btn-base" value="11">11</a>
                        <a class="btn btn-base" value="12">12</a>
                        <a class="btn btn-base" value="13">13</a>
                        <a class="btn btn-base" value="14">14</a>
                        <a class="btn btn-base" value="15">15</a>
                        <a class="btn btn-base" value="16">16</a>
                        <a class="btn btn-base" value="17">17</a>
                        <a class="btn btn-base" value="18">18</a>
                        <a class="btn btn-base" value="19">19</a>
                    </div>
                </div>

                <div class="outher">
                    <a class="btn btn-base group" value="20">20</a>
                    <div class="inner">
                        <a class="btn btn-base" value="21">21</a>
                        <a class="btn btn-base" value="22">22</a>
                        <a class="btn btn-base" value="23">23</a>
                        <a class="btn btn-base" value="24">24</a>
                        <a class="btn btn-base" value="25">25</a>
                        <a class="btn btn-base" value="26">26</a>
                        <a class="btn btn-base" value="27">27</a>
                        <a class="btn btn-base" value="28">28</a>
                        <a class="btn btn-base" value="29">29</a>
                    </div>
                </div>

                <div class="outher">
                    <a class="btn btn-base group" value="30">30</a>
                    <div class="inner">
                        <a class="btn btn-base" value="31">31</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>