#budget-check {

  .row-budget-0,
  .row-budget-exceeded {
    display: none;
    h5{
      color: rgba(232, 19, 81, 0.91);
    }
  }

  .resources {
    padding: 1rem 2rem;
    //border-bottom: 3px solid rgba(255, 255, 255, 0.1);

    .row-resources {
      margin-top: 1rem;
      //padding: 1rem 2rem;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 1rem;
      font-size: .9rem;

      .row > div {
        padding-top: .25rem;
        padding-bottom: .25rem;
      }
    }
  }
}