# version 2022-11-24
########  geospatial data analysis  ########
scikit-image
scipy
shapely
shapely-geojson
tqdm
GDAL==$GDAL_VERSION
bqplot
numpy
geopandas
matplotlib
pandas
dask[complete]
planet
tensorflow-probability
geeadd
pyotb

########  Google Earthengine  ########
oauth2client
google-api-python-client==1.12.8
git+https://github.com/openforis/earthengine-api.git@v0.1.384#egg=earthengine-api&subdirectory=python
oeel

########  BFAST dependencies ########
wget
Sphinx
sphinx-bootstrap-theme
numpydoc
git+https://github.com/12rambau/bfast.git

########  sepal modules  ########
Unidecode
pyperclip
python-dateutil
pytesmo
Wand
PyPDF2 # more recent version are avaiable (PyPDF4)
rasterio
openpyxl
pre-commit


########  web api  ########
falcon
gunicorn
awscli==1.11.18 # Pinned to prevent backtracking

########  other deps  ########
xarray
dask
dask-geopandas
nrt
seaborn
requests
coverage
geetools
geeadd
geeup
cogee
xee

########  OSK requirements  ########
descartes
fiona
godale
psycopg2-binary
imageio
rtree
retrying
Cython
pyproj

########  Early Warning System for Canopy Disturbances in Ecuador (SATA)  ########
nose
nosexcover
pylint
click
dateutils
boto3==1.4.3 # Pinned to prevent backtracking

