# version 2021-09-13
########  geospatial data analysis  ########
scikit-image
scipy
shapely
shapely-geojson
tqdm
xarray-leaflet
GDAL==$GDAL_VERSION
bqplot
numpy
geopandas
matplotlib
pandas
dask[complete]
planet
tensorflow-probability
geeadd

########  Google Earthengine  ########
oauth2client
google-api-python-client==1.12.8
git+git://github.com/openforis/earthengine-api.git@v0.1.270#egg=earthengine-api&subdirectory=python

########  BFAST dependencies ########
wget
Sphinx==2.2.0
sphinx-bootstrap-theme==0.7.1
numpydoc
git+git://github.com/12rambau/bfast.git

########  sepal modules  ########
geemap==0.8.9
Unidecode
pyperclip
python-dateutil
pytesmo
Wand
PyPDF2 # more recent version are avaiable (PyPDF4)
rasterio==1.1.5
openpyxl
pre-commit

########  web api  ########
falcon
gunicorn
pyCrypto
awscli

########  other deps  ########
requests
llvmlite==0.31.0
coverage

########  OSK requirements  ########
descartes
fiona
godale
psycopg2-binary
imageio
rtree
retrying
Cython
pyproj==2.6.1 # Require proj update before 3.0.0 can be installed

########  Early Warning System for Canopy Disturbances in Ecuador (SATA)  ########
nose
nosexcover
pylint
click
dateutils
boto3
