.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.none {
    text-align: center;
    margin-top: 20%;
    color: #ccc;
    font-style: italic;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 21rem);
    grid-template-rows: repeat(auto-fill, 18rem);
    grid-gap: 2rem;
    justify-content: center;
    overflow: auto;
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--container-border-radius);
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
}


.name {
    flex-grow: 1;
    overflow-y: auto;
}

.progress {
    margin-bottom: 0.5rem;
}

.statusDescription {
    color: #999;
    height: 5rem;
    overflow-y: auto;
}

.overlay {
    display: none;
}

.task:hover .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.7);
}

.overlay button:not(:last-child) {
    margin-bottom: 1rem;
}