services:
  app-launcher:
    extends:
      file: ../docker-compose.logger.yml
      service: logger
    build:
      context: ../..
      dockerfile: ./modules/app-launcher/Dockerfile
      ulimits:
        nofile:
          soft: 65536
          hard: 65536
    image: "${DOCKER_REGISTRY_HOST:-localhost}/openforis/app-launcher:${SEPAL_VERSION:-latest}"
    container_name: app-launcher
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "${SEPAL_DATA_DIR}/sepal/shared/apps:/var/lib/sepal/app-manager/apps"
      - "${SEPAL_DATA_DIR}/app-launcher:/var/lib/sepal/app-launcher"
    init: true
    environment:
      DOCKER_REGISTRY_HOST: "${DOCKER_REGISTRY_HOST}"
      SEPAL_HOST: "${SEPAL_HOST}"
      SEPAL_ADMIN_PASSWORD: "${SEPAL_ADMIN_PASSWORD}"
      EE_CREDENTIALS_PATH: "${SEPAL_DATA_DIR}/app-launcher/service-account-credentials.json"
      SEPAL_DATA_DIR: "${SEPAL_DATA_DIR}"
      DEPLOY_ENVIRONMENT : "${DEPLOY_ENVIRONMENT}"
      EE_CLIENT_ID: "${EE_CLIENT_ID}"
      EE_ACCOUNT: "${EE_ACCOUNT}"
      EE_PRIVATE_KEY: "${EE_PRIVATE_KEY}"
      GOOGLE_PROJECT_ID: "${GOOGLE_PROJECT_ID}"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "80"]
      start_period: 60s
      start_interval: 1s
      interval: 20s
      timeout: 5s
      retries: 3
    networks:
      - sepal
    restart: always
    ulimits:
      core: 0

networks:
  sepal:
    external: true
